messages-xml/xmlschema/general/events/AccountingCalendar_1_001.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" 
			elementFormDefault="qualified">

	<!--  ====================================  -->
	<!--  INCLUDES NECESSÁRIOS PARA A MENSAGEM  -->
	<!--  ====================================  -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!--  ====================================  -->
	<!--  DOCUMENTAÇÃO DA MENSAGEM              -->
	<!--  ====================================  -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>AccountingCalendar</Name>
				<Description>Calendário Contábil</Description>
				<Segment>Controladoria</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Adapter>CTBI010.prw</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE NEGÓCIO DA MENSAGEM ====  -->
	<!--  ====================================  -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>não</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>será enviado o valor da variável cEmpAnt (empresa)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>não</Required>
							<Type>char</Type>
							<Length>12</Length>
							<Description>Será enviado o valor da variável cFilAnt </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalendarCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Calendário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_CALEND</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>03</Length>
							<Description>Código do calendário contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do CalendarCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>Código que irá identificar o calendario contabil no sistema externo: xfilial("CTG") + CTG.CTG_CALEND + CTG.CTG_EXERC</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FinancialYear" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Exercicio Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_EXERC</Field>
							<Required>Sim</Required>
							<Type>char</Type>
							<Length>04</Length>
							<Description>Ano do exercicio contábil. Exemplo 2013</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfAccountingPeriods" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Periodos Contábeis</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="PeriodOfAccount" type="PeriodOfAccountType" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PeriodOfAccountType">
		<xs:sequence>
			<xs:element name="PeriodCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código Periodo Contabil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_PERIOD</Field>
							<Required>nao</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>Código alfanumerico do periodo contábil. Caso não seja passado a rotina irá pesquisar pela data inicial e final do periodo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InitialDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Inicial do Período</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_DTINI</Field>
							<Required>sim</Required>
							<Type>Data</Type>
							<Length>08</Length>
							<Description>Data Inicial do Período</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Final do Período</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_DTFIM</Field>
							<Required>sim</Required>
							<Type>Data</Type>
							<Length>08</Length>
							<Description>Data Final do Período</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodStatus" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Status do Período
						PROTHEUS: ( 1.Aberto 4.Bloqueado)
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTG_STATUS</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>01</Length>
							<Description>Status do Período. 1- Aberto - Permite o lançamento contábil no período. 4 - Bloqueado - Não permite o lançamento.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Aberto</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Bloqueado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfProcess" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Process" type="ProcessType" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Lista de processos</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessType">
		<xs:sequence>
			<xs:element name="Code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bloqueio de Processo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CQD_PROC</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>6</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ATF001">
							<xs:annotation>
								<xs:documentation>Ativo fixo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="COM001">
							<xs:annotation>
								<xs:documentation>Compras</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CTB001">
							<xs:annotation>
								<xs:documentation>Contábil</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EST001">
							<xs:annotation>
								<xs:documentation>Estoque</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="FIN001">
							<xs:annotation>
								<xs:documentation>Financeiro (contas a pagar)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="FIN002">
							<xs:annotation>
								<xs:documentation>Financeiro (contas a receber)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="FIS001">
							<xs:annotation>
								<xs:documentation>Livros fiscais</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GCT001">
							<xs:annotation>
								<xs:documentation>Gestão de contratos</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GPE001">
							<xs:annotation>
								<xs:documentation>Gestão pessoal</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS000">
							<xs:annotation>
								<xs:documentation>Planos de saúde (geral)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS001">
							<xs:annotation>
								<xs:documentation>Planos de saúde (liberação para pagamento)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS002">
							<xs:annotation>
								<xs:documentation>Planos de saúde (recurso de glosa)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS003">
							<xs:annotation>
								<xs:documentation>Planos de saúde (cancelamento de protocolo)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS004">
							<xs:annotation>
								<xs:documentation>Planos de saúde (consolidação de coparticipação)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS005">
							<xs:annotation>
								<xs:documentation>Planos de saúde (recálculo da coparticipação)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS006">
							<xs:annotation>
								<xs:documentation>Planos de saúde (estorno de pagamento)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS007">
							<xs:annotation>
								<xs:documentation>Planos de saúde (clone de guias)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS008">
							<xs:annotation>
								<xs:documentation>Planos de saúde (liberação para pagamento da autorização)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS009">
							<xs:annotation>
								<xs:documentation>Planos de saúde (acerto de reembolso)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS010">
							<xs:annotation>
								<xs:documentation>Planos de saúde (cancelamento de reembolso)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS011">
							<xs:annotation>
								<xs:documentation>Planos de saúde (digitação de contas)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PLS012">
							<xs:annotation>
								<xs:documentation>Planos de saúde (reconsolidação individual)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="TUR001">
							<xs:annotation>
								<xs:documentation>Gestão de viagens e turismo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status do Processo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CQD_STATUS</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>1</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Aberto</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Fechado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Transportado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Bloqueado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Período</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Inicial do Período Bloqueio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CQD_DTINI</Field>
							<Required>Não</Required>
							<Type>Data</Type>
							<Length>08</Length>
							<Description>Data Inicial do Período Bloqueio</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Final do Período Bloqueio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CQD_DTFIM</Field>
							<Required>Não</Required>
							<Type>Data</Type>
							<Length>08</Length>
							<Description>Data Final do Período Bloqueio</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE RETORNO ================  -->
	<!--  ====================================  -->
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>