messages-xml/xmlschema/general/events/AccountReceivableDocument_3_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" 
			elementFormDefault="qualified">

	<!-- ===================================== -->
	<!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ===================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ApportionType_2_004.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>AccountReceivableDocument</Name>
				<Description>Título a receber</Description>
				<Segment>Construção e Projetos</Segment>
				<ProductInformation product="RM">
					<Contact>Poliana Aparecida Pessoa</Contact>
					<Description>GDP de Inovação Controladoria</Description>
					<Adapter>FinLanDataBR</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>sim</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Description>GDP de Inovação Controladoria</Description>
					<Adapter>FINI040</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>sim</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM      -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLIGADA|FLAN.IDLAN</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId do Título é formado por E1_FILIAL|E1_PREFIXO|E1_NUM|E1_PARCELA|E1_TIPO</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId do Título é formado por cod_estab|cod_espec_docto|cod_ser_docto|cod_tit_acr|cod_parcela</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentPrefix" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prefixo do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.SERIEDOCUMENTO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>8</Length>
							<Description>Série do documento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_PREFIXO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>3</Length>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cod_ser_docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.NUMERODOCUMENTO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>40</Length>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_NUM</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cod_tit_acr</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>16</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentParcel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Parcela do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.PARCELA</Field>
							<Required>não</Required>
							<Type>integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_PARCELA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>1</Length>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cod_parcela</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>2</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODTDO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>10</Length>
							<Description>Tipo de Documento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_TIPO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>1</Length>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cod_espec_docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do cliente/fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCFO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Lenght>25</Lenght>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CLIENTE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>6</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoreId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loja do cliente/fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_LOJA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>6</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do cliente/fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLCFO|FLAN.CODCFO</Field>
							<Required>sim</Required>
							<Type>integer|string</Type>
							<Lenght>25</Lenght>
							<Description>Coligada e código do cliente/fornecedor</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId do cliente/fornecedor é formado por EMPRESA|A1_FILIAL|A1_COD|A1_LOJA|Entidade</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentTransaction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transação do Título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.ind_tip_espec_docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="001">
							<xs:annotation>
								<xs:documentation>TITULO A CRÉDITO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="002">
							<xs:annotation>
								<xs:documentation>TITULO A DÉBITO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HolderCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Portador do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FCXA.NUMBANCO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description>Código do banco</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_PORTADO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description>Código do banco</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do portador do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da agência</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FCXA.NUMAGENCIA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>6</Length>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_AGEDEP</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>5</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número da conta</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FCXA.NROCONTA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>15</Length>
							<Description>Número da conta corrente</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CONTA</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>5</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número da contrato (convênio)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CONVENIO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código do Convênio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CONTRAT</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>15</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OurNumberBanking" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nosso Numero Bancário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CNABNOSSONUMERO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Nosso número</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_NUMBCO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>15</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BarCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de barras</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODIGOBARRA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>44</Length>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CODBAR</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>44</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="44"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Situation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.STATUSLAN</Field>
							<Required>não</Required>
							<Type>smallint</Type>
							<Description>Status do lançamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="001">
							<xs:annotation>
								<xs:documentation>NORMAL</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="002">
							<xs:annotation>
								<xs:documentation>CANCELADO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="003">
							<xs:annotation>
								<xs:documentation>PROTESTO SOLICITADO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="004">
							<xs:annotation>
								<xs:documentation>PROTESTO EFETIVADO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="005">
							<xs:annotation>
								<xs:documentation>FALENCIA</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="006">
							<xs:annotation>
								<xs:documentation>CONCORDATA</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="007">
							<xs:annotation>
								<xs:documentation>INCOBRÁVEL</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="008">
							<xs:annotation>
								<xs:documentation>BAIXADO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="009">
							<xs:annotation>
								<xs:documentation>PARCIALMENTE BAIXADO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de emissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.DATAEMISSAO</Field>
							<Required>sim</Required>
							<Type>datetime</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EMISSAO</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de vencimento original</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.DATAVENCIMENTO</Field>
							<Required>sim</Required>
							<Type>datetime</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VENCTO</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealDueDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de vencimento real</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VENCREA</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de vencimento do desconto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountPercentage" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual de desconto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Calculado pelo Educacional conforme definido na Parcela do Contrato</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_DESCFIN</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestPercentage" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual de juros diário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.JUROSDIA</Field>
							<Required>não</Required>
							<Type>decimal</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_PORCJUR</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Juros</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.val_juros</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Valor de Juros</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssessmentValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da multa diária (taxa de permanência)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.MULTADIA</Field>
							<Required>não</Required>
							<Type>decimal</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VALJUR</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnconditionalScholarshipValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da bolsa incondicional do valor opcional parametrizado no Educacional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VLBOLSA</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>15,2</Length>
							<Description>Valor da bolsa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Prorrogada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data pagamento (quando o saldo do título foi totalmente zerado)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.dat_liquidac_tit_acr</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeInterest" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cobrar juros?</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SellerCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do vendedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cdn_repres</Field>
							<Required>não</Required>
							<Type>integer</Type>
							<Length>5</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SellerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do vendedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.cdn_repres</Field>
							<Required>não</Required>
							<Type>integer</Type>
							<Length>5</Length>
							<Description>Codigo do Vendedor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerBankCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do banco do cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FCXA.NUMBANCO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description>Código do banco</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor líquido</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.VALORORIGINAL</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Description>Valor Original do Lançamento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VALOR</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor bruto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.VALORORIGINAL</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Description>Valor original do lançamento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VALOR</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BalanceValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de saldo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tit_acr.val_sdo_tit_acr</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceAmount" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da fatura que originou o título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODMOEVALORORIGINAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>10</Length>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_MOEDA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODMOEVALORORIGINAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>10</Length>
							<Description>Código da Moeda</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId da moeda é formado por EMPRESA|CTO_FILIAL|CTO_MOEDA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxa da moeda utilizada na geração do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_TXMOEDA</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Impostos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApportionmentDistribution" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Distribuição de rateio.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Apportionment" type="ApportionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfSourceDocument" type="ListOfSourceDocumentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Documento de origem OPCIONAL - lista de documentos relacionados ao título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.HISTORICO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>255</Length>
							<Description>Histórico do Lançamento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_HIST</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>40</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Origin" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome do módulo que está gerando o título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODAPLICACAO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Código do sistema</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_ORIGEM</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialNatureInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da natureza</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANRATCCU.CODCOLNATFINANCEIRA | FLANRATCCU.CODNATFINANCEIRA</Field>
							<Required>sim</Required>
							<Type>integer|varchar</Type>
							<Length>|40</Length>
							<Description>Coligada da natureza financeira | código da natureza financeira</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId da natureza é formado por EMPRESA|ED_FILIAL|ED_CODIGO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accounting" type="AccountingType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dados da contabilização</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="OtherType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outras informações</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueSerialNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número sequêncial único que identifica a transação de cartão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_NSUTEF</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
							<Description>Número NSU SITEF</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor real</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_VLRREAL</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeletionDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de exclusão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>dDataBase</Field>
							<Required>não</Required>
							<Type>Date</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfComplementaryValues" type="ListOfComplementaryValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de valores complementares</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfFinancialNatureApportionment" type="ListOfFinancialNatureApportionmentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de rateio por natureza</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfSourceDocumentType">
		<xs:sequence>
			<xs:element name="SourceDocument" type="SourceDocumentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceDocumentType">
		<xs:sequence>
			<xs:element name="SourceDocument" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Documento de origem. Documento relacionado ao título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentSerie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentSubSerie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SubSerie</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de documento de origem. Tipo do documento relacionado ao título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceDocumentValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do documento de origem. Valor do documento relacionado ao título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TaxesType">
		<xs:sequence>
			<xs:element name="Tax" type="TaxType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:attribute name="Taxe">
			<xs:annotation>
				<xs:documentation>Nome do Imposto (ITF, COFINS, CSLL, FABOV, FACS, INSS-PF, INSS-PJ, INSS-RUR, IOF, IR-CARRETEIRO, IR-PF, IR-PJ, IRRF–PF, IRRF–PJ, ISS, ISS-ARQ-ELET, PIS, PIS/COFINS/CSLL, PIS/COFINS-CRED, PIS/COFINS-PROD, SEST/SENAT)</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ITF">
						<xs:annotation>
							<xs:documentation>-Imposto sobre movimentação financeira</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="COFINS">
						<xs:annotation>
							<xs:documentation>COFINS</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CSLL">
						<xs:annotation>
							<xs:documentation>CSLL</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="FABOV">
						<xs:annotation>
							<xs:documentation>FABOV</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="FACS">
						<xs:annotation>
							<xs:documentation>FACS</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="INSS-PF">
						<xs:annotation>
							<xs:documentation>INSS-PF</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="INSS-PJ">
						<xs:annotation>
							<xs:documentation>INSS-PJ</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="INSS-RUR">
						<xs:annotation>
							<xs:documentation>INSS-RUR</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="IOF">
						<xs:annotation>
							<xs:documentation>IOF</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="IR-CARRETEIRO">
						<xs:annotation>
							<xs:documentation>IR-CARRETEIRO</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="IRRF–PF">
						<xs:annotation>
							<xs:documentation>IRRF–PF</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="IRRF–PJ">
						<xs:annotation>
							<xs:documentation>IRRF–PJ</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ISS">
						<xs:annotation>
							<xs:documentation>ISS</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ISS-ARQ-ELET">
						<xs:annotation>
							<xs:documentation>ISS-ARQ-ELET</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PIS">
						<xs:annotation>
							<xs:documentation>PIS</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PIS/COFINS/CSLL">
						<xs:annotation>
							<xs:documentation>PIS/COFINS/CSLL</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PIS/COFINS-CRED">
						<xs:annotation>
							<xs:documentation>PIS/COFINS-CRED</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PIS/COFINS-PROD">
						<xs:annotation>
							<xs:documentation>PIS/COFINS-PROD</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SEST/SENAT">
						<xs:annotation>
							<xs:documentation>SEST/SENAT</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CountryCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código do país</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StateCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código da unidade federativa</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CityCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código da cidade</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CalculationBasis" type="xs:double">
			<xs:annotation>
				<xs:documentation>Base de cálculo para o imposto</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percentage" type="xs:double">
			<xs:annotation>
				<xs:documentation>Percentual do imposto</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReductionBasedPercent" type="xs:double">
			<xs:annotation>
				<xs:documentation>Percentual de redução de base</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Value" type="xs:double">
			<xs:annotation>
				<xs:documentation>Valor do imposto</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Reason">
			<xs:annotation>
				<xs:documentation>Motivo da retenção</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="001">
						<xs:annotation>
							<xs:documentation>Autopeças</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="002">
						<xs:annotation>
							<xs:documentation>Órgãos Públicos</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="003">
						<xs:annotation>
							<xs:documentation>Serviço</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Recalculate" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Recalcular?</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="RM">
						<Description>Não informado pelo RM</Description>
					</FieldDocumentation>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="OtherType">
		<xs:sequence>
			<xs:element name="AcademicRecord" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Registro acadêmico do aluno - Educacional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SCONTRATO.RA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Registro Acadêmico</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FKWXX0.FKW_NUMRA</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>15</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcademicPeriod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Período letivo - Educacional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SCONTRATO.IDPERLET</Field>
							<Required>não</Required>
							<Type>integer</Type>
							<Description>Período Letivo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_PERLET</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>4</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppliedMatrix" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Matriz aplicada - Educacional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SCONTRATO.IDHABILITACAOFILIAL</Field>
							<Required>não</Required>
							<Type>integer</Type>
							<Description>Matriz Aplicada</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_IDAPLIC</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do produto na integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | B1_FILIAL | B1_COD</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>15</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Turma (classe) - Educacional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SMATRICPL.CODTURMA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Turma</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_TURMA</Field>
							<Required>sim, quando integração com RM Classis</Required>
							<Type>varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelAccountCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de conta a qual as movimentações hoteleiras estão associadas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CONHTL</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>32</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelAccountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de conta a qual as movimentações hoteleiras estão associadas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CONHTL</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>32</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Evento</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Grupo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Individual</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Avulsa</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AccountingType">
		<xs:sequence>
			<xs:element name="AccountingAccountDebit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da conta contábil - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_DEBITO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingAccountDebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da conta contábil - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CT1_FILIAL | CT1_CONTA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingAccountCredit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da conta contábil - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CREDIT</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingAccountCreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da conta contábil - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CT1_FILIAL | CT1_CONTA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterDebit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Centro de custo - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CCD</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterDebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da centro de custo - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTT_FILIAL | CTT_CUSTO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCredit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Centro de custo - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CCC</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da centro de custo - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTT_FILIAL | CTT_CUSTO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItemDebit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Item contábil - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SHABILITACAOFILIALINTPROTHEUS.IDITEMCONTABILPROTHEUS</Field>
							<Required>não</Required>
							<Type>integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_ITEMD</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItemDebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do item contábil - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTD_FILIAL | CTD_ITEM</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItemCredit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Item contábil - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SHABILITACAOFILIALINTPROTHEUS.IDITEMCONTABILPROTHEUS</Field>
							<Required>não</Required>
							<Type>integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_ITEMC</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItemCreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do item contábil - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTD_FILIAL | CTD_ITEM</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValueDebit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Classe de valor - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SHABILITACAOFILIALINTPROTHEUS.IDCLASSEVALORPROTHEUS</Field>
							<Required>não</Required>
							<Type>integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CLVLDB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValueDebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da classe de valor - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTH_FILIAL | CTH_CLVL</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValueCredit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Classe de Valor - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>SHABILITACAOFILIALINTPROTHEUS.IDCLASSEVALORPROTHEUS</Field>
							<Required>não</Required>
							<Type>integer</Type>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_CLVLCR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValueCreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da classe de valor - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CTH_FILIAL | CTH_CLVL</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity5Debit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 5 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC05DB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity5DebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 5 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity5Credit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 5 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC05CR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity5CreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 5 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity6Debit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 6 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC06DB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity6DebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 6 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity6Credit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 6 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC06CR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity6CreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 6 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity7Debit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 7 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC07DB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity7DebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 7 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity7Credit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 7 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC07CR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity7CreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 7 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity8Debit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 8 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC08DB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity8DebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 8 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity8Credit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 8 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC08CR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity8CreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 8 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity9Debit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 9 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC09DB</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity9DebitInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 9 - Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity9Credit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Entidade contábil 9 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_EC09CR</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingEntity9CreditInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da entidade contábil 9 - Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt | CV0_FILIAL | CV0_PLANO | CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfComplementaryValueType">
		<xs:sequence>
			<xs:element name="ComplementaryValue" type="ComplementaryValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplementaryValueType">
		<xs:sequence>
			<xs:element name="ComplementaryValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do valor acessório</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLIGADA | "VALOROP1", "VALOROP2", ...,</Field>
							<Required>não</Required>
							<Type>Integer, Varchar</Type>
							<Length>50</Length>
							<Description>Código é formatado pela regra de negócio, são integrados os valores opcionais (1..8)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InformedValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor informado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.VALOROP[n]</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length/>
							<Description>Valor Opcional do Lançamento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FKD_VALOR</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfFinancialNatureApportionmentType">
		<xs:sequence>
			<xs:element name="FinancialNatureApportionment" type="FinancialNatureApportionmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialNatureApportionmentType">
		<xs:sequence>
			<xs:element name="FinancialNatureInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da natureza (Protheus)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEV.EV_NATUREZ</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>10</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do rateio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEV_VALOR</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentagem do rateio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEV_PERC</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,7</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfCostCenterApportionment" type="ListOfCostCenterApportionmentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de rateio por centro de custos</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfCostCenterApportionmentType">
		<xs:sequence>
			<xs:element name="CostCenterApportionment" type="CostCenterApportionmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostCenterApportionmentType">
		<xs:sequence>
			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do centro de custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ.EZ_CCUSTO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do item contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ.EZ_ITEMCTA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único da classe de valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ.EZ_CLVL</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
							<Description>Classe de Valor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenericEntityInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único da entidade genérica - configuravél no Protheus nas entidades 05, 06, 07, 08 ou 09</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>9</Length>
							<Description>Entidade genérica</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do rateio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ_VALOR</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentagem do rateio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SEZ_PERC</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,7</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO                  -->
	<!-- ==================================== -->
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
