messages-xml/xmlschema/general/events/AccountReceivableDocument_1_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>AccountReceivableDocument</Name>
					<Description>Título a receber</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentPrefix" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefixo do Título (Serie)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HolderCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Portador do título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HolderType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo do portador do título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentParcel" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parcela do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentTypeCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Situation" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Situação do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="001"><xs:annotation><xs:documentation>NORMAL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="002"><xs:annotation><xs:documentation>CANCELADO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="003"><xs:annotation><xs:documentation>PROTESTO SOLICITADO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="004"><xs:annotation><xs:documentation>PROTESTO EFETIVADO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="005"><xs:annotation><xs:documentation>FALENCIA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="006"><xs:annotation><xs:documentation>CONCORDATA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="007"><xs:annotation><xs:documentation>INCOBRÁVEL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="008"><xs:annotation><xs:documentation>BAIXADO</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="009"><xs:annotation><xs:documentation>PARCIALMENTE BAIXADO</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Vencimento do Desconto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountPercentage" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de Desconto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Vencimento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Prorrogada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Contábil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeInterest" maxOccurs="1" minOccurs="0" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Cobrar Juros?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Cliente</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StoreId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Loja do Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerBankCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Banco do Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Líquido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Bruto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceAmount" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor da Fatura que originou o título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Moeda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Taxa da Moeda Utilizada na Geração do Título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="TaxesType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Impostos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApportionmentDistribution" type="ApportionmentDistributionType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distribuição de rateio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfSourceDocument" type="ListOfSourceDocumentType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documento de Origem OPCIONAL Lista de Documentos Relacionados ao Título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Origin" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do Módulo que Está Gerando o Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApportionmentDistributionType">
		<xs:sequence>
			<xs:element name="Apportionment" type="ApportionmentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApportionmentType">
		<xs:sequence>
			<xs:element name="CostCenterCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Centro de Custo (linha de produto + linha de receita + segmento de mercado + classe de uso)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Rateio para o Centro de Custo ou outro</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="FinancialCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Natureza (Protheus) Tipo de Fluxo (DataSul)</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfSourceDocumentType">
		<xs:sequence>
			<xs:element name="SourceDocument" type="SourceDocumentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceDocumentType">
		<xs:sequence>
			<xs:element name="SourceDocument" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documento de Origem. Número do Documento Relacionado ao Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentSerie" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Serie</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentSubSerie" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SubSerie</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SourceDocumentTypeCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Documento de Origem. Tipo do Documento Relacionado ao Título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceDocumentValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Documento de Origem. Valor do Documento Relacionado ao Título</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	<xs:complexType name="TaxesType">		<xs:sequence>			<xs:element name="Tax" type="TaxType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:attribute name="Taxe">
			<xs:annotation>
				<xs:documentation>Nome do Imposto (ITF, COFINS, CSLL, FABOV, FACS, INSS-PF, INSS-PJ, INSS-RUR, IOF, IR-CARRETEIRO, IR-PF, IR-PJ, IRRF–PF, IRRF–PJ, ISS, ISS-ARQ-ELET, PIS, PIS/COFINS/CSLL, PIS/COFINS-CRED, PIS/COFINS-PROD, SEST/SENAT)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ITF"><xs:annotation><xs:documentation>-Imposto sobre movimentação financeira</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="COFINS"><xs:annotation><xs:documentation>COFINS</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="CSLL"><xs:annotation><xs:documentation>CSLL</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="FABOV"><xs:annotation><xs:documentation>FABOV</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="FACS"><xs:annotation><xs:documentation>FACS</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="INSS-PF"><xs:annotation><xs:documentation>INSS-PF</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="INSS-PJ"><xs:annotation><xs:documentation>INSS-PJ</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="INSS-RUR"><xs:annotation><xs:documentation>INSS-RUR</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="IOF"><xs:annotation><xs:documentation>IOF</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="IR-CARRETEIRO"><xs:annotation><xs:documentation>IR-CARRETEIRO</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="IRRF–PF"><xs:annotation><xs:documentation>IRRF–PF</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="IRRF–PJ"><xs:annotation><xs:documentation>IRRF–PJ</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="ISS"><xs:annotation><xs:documentation>ISS</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="ISS-ARQ-ELET"><xs:annotation><xs:documentation>ISS-ARQ-ELET</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="PIS"><xs:annotation><xs:documentation>PIS</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="PIS/COFINS/CSLL"><xs:annotation><xs:documentation>PIS/COFINS/CSLL</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="PIS/COFINS-CRED"><xs:annotation><xs:documentation>PIS/COFINS-CRED</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="PIS/COFINS-PROD"><xs:annotation><xs:documentation>PIS/COFINS-PROD</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="SEST/SENAT"><xs:annotation><xs:documentation>SEST/SENAT</xs:documentation></xs:annotation></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CountryCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código do País</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StateCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código da Unidade Federativa</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CityCode" type="xs:string">
			<xs:annotation>
				<xs:documentation>Código da Cidade</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CalculationBasis" type="xs:double">
			<xs:annotation>
				<xs:documentation>Base de Calculo para o Imposto</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percentage" type="xs:double">
			<xs:annotation>
				<xs:documentation>Percentual do Imposto</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReductionBasedPercent" type="xs:double">
			<xs:annotation>
				<xs:documentation>Percentual de Redução de Base</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Value" type="xs:double">
			<xs:annotation>
				<xs:documentation>Valor do Imposto</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Reason">
			<xs:annotation>
				<xs:documentation>Motivo da Retenção 1-Autopeças, 2-Órgãos Públicos, 3–Serviço</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="001"><xs:annotation><xs:documentation>Autopeças</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="002"><xs:annotation><xs:documentation>Órgãos Públicos</xs:documentation></xs:annotation></xs:enumeration>
					<xs:enumeration value="003"><xs:annotation><xs:documentation>Serviço</xs:documentation></xs:annotation></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Recalculate" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Recalcular?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentPrefix" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefixo do Título (Serie)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentParcel" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parcela do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentTypeCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo do Título</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>