messages-xml/xmlschema/general/events/AdditionalEntity_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>AdditionalEntity</Name>
				<Description>Cadastro de Entidade Adicional</Description>
				<Segment>Serviços</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact/>
					<Description/>
					<Adapter>TURI006.PRW</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_CODCLI+G3F.G3F_LOJA</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>9</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Cliente (Mata030 - SA1 )</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Cliente</xs:documentation>
					<xs:appinfo>
						<InternalIdName>CustomerVendorInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId do Cliente (SA1 - CustomerVendor - Mata030)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalEntityTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Tipo da Entidade Adicional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_TIPO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Entidade Adicional (Tura005 - G3E )</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalEntityTypeInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Tipo da Entidade Adicional</xs:documentation>
					<xs:appinfo>
						<InternalIdName>AdditionalEntityTypeInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId do Tipo de Entidade Adicional (G3E - AdditionalEntityType - Tura005)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da Entidade Adicional</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt+G3F.G3F_FILIAL+G3F.G3F_CODCLI+G3F.G3F_LOJA+G3F.G3F_TIPO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Share" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compartilha? (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_COMPAR</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Define se o cadastro será compartilhado entre as lojas do cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Required" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Obrigatório? (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_OBRIGA</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Determina se o preenchimento da entidade é obrigatório</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Mask" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mascara</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_MASCAR</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>50</Length>
							<Description>Definição da máscara de apresentação do campo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Validate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Validação? (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_VALIDA</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>
								Define se haverá validação no
								preenchimento das entidades. Caso este
								campo esteja como “não”, o sistema não
								validará a pré-existência do valor
								informado
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Corporate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corporativo? ("1-Sim / 2-Não")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_CORP</Field>
							<Required>Não</Required>
							<Type>Logic</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Event" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Evento? ("1-Sim / 2-Não")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_EVENTO</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Recreation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lazer? ("1-Sim / 2-Não")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_LAZER</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Situation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação? ("1-Ativo / 2-Bloqueado")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3F.G3F_MSBLQL</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Campo Opcional, se no cadastro esse campo existir, será enviado a TAG</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfAdditionalEntities" type="ListOfAdditionalEntitiesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Séries de Internal ID's (Itens/Detalhe)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfAdditionalEntitiesType">
		<xs:sequence>
			<xs:element name="AdditionalEntities" type="AdditionalEntitiesType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>Definicoes de Detalhe dos Itens</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdditionalEntitiesType">
		<xs:sequence>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3G.G3G_ITEM</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>50</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt+G3F.G3F_FILIAL+G3F.G3F_CODCLI+G3F.G3F_LOJA+G3F.G3F_TIPO+G3G.G3G_ITEM</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Descrição do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3G.G3G_DESCR</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>40</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- TIPOS ABSTRATOS  =================== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />
</xs:schema>
