messages-xml/xmlschema/general/events/AdjustmentsinTaxCalculationEFD_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>AdjustmentsinTaxCalculationEFD</Name>
				<Description>Mensagem para Integração do Registro de Ajustes de Crédito e Débito na Apuração do Pis Cofins e CPRB na EFD Contribuições </Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Alexandre Inacio Lemes</Contact>
					<Description>Ajustes de Crédito e Débito para PIS COFINS e CPRB na EFD Contribuições</Description>
					<Adapter>FISI042</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_FILIAL</Field>
							<Required>sim</Required>
             				<Required>sim</Required>
              				<Type>varchar</Type>
              				<Length>2</Length>
              				<Description>Pode ter tamanho entre 02 e 12 dependendo da configuração do Protheus</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
            			<FieldDocumentation product="PROTHEUS">
              				<Field/>
              				<Required>sim</Required>
              				<Type>varchar</Type>
              				<Length>50</Length>
              				<Description>o InternalID da empresa é formado por EMPRESA|CF5_FILIAL Tamanho entre 05 e 15</Description>
            			</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required>não</Required>
							<Type></Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required>sim</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do documento é formado por EMPRESA|CF5_FILIAL|CF5_CODIGO|CF5_INDAJU|CF5_PISCOF|CF5_CODAJU|CF5_DTREF|CF5_CODCRE</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_CODIGO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>06</Length>
							<Description>Codigo da Movimentação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="AdjustmentIndicator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador do Ajuste</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_INDAJU</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Indicador de Ajuste - Valores válidos: 0=Ajuste de Redução;1=Ajuste de Acréscimo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Ajuste de Redução</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Ajuste de Acréscimo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditDebitAdjustment" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ajuste de Crédito/Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_TPAJST</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Informe se o ajuste se aplica ao Crédito de PIS e COFINS ou ao Debito de PIS e COFINS e CPRB. - Valores válidos: 1=Ajuste de Crédito;2=Ajuste de Débito</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Ajuste de Crédito</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Ajuste de Débito</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdjustmentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Ajuste</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_PISCOF</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Tipo do Ajuste - Valores Validos: 0=Ajuste de PIS;1=Ajuste de Cofins;2=Ajuste de CPRB</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Ajuste de PIS</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Ajuste de Cofins</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Ajuste de CPRB</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="ReferenceDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de Referência</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_DTREF</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>08</Length>
							<Description>Data de Referência</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxSituation" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação Tributária</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_CST</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>02</Length>
							<Description>Situação Tributária</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContributionCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Contribuição</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_CODCON</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>02</Length>
							<Description>Código da contribuição social apurada no período conforme a Tabela 4.3.5</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustmentDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição do Ajuste</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_DESAJU</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>30</Length>
							<Description>Descrição do Ajuste</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>				
			<xs:element name="AdjustmentValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do Ajuste</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_VALAJU</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Valor do Ajuste</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base de calculo do Imposto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_BASE</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Base de calculo do Imposto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxRate" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aliquota do Imposto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_ALQ</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>7,4</Length>
						  <Description>Aliquota de PIS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAccountInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da conta contabil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_CONTA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID da conta contabil é formado por EMPRESA|CF5_FILIAL|CF5_CONTA</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAccountCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_CONTA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>20</Length>
						  <Description>Código da Conta Contábil</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_NUMDOC</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>10</Length>
						  <Description>Número do Documento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustmentCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Ajuste</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_CODAJU</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>2</Length>
							<Description>Código do Ajuste - Valores Validos: 01=Ação Judicial;02=Processo Adm.;03=Legislação Tribu;04=Especi.do RTT;05=Outras Situações;06=Estorno</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01">
							<xs:annotation>
								<xs:documentation>Ação Judicial</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="02">
							<xs:annotation>
								<xs:documentation>Processo Adm.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="03">
							<xs:annotation>
								<xs:documentation>Legislação Tribu</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
						<xs:enumeration value="04">
							<xs:annotation>
								<xs:documentation>Especi.do RTT</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
						<xs:enumeration value="05">
							<xs:annotation>
								<xs:documentation>Outras Situações</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
						<xs:enumeration value="06">
							<xs:annotation>
								<xs:documentation>Estorno</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="CreditType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_CODCRE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>03</Length>
							<Description>Tipo do Crédito</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeActivity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Atividade CPRB</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF5.CF5_TIPATV</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Tipo de Atividade CPRB - Valores válidos: 0=Serviço;1=Indústria</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Serviço</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Indústria</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ComplementaryInformation" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informação Complementar</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF5.CF5_INFCOM</Field>
						  <Required>Não</Required>
						  <Type>Memo</Type>
						  <Length>50</Length>
						  <Description>Informação Complementar</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>		
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>