messages-xml/xmlschema/general/events/AgriculturalPhytosanitary_2_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd"
			elementFormDefault="qualified">

	<!--  ====================================  -->
	<!--  INCLUDES NECESSÁRIOS PARA A MENSAGEM  -->
	<!--  ====================================  -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!--  ====================================  -->
	<!--  DOCUMENTAÇÃO DA MENSAGEM              -->
	<!--  ====================================  -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Fitossanidade agrícola</Name>
				<Description>Mensagem de integração de cadastro de fitossanidade agrícola</Description>
				<Segment>Agro Indústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>integracao.agro@totvs.com.br</Contact>
					<Description>Equipe de Integração TOTVS Agro</Description>
					<Adapter>Fitossanidade.java</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Felipe Raposo</Contact>
					<Description>ERP Totvs Protheus</Description>
					<Adapter>AGRPA070</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE NEGÓCIO DA MENSAGEM ====  -->
	<!--  ====================================  -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId de integração</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.ID_FITOSSANIDADE</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>cEmpAnt + NCD_FILIAL + NCD_CODIGO</xs:Field>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do evento fitossanidade</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.CD_INT_ERP</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>20</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_CODIGO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.DE_FITOSSANIDADE</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_OBS</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Text</xs:Type>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição reduzida</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.DA_FITOSSANIDADE</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_DESCRI</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ScientificName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome científico</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.ID_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_NOMCIE</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfPlantHealth" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de fitossanidade</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_TIPO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_FITOS</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Praga</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Doença</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Erva</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RecordInspection" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Realiza na inspeção o apontamento dessa fitossanidade</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_APT_INSPEC</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_INSP</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypeCalculation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de levantamento</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_TP_LEVTO</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_LEVANT</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Nota</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Presença</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Plantas atacadas</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Número de indivíduo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InfestationLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade máxima de infestação</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.QT_MAX_INFEST</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Number</xs:Type>
							<xs:Length>3</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_INFEST</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Number</xs:Type>
							<xs:Length>3</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DegreeImportance" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ordem de importância em relação às demais</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.NO_GRAU_IMPORT</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Number</xs:Type>
							<xs:Length>2</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_GRAU</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Number</xs:Type>
							<xs:Length>2</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeAccumulator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo acumulador</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_TP_ACUM</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
							<xs:Description/>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_ACUM</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Soma</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Média</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Máximo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Mínimo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultForProductionLocation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica o resultado por local de produção</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_RES_LOC</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
							<xs:Description/>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_RESLOC</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Maior incidência</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Nota média</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de referência</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_DATAREF</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
							<xs:Description/>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_DATREF</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Data emergência</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Data plantio</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NeedsEradication" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Necessita erradicação da planta</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>FITOSSANIDADE.FG_ERRADICA</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>1</xs:Length>
							<xs:Description/>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCD_ERRAD</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE RETORNO ================  -->
	<!--  ====================================  -->
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
