messages-xml/xmlschema/general/events/AgriculturalGeneticEvent_2_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd"
			elementFormDefault="qualified">

	<!--  ====================================  -->
	<!--  INCLUDES NECESSÁRIOS PARA A MENSAGEM  -->
	<!--  ====================================  -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!--  ====================================  -->
	<!--  DOCUMENTAÇÃO DA MENSAGEM              -->
	<!--  ====================================  -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Evento genético do insumo agrícola</Name>
				<Description>Mensagem de integração de evento genético do insumo agrícola</Description>
				<Segment>Agro Indústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>integracao.agro@totvs.com.br</Contact>
					<Description>Equipe de Integração TOTVS Agro</Description>
					<Adapter>Evento.Java</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Felipe Raposo</Contact>
					<Description>ERP Totvs Protheus</Description>
					<Adapter>AGRPA030</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE NEGÓCIO DA MENSAGEM ====  -->
	<!--  ====================================  -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.ID_EVENTO_GENETICO</xs:Field>
							<xs:Required>Sim</xs:Required>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>cEmpAnt + NCJ_FILIAL + NCJ_CODIGO</xs:Field>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do evento genético</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.CD_EVENTO_GENETICO</xs:Field>
							<xs:Required>sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_CODIGO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.DE_EVENTO_GENETICO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_DESCRI</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommercialDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome comercial</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.DE_NOME_COMERCIAL</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_NOMCOM</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgriculturalCultureCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da cultura</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.CD_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_CULTUR</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgriculturalCultureInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da cultura</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.ID_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>cEmpAnt + NCJ_FILIAL + NCJ_CULTUR</xs:Field>
							<xs:Required>Sim</xs:Required>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgroFitCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do agrofit</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.ID_UNICO</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_UNICO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DonorOganismDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição do organismo doador</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.DE_ORG_DOADOR</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_DOADOR</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Characteristics" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Característica do evento genético</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.DE_CARACTERISTICA</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_CARACT</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Protein" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição da proteína do evento genético</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.DE_PROTEINA</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_PROT</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>60</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalYear" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ano de aprovação do evento genético</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>EVENTO_GENETICO.ANO_APROVACAO</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>4</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NCJ_APROV</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>4</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE RETORNO ================  -->
	<!--  ====================================  -->
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
