messages-xml/xmlschema/general/events/AgriculturalCulture_2_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd"
			elementFormDefault="qualified">

	<!--  ====================================  -->
	<!--  INCLUDES NECESSÁRIOS PARA A MENSAGEM  -->
	<!--  ====================================  -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!--  ====================================  -->
	<!--  DOCUMENTAÇÃO DA MENSAGEM              -->
	<!--  ====================================  -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Cultura / ocupação agrícola</Name>
				<Description>Mensagem de integração de cadastro de cultura/ocupação agrícola</Description>
				<Segment>Agro Indústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>integracao.agro@totvs.com.br</Contact>
					<Description>Equipe de Integração TOTVS Agro</Description>
					<Adapter>Cultura.java</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Felipe Raposo</Contact>
					<Description>ERP Totvs Protheus</Description>
					<Adapter>AGRA800</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE NEGÓCIO DA MENSAGEM ====  -->
	<!--  ====================================  -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId de integração</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.ID_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>cEmpAnt + NP3_FILIAL + NP3_CODIGO</xs:Field>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da cultura / ocupação</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.CD_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Varchar</xs:Type>
							<xs:Length>20</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_CODIGO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.DE_OCUPACAO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_OBS</xs:Field>
							<xs:Required>Não</xs:Required>
							<xs:Type>Text</xs:Type>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição abreviada</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.DE_OCUPACAO</xs:Field>
							<xs:Required>não</xs:Required>
							<xs:Type>char</xs:Type>
							<xs:Length>10</xs:Length>
						</xs:FieldDocumentation>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_DESCRI</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>50</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo da ocupação</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.FG_TP_OCUP</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Numerico</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_TIPO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Produtiva</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Improdutiva</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PlantationDateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de plantio</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.FG_DTPLANTIO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Numerico</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_DTPLAN</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Inicial</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Final</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Média</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Maior área</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgeCalculationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base para cálculo de idade</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.FG_DTPLANTIO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Numerico</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_BASE</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Plantio</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Última colheita ou último plantio</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Data de emergência</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EstimateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de estimativa</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.FG_TP_ESTIM</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Numerico</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_TPEST</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Kg/Ha</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Un/M</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RoundingType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de arredondamento</xs:documentation>
					<xs:appinfo>
						<xs:FieldDocumentation product="PIMS">
							<xs:Field>OCUPACAO.TP_ARREDONDAMENTO</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>Numerico</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<xs:FieldDocumentation product="PROTHEUS">
							<xs:Field>NP3_TPARRE</xs:Field>
							<xs:Required>Sim</xs:Required>
							<xs:Type>VarChar</xs:Type>
							<xs:Length>1</xs:Length>
						</xs:FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sem arredondamento</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Inteiro mais próximo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Inteiro superior</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Inteiro inferior</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Inteiro</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE RETORNO ================  -->
	<!--  ====================================  -->
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>