messages-xml/xmlschema/general/events/AppointmentCost_1_001.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Charles Machado (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ApportionType_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>AppointmentCost</Name>
					<Description>Custo de Compromisso</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Apropriação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Apropriação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number">
				<xs:annotation>
					<xs:documentation>Numero da Apropriação, que é propagado para o pedido e nota fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data da Apropriação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbatementDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Dedução no contrato (muito utilizado em integração com TOP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Projeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfAppointmentCostItem" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Itens da Apropriação</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="AppointmentCostItem" type="AppointmentCostItemType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfApportionAppointmentCost" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio da movimentação</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ApportionAppointmentCost" type="ApportionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppointmentCostItemType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codigo do item da apropriação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Item da Apropriação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração do Produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemReferenceCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código de Referência do Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
						<xs:whiteSpace value="preserve"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total do Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Unidade de Medida</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Local de Estoque(Armazem)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data da apropriação do Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAcountInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Conta contábil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Projeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaskInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Tarefa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfApportionAppointmentCostItem" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio do item da movimentação</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ApportionAppointmentCostItem" type="ApportionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="DestinationInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código gerado no produto que recebeu a mensagem, caso tenha sido gerado um código específico para o cadastro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código original da mensagem gerada. Este campo é enviado também no retorno para facilitar o relacionamento entre estes dois códigos quando apenas o retorno da mensagem for recebido de forma assíncrona</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Entity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome da tag pai do InternalId (caso seja o businesscontent passar o nome da mensagem) ou da mensagem responsável pela FK (ex: WarehouseInternalID = Warehouse)
									Exemplos:
									WarehouseInternalId = Entity "Warehouse"
									InternalId interno diretamente à tag BusinessContent da mensagem Request = Entity "Request"
									InternalId interno diretamente à tag RequestItem = Entity "RequestItem"
									InternalId interno diretamente à tag ApportionRequestItem = Entity "ApportionRequestItem"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InternalId" type="ReturnContentType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
