messages-xml/xmlschema/general/events/AssetDepreciation_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Charles Machado (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>AssetDepreciation</Name>
				<Description>Mensagem para Integração de Movimento de Depreciação de Bens</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Description>Mensagem para Integração de Movimento de Depreciação de Bens PIMS</Description>
					<Adapter>ATFI051</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Integração de Movimento de Depreciação de Bens</Description>
					<Adapter>DepreciacaoBensAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="SelectionInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informações de Seleção das Informações da
						Mensagem</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AssetInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informações do Bem - Intervalo de Código</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>Não utilizada na integração Protheus</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AssetIni" type="xs:string">
										<xs:annotation>
											<xs:documentation>Bem Inicial - Código Inicial</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>Não utilizada na integração Protheus</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="AssetFin" type="xs:string">
										<xs:annotation>
											<xs:documentation>Bem Final - Código Final</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>Não utilizada na integração Protheus</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CostCenterInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informações do Centro de Custo - Intervaldo de Código</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>Não utilizada na integração Protheus</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CostCenterIni" type="xs:string">
										<xs:annotation>
											<xs:documentation>Centro de Custo Inicial</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>Não utilizada na integração Protheus</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CostCenterFin" type="xs:string">
										<xs:annotation>
											<xs:documentation>Centro de Custo Final</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>Não utilizada na integração Protheus</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ListOfRuleInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Lista de Regras (EMS5)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RuleInformation" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Informações da Regra</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RuleType" type="xs:string">
													<xs:annotation>
														<xs:documentation>Tipo da Regra: (CCusto Responsab) ou (Bem Patrimonial) define se irá apagar informações por intervalo
														de centro de custo ou por bem patrimonial</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>Não utilizada na integração Protheus</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>Tipo de Regra</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="InitialValue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Valor Inicial - Centro Custo ou Bem</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>Não utilizada na integração Protheus</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="FinalValue" type="xs:string">
													<xs:annotation>
														<xs:documentation>Valor Final - Centro de Custo ou Bem</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>Não utilizada na integração Protheus</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ParametersInformation">
				<xs:annotation>
					<xs:documentation>Informações de Parametrização da Consulta</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PeriodInformation">
							<xs:annotation>
								<xs:documentation>Período</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>N4_DATA</Field>
										<Required>sim</Required>
										<Type>date</Type>
										<Length>8</Length>
										<Description>Data Base</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>tabela.campo</Field>
										<Required>sim</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DateIni" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Inicial</xs:documentation>
											<xs:appinfo>

												<FieldDocumentation product="PROTHEUS">
													<Field>cDataIni</Field>
													<Required>sim</Required>
													<Type>date</Type>
													<Length>08</Length>
													<Description>Data Inicio da Depreciação</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim</Required>
													<Type>date</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="DateFin" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Final</xs:documentation>
											<xs:appinfo>

												<FieldDocumentation product="PROTHEUS">
													<Field>cDataFim</Field>
													<Required>sim</Required>
													<Type>date</Type>
													<Length>08</Length>
													<Description>Data Final da Depreciação</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim</Required>
													<Type>date</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FirstPart" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indica se é a primeira quebra da mensagem</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>Não utilizada na integração Protheus</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>tabela.campo</Field>
										<Required>sim</Required>
										<Type>boolean</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfAssetDepreciation">
				<xs:annotation>
					<xs:documentation>Lista de Bens</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AssetDepreciation" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Informações de Depreciação do Bem</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AssetInformation">
										<xs:annotation>
											<xs:documentation>Informações do Bem</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CompanyId" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Codigo da Empresa</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cEmpAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>02</Length>
																<Description>será enviado o valor da variável cEmpAnt( empresa)</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="BranchId" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Codigo da Filial</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cFilAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>12</Length>
																<Description>Será enviado o valor da variável cFilAnt</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>InternalId da chave completa de
															empresa do produto</xs:documentation>
															<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cEmpAnt|cFilAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>15</Length>
																<Description>InternalId da chave completa de empresa do produto</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="AssetCode" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Código do Bem</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="DATASUL - EMS2">
																<Field>movadm.bem.bm-codigo</Field>
																<Required>sim/não</Required>
																<Type>char</Type>
																<Length>10</Length>
																<Description>Código do Bem</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL - EMS5">
																<Field>emsfin.bem_pat.num_bem_pat</Field>
																<Required>sim/não</Required>
																<Type>char</Type>
																<Length>10</Length>
																<Description>Código do Bem</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROTHEUS">
																<Field>N4_CBASE+N4_ITEM</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>15</Length>
																<Description>InternalId da chave completa de empresa do produto</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código do Bem</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CostCenterCode" type="xs:string">
													<xs:annotation>
														<xs:documentation>Código do Centro de Custo</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="DATASUL - EMS2">
																<Field>mgadm.sub-conta.sc-codigo</Field>
																<Required>sim/não</Required>
																<Type>char</Type>
																<Length>10</Length>
																<Description>Código do Centro de Custo</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL - EMS5">
																<Field>emsuni.ccusto.cod_ccusto</Field>
																<Required>sim/não</Required>
																<Type>char</Type>
																<Length>10</Length>
																<Description>Código do Centro de Custo</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROTHEUS">
																<Field>N4_CCUSTO</Field>
																<Required>não</Required>
																<Type>char</Type>
																<Length>9</Length>
																<Description>Centro de Custo</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código do Centro de Custo</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ListOfDepreciation">
										<xs:annotation>
											<xs:documentation>Lista de registros de cálculo de
												depreciação</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Depreciation" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Informações da Depreciação (para o
															EMS 2 terá somente um registro, com os dados da tabela
															BEM, para o EMS 5 terá um registro para cada
															reg_calc_bem_pat )</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PeriodDepreciationAmount" type="xs:decimal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Depreciação do Período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="DATASUL - EMS2">
																			<Field>( movadm.bem.vl-depr-per +
																		movadm.bem.vl-co-dp-p)</Field>
																			<Required>sim/não</Required>
																			<Type>char</Type>
																			<Length>10</Length>
																			<Description>Depreciação do Período</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL - EMS5">
																			<Field>emsfin.reg_calc_bem_pat.val_dpr_val_origin</Field>
																			<Required>sim/não</Required>
																			<Type>char</Type>
																			<Length>10</Length>
																			<Description>Depreciação do Período</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>N4_VLROC1</Field>
																			<Required>sim</Required>
																			<Type>float</Type>
																			<Length>18</Length>
																			<Description>Depreciação do Período</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim</Required>
																			<Type>decimal</Type>
																			<Length>...</Length>
																			<Description>Depreciação do Período</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="PeriodAmortizationAmount" type="xs:decimal" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Amortização do Período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="DATASUL">
																			<Field>emsfin.reg_calc_bem_pat.val_dpr_val_origin</Field>
																			<Required>sim/não</Required>
																			<Type>char</Type>
																			<Length>10</Length>
																			<Description>Amortização do Período</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>Não utilizada na integração Protheus</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>não</Required>
																			<Type>decimal</Type>
																			<Length>...</Length>
																			<Description>Amortização do Período</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>