messages-xml/xmlschema/general/events/AssignmentGrade_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>AssignmentGrade</Name>
        <Description>Notas de avaliação do aluno</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Douglas de Alvarenga Silva</Contact>
          <Description>Notas de avaliação do aluno</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact></Contact>
          <Description></Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Não</Insert>
            <Update>Não</Update>
            <Delete>Não</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineClassCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id. turma disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.IDTURMADISC</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineClassInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da turma disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODCOLIGADA|STURMADISC.IDTURMADISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.ID_EXTERNAL</Field>
              <Required>Não</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AssignmentCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da avaliação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.CODPROVA</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StepCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da etapa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.CODETAPA</Field>
              <Required>Não</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StepType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo da etapa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.TIPOETAPA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Nota</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
              <xs:annotation>
                <xs:documentation>Falta</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da Avaliação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.CODCOLIGADA|SNOTAS.IDTURMADISC|SNOTAS.CODETAPA|SNOTAS.TIPOETAPA|SNOTAS.CODPROVA|SNOTAS.RA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_TOPIC_ITEM.ID_EXTERNAL</Field>
              <Required>Não</Required>
              <Type>varhar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StudentCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do aluno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.RA</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length>20</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StudentInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Aluno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SALUNO.CODCOLIGADA|SALUNO.RA</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_ENROLLMENT.USER_RA</Field>
              <Required>Não</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ConceptGroupCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id. Grupo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.IDGRUPO</Field>
              <Required>Não</Required>
              <Type>Int</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ConceptGroupInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do grupo de conceito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SGRUPOCONCEITO.CODCOLIGADA|SGRUPOCONCEITO.IDGRUPO</Field>
              <Required>Não</Required>
              <Type>String</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ConceptCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do conceito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.CODCONCEITO</Field>
              <Required>Não</Required>
              <Type>String</Type>
              <Length>10</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ConceptInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId Código do conceito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCONCEITO.CODCOLIGADA|SCONCEITO.IDGRUPO|SCONCEITO.CODCONCEITO</Field>
              <Required>Não</Required>
              <Type>String</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Grade" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nota do aluno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SNOTAS.NOTA</Field>
              <Required>Não</Required>
              <Type>Decimal</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_ENROLLMENT_TOPIC_ITEM.SCORE</Field>
              <Required>Não</Required>
              <Type>decimal</Type>
              <Length>19,2</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>