messages-xml/xmlschema/general/events/Bank_2_002.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->

	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Bank</Name>
				<Description>Cadastro de Bancos</Description>
				<Segment>ERP base</Segment>
				<ProductInformation product="DATASUL">
					<Contact>....</Contact>
				</ProductInformation>
				<ProductInformation product="lOGIX">
					<Contact>...</Contact>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Eduardo Souza</Contact>
					<Adapter>MATI070.prw</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:complexType name="BusinessContentType">
        <xs:sequence>
        		<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>Será enviado o valor da variável cEmpAnt( empresa)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
        			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>12</Length>
							<Description>Será enviado o valor da variável cFilAnt </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
        <xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
						<xs:element name="Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do banco</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_COD</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>03</Length>
							<Description>Código do Banco</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Code</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>Código que irá identificar o banco no sistema externo: xFilial('SA6') + M->A6_COD + M->A6_AGENCIA + M->A6_NUMCON</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
				<xs:element name="Febraban" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero Oficial do Banco no Brasil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_FEBRABAN</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descricao Banco</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_NOME</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:maxLength value="40"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:element>
						<xs:element name="ShortName" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descricao reduzida Banco</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_NREDUZ</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:maxLength value="20"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:element>
			<xs:element name="ListOfAgency" type="ListOfAgencyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CheckingAcctType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo Conta Corrente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren.ind_tip_cta_corren</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>Valores Possiveis: Bancária / Caixa / Mútuo Ativo / Mútuo Passivo / Garantida </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				</xs:element>
				<xs:element name="Site" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estabelecimento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren.cod_estab</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>5</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessUnit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unidade de Negocio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren.cod_unid_negoc</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>3</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Finalidade da Conta Corrente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren.cod_finalid_econ</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>10</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	    </xs:complexType>
    
    <xs:complexType name="ListOfAgencyType">
		<xs:sequence>
			<xs:element name="Agency" type="AgencyType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="AgencyType">
        <xs:sequence>
        	<xs:element name="Number" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero da Agencia</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_AGENCIA</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
        	<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Descricao Agencia</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_NOMEAGE</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				</xs:element>
        	<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Endereco Agencia</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_END</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				</xs:element>
        	<xs:element name="ListOfContactInformation" type="ListOfContactInformationType" minOccurs="0" maxOccurs="1"></xs:element>
        	<xs:element name="ListOfAccount" type="ListOfAccountType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="ListOfContactInformationType">
		<xs:sequence>
			<xs:element name="ContactInformation" type="ContactInformationType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="ListOfAccountType">
		<xs:sequence>
			<xs:element name="Account" type="AccountType" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element name="Contract" type="ContractType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="AccountType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description>Será enviado o valor da variável cEmpAnt( empresa)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				</xs:element>
			<xs:element name="Number" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero da Conta</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_NUMCON</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DigitAccount" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dígito verificador da Conta</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_DVCTA</Field>
							<Required>sim/não</Required>
							<Type>varchar</Type>
							<Length>1</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAccountCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero da Conta - RM: Não irá utilizar inicialmente este campo, pois é permitido informar mais
							de uma Conta Contabil no momento do Cadastro, o que difere das outras Linhas.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA6.A6_NUMCON</Field>
							<Required>sim/não</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAccountInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da conta contábil.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Logix">
							<Field>plano_conta.num_conta</Field>
							<Required>sim</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation><xs:documentation>RM: Nome da Conta Caixa</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="PurposeAcct" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Finalidade Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren_cta_ctbl.ind_finalid_ctbl_cta_corren</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>17</Length>
							<Description>Valores Válidos: Principal Ativo / Principal Passivo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChartOfAccts" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plano de Contas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren_cta_ctbl.cod_plano_cta_ctbl</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>8</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityStart" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Inicial de Validade da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren_cta_ctbl.dat_inic_valid</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityEnd" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Final de Validade da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cta_corren_cta_ctbl.dat_fim_valid</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContractType">
		<xs:sequence>
			<xs:element name="ContractNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Número do contrato (Convênio) </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SEEXX0.EE_NUMCTR</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>15</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferorName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Nome do Cedente </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SM0.SM0_NOMECOM</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>40</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferorCode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Código do Cedente </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SA6.A6_CODCED</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>40</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookType" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tipo da carteira </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SEEXX0.EE_TIPOCAR</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>2</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookCode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Código do carteira </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SEEXX0.EE_CODCART</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>3</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeType"  minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tipo de Cobrança </xs:documentation>
					<xs:appinfo>
		              <FieldDocumentation product="PROTHEUS">
		                <Field>SEEXX0.EE_TPCOBRA</Field>
		                <Required>não</Required>
		                <Type>varchar</Type>
		                <Length>1</Length>
		                <Description></Description>
		              </FieldDocumentation>
            		</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Registrada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não Registrada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />

</xs:schema>