messages-xml/xmlschema/general/events/Boarding_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd"
			elementFormDefault="qualified">

	<!--  ====================================  -->
	<!--  INCLUDES NECESSÁRIOS PARA A MENSAGEM  -->
	<!--  ====================================  -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!--  ====================================  -->
	<!--  DOCUMENTAÇÃO DA MENSAGEM              -->
	<!--  ====================================  -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Boarding</Name>
				<Segment>COMEX</Segment>
				<ProductInformation product="PROTHEUS">
					<Adapter>EECAE100</Adapter>
					<Contact>ALISON KAIQUE</Contact>
					<Description>ERP TOTVS PROTHEUS</Description>
					<Send>
						<Update>sim</Update>
						<Insert>sim</Insert>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Update>não</Update>
						<Insert>não</Insert>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<Description>Embarques (SIGAEEC)</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE NEGÓCIO DA MENSAGEM ====  -->
	<!--  ====================================  -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BoardingCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do embarque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_PREEMB</Field>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal ID do embarque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data do processo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_DTPROC</Field>
							<Type>Date</Type>
							<Length>8</Length>
							<Required>nao</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_IMPORT</Field>
							<Type>varchar</Type>
							<Length>6</Length>
							<Required>não</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerStoreId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loja do cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_IMLOJA</Field>
							<Type>varchar</Type>
							<Length>2</Length>
							<Required>não</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internald do cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Description>O InternalId do cliente é formado por EMPRESA|A1_FILIAL|A1_COD|A1_LOJA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_FORN</Field>
							<Type>varchar</Type>
							<Length>6</Length>
							<Required>não</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorStoreId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loja</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_FOLOJA</Field>
							<Type>varchar</Type>
							<Length>2</Length>
							<Required>não</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Description>O InternalId do fornecedor é formado por EMPRESA|A2_FILIAL|A2_COD|A2_LOJA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Idioma do documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_IDIOMA</Field>
							<Type>varchar</Type>
							<Length>25</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentTermCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da condição de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_CONDPA</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentTermInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da condição de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Description>O InternalId da condição de pagamento é formado por EMPRESA|E4_FILIAL|E4_CODIGO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentModeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da modalidade de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_MPGEXP</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentModeInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da modalidade de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Description>O InternalId da modalidade de pagamento é formado por EMPRESA|EEF_FILIAL|EEF_COD</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Incoterms" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código Incoterms 2010 (termos internacionais de comércio)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_INCOTE</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurrencyCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código ISO 4217 da moeda. Exemplo: BRL, USD, EUR, etc.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_MOEDA</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreightType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de frete (prepaid / collect)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_FRPPCC</Field>
							<Type>varchar</Type>
							<Length>2</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Prepaid</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Collect</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DiscountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Define se o desconto será subtraído ou
					somado no valor FOB, quando o preço for fechado.
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_TPDESC</Field>
							<Type>varchar</Type>
							<Length>1</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Subtrai</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Soma</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PackingCalculationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Define se o cálculo da última embalagem do
					produto para o volume será efetuado por critério de quantidade,
					definida no cadastro de embalagens ou por volume (m3).
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_CALCEM</Field>
							<Type>varchar</Type>
							<Length>1</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Volume</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Quantidade</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransportationMeansCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da via de transporte</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_VIA</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportationMeansInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da via de transporte</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Required>sim</Required>
							<Description>O InternalId da via de transporte é formado por EMPRESA|YQ_FILIAL|YQ_VIA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginPort" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código aeroportuário IATA do porto/aeroporto de origem.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_ORIGEM</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationPort" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código aeroportuário IATA do porto/aeroporto de destino.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_DEST</Field>
							<Type>varchar</Type>
							<Length>3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassificationCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de enquadramento SISCOMEX da operação.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_ENQCOD</Field>
							<Type>varchar</Type>
							<Length>5</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="5"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NetWeight" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Peso líquido da carga.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_PESLIQ</Field>
							<Type>Decimal</Type>
							<Length>15,3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeight" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Peso bruto da carga.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_PESBRU</Field>
							<Type>Decimal</Type>
							<Length>15,3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cubicage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cubagem (em metros)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EEC_CUBAGE</Field>
							<Type>Decimal</Type>
							<Length>15,4</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfBoardingItem" type="ListOfBoardingItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de itens do embarque</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfBoardingItemType">
		<xs:sequence>
			<xs:element name="BoardingItem" type="BoardingItemType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Itens do embarque</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoardingItemType">
		<xs:sequence>
			<xs:element name="ShipmentSequence" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ordem de embarque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_SEQEMB</Field>
							<Type>Varchar</Type>
							<Length>6</Length>
							<Required>nao</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do pedido</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_PEDIDO</Field>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Required>nao</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sequence" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ordem de entrega</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_SEQUEN</Field>
							<Type>Varchar</Type>
							<Length>6</Length>
							<Required>nao</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_COD_I </Field>
							<Type>Varchar</Type>
							<Length>30</Length>
							<Required>nao</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Description>O InternalId do produto é formado por EMPRESA|B1_FILIAL|B1_COD</Description>
							<Type>varchar</Type>
							<Length>50</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipmentQuantity" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade embarcada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_SLDINI</Field>
							<Type>Decimal</Type>
							<Length>15,3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityInPack" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade na embalagem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_QE</Field>
							<Type>Decimal</Type>
							<Length>13,3</Length>
							<Required>sim</Required>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PartNumber do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_PART_N</Field>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Required>nao</Required>
							<Description>Nota fiscal (SIGAFAT)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="0"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nota fiscal</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_NF</Field>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Required>nao</Required>
							<Description>Nota fiscal (SIGAFAT)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="0"/>
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSerie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Série da nota fiscal</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EE9_SERIE</Field>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Required>nao</Required>
							<Description>Série da nota fiscal (SIGAFAT)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:minLength value="0"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--  ====================================  -->
	<!--  CONTEÚDO DE RETORNO ================  -->
	<!--  ====================================  -->
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>