messages-xml/xmlschema/general/events/Branch_2_001.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>Branch</Name>
					<Description>Filial</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Filial/Codigo Unidade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Coligada/Codigo Unidade Pai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Título</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cgc" type="xs:string">
				<xs:annotation>
					<xs:documentation>CGC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateRegistration" type="xs:string">
				<xs:annotation>
					<xs:documentation>Inscrição Estadual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="xs:string">
				<xs:annotation>
					<xs:documentation>Telefone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="xs:string">
				<xs:annotation>
					<xs:documentation>EMAIL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="xs:string">
				<xs:annotation>
					<xs:documentation>Rua</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="xs:string">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Complement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Neighborhood" type="xs:string">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="State" type="xs:string">
				<xs:annotation>
					<xs:documentation>Estado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cidade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZipCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cep</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="xs:string">
				<xs:annotation>
					<xs:documentation>País</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Municipio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_CODMUN</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>7</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CNAECode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Classificacao Nacional de Ativades Economicas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_CNAE</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>7</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatureCode" type="xs:string">
				<xs:annotation>
				<xs:documentation>Natureza Juridica</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_NATJUR</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>4</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NIRE" type="xs:string">
				<xs:annotation>
					<xs:documentation>Número de Inscrição no Registro de Empresas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_NIRE</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>25</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTRE" type="xs:string">
				<xs:annotation>
					<xs:documentation>Data de Registro na Junta Comercial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_DTRE</Field>
							<Required>Não</Required>
							<Type>Date</Type>
							<Length>10</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Suframa" type="xs:string">
				<xs:annotation>
					<xs:documentation>Inscrição Suframa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_INS_SUF</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>12</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Tipo de Inscrição</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_TPINSC</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>1=CEI;2=CNPJ;3=CPF;4=INCRA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingAddress" type="xs:string">
				<xs:annotation>
				<xs:documentation>Endereço de Cobrança</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_ENDCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>60</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingZipCode" type="xs:string">
				<xs:annotation>
				<xs:documentation>CEP de Cobrança</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_CEPCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>8</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingComplement" type="xs:string">
				<xs:annotation>
					<xs:documentation>Complemento do Endereco de Cobranca</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_COMPCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>25</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingNeighborhood" type="xs:string">
				<xs:annotation>
					<xs:documentation>Bairro do Endereco de Cobranca</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_BAIRCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>35</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingCity" type="xs:string">
				<xs:annotation>
					<xs:documentation>Cidade da Cobranca</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_CIDCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>60</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillingState" type="xs:string">
				<xs:annotation>
					<xs:documentation>Estado de Cobranca</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SM0.M0_ESTCOB</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Campo obrigatório para o processo fiscal/TAF. </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XX8.XX8_CODIGO</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>12</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfBusiness" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unidade de Negócio. </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XX8.XX8_UNID</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>12</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnterpriseGroup" type="xs:string">
				<xs:annotation>
					<xs:documentation>Grupo de Empresa. </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XX8.XX8_GRPEMP</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>12</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
