messages-xml/xmlschema/general/events/BudgetWorksheet_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>BudgetWorksheet</Name>
				<Segment>ADMINISTRATIVO</Segment>
				<ProductInformation product="PROTHEUS">
					<Send>
						<Update>nao</Update>
						<Insert>nao</Insert>
						<Delete>nao</Delete>
					</Send>
					<Adapter>PCOI100</Adapter>
					<Contact>ALISON LEMES</Contact>
					<Description>ERP TOTVS PROTHEUS</Description>
					<Receive>
						<Update>sim</Update>
						<Insert>sim</Insert>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<Description>PLANILHA ORCAMENTARIA</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>2</Length>
							<Required>sim</Required>
							<Description>Codigo da Empresa</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>2</Length>
							<Required>sim</Required>
							<Description>Codigo da Filial</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyInternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>10</Length>
							<Required>sim</Required>
							<Description>InternalId da chave completa de empresa do produto</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>InternalId da Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BudgetWorksheet" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_CODIGO</Field>
							<Length>15</Length>
							<Required>sim</Required>
							<Description>Codigo da Planilha Orcam.</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Codigo da Planilha Orcam.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WorksheetVersion" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_VERSAO</Field>
							<Length>4</Length>
							<Required>sim</Required>
							<Description>Versao da Planilha</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Versao da Planilha</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>30</Length>
							<Required>sim</Required>
							<Description>InternalId da entidade</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>INTERNAL ID DA ENTIDADE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_DESCRI</Field>
							<Length>80</Length>
							<Required>nao</Required>
							<Description>Descricao da Plan. Orcam.</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Descricao da Plan. Orcam.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PeriodType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_TPPERI</Field>
							<Length>1</Length>
							<Required>sim</Required>
							<Description>Tipo de Periodos Planilha</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Tipo de Periodos Planilha</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Semanal</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Quinzenal</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Mensal</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Bimestral</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Semestral</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation>Anual</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="7">
							<xs:annotation>
								<xs:documentation>Diario</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="8">
							<xs:annotation>
								<xs:documentation>Trimestral</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PeriodBegin" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_INIPER</Field>
							<Length>8</Length>
							<Required>sim</Required>
							<Description>Inicio dos Periodos</Description>
							<Type>Date</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Inicio dos Periodos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodEnd" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_FIMPER</Field>
							<Length>8</Length>
							<Required>sim</Required>
							<Description>Final dos Periodos</Description>
							<Type>Date</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Final dos Periodos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK1_MEMO</Field>
							<Length>80</Length>
							<Required>nao</Required>
							<Description>Nota</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Nota</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfBudgetAccount" type="ListOfBudgetAccountType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CONTAS DO ORCAMENTO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfBudgetAccountType">
		<xs:sequence>
			<xs:element name="BudgetAccount" type="BudgetAccountType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CONTAS DO ORCAMENTO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BudgetAccountType">
		<xs:sequence>
			<xs:element name="AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_CO</Field>
							<Length>12</Length>
							<Required>nao</Required>
							<Description>Conta Orcamentaria</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Conta Orcamentaria</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>17</Length>
							<Required>sim</Required>
							<Description>InternalId da entidade</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>INTERNAL ID DA ENTIDADE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfBudgetItem" type="ListOfBudgetItemType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ITENS DO ORCAMENTO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfBudgetItemType">
		<xs:sequence>
			<xs:element name="BudgetItem" type="BudgetItemType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ITENS DO ORCAMENTO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BudgetItemType">
		<xs:sequence>
			<xs:element name="DetailID" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ID</Field>
							<Length>4</Length>
							<Required>sim</Required>
							<Description>Item da Conta Orcament.</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Item da Conta Orcament.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CostCenter" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_CC</Field>
							<Length>9</Length>
							<Required>nao</Required>
							<Description>Centro de Custo</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Centro de Custo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountingItem" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ITCTB</Field>
							<Length>9</Length>
							<Required>nao</Required>
							<Description>Item Contabil</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Item Contabil</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClassValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_CLVLR</Field>
							<Length>9</Length>
							<Required>nao</Required>
							<Description>Classe Valor</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Classe Valor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClassBudget" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_CLASSE</Field>
							<Length>6</Length>
							<Required>sim</Required>
							<Description>Classe Orcamentaria</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Classe Orcamentaria</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_OPER</Field>
							<Length>10</Length>
							<Required>nao</Required>
							<Description>Operacao Orcamentaria</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Operacao Orcamentaria</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency" type="xs:int" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_MOEDA</Field>
							<Length>2</Length>
							<Required>sim</Required>
							<Description>Moeda</Description>
							<Type>Integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Moeda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetUnit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_UNIORC</Field>
							<Length>12</Length>
							<Required>nao</Required>
							<Description>Unidade Orcamentaria</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Unidade Orcamentaria</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountEnt05" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ENT05</Field>
							<Length>16</Length>
							<Required>nao</Required>
							<Description>Entidade 05</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Entidade 05</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountEnt06" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ENT06</Field>
							<Length>16</Length>
							<Required>nao</Required>
							<Description>Entidade 06</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Entidade 06</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountEnt07" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ENT07</Field>
							<Length>16</Length>
							<Required>nao</Required>
							<Description>Entidade 07</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Entidade 07</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountEnt08" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ENT08</Field>
							<Length>16</Length>
							<Required>nao</Required>
							<Description>Entidade 08</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Entidade 08</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountEnt09" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_ENT09</Field>
							<Length>16</Length>
							<Required>nao</Required>
							<Description>Entidade 09</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>ENTIDADE 09</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemDeleted" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Length>1</Length>
							<Required>nao</Required>
							<Description>Item do Orcamento foi deletado</Description>
							<Type>Varchar</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>ITEM DELETADO: 1= SIM; 2 = NAO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="1"/>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Nao</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfBudgetedAmount" type="ListOfBudgetedAmountType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ITENS DO ORCAMENTO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfBudgetedAmountType">
		<xs:sequence>
			<xs:element name="BudgetedAmount" type="BudgetedAmountType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VALORES ORCADOS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BudgetedAmountType">
		<xs:sequence>
			<xs:element name="DatePeriod" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_DATAI</Field>
							<Length>8</Length>
							<Required>nao</Required>
							<Description>Data Inicio do Periodo</Description>
							<Type>Date</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Data Inicio do Periodo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="xs:decimal" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2_VALOR</Field>
							<Length>14, 2</Length>
							<Required>nao</Required>
							<Description>Valor do Lancamento</Description>
							<Type>Decimal</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:documentation>Valor do Lancamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>INTERNAL ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>