messages-xml/xmlschema/general/events/BudgetAccountingReturn_2_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">
	<!-- ==================================== -->
	<!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ==================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>BudgetAccountingReturn</Name>
				<Description>Retorno da Contabilização de Orçamento</Description>
				<Segment>AgroIndustria</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>PO -  Equipe de Integração PIMS</Description>
					<Adapter>RetornoContabilizacaoOrcamento.java</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROPHIX">
					<Contact>Sergio Malcher</Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>


	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>

			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_EMPRESA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_FILIAL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_EMPRESA</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Retorno de Orçamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_BRG_RETORC</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ReferenceDate" type="xs:date" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de Referencia</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.DT_REFER</Field>
							<Required>sim</Required>
							<Type>Date</Type>
							<Length>-</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UnitOfBusinessCode" type="xs:string" maxOccurs="1" minOccurs="0">

				<xs:annotation>
					<xs:documentation>Código da Unidade de Negocio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_UNI_NEG</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UnitOfBusinessInternalId" type="xs:string" maxOccurs="1" minOccurs="0">

				<xs:annotation>
					<xs:documentation>Internal Id da Unidade de Negocio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_UNI_NEG</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe de valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_CLAS_VAL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Classe de valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_CLAS_VAL</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountingItemCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_ITEM_CONT</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountingItemInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id do Item Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_ITEM_CONT</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_CCUSTO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_CCUSTO</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ScenarioCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Cenário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_CENARIO</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ScenarioInternalId" type="xs:string" minOccurs="0">

				<xs:annotation>
					<xs:documentation>InternalId do Cenario</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_CENARIO</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAccountCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_CTA_CON</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAcountInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Conta contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_CTA_CON</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.QT_VALOR</Field>
							<Required>sim</Required>
							<Type>Decimal</Type>
							<Length>14,4</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity05InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 05</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>


					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_QUINTA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity05Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 05</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt|xFilial("CV0")|CV0_CODIGO</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Description>Internal Id da Entidade Contábil Gerencial 05</Description>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_QUINTA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity06InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 06</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_SEXTA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity06Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 06</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_SEXTA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity07InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 07</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_SETIMA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity07Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 07</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_SETIMA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity08InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 08</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_OITAVA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity08Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 08</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_OITAVA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity09InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 09</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.ID_NONA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ManagerialAccountingEntity09Code" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Conta Gerencial 09</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_RETORC.CD_NONA_ENT_CONTABIL</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" type="BusinessContentType"></xs:element>

	<xs:element name="ReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>