messages-xml/xmlschema/general/events/BudgetItems_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>BudgetItems</Name>
				<Description>Mensagem para Integração de Itens do Orçamento</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Alexandre Circenis</Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>SIM</Insert>
						<Update>SIM</Update>
						<Delete>SIM</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PIMS">
					<Contact></Contact>
					<Description></Description>
					<Adapter>...</Adapter>
					<Send>
						<Insert></Insert>
						<Update></Update>
						<Delete></Delete>
					</Send>
					<Receive>
						<Insert></Insert>
						<Update></Update>
						<Delete></Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetWorksheet" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Planilha Orçamentaria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ORCAME</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>15</Length>
							<Description>Código da Planilha Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorksheetVersion" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Versão da Planilha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_VERSAO</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>4</Length>
							<Description>Versão da Planilha Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfBudgetAccount" type="ListOfBudgetAccountType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contas do Orçamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfBudgetAccountType">
		<xs:sequence>
			<xs:element name="BudgetAccount" type="BudgetAccountType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BudgetAccountType">
		<xs:sequence>
			<xs:element name="AccountId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Conta Orçamentaria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_CO</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>12</Length>
							<Description>Código da Conta Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfBudgetItem" type="ListOfBudgetItemType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Itens do Orçamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfBudgetItemType">
		<xs:sequence>
			<xs:element name="BudgetItem" type="BudgetItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BudgetItemType">
		<xs:sequence>
			<xs:element name="DetailID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Item do Orçamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ID</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>15</Length>
							<Description>Código da Planilha Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenter" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Centro de Custo Orçado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_CC</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código do Centro de Custo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingItem" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Contabil Orçado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ITCTB</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código do Item Contabil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassValue" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe de Valor Orçado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_CLVLR</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Classe de Valor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassBudget" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe Orçamentaria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_CLASSE</Field>
							<Required>SIM</Required>
							<Type>VarChar</Type>
							<Length>6</Length>
							<Description>Código da Classe Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operation" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codigo da Operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_OPER</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>10</Length>
							<Description>Código da Operação Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_MOEDA</Field>
							<Required>Não</Required>
							<Type>Interger</Type>
							<Length> </Length>
							<Description>Numero da Moeda usada para os valores Orçados</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetUnit" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unidade Orçamentaria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_UNIORC</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>12</Length>
							<Description>Código da Unidade Orçamentária</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountEnt05" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidade Contabil 05</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ENT05</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Entidade Contabil 05</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountEnt06" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidade Contabil 06</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ENT06</Field>
							<Required>Não</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Entidade Contabil 06</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountEnt07" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidade Contabil 07</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ENT07</Field>
							<Required>Nao</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Entidade Contabil 07</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountEnt08" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidade Contabil 08</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ENT08</Field>
							<Required>Nao</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Entidade Contabil 08</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountEnt09" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entidade Contabil 09</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_ENT09</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>9</Length>
							<Description>Código da Entidade Contabil 09</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDeleted" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Deletado: 1= Sim; 2 = Não</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>  </Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>1</Length>
							<Description>Item do Orçamento foi deletado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfBudgetedAmount" type="ListOfBudgetedAmountType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Itens do Orçamento</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfBudgetedAmountType">
		<xs:sequence>
			<xs:element name="BudgetedAmount" type="BudgetedAmountType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BudgetedAmountType">
		<xs:sequence>
			<xs:element name="DatePeriod" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de inicio do periodo orçado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_DATAI</Field>
							<Required>sim</Required>
							<Type>Date</Type>
							<Length>8</Length>
							<Description>Data de Inicio do Periodo Orçado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Orçado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>AK2.AK2_VALOR</Field>
							<Required>sim</Required>
							<Type>Decimal</Type>
							<Length>14,2</Length>
							<Description>Valor Orçado para o periodo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS                 -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>

</xs:schema>