messages-xml/xmlschema/general/events/BudgetAppropriation_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" xmlns:xsd="undefined">
	<!-- ==================================== -->
	<!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ==================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>BudgetAppropriation</Name>
				<Description>Apropriação de Orçamento</Description>
				<Segment>AgroIndustria</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>PO -  Equipe de Integração PIMS</Description>
					<Adapter>ApropriacaoOrçamento.java</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>

				<ProductInformation product="PROPHIX">
					<Contact>Sergio Malcher</Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>


	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>

			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.CD_EMPRESA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.CD_FILIAL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.ID_EMPRESA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Apropriação do Orçamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.ID_BRG_CSTG_APDIR</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ReferenceDate" type="xs:date" minOccurs="1">

				<xs:annotation>
					<xs:documentation>Data de Referencia</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.DT_REFER</Field>
							<Required>sim</Required>
							<Type>Date</Type>
							<Length>-</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ScenarioCode" type="xs:string" minOccurs="0">

				<xs:annotation>
					<xs:documentation>Número do Cenário</xs:documentation>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.CD_CENARIO</Field>
							<Required>Sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ScenarioInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Cenario</xs:documentation>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.id_CENARIO</Field>
							<Required>Sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.CD_CCUSTO</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.ID_CCUSTO</Field>
							<Required>Sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAccountCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.CD_CTA_CON</Field>
							<Required>Sim</Required>
							<Type>VarChar</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAcountInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Conta contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.ID_CTA_CON</Field>
							<Required>Sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MovementType" minOccurs="0">

				<xs:annotation>
					<xs:documentation>Tipo de Movimento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.FG_MOVIMENTO</Field>
							<Required>Sim</Required>
							<Type>Numerico</Type>
							<Length>1</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Apropriação de Orçamento</xs:documentation>
							</xs:annotation>
						</xs:enumeration>

						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Planejamento do Orçamento</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="Value" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_CSTG_APDIR.QT_VALOR</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>14,4</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROPHIX">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"></xs:element>

	<xs:element name="ReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>