messages-xml/xmlschema/general/events/CalculatedTrans_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>


	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Movimento e Cálculo dos Funcionários</Name>
				<Description>Movimento e Cálculo dos Funcionários</Description>
				<Segment>Recursos Humanos</Segment>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Movimento Cálculo Funcionários</Description>
					<Adapter>ValoresHorasPagasDescAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="ListOfCalculatedTrans" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CalculatedTrans" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Movimento Calculado</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código da Empresa</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Codigo da Empresa</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>Codigo da Empresa</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código da Filial</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Codigo da Filial</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>Codigo da Filial</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CompanyInternalId da chave completa de empresa do produto</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>CompanyInternalId da chave completa de empresa do produto</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>CompanyInternalId da chave completa de empresa do produto</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="EmployeeCode" type="xs:string" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código do Funcionário</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código do Funcionário</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>Código do Funcionário</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>InternalId do Code</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>InternalId do Code</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>InternalId do Code</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="Month" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Mês de referência</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Mês de referência</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Mês de referência</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Janeiro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Fevereiro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>Março</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>Abril</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>Maio</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>Junho</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation>Julho</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="8">
													<xs:annotation>
														<xs:documentation>Agosto</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="9">
													<xs:annotation>
														<xs:documentation>Setembro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="10">
													<xs:annotation>
														<xs:documentation>Outubro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="11">
													<xs:annotation>
														<xs:documentation>Novembro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="12">
													<xs:annotation>
														<xs:documentation>Dezembro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Year" type="xs:integer" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Ano de Referência</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Ano de Referência</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Ano de Referência</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="PayrollType">
										<xs:annotation>
											<xs:documentation>Tipo da Folha de Pagamento</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Tipo da Folha de Pagamento</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Tipo da Folha de Pagamento</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Normal</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Adiantamento Normal</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>13o Salario</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>Adiantamento 13o</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InstallmentNumber" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Número da parcela calculada</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Número da parcela calculada</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Número da parcela calculada</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Valor Válido</xs:documentation>
													</xs:annotation>
												</xs:enumeration>

												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Valor Válido</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="9">
													<xs:annotation>
														<xs:documentation>Valor Válido</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EventCode" minOccurs="1" maxOccurs="1" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Código do Evento</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código do Evento</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Código do Evento</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="EventInformation">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Hour" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Quantidade de horas do evento</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Quantidade de horas do evento</Field>
																<Required>não</Required>
																<Type>decimal</Type>
																<Length>...</Length>
																<Description>Quantidade de horas do evento</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="EventValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Valor do lançamento</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Valor do lançamento</Field>
																<Required>não</Required>
																<Type>decimal</Type>
																<Length>...</Length>
																<Description>Valor do lançamento</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="NetIncidence" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Tipo de incidência no liquido</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Tipo de incidência no liquido</Field>
																<Required>não</Required>
																<Type>number</Type>
																<Length>...</Length>
																<Description>Tipo de incidência no liquido</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:enumeration value="1">
																<xs:annotation>
																	<xs:documentation>Positivo</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="2">
																<xs:annotation>
																	<xs:documentation>Negativo</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="3">
																<xs:annotation>
																	<xs:documentation>Não Incide</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="4">
																<xs:annotation>
																	<xs:documentation>Positivo Puro</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="5">
																<xs:annotation>
																	<xs:documentation>Negativo Puro</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="MultiplicationTax" type="xs:decimal" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Taxa de Multiplicação</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>Taxa de Multiplicação</Field>
																<Required>não</Required>
																<Type>number</Type>
																<Length>...</Length>
																<Description>Taxa de Multiplicação</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>