messages-xml/xmlschema/general/events/ChangeOfCultureAgricultural_2_000.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Charles Machado (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<!-- ===================================== -->
	<!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ===================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ApportionType_2_001.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM =========== -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ChangeOfCultureAgricultural</Name>
				<Description>Mudança de Cultura Agrícola</Description>
				<Segment>Agro Industria</Segment>

				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Product Owner</Description>
					<Adapter>MudancaCultura.java</Adapter>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>

				<ProductInformation product="PROTHEUS">
					<Contact>André Oliveira dos Anjos</Contact>
					<Description>GDP de Materiais</Description>
					<Adapter></Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Send>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Mudança de Cultura</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_BRG_MOV_EST</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_EMPRESA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:documentation>Filial</xs:documentation>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_FILIAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_EMPRESA</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UserRequesterCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Usuário Requisitante</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_SOLICITANTE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UserRequesterName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do usuario requisitante</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.DE_SOLICITANTE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>200</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UserRequesterInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do usuário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_SOLICITANTE</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MovimentDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data dda Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.DT_MOVIMENTO</Field>
							<Required>sim</Required>
							<Type>Date</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionOrderOriginCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Ordem de Produção de Origem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_ORDEM_ORI</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionOrderOriginInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificador da Ordem de Produção de Destino</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_CD_ORDEM_ORI</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionOrderDestinyCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Ordem de Produção de Destino</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_ORDEM_DES</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionOrderDestinyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificador da Ordem de Produção de Destino</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_CD_ORDEM_DES</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>



			<xs:element name="CostCenterOriginCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo de Origem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_CCUSTO_ORI</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterOriginInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_CCUSTO_ORI</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="CostCenterDestinyCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo de Origem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_CCUSTO_DES</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterDestinyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_CCUSTO_DES</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		<xs:element name="ListOfItem" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de Itens da Mudança de Cultura</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItemType">
		<xs:sequence>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do item da movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.CD_INSUMO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.ID_INSUMO</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UnitPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>

					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.QT_VALOR</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>16,6</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="TotalPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.QT_VALOR x BRG_MOV_EST.QT_CONSUMO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="Quantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>BRG_MOV_EST.QT_CONSUMO</Field>
							<Required>sim</Required>
							<Type>Numeriico</Type>
							<Length>38,4</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO                  -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>