messages-xml/xmlschema/general/events/ClosingOfInputsAgricultural_2_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>


	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Encerramento de Insumos Agrícola</Name>
				<Description>Movimento de Encerramento de Insumos Agrícola</Description>
				<Segment>AgroIndústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>...</Contact>
					<Description>......</Description>
					<Adapter>EncerramentoInsumo.java</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROPHIX">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>ADPXXXXX</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>

			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da empresa.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>20</Length>
							<Description>pode ter tamanho variável até 20</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>20</Length>
							<Description>pode ter tamanho variável até 20</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>InternalId da chave completa de empresa da Fazenda</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>BRG_ENCERRAMENTO.ID_BRG_ENCERRAMENTO</Field>
							<Required>sim</Required>
							<Type>char</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterCode" type="xs:string" minOccurs="0">

				<xs:annotation>

					<xs:documentation>Código do Centro de Custo</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">

							<Field/>

							<Required>não</Required>

							<Type>varchar</Type>

							<Length>50</Length>

							<Description>O InternalId do Centro de Custo é formado por EMPRESA|CTT_FILIAL|CTT_CUSTO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0">

				<xs:annotation>

					<xs:documentation>Id de integração do Centro de Custo</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">

							<Field/>

							<Required>não</Required>

							<Type>varchar</Type>

							<Length>50</Length>

							<Description>O InternalId do Centro de Custo é formado por EMPRESA|CTT_FILIAL|CTT_CUSTO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AgriculturalYearCode" minOccurs="0">

				<xs:annotation>

					<xs:documentation>Código do Ano Agrícola</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">

							<Field>SAFRA.CD_SAFRA</Field>

							<Required>sim</Required>

							<Type>Number</Type>

							<Length>10</Length>

							<Description>Código do Ano Agricola</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>

					<xs:restriction base="xs:string">

						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="AgriculturalYearInternalId" type="xs:string" minOccurs="0">

				<xs:annotation>

					<xs:documentation>InternalId da chave completa do Ano Agricola</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">

							<Field>SAFRA.ID_SAFRA</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FarmCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>UPNIVEL1.CD_UPNIVEL1</Field>
							<Required>sim</Required>
							<Type>Number</Type>
							<Length>10</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="FarmInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>UPNIVEL2.ID_UPNIVEL1</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionPeriodCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Periodo de Produção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>PERIODOSAFRA.CD_PER_SAFRA</Field>
							<Required>sim</Required>
							<Type>Number</Type>
							<Length>10</Length>
							<Description>Código do Periodo de Producao</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ProductionPeriodInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa do Periodo de Producao</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>PERIODOSAFRA.ID_PERIODOSAFRA</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ReferenceDate" type="xs:date" minOccurs="1">

				<xs:annotation>

					<xs:documentation>Data</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">

							<Field>CTG_DTFIM</Field>

							<Required>sim</Required>

							<Type>date</Type>

							<Length>8</Length>

							<Description>Data da exportacao do saldo</Description>
						</FieldDocumentation>

						<FieldDocumentation product="DATASUL">

							<Field>tabela.campo</Field>

							<Required>sim/não</Required>

							<Type>...</Type>

							<Length>...</Length>

							<Description>...</Description>
						</FieldDocumentation>

						<FieldDocumentation product="RM">

							<Field>tabela.campo</Field>

							<Required>sim/não</Required>

							<Type>...</Type>

							<Length>...</Length>

							<Description>...</Description>
						</FieldDocumentation>

						<FieldDocumentation product="PROXIMA-PIMS">

							<Field>tabela.campo</Field>

							<Required>sim/não</Required>

							<Type>...</Type>

							<Length>...</Length>

							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MovementType" minOccurs="0">

				<xs:annotation>

					<xs:documentation>Tipo de Movimento</xs:documentation>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>ENCERRAMENTO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>ABERTURA</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ListOfAccountantAccount" minOccurs="0" maxOccurs="1">

				<xs:complexType>

					<xs:annotation>

						<xs:documentation>Lista das Variedades</xs:documentation>
					</xs:annotation>

					<xs:sequence>

						<xs:element name="AccountantAccountInformation" type="AccountantAccountInformationType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="AccountantAccountInformationType">
		<xs:annotation>
			<xs:documentation>Amarração Talhão X Variedade</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountantAccountCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Conta Contábil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAcountInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Conta contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>titmmov.CODCCUSTO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>25</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SD3XX0.D3_CONTA</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>