messages-xml/xmlschema/general/events/CommercialFamily_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by a (TOTVS S.A.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
    <xs:include schemaLocation="../totvsmsg.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
		  <MessageDocumentation>
			<Name>CommercialFamily</Name>
			<Description>Família Comercial </Description>
			<Segment>Distribuição </Segment>
			<ProductInformation product="Datasul">
			  <Contact>Marcos Pedro da Silveira</Contact>
			  <Description>GDP Inovação Const. e Proj.</Description>
			  <Adapter>CommercialFamily</Adapter>
			  <Send>
				<Insert>sim</Insert>
				<Update>sim</Update>
				<Delete>sim</Delete>
			  </Send>
			  <Receive>
				<Insert>sim</Insert>
				<Update>sim</Update>
				<Delete>sim</Delete>
			  </Receive>
			</ProductInformation>
			<ProductInformation product="PROTHEUS">
			  <Contact/>
			  <Description/>
			  <Adapter>FATI140.PRW</Adapter>
			  <Send>
				<Insert>Sim</Insert>
				<Update>Sim</Update>
				<Delete>Sim</Delete>
			  </Send>
			  <Receive>
				<Insert>Não</Insert>
				<Update>Não</Update>
				<Delete>Não</Delete>
			  </Receive>
			</ProductInformation>			
		  </MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>	
	
    <xs:complexType name="BusinessContentType">
        <xs:sequence>
			<xs:element name="CompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codigo da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 4 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>Para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial já pelo Framework
											estando no ambiente (Empresa x Filial) correto
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
            <xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Código da Família Comercial</xs:documentation>
				<xs:appinfo>				
					<FieldDocumentation product="DATASUL">
								<Field>fm-cod-com</Field>
								<Required>Sim</Required>
								<Type>String</Type>
								<Length>8</Length>
								<Description></Description>
					</FieldDocumentation>
					<FieldDocumentation product="PROTHEUS">
								<Field>ACU_COD</Field>
								<Required>Sim</Required>
								<Type>String</Type>
								<Length>6</Length>
								<Description>Código da Categoria</Description>
					</FieldDocumentation>
				</xs:appinfo>
                </xs:annotation>								
            </xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>EMPRESA|FILIAL|CATEGORIA</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>50</Length>
							<Description>O InternalID do Codigo da Categoria é formado por EMPRESA|ACU_FILIAL|ACU_COD</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
            <xs:element name="Description" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Descrição da Família Comercial</xs:documentation>
				<xs:appinfo>				
					<FieldDocumentation product="DATASUL">
								<Field>descricao</Field>
								<Required>Sim</Required>
								<Type>String</Type>
								<Length>30</Length>
								<Description></Description>
					</FieldDocumentation>
					<FieldDocumentation product="PROTHEUS">
								<Field>ACU_DESC</Field>
								<Required>Sim</Required>
								<Type>String</Type>
								<Length>30</Length>
								<Description>Descrição da categoria</Description>
					</FieldDocumentation>
				</xs:appinfo>
                </xs:annotation>								
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="UnitOfMeasureCode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unidade de Medida</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="DATASUL">
									<Field>un</Field>
									<Required>Sim</Required>
									<Type>String</Type>
									<Length>2</Length>
									<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
									<Field></Field>
									<Required></Required>
									<Type></Type>
									<Length></Length>
									<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>								
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="SuperiorCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Código da Categoria Superior</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="PROTHEUS">
								<Field>ACU_CODPAI</Field>
								<Required>Não</Required>
								<Type>String</Type>
								<Length>6</Length>
								<Description>Código da Categoria Pai</Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>								
            </xs:element>
			<xs:element name="CompleteDescription" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Descrição completa</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="PROTHEUS">
								<Field></Field>
								<Required>Não</Required>
								<Type>String</Type>
								<Length>50</Length>
								<Description>Descrição completa da categoria (Descrição complementar). Se no cadastro esse campo existir, será enviado a TAG</Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>								
            </xs:element>
			<xs:element name="SortOrder" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Ordem da Categoria</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="PROTHEUS">
								<Field></Field>
								<Required>Não</Required>
								<Type>Int</Type>
								<Length>2</Length>
								<Description>Ordem de apresentação da categoria. Se no cadastro esse campo existir, será enviado a TAG</Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>								
            </xs:element>
			<xs:element name="Situation" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Situação? ("1-Inativo / 2-Ativo")</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="PROTHEUS">
								<Field></Field>
								<Required>Não</Required>
								<Type>String</Type>
								<Length>1</Length>
								<Description>Categoria bloqueada?</Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
			<xs:element name="HideSection" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Exibe a categoria? ("1-Ativo / 2-Inativo")</xs:documentation>
					<xs:appinfo>				
						<FieldDocumentation product="PROTHEUS">
								<Field></Field>
								<Required>Não</Required>
								<Type>String</Type>
								<Length>1</Length>
								<Description>Apresenta a categoria?</Description>
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
</xs:schema> 
