messages-xml/xmlschema/general/events/ControlSpin_2_000.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<!-- ===================================== -->
	<!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ===================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM =========== -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ControlSpin_1_001</Name>
				<Description>Controle de Rotação</Description>
				<Segment>Agro Industria</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>PO de Integtação TOTVS AGRO</Description>
					<Adapter>ControleRotacao.java</Adapter>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="DocumentCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROROTMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>Código da Movimentação</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId da Movimentação</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>MSIEMPRE.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>Strin</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>MSIEMPRE.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>Strin</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>tmov.codcoligada|tmov.codfilial</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MovementTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>Não</Required>
							<Type>varchar</Type>
							<Length>6</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="RegisterDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão da solicitação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>tmov.DATAEMISSAO</Field>
							<Required>sim</Required>
							<Type>datetime</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StartDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data/Hora Início</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROROTMOENDA.DT_HR_INICIO</Field>
							<Required>Sim</Required>
							<Type>Date</Type>
							<Length></Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EndDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data/Hora Fim</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROROTMOENDA.DT_HR_FIM</Field>
							<Required>Sim</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="Spin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rotação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROROTMOENDA.QT_ROT</Field>
							<Required>Sim</Required>
							<Type>Decimar</Type>
							<Length>18,6</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MillEquipamentCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Equipamento de Moagem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MillEquipamentInternalId">
				<xs:annotation>
					<xs:documentation>Internal ID do Moagem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="EquipamentCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Equipamento de Moagem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EquipamentInternalId">
				<xs:annotation>
					<xs:documentation>Internal ID do Equipamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description>Código</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StopReasonCode">
				<xs:annotation>
					<xs:documentation>Código Motivo Parada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StopReasonInternalId">
				<xs:annotation>
					<xs:documentation>Internal ID do Motivo Parada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROMOENDA.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StopCauseCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Causa Parada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código Causa da Parada</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StopCauseInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da Causa da Parada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>MSIEMPRE.CD_INT_ERP+PROCAUSAPAR.CD_INT_ERP</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="TeamCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Equipe</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="TeamCodeInternalId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Equipe</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.CD_INT_ERP</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="OperatorCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Operador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.CD_OPERADO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="OperatorCodeInternalId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Intenal ID do Operador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.CD_OPERADO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="Observation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROCAUSAPAR.DE_OBSERVACAO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO                  -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>