messages-xml/xmlschema/general/events/Contract_2_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<!-- ==================================== -->
	<!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ==================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Contract</Name>
				<Description>Cadastro de Contrato</Description>
				<Segment>Construção e Projetos</Segment>
				<ProductInformation product="RM">
					<Contact>Alaim Porto Alvarenga</Contact>
					<Description>GDP Inovação Const. e Proj.</Description>
					<Adapter>PrjContratoData</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Rodrigo de Toledo Silva</Contact>
					<Description>Product Owner - Gestão de Contratos e Licitações</Description>
					<Adapter>CNTI300</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Não</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Product Onwer - Squad Integração</Description>
					<Adapter>PrjContratoData</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>EMPRESA.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>FILIAL.CD_FILIAL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_FILIAL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>8</Length>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_CONTRATO.ID_SV_CONTRATO</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_NUMERO</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>O InternalId do contrato é EMPRESA|CN9_FILIAL|CN9_NUMERO|CN9_REVISA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do contrato</xs:documentation>

					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCFO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>25</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>NO_CONTRATO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>16</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_NUMERO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>15</Length>
							<Description>Número do Contrato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractReview" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Revisão do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>NO_REVISAO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_REVISA</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Sequência de Revisão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do projeto</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="BeginDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Inicio do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_CONTRATO.DT_INI_VALIDADE</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_DTINIC</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>8</Length>
							<Description>Data Inicio do Contrato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FinalDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data do Fim do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_CONTRATO.DT_FIM_VALIDADE</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_DTFIM</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>8</Length>
							<Description>Data Final do Contrato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PRESTSERV.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNAXX0.CNA_FORNEC</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>8</Length>
							<Description>O código do fornecedor é composto por CNA_FORNEC|CNA_LJFORN</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PRESTSERV.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA2XX0.A2_COD</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId do fornecedor é EMPRESA|A2_FILIAL|A2_COD|A2_LOJA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractTotalValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Total do Contrto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_VLATU</Field>
							<Required>sim</Required>
							<Type>Numeric</Type>
							<Length>16</Length>
							<Description>Valor Atual do Contrato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContractTypeCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN9XX0.CN9_TPCTO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Tipo do Contrato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractTypeInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Tipo de Contranto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CN1XX0.CN1_CODIGO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>O InternalId do tipo do contrato é formado por EMPRESA|CN1_FILIAL|CN1_CODIGO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfSheet" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de Planilhas</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Sheet" type="SheetType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SheetType">
		<xs:sequence>

			<xs:element name="SheetNumber" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero da Planilha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_CONTRATO_DE.NO_SEQUENCIA</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>3</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNAXX0.CNA_NUMERO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>6</Length>
							<Description>Número da Planilha</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="SheetType" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo da Planilha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_ORIGEM_PGTO.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>varChar</Type>
							<Length>20</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNAXX0.CNA_TIPPLA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Tipo da Planilha</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="UnitPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>SV_CONTRATO_DE.VL_UNIT_CB</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,6</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>

					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="SheetTotalValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total da Planilha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNAXX0.CNA_VLTOT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Tipo da Planilha</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ListOfItem" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de Itens</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>OPERACAO.CD_OPERACAO</Field>
							<Required>sim</Required>
							<Type>VarChar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_PRODUT</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>Produto</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>OPERACAO.ID_OPERACAO</Field>
							<Required>sim</Required>
							<Type>Numerico</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB1XX0.B1_COD</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>O InternalId do produto é formado por EMPRESA|B1_FILIAL|B1_COD</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAcountCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Conta contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>COMPONENTE.CD_INT_ERP</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_CONTA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>Conta Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountantAcountInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id de integração da Conta contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>COMPONENTE.ID_CONTACUSTO</Field>
							<Required>sim</Required>
							<Type>NUMERIC</Type>
							<Length>38</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CT1XX0.CT1_CONTA</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>O InternalId da Conta contábil é formado por EMPRESA|CT1_FILIAL|CT1_CONTA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_CC</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Description>Centro de Custo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CostCenterInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTTXX0.CTT_CUSTO</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>O InternalId do centro de custo é formado por EMPRESA|CTT_FILIAL|CTT_CUSTO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountingItemCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_ITEMCT</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Description>Item da Conta Contabil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AccountingItemInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id do Item Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTDXX0.CTD_ITEM</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>O InternalId do item contábil é formado por EMPRESA|CTD_FILIAL|CTD_ITEM</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe de valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_CLVL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Description>Classe de Valor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal Id da Classe de valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CTHXX0.CTD_CLVL</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>O InternalId da classe de valor é formado por EMPRESA|CTH_FILIAL|CTH_CLVL</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ItemQuantity" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,4</Length>
							<Description>Quantidade</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemUnitPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_VLUNIT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Valor Unitário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemTotalValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_VLTOT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Valor Total do Item</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PercentageOfDiscount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de Desconto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CNBXX0.CNB_DESC</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>6,2</Length>
							<Description>% de Desconto</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="6"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO                  -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS                 -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>