messages-xml/xmlschema/general/events/CoverageDocument_2_005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/Tax_1_001.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
  <xs:include schemaLocation="../types/VehicleInformationType_1_000.xsd"/>
	<xs:include schemaLocation="../types/GovernmentalInformation_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>CoverageDocument</Name>
					<Description>Documento de Cobertura</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Empresa|Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cod_empresa</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>2</Length>
							<Description>
                        Código da empresa
                        Formato do Campo: CHAR(02) 
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>estabelec.ep-codigo</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>Código da empresa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-estabel</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Código do estabelecimento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Estabelecimento/Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">							
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-estabel</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Código do estabelecimento. Tabela do De-para padrão do EAI: estabelec </Description>
						</FieldDocumentation>
						<FieldDocumentation inputdocument="PROTHEUS">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificador único do registro</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.num_nf + nf_sup.ser_nf + nf_sup.ies_especie_nf + nf_sup.cod_fornecedor</Field>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-emitente + "|" + docum-est.serie-docto + "|" + docum-est.nro-docto + "|" + docum-est.nat-operacao</Field>
							<Type>varchar</Type>
							<Description>EMITENTE|SERIE|DOCUMENTO|NATUREZAOPERACAO. Tabela do De-para padrão do EAI: docum-est </Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>EMPRESA|FILIAL|NF|SERIE|FORNECEDOR|LOJA</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber">
				<xs:annotation>
					<xs:documentation>Número do documento (NF Cobertura)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.num_nf</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>7,0</Length>
							<Description>
                        Número da nota fiscal definitiva
                        Formato do Campo: DECIMAL(7,0)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.nro-docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>16</Length>
							<Description>Número da nota fiscal. Mínimo de 7 dígitos, exemplo: Nota 458 = 0000458</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentSeries">
				<xs:annotation>
					<xs:documentation>Número de série do documento (NF Cobertura)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.ser_nf</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>
                        Série da nota fiscal definitiva
                        Formato do Campo: CHAR(03)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.serie-docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Série da nota fiscal</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fornecedor do documento de origem (NF Cobertura)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cod_fornecedor</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>15</Length>
							<Description>
                        Código do fornecedor da nota fiscal definitiva
                        Formato do Campo: CHAR(15)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-emitente</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>9</Length>
							<Description>Código do fornecedor</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerVendorInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificador do fornecedor do documento de origem (NF Cobertura)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>Empresa|Filial|Fornecedor|Loja</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerVendorCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fornecedor do documento de origem (NF Cobertura)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF e IE do fornecedor do documento de origem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.dat_emis_nf</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>
                        Data de emissão da NF definitiva
                        Formato do Campo: DATE
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.dt-emissao</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Description>Data de emissão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data de Recebimento/Digitação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.dat_entrada_nf</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>
                        Data de entrada
                        Formato do Campo: DATE
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.dt-trans</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Description>Data de transação/entrada do documento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceGrossValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Bruto da NF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.val_tot_nf_d</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor total da nota fiscal
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.tot-valor</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>13,2</Length>
							<Description>Valor total da nota fiscal</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SefazNFeKey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Chave da NF-e SEFAZ</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>sup_par_ar.parametro_texto (chav_aces_nf_eletr)</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>70</Length>
							<Description>
                        Chave da NF-e
                        Formato do Campo: CHAR(70)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-chave-aces-nf-eletro</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>60</Length>
							<Description>Chave da NF-e</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="44"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
                  InternalId da chave completa da Condição de
                  pagamento do documento
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>Empresa|Filial|Condição de pagamento</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da condição de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cnd_pgto_nf</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>3,0</Length>
							<Description>
                        Condição de pagamento
                        Formato do Campo: DECIMAL(3,0)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Description>Não se aplica. No ERP essa informação fica na Ordem Compra.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfDocument" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                  Tipo do documento
                  Logix é uma lista fixa
                  Datasul é uma lista fixa
                  Protheus é pré-cadastrado e permite mudar
                  RM é cadastro livre
                  Para entender como este campo irá funciona,
                  consulte o seguinte tópico da documento
                  TFS:TOTVSMSGXML \DEV\documentação\Padrão para
                  criação de mensagens únicas.docx
                  2.13.2 Conflito entre valores fixos e valores
                  cadastráveis
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.ies_especie_nf</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>
                        Espécie da nota fiscal
                        Formato do Campo: CHAR(03)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Description>Não se aplica. No ERP a espécie é atributo do movimento de estoque.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfTaxes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tax" type="TaxesType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfItems" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InvoiceDocumentSequence" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Sequência do Item na NF provisória</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>wms_iden_nf_rec_regularizacao.seq_ar_recebto</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>3,0</Length>
													<Description>
                                          Sequência do item da nota fiscal provisória
                                          Formato do Campo: DECIMAL(3,0)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.sequencia</Field>
													<Required>sim</Required>
													<Type>int</Type>
													<Length>9</Length>
													<Description>Número de sequência</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemInternalId" type="xs:string">
										<xs:annotation>
											<xs:documentation>InternalId da chave completa do produto</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>Empresa|Item</Field>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa|Filial|Produto</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ItemCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do item (produto) do documento de origem</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_item</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>15</Length>
													<Description>
                                          Código do item
                                          Formato do Campo: CHAR(15)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.it-codigo</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>16</Length>
													<Description>Código do item</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InternalId" type="xs:string">
										<xs:annotation>
											<xs:documentation>InternalId da chave completa do produto do documento</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa|Filial|Documento|Serie|Fornecedor|Loja|Tipo</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="DocumentNumber" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do documento (NF Provisória)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.num_nf</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>7,0</Length>
													<Description>
                                          Número da nota fiscal provisória
                                          Formato do Campo: DECIMAL(7,0)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cod-num-docto-relac</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>16</Length>
													<Description>Número do documento (NF Provisória): ext-item-doc-est.cod-param = NF-COBERTURA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DocumentSeries">
										<xs:annotation>
											<xs:documentation>Série do documento (NF Provisória)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.ser_nf</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>3</Length>
													<Description>
                                          Série da nota fiscal provisória
                                          Formato do Campo: CHAR(03)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cod-ser-docto-relac</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>5</Length>
													<Description>Série do documento (NF Provisória): ext-item-doc-est.cod-param = NF-COBERTURA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CustomerCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fornecedor do documento de origem (NF Provisória)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.cod_fornecedor</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>15</Length>
													<Description>
                                          Código do fornecedor da nota fiscal provisória
                                          Formato do Campo: CHAR(15)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cdn-emit-relac</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>9</Length>
													<Description>Fornecedor do documento (NF Provisória): ext-item-doc-est.cod-param = NF-COBERTURA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CustomerVendorInternalId" type="xs:string">
										<xs:annotation>
											<xs:documentation>Identificador do fornecedor da nota fiscal provisória</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa|Filial|Fornecedor|Loja</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerVendorCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fornecedor do documento de origem (NF Cobertura)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="InvoiceDocumentInternalId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Identificador único do registro da nota fiscal provisória</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.num_nf + nf_sup.ser_nf + nf_sup.ies_especie_nf + nf_sup.cod_fornecedor</Field>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>docum-est.cod-emitente + "|" + docum-est.serie-docto + "|" + docum-est.nro-docto + "|" + docum-est.nat-operacao</Field>
													<Type>varchar</Type>
													<Description>EMITENTE|SERIE|DOCUMENTO|NATUREZAOPERACAO. Tabela do De-para padrão do EAI: docum-est </Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>EMPRESA|FILIAL|NF|SERIE|FORNECEDOR|LOJA</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CoverageSequence" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Sequência do Item na NF de cobertura</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>wms_iden_nf_rec_regularizacao.seq_ar_regularizacao</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>3,0</Length>
													<Description>
                                          Sequência da nota fiscal de cobertura
                                          Formato do Campo: DECIMAL(3,0)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cdn-seq-relac</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>9</Length>
													<Description>Sequência do Item na NF Provisória: ext-item-doc-est.cod-param = NF-COBERTURA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitOfMeasure">
										<xs:annotation>
											<xs:documentation>Unidade de Medida</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_unid_med_nf</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>03</Length>
													<Description>
                                          Código da unidade de medida
                                          Formato do Campo: CHAR(03)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.un</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>2</Length>
													<Description>Código da unidade de medida</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitOfMeasureConversion">
										<xs:annotation>
											<xs:documentation>Fator de conversão da Unidade de Medida</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>fat_conver.fat_conver_unid</Field>
													<Type>decimal</Type>
													<Length>15,3</Length>
													<Description>
                                          Fator de conversão da unidade de medida
                                          Formato do Campo: DECIMAL(15,7)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Quantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade adquirida do produto (NF Cobertura)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>wms_iden_nf_rec_regularizacao.qtd_regularizada</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,3</Length>
													<Description>
                                          Quantidade regularizada
                                          Formato do Campo: DECIMAL(17,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.quantidade</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>10,4</Length>
													<Description>Quantidade declarada na nota fiscal</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="12"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Unitário</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pre_unit_nf</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,6</Length>
													<Description>
                                          Preço unitário do item na nota fiscal definitiva
                                          Formato do Campo: DECIMAL(17,6)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.preco-unit[1]</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>9,5</Length>
													<Description>Preço unitário</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DiscountValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor do Desconto no Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>(aviso_rec.val_desc_item * aviso_rec.qtd_declarad_nf)</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,6</Length>
													<Description>
                                          Valor de desconto do item (proporcional à quantidade que está sendo regularizada)
                                          Formato do Campo: DECIMAL(17,6)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.desconto[1]</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor de desconto</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="12"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TypeOperation" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tipo de Entrada da Nota</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.cod_operacao</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>7</Length>
													<Description>
                                          De/Para para TES referente ao CFOP (saída) da nota fiscal definitiva
                                          Formato do Campo: CHAR(07)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>Não há o conceito de TES no Datasul. Existe a Natureza de operação.</Field>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código Fiscal da Operação (Entrada) da NF definitiva</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_fiscal_item</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>7</Length>
													<Description>
                                          Código fiscal do item da NF definitiva
                                          Formato do Campo: CHAR(07)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cod-livre-1</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>4</Length>
													<Description>Código Fiscal da Operação (Entrada): ext-item-doc-est.cod-param = CFOP-ENTRADA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OutputOperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código Fiscal da Operação (Saída) da NF definitiva</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.cod_operacao</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>7</Length>
													<Description>
                                          CFOP de saída da NF definitiva
                                          Formato do Campo: CHAR(07)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>ext-item-doc-est.cod-livre-1</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>4</Length>
													<Description>Código Fiscal da Operação (Saída): ext-item-doc-est.cod-param = CFOP-SAIDA</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WarehouseInternalId" type="xs:string">
										<xs:annotation>
											<xs:documentation>Empresa|Filial|Local de estoque</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="WarehouseId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do Armazém</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_local_estoq</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>10</Length>
													<Description>
                                          Código do local de estoque
                                          Formato do Campo: CHAR(10)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.cod-depos</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>3</Length>
													<Description>Código do Depósito</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CalculationBasisIPI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base de Cálculo IPI</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>SUM(aviso_rec.val_base_d_ipi_it) ou SUM(aviso_rec.val_base_c_ipi_it)</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Base de cálculo do IPI (declarado ou calculado)
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.base-ipi[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Base de cálculo do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPITaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de IPI</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pct_ipi_declarad ou aviso_rec.pct_ipi_tabela</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>6,3</Length>
													<Description>
                                          Percentual do IPI
                                          Formato do Campo: DECIMAL(6,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.aliquota-ipi</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>3,2</Length>
													<Description>Aliquota do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPIValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor IPI do Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_ipi_decl_item ou aviso_rec.val_ipi_calc_item</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do IPI
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.valor-ipi[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
                   <xs:element name="IPITaxType" minOccurs="0">
                      <xs:annotation>
                         <xs:documentation>Tipo de tributação do IPI</xs:documentation>
                         <xs:appinfo>
                            <FieldDocumentation product="LOGIX">
                               <Field>aviso_rec.ies_tip_incid_ipi</Field>
                               <Required>sim</Required>
                               <Type>char</Type>
                               <Length>1</Length>
                               <Description>
                                  Tipo de incidência do IPI
                               </Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="DATASUL">
                            </FieldDocumentation>
                            <FieldDocumentation product="PROTHEUS">
                            </FieldDocumentation>
                         </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                         <xs:restriction base="xs:string">
                            <xs:enumeration value="C">
                              <xs:annotation>
                                <xs:documentation>COM CREDITO/TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="I">
                              <xs:annotation>
                                <xs:documentation>ISENTO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="O">
                              <xs:annotation>
                                <xs:documentation>OUTROS</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                         </xs:restriction>
                      </xs:simpleType>
                   </xs:element>
									<xs:element name="CalculationBasisICMS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base do ICMS</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_base_c_item_d ou aviso_rec.val_base_c_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Base de cálculo do ICMS
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.base-icm[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Base de cálculo do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSTaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de ICMS</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pct_icms_item_d ou aviso_rec.pct_icms_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>6,3</Length>
													<Description>
                                          Percentual do ICMS
                                          Formato do Campo: DECIMAL(6,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.aliquota-icm</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>3,2</Length>
													<Description>Aliquota do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor ICMS do Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_icms_item_d ou aviso_rec.val_icms_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do ICMS
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.valor-icm[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
                   <xs:element name="AdditionalItem" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                         <xs:documentation>Indicador de Item Adicional</xs:documentation>
                         <xs:appinfo>
                            <FieldDocumentation product="LOGIX">
                               <Field>aviso_rec.num_seq</Field>
                               <Required>Sim</Required>
                               <Type>String</Type>
                               <Length>1</Length>
                               <Description>Indicador se é ou não item adicional identificado no recebimento</Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="PROTHEUS">
                               <Field></Field>
                               <Required></Required>
                               <Type></Type>
                               <Length></Length>
                               <Description></Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="DATASUL">
                               <Field></Field>
                               <Required></Required>
                               <Type></Type>
                               <Length></Length>
                               <Description></Description>
                            </FieldDocumentation>
                         </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                         <xs:restriction base="xs:string">
                            <xs:enumeration value="0">
                               <xs:annotation>
                                  <xs:documentation>Não</xs:documentation>
                               </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="1">
                               <xs:annotation>
                                  <xs:documentation>Sim</xs:documentation>
                               </xs:annotation>
                            </xs:enumeration>
                         </xs:restriction>
                      </xs:simpleType>
									</xs:element>
									<xs:element name="VehicleInformation" type="VehicleInformationType" maxOccurs="1" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações do veículo</xs:documentation>
										</xs:annotation>
									</xs:element>									
									<xs:element name="PercentageReductionBasisICMS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Percentual de Redução da Base de Cálculo do ICMS</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>(1 - (aviso_rec.val_base_c_item_d / aviso_rec.val_liquido_item)) * 100</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>5,2</Length>
													<Description>
                                          Percentual de redução da base de cálculo do ICMS
                                          Formato do Campo: DECIMAL(5,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								   <xs:element name="ICMSTaxType" minOccurs="0">
                      <xs:annotation>
                         <xs:documentation>Tipo de tributação do ICMS</xs:documentation>
                         <xs:appinfo>
                            <FieldDocumentation product="LOGIX">
                               <Field>aviso_rec.ies_incid_icms_ite</Field>
                               <Required>sim</Required>
                               <Type>char</Type>
                               <Length>1</Length>
                               <Description>
                                  Tipo de incidência do ICMS
                               </Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="DATASUL">
                            </FieldDocumentation>
                            <FieldDocumentation product="PROTHEUS">
                            </FieldDocumentation>
                         </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                         <xs:restriction base="xs:string">
                            <xs:enumeration value="C">
                              <xs:annotation>
                                <xs:documentation>COM CREDITO/TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="I">
                              <xs:annotation>
                                <xs:documentation>ISENTO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="O">
                              <xs:annotation>
                                <xs:documentation>OUTROS</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="E">
                              <xs:annotation>
                                <xs:documentation>ESPECIAL</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="N">
                              <xs:annotation>
                                <xs:documentation>SEM CRÉDITO/NÃO TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="U">
                              <xs:annotation>
                                <xs:documentation>SUSPENSO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="D">
                              <xs:annotation>
                                <xs:documentation>DIFERIDO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="S">
                              <xs:annotation>
                                <xs:documentation>SEM APROVEITAMENTO DE CRÉDITO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                         </xs:restriction>
                      </xs:simpleType>
                   </xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfReturnedDocuments" type="ListOfReturnedDocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Notas fiscais de cobertura retornadas</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfReturnedDocumentType">
		<xs:sequence>
			<xs:element name="ReturnedDocument" type="ReturnedDocumentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnedDocumentType">
		<xs:sequence>
			<xs:element name="InputDocumentNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da NF de entrada provisória</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDocumentSeries" type="xs:string">
				<xs:annotation>
					<xs:documentation>Série da NF de entrada provisória</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDocumentCustomerCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do fornecedor/cliente da entrada provisória</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDocumentSequence" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequência do item da NF de entrada provisória</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverageDocumentNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Número da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverageDocumentSeries" type="xs:string">
				<xs:annotation>
					<xs:documentation>Serie da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverageDocumentCustomerCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do fornecedor/cliente da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverageDocumentSequence" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sequencia da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalSequence" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nova sequencia do item . Devolver a sequencia para gravação do De/Para</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>
