messages-xml/xmlschema/general/events/CoverageDocument_1_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/Tax_1_001.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>CoverageDocument</Name>
					<Description>Documento de Cobertura</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentNumber">
				<xs:annotation>
					<xs:documentation>Número do documento (NF Cobertura)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentSeries">
				<xs:annotation>
					<xs:documentation>Número de série do documento (NF Cobertura)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fornecedor do documento de origem (NF Cobertura)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Entrada / Recebimento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceGrossValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Bruto da NF</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SefazNFeKey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Chave da NF-e SEFAZ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="44"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da condição de pagamento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfDocument" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Tipo do documento
						- Logix é uma lista fixa
						- Datasul é uma lista fixa
						- Protheus é pré-cadastrado e permite mudar
						- RM é cadastro livre
						
						Para entender como este campo irá funciona, consulte o seguinte tópico
						da documento 
						
						TFS:TOTVSMSGXML \DEV\documentação\Padrão para criação de mensagens únicas.docx
						
						2.13.2 Conflito entre valores fixos e valores cadastráveis
						
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfTaxes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tax" type="TaxesType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfItems" minOccurs="0"
				maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" minOccurs="1"
							maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InvoiceDocumentSequence" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Sequência do Item na NF de Cobertura</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do item (produto) do documento de origem</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DocumentNumber" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do documento (NF Provisória)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DocumentSeries">
										<xs:annotation>
											<xs:documentation>Série do documento (NF Provisória)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CustomerCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fornecedor do documento de origem (NF Cobertura)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CoverageSequence" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Sequência do Item na NF Provisória</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Quantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade adquirida do produto (NF Cobertura)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="12"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Unitário</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DiscountValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor do Desconto no Item</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="12"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TypeOperation" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tipo de Entrada da Nota</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"></xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código Fiscal da Operação</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"></xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WarehouseId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do Armazém</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"></xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>									
									<xs:element name="CalculationBasisIPI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base de Cálculo IPI</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPITaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de IPI</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPIValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor IPI do Item</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CalculationBasisICMS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base do ICMS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSTaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de ICMS</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor ICMS do Item</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	
	<xs:complexType name="ReturnContentType">
		<xs:sequence>      
			<xs:element name="ListOfReturnedDocuments"	minOccurs="0" type="ListOfReturnedDocumentType">
				<xs:annotation>
					<xs:documentation>Notas fiscais de cobertura retornadas</xs:documentation>
				</xs:annotation>			
			</xs:element>
	  	</xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="ListOfReturnedDocumentType">
		<xs:sequence>
			<xs:element name="ReturnedDocument" type="ReturnedDocumentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	  
	<xs:complexType name="ReturnedDocumentType">
		<xs:sequence>
			<xs:element name="InputDocumentNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da NF de entrada provisória</xs:documentation>
				</xs:annotation>					
			</xs:element>
			<xs:element name="InputDocumentSeries" type="xs:string" >
				<xs:annotation>
					<xs:documentation>Série da NF de entrada provisória</xs:documentation>
				</xs:annotation>					
			</xs:element>
			<xs:element name="InputDocumentCustomerCode" type="xs:string" >
				<xs:annotation>
					<xs:documentation>Código do fornecedor/cliente da entrada provisória</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDocumentSequence" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequência do item da NF de entrada provisória</xs:documentation>
				</xs:annotation>					
			</xs:element>
			<xs:element name="CoverageDocumentNumber"   type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Número da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>					
			</xs:element>
			<xs:element name="CoverageDocumentSeries"  type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>					
			</xs:element>
			<xs:element name="CoverageDocumentCustomerCode"  type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do fornecedor/cliente da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverageDocumentSequence"  type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Sequencia da Nota Fiscal de Cobertura</xs:documentation>
				</xs:annotation>					
			</xs:element>	
			<xs:element name="ExternalSequence" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nova sequencia do item . Devolver a sequencia para gravação do De/Para</xs:documentation>
				</xs:annotation>
			</xs:element>		
		</xs:sequence>
	</xs:complexType> 
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"></xs:element>

</xs:schema>