messages-xml/xmlschema/general/events/CustomerVendor_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"	elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/Address_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/CommunicationInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ContactInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/GovernmentalInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>CustomerVendor</Name>
					<Description>Cadastro de Fornecedores e Vendedores</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Cliente/Forncedor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da entidade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome Reduzido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do Cliente/Fornecedor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo do Registro:
Customer	Cliente
Vendor		Fornecedor
Both		Ambos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Customer"><xs:annotation><xs:documentation>Cliente</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Vendor"><xs:annotation><xs:documentation>Fornecedor</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Both"><xs:annotation><xs:documentation>Ambos</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EntityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Pessoa:
Person		Física
Company		Jurídica</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Person"><xs:annotation><xs:documentation>Pessoa Física</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Company"><xs:annotation><xs:documentation>Pessoa Jurídica</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MarketSegment" type="MarketSegmentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Segmento de Mercado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de registro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterSituation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Situação:
Active 		Ativo
Inactive 	Inativo
Canceled 	Cancelado
Pending		Pendente
Suspended	Suspenso</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Active"><xs:annotation><xs:documentation>Ativo</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Inactive"><xs:annotation><xs:documentation>Inativo</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Canceled"><xs:annotation><xs:documentation>Cancelado</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Pending"><xs:annotation><xs:documentation>Pendente</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Suspended"><xs:annotation><xs:documentation>Suspenso</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Observações</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datasul: Address = pessoa_jurid.nom_endereco(40), Number = ???, Complement = pessoa_jurid.nom_endereco_compl(10), CityCode = ???, CityName = pessoa_jurid.nom_cidade(32), District = pessoa_jurid.nom_bairro(20), State = pessoa_jurid.cod_unid_federac(3), Country = ??,ZIPCode = pessoa_jurid.cod_cep(20),Region=???</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingAddress" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datasul: Address = pessoa_jurid.nom_endereco(40), Number = ???, Complement = pessoa_jurid.nom_endereco_compl(10), CityCode = ???, CityName = pessoa_jurid.nom_cidade(32), District = pessoa_jurid.nom_bairro(20), State = pessoa_jurid.cod_unid_federac(3), Country = ??,ZIPCode = pessoa_jurid.cod_cep(20),Region=???</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfCommunicationInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommunicationInformation" type="CommunicationInformationType" maxOccurs="unbounded" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datasul: PhoneNumber= emitente.telefone ou .pessoa_jurid.cod_telefone ou pessoa_fisic.cod_telefone (15) PhoneExtension = emitente.ramal ou pessoa_jurid.cod_ramal ou pessoa_fisic.cod_ramal (5), FaxNumber = cont-emit.telefax ou contato.cod_fax_contat (15), FaxNumberExtension = cont-emit.ramal-fax ou contato.cod_ramal_fax_contat char (5), HomePage = emitente.home-page ou pessoa_jurid.nom_home_page ou pessoa_fisic.nom_home_page char (40), Email = emitente.e-mail ou pessoa_jurid.cod_e_mail ou pessoa_fisic.cod_e_mail char (40).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfContacts" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Contact" type="ContactInformationType" maxOccurs="unbounded" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datasul: Code = contato.num_pessoa_fisic (int), Title = cont-emit.cargo (20), Name = cont-emit.nome ou contato.nom_pessoa (40), Department = cont-emit.area (18), Address: (Address = pessoa_jurid.nom_endereco(40), Number = ???, Complement = pessoa_jurid.nom_endereco_compl(10), CityCode = ???, CityName = pessoa_jurid.nom_cidade(32), District = pessoa_jurid.nom_bairro(20), State = pessoa_jurid.cod_unid_federac(3), Country = ??,ZIPCode = pessoa_jurid.cod_cep(20),Region=???)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfBankingInformation" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BankingInformation" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BankCode" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do banco</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BankInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>InternalId do BankCode</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BankName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Nome do banco</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BranchCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BranchKey" minOccurs="0">
										<xs:annotation>
											<xs:documentation></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CheckingAccountNumber" minOccurs="0">
										<xs:annotation>
											<xs:documentation></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CheckingAccountNumberKey" minOccurs="0">
										<xs:annotation>
											<xs:documentation></xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BillingInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BillingCustomerCode"
							type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Datasul: BillingCustomerCode =
									emitente.cod-cobranca ou
									pessoa_jurid.num_pessoa_jurid_cobr
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BillingCustomerInternalId"
							type="xs:string" maxOccurs="1" minOccurs="0">
						</xs:element>
						<xs:element name="Address" type="AddressType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Datasul: Address =
									pessoa_jurid.nom_ender_cobr(40),
									Number = ???, Complement =
									pessoa_jurid.nom_ender_cobr_compl(10),
									CityCode = ???, CityName =
									pessoa_jurid.nom_cidad_cobr(32),
									District =
									pessoa_jurid.nom_bairro_cobr(20),
									State =
									pessoa_jurid.cod_unid_federac_cobr(3),
									Country = ??,ZIPCode =
									pessoa_jurid.cod_cep_cobr(20),Region=???
									ou Address =
									emitente.endereco-cob(40), Number =
									???, Complement = ???, CityCode =
									???, CityName =
									emitente.cidade-cob(25), District =
									emitente.bairro-cob(30), State =
									emitente.estado-cobr(4), Country =
									emitente.pais-cob(20),ZIPCode =
									emitente.cep-cob(12),Region=???
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VendorInformation" type="VendorInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FiscalInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Category" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"></xs:maxLength>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IsRetentionAgent" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TaxPayer" type="TaxPayerType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreditInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CreditIndicator" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreditEvaluation" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ShipmentCreditEvaluation" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreditLimit" type="xs:double" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreditLimitCurrency" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CreditLimitDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalCreditLimit" type="xs:double" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalCreditLimitCurrency" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalCreditLimitDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LatePeriods" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation></xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BalanceOfCredit" type="xs:double" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Valor do saldo restante do cliente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentConditionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Prazo de Pagamento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" ></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentConditionInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do PaymentConditionCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceListHeaderItemCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Tabela de Preço</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceListHeaderItemInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do PriceListHeaderItemCode</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketSegmentType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MarketSegmentCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketSegmentInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do MarketSegmentCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketSegmentDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VendorInformationType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VendorClassification" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Raw Material"><xs:annotation><xs:documentation>Matéria Prima</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Service"><xs:annotation><xs:documentation>Serviço</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Both"><xs:annotation><xs:documentation>Ambos</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="Generic"><xs:annotation><xs:documentation>Genérico</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VendorType" type="VendorTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VendorTypeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VendorTypeCode" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorTypeInternalId" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do VendorTypeCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorTypeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPayerType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:attribute name="TaxName" type="xs:string">
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isPayer" type="xs:boolean">
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Mode" type="xs:string">
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>