messages-xml/xmlschema/general/events/DeliverySchedule_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- TOTVS Colaboracao - Schema Pedido - Tipos Complexos -->
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>DeliverySchedule</Name>
					<Description>Agenda de Entrega</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:all>
			<xs:element name="funcmsgprog" type="tsfuncmsgprog" minOccurs="1" maxOccurs="1"/>
			<xs:element name="documentnumber" type="tsdocumentnumber" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dhemisdocument" type="tsDataTempo" minOccurs="1" maxOccurs="1"/>
			<xs:element name="supplierean" type="tsean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerean" type="tsean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vendortaxid" type="tscnpj" minOccurs="1" maxOccurs="1"/>
			<xs:element name="buyercnpj" type="tscnpj" minOccurs="1" maxOccurs="1"/>
			<xs:element name="vendorname" type="tsvendorname" minOccurs="0" maxOccurs="1"/>
			<xs:element name="corporatebuyer" type="tscorporatebuyer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="codbuyer" type="tscodbuyer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="vendornumber" type="tsvendornumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transpmode" type="tstranspmode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="observation" type="tsobservation" minOccurs="0" maxOccurs="1"/>
			<!-- INICIO Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
			<xs:element name="qtdconditionunit" type="tsqtdconditionunit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="codtypepack" type="tscodtypepack" minOccurs="0" maxOccurs="1"/>
			<xs:element name="idtypepackage" type="tsidtypepackage" minOccurs="0" maxOccurs="1"/>
			<xs:element name="codroute" type="tscodroute" minOccurs="0" maxOccurs="1"/>
			<!-- FIM Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
			<xs:element name="OTHER" type="tcother" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LISTOFITENSDELIVERYSCHEDULING" type="tclist"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="tcaddfield">
		<xs:sequence>
			<xs:element name="field" type="tsfield" minOccurs="1" maxOccurs="1"/>
			<xs:element name="value" type="tsvalue" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcaddfields">
		<xs:sequence minOccurs="1" maxOccurs="20">
			<xs:element name="ADDFIELD" type="tcaddfield" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcother">
		<xs:sequence>
			<xs:element name="ADDFIELDS" type="tcaddfields" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcdelivery">
		<xs:all>
			<xs:element name="idremit" type="tsidremit" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dhdeliveryremit" type="tsDataTempo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantrequest" type="tstam15dec3" minOccurs="1" maxOccurs="1"/>
			<xs:element name="mensuunitprogdeli" type="tsunitofmeasure" minOccurs="1" maxOccurs="1"/>
			<xs:element name="descunitmensure" type="tsdescunitmeasure" minOccurs="1" maxOccurs="1"/>
			<xs:element name="deliverystatus" type="tsdeliverystatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lotnum" type="tslotnum" minOccurs="0" maxOccurs="1"/>
			<!-- INICIO Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
			<xs:element name="coddelivery" type="tscoddelivery" minOccurs="0" maxOccurs="1"/>
			<xs:element name="numbercall" type="tsnumbercall" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lastnumbercall" type="tslastnumbercall" minOccurs="0" maxOccurs="1"/>
			<!-- FIM Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
			<xs:element name="LISTOFDELIVERYSCHEDULINGTAG" type="tcListofDeliveryTag" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tcListofDeliveryTag">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="TAG" type="tcTagdelivery" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcTagdelivery">
		<xs:sequence>
			<xs:element name="tagcode" type="tstagcode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tagquantity" type="tstam16dec4" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcdeliveries">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="DELIVERY" type="tcdelivery" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcpacking">
		<xs:all>
			<xs:element name="idresponsi" type="tsidresponsi" minOccurs="0" maxOccurs="1"/>
			<xs:element name="primarypacksupl" type="tsprimarypacksupl" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capacipacksuppl" type="tstam15dec2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="secpacksupl" type="tssecpacksupl" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capacisecpack" type="tstam15dec2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="secpackclient" type="tssecpackclient" minOccurs="0" maxOccurs="1"/>
			<!-- INICIO Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
			<xs:element name="qtdmultiple" type="tsqtdmultiple" minOccurs="0" maxOccurs="1"/>
			<xs:element name="qtdmultipleum" type="tsqtdmultipleum" minOccurs="0" maxOccurs="1"/>
			<!-- FIM Tags incluidas apos validacao do ultimo layout da Neogrid 13/06/2012 -->
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tcitens">
		<xs:all>
			<xs:element name="numseqlineitem" type="tsnumseqlineitem" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numitem" type="tsnumitem" minOccurs="0" maxOccurs="1"/>
			<xs:element name="actionitem" type="tsactionitem" minOccurs="0" maxOccurs="1"/>
			<xs:element name="typecodprod" type="tstypecodprod" minOccurs="1" maxOccurs="1"/>
			<xs:element name="itemcode" type="tsitemcode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="prodcodsuplli" type="tsprodcodsuplli" minOccurs="0" maxOccurs="1"/>
			<xs:element name="itemdescription" type="tsitemdescription" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referencecode" type="tsreferencecode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tecalteration" type="tstecalteration" minOccurs="0" maxOccurs="1"/>
			<xs:element name="numbuyrequest" type="tsnumbuyrequest" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numlastinvoice" type="tsnumlastinvoice" minOccurs="1" maxOccurs="1"/>
			<xs:element name="serielastinvoice" type="tsserielastinvoice" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dtemislastinvoice" type="tsDataTempoTexto" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dtlastdelivery" type="tsDataTempoTexto" minOccurs="1" maxOccurs="1"/>
			<xs:element name="quantboards" type="tstam15dec4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantlastdeliv" type="tstam15dec4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantreceiv" type="tstam15dec4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantplann" type="tstam15dec4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="manufactdest" type="tsmanufactdest" minOccurs="0" maxOccurs="1"/>
			<xs:element name="placedischarge" type="tsplacedischarge" minOccurs="0" maxOccurs="1"/>
			<xs:element name="programtype" type="tsprogramtype" minOccurs="0" maxOccurs="1"/>
			<xs:element name="supplyfreq" type="tssupplyfreq" minOccurs="0" maxOccurs="1"/>
			<xs:element name="typesupply" type="tstypesupply" minOccurs="1" maxOccurs="1"/>
			<xs:element name="decimals" type="tsdecimals" minOccurs="0" maxOccurs="1"/>
			<xs:element name="weightitem" type="tstam15dec3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unitofmeasurecode" type="tsunitofmeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="convfactor" type="tstam10dec5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="prodcoderpbuy" type="tsprodcoderpbuy" minOccurs="0" maxOccurs="1"/>			
			<xs:element name="internalmensuunit" type="tssupllimensuunit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="supllimensuunit" type="tsdescunitmeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="descunitmensure" type="tsdescunitmeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="descunimensuplli" type="tsdescunitmeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DELIVERIES" type="tcdeliveries" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PACKING" type="tcpacking" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OTHER" type="tcother" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="tclist">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="ITENSDELIVERYSCHEDULINGINFORMATION" type="tcitens" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tsData">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="tsDataTempo">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
  <xs:simpleType name="tsDataTempoTexto">
    <xs:annotation>
      <xs:documentation>Tipo data AAAA-MM-DDThh:mm:ss</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="19"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="tsfuncmsgprog">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsdocumentnumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsean">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[1-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscnpj">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsvendorname">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscorporatebuyer">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscodbuyer">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsvendornumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstranspmode">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsfield">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsvalue">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumseqlineitem">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumitem">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="9"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsactionitem">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstypecodprod">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="UP"/>
			<xs:enumeration value="BP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsitemcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsprodcodsuplli">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsitemdescription">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstecalteration">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="0"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumbuyrequest">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumlastinvoice">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="9"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsserielastinvoice">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam10dec5">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
			<xs:fractionDigits value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam15dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam15dec4">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam15dec2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="2"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam16dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstam16dec4">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsmanufactdest">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsplacedischarge">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsprogramtype">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssupplyfreq">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstypesupply">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsdecimals">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsunitofmeasurecode">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="GRM"/>
			<xs:pattern value="KGM"/>
			<xs:pattern value="MCG"/>
			<xs:pattern value="MGM"/>
			<xs:pattern value="TNE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsunitofmeasure">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsdescunitmeasure">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsprodcoderpbuy">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsinternalmensuunit">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssupplimensuunit">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsidremit">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsdeliverystatus">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="10E"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>     
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsidresponsi">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsprimarypacksupl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssecpacksupl">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssecpackclient">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tslabelgrade">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsvaluegrade">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsobservation">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tslotnum">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssupllimensuunit">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsproductcodegrid">
		<xs:annotation>
			<xs:documentation>Código do produto identificando os itens que compõe a grade de produtos</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsmensuunitgrid">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tssizeitemgrid">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscoloritemgrid">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumpackgrid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsaddress">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsnumbervolume">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tspartnumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsserialnumber">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsdesccondition">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsOrderLineInvoc">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tstagcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsreferencecode">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsqtdconditionunit">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscodtypepack">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tsidtypepackage">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscodroute">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tscoddelivery">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="tsnumbercall">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tslastnumbercall">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="tsqtdmultiple">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="tsqtdmultipleum">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>	
	
</xs:schema>
