messages-xml/xmlschema/general/events/DisciplineEnrollment_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>DisciplineEnrollment</Name>
        <Description>Matrícula do aluno</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Franciel Silva Batista</Contact>
          <Description>Matrícula do aluno</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact></Contact>
          <Description></Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="BusinessContentType">
    <xs:sequence>

      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Coligada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineClassCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id da turma da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.IDTURMADISC</Field>
              <Required>Sim</Required>
              <Type>int</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineClassInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da turma da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODCOLIGADA|STURMADISC.IDTURMADISC</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StudentCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do aluno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SALUNO.RA</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length>20</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_ENROLLMENT.USER_RA</Field>
              <Required>Sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StudentInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Aluno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SALUNO.CODCOLIGADA|SALUNO.RA</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da matrícula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.CODCOLIGADA|SMATRICULA.IDTURMADISC|SMATRICULA.RA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_ENROLLMENT.ID_EXTERNAL</Field>
              <Required>Não</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StatusCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do status</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.CODSTATUS</Field>
              <Required>Sim</Required>
              <Type>int</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StatusInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do código do status</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SSTATUS.CODCOLIGADA|SSTATUS.CODSTATUS</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StatusResCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do status do resultado</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.CODSTATUSRES</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StatusResInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do código do status do resultado</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SSTATUS.CODCOLIGADA|SSTATUS.CODSTATUS</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TermCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id. do período letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TermInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Período Letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.CODCOLIGADA|SPLETIVO.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpecializationBranchCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id da habilitação da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.IDHABILITACAOFILIAL</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpecializationBranchInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave da habilitação da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SHABILITACAOFILIAL.CODCOLIGADA|SHABILITACAOFILIAL.IDHABILITACAOFILIAL</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DiaryNumber" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número do aluno no diário</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.NUMDIARIO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="EnrollmentTypeCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de matrícula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.TIPOMAT</Field>
              <Required>Não</Required>
              <Type>smallint</Type>
              <Length>3</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="EnrollmentTypeInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do código do tipo de matrícula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOMATRICULA.CODCOLIGADA|STIPOMATRICULA.CODTIPOMAT</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineTypeCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.TIPODISCIPLINA</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Normal</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="I">
              <xs:annotation>
                <xs:documentation>Interna</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E">
              <xs:annotation>
                <xs:documentation>Extra</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
              <xs:annotation>
                <xs:documentation>Dependencia</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="ChargeValueAfterEnrollment" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cobrança do valor de disciplina após a matrícula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICULA.COBPOSTERIORMATRIC</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Sim</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Não</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="BehaviorEnrollment" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica se a matrícula está ativa (matriculado) ou bloqueada (trancado)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SSTATUS.COBPOSTERIORMATRIC</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A">
              <xs:annotation>
                <xs:documentation>Ativo</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="I">
              <xs:annotation>
                <xs:documentation>Inativo</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="PersonInternalID" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>InternalId da Pessoa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.CODIGO</Field>
              <Required>Sim</Required>
              <Type>int</Type>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_USER.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>