messages-xml/xmlschema/general/events/Discipline_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>Discipline</Name>
        <Description>Disciplinas da matriz curricular</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Franciel Silva Batista</Contact>
          <Description>Disciplina da matriz curricular</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact>Diego Lopes</Contact>
          <Description>Disciplinas</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>Não</Insert>
            <Update>Não</Update>
            <Delete>Não</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisciplineCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.CODDISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>20</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.CODCOLIGADA|SDISCIPLINA.CODDISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE_ITEM.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Denominação da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.NOME</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>100</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE.ID_NAME</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>255</Length>
              <Description>A coluna ID_NAME da Disciplina referencia a tabela ELE_TRANSLATE_ITEM.ID onde se obtem ELE_TRANSLATE_ITEM.STRING_VALUE</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome reduzido da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.NOMEREDUZIDO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>30</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE_CATALOG_ITEM.CODE</Field>
              <Required>Não</Required>
              <Type>String</Type>
              <Length>50</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LevelEducationCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de curso (Nível de Ensino)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.CODTIPOCURSO</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LevelEducationInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do código do tipo de curso (Nível de ensino)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOCURSO.CODCOLIGADA|STIPOCURSO.CODTIPOCURSO</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LevelEducationDescription" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição do Nível de ensino</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOCURSO.NOME</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>60</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="GradeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de nota</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.TIPONOTA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Numérico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C">
              <xs:annotation>
                <xs:documentation>Conceitual</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LessonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de aula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.TIPOAULA</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="T">
              <xs:annotation>
                <xs:documentation>Teórica</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="P">
              <xs:annotation>
                <xs:documentation>Prática</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
              <xs:annotation>
                <xs:documentation>Mista</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CourseLoad" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Carga horária</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROVAS.CH</Field>
              <Required>Não</Required>
              <Type>Decimal</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CourseLoadHour" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Carga horária em horas</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROVAS.CHHORA</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length/>
              <Description>Carga Horária convertida em horas</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>WORKLOAD</Field>
              <Required>Não</Required>
              <Type>Integer</Type>
              <Length>11</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="RangeCredits" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de créditos</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROVAS.NUMCREDITOS</Field>
              <Required>Não</Required>
              <Type>Decimal</Type>
              <Length/>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>