messages-xml/xmlschema/general/events/DisciplineClass_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>DisciplineClass</Name>
        <Description>Turma/disciplina</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Franciel Silva Batista</Contact>
          <Description>Turmas de uma disciplina</Description>
          <Adapter/>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact/>
          <Description/>
          <Adapter/>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Coligada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>2</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchId"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODFILIAL</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length>3</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>GFILIAL.NOMEFANTASIA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>100</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length/>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do código da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>GFILIAL.CODCOLIGADA|GFILIAL.CODFILIAL</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisciplineClassId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id da turma da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.IDTURMADISC</Field>
              <Required>Sim</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="InternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODCOLIGADA|STURMADISC.IDTURMADISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClassCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da turma</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODTURMA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>20</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClassInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do código da turma</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMA.CODCOLIGADA|STURMA.CODFILIAL|STURMA.IDPERLET|STURMA.CODTURMA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DegreeCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do curso</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCURSO.CODCURSO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>10</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DegreeDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome do curso</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCURSO.NOME</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>60</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length/>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MajorCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da habilitação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SHABILITACAO.CODHABILITACAO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>10</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MajorDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome da habilitação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SHABILITACAO.NOME</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>150</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="GradeCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Grade</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SGRADE.CODGRADE</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>10</Length>
              <Description>Matriz curricular</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="GradeDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição da Grade</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SGRADE.DESCRICAO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>60</Length>
              <Description>Descrição da Matriz curricular</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermCode"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id do período letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição do período letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.DESCRICAO</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id do período letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.CODCOLIGADA|SPLETIVO.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisciplineCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODDISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>20</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisciplineInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SDISCIPLINA.CODCOLIGADA|SDISCIPLINA.CODDISC</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftCode"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do turno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODTURNO</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição do Turno da Turma/Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURNO.NOME</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>15</Length>
              <Description>Descrição do turno da Turma/Disciplina</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do turno</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURNO.CODCOLIGADA|STURNO.CODTURNO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecializationBranchCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id da habilitação da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.IDHABILITACAOFILIAL</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecializationBranchInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave da habilitação da filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SHABILITACAOFILIAL.CODCOLIGADA|SHABILITACAOFILIAL.IDHABILITACAOFILIAL</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LevelEducationCode"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do tipo de curso (Nível de Ensino)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODTIPOCURSO</Field>
              <Required>Não</Required>
              <Type>smallint</Type>
              <Length>3</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LevelEducationInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do código do tipo de curso (Nível de Ensino)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOCURSO.CODCOLIGADA|STIPOCURSO.CODTIPOCURSO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftSpecializationBranchCode"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Turno da matriz aplicada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SHABILITACAOFILIAL.CODTURNO</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description>Código do turno da matriz aplicada</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftSpecializationBranchInternalId"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave do turno da matriz aplicada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURNO.CODCOLIGADA|STURNO.CODTURNO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShiftSpecializationBranchDescription"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição do turno da matriz aplicada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURNO.NOME</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length>15</Length>
              <Description>Descrição do turno da matriz aplicada</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.DESCRIPTION</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome da Turma/Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.CODTURMA - SPELETIVO.CODPERLET</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>20</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descrição da Turma/Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.NOME</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>60</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE_CLASS.NAME</Field>
              <Required>Sim</Required>
              <Type>longtext</Type>
              <Length></Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo da turma</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.TIPO</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="P">
              <xs:annotation>
                <xs:documentation>Presencial</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="D">
              <xs:annotation>
                <xs:documentation>Distancia</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>SemiPresencial</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AllowRegistration"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Disponibilizar a turma para matrícula</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.DISPONIVELMATRICULA</Field>
              <Required>Não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Sim</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Não</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MaximumClassSize"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número máximo de alunos da tuma</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.MAXALUNOS</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.VACANCIES</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length>10</Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate"
                  type="xs:date"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data inicial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.DTINICIAL</Field>
              <Required>Não</Required>
              <Type>date</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS.CLASS_INITIAL_DATE</Field>
              <Required>Não</Required>
              <Type>bigint</Type>
              <Length>19</Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate"
                  type="xs:date"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data final</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.DTFINAL</Field>
              <Required>Não</Required>
              <Type>date</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_NORMAL_CLASS</Field>
              <Required>Não</Required>
              <Type>bigint</Type>
              <Length>19</Length>
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCredits"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de créditos para cobrança</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.NUMCREDITOSCOB</Field>
              <Required>Não</Required>
              <Type>decimal</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15" />
            <xs:fractionDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ValueCredits"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor do crédito para cobrança</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.VALORCREDITO</Field>
              <Required>Não</Required>
              <Type>decimal</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15" />
            <xs:fractionDigits value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Active"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Turma ativa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.ATIVA</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Sim</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Não</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MaximumStudentsOthersCourse"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número máximo de alunos de outros cursos</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.NUMMAXALUNOOUTROSCURSOS</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumStudentsOthersSpecializationBranch"
                  type="xs:int"
                  minOccurs="0"
                  maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número máximo de alunos de outras matrizes</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STURMADISC.NUMMAXALUNOOUTRASMATRIZES</Field>
              <Required>Não</Required>
              <Type>int</Type>
              <Length />
              <Description />
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field />
              <Required />
              <Type />
              <Length />
              <Description />
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
