messages-xml/xmlschema/general/events/EmployeePosition_1_001.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Cargos</Name>
				<Description>Cargos de Recursos Humanos</Description>
				<Segment>Recursos Humanos</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Natiê Sugahara</Contact>
					<Description>Cargos</Description>
					<Adapter>GPEI370.prw</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>Tiago Figueiredo de Carvalho</Contact>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
				</ProductInformation>
				<ProductInformation product="LOGIX">
					<Contact></Contact>
				</ProductInformation>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Cargos</Description>
					<Adapter>CargoAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa. No RM não há a necessidade deste campo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Empresa</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial. No RM não há necessidade deste campo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Filial</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description>Codigo da Filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>InternalId da chave completa de empresa</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description>InternalId da chave completa de empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PositionCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Cargo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Q3_CARGO</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required>sim</Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Código do Cargo</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>InternalId</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description>InternalId</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição resumida do cargo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Q3_DESCSUM</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>30</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Descrição resumida do cargo</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>...</Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PositionLevel">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Informações do Nivel do Cargo</xs:documentation>
						<xs:appinfo>
							<FieldDocumentation product="PROTHEUS">
								<Field/>
								<Required/>
								<Type/>
								<Length/>
								<Description/>
							</FieldDocumentation>
							<FieldDocumentation product="RM">
								<Field/>
								<Required/>
								<Type/>
								<Length/>
								<Description/>
							</FieldDocumentation>
							<FieldDocumentation product="DATASUL">
								<Field/>
								<Required/>
								<Type/>
								<Length/>
								<Description/>
							</FieldDocumentation>
							<FieldDocumentation product="PROXIMA">
								<Field>Informações do Nivel do Cargo</Field>
								<Required>sim</Required>
								<Type>...</Type>
								<Length>...</Length>
								<Description/>
							</FieldDocumentation>
						</xs:appinfo>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="LevelPositionCode" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Nível Cargo
								DATASUL: cdn_nivel_cargo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>Nível Cargo DATASUL: cdn_nivel_cargo</Field>
										<Required>não</Required>
										<Type>char</Type>
										<Length>...</Length>
										<Description/>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="LevelPositionInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>InternalId do LevelRoleCode</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>InternalId do LevelRoleCode</Field>
										<Required>não</Required>
										<Type>char</Type>
										<Length>...</Length>
										<Description/>
									</FieldDocumentation>
								</xs:appinfo>
								<xs:documentation>InternalId do LevelRoleCode</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LevelPositionReduceName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Nome Reduzido Cargo          
			                    DATASUL: nom_reduz_niv_cargo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>Nome Reduzido Cargo DATASUL: nom_reduz_niv_cargo</Field>
										<Required>não</Required>
										<Type>char</Type>
										<Length>...</Length>
										<Description/>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="LevelPositionName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Nome Nível
								DATASUL: nom_complet_niv_cargo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>Nome Nível DATASUL: nom_complet_niv_cargo</Field>
										<Required>não</Required>
										<Type>char</Type>
										<Length>...</Length>
										<Description/>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Active" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cargo Ativo Ativo?</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROXIMA">
							<Field>Cargo Ativo</Field>
							<Required>não</Required>
							<Type>boolean</Type>
							<Length>...</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>