messages-xml/xmlschema/general/events/EmployeeSituations_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Situações dos Funcionários</Name>
				<Description>Situações dos Funcionários</Description>
				<Segment>Recursos humanos</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Situação do Funcinário</Description>
					<Adapter>SituacaoDoFuncionarioAdapter.java</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHUES">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Situation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Situações dos Funcionários</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ListOfEmployee">
							<xs:annotation>
								<xs:documentation>Lista de Situações dos Funcionários</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Employee" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Codigo da Empresa</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Codigo da Empresa</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Codigo da Empresa</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Codigo da Filial</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Codigo da Filial</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Codigo da Filia</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Codigo Company Internal Id</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Codigo Company Internal Id</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>InternalId do Code</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código do Funcionário</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>InternalId do Code</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="EmployeeCode">
													<xs:annotation>
														<xs:documentation>Código do Funcionário</xs:documentation>
														<xs:appinfo>
                                                            <FieldDocumentation product="PROTHEUS">
                                                              <Field>SRA.RA_MAT</Field>
                                                              <Required>sim</Required>
                                                              <Type>char</Type>
                                                              <Length>6</Length>
                                                              <Description/>
                                                            </FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código do Funcionário</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código do Funcionário</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="WorkCenterCode" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Centro de Trabalho</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Centro de Trabalho</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Centro de Trabalho - Enviado pelo Prothues - 
																			Representa o Código da Unidade Administrativa no PIMSMC.</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="SiteCode">
													<xs:annotation>
														<xs:documentation>Código do Estabelecimento do Funcionário</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código do Estabelecimento do Funcionário</Field>
																<Required>não</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código do Estabelecimento do Funcionário</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="ListOfSituation">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Situation" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="CommencementDate" type="xs:date">
																			<xs:annotation>
																				<xs:documentation>Data de início da situação</xs:documentation>
																				<xs:appinfo>
    														                      <FieldDocumentation product="PROTHEUS">
                                                                                    <Field>SR8.R8_DATAINI(Afastamento) || SRG.RG_DATADEM(Recisao) || SRA.RA_DEMISSA(Recisao Coletiva) || SRH.RH_DATAINI(Ferias e Ferias Coletiva) || SRA.RA_FECREI(Reintegracao) </Field>
                                                                                    <Required>nao</Required>
                                                                                    <Type>date</Type>
                                                                                    <Length>8</Length>
                                                                                    <Description/>
                                                                                    </FieldDocumentation>
																			         <FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Data de início da situação</Field>
																						<Required>sim</Required>
																						<Type>date</Type>
																						<Length>...</Length>
																						<Description>Data de início da situação</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="SituationLastDay" type="xs:date" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Data do último dia da situação</xs:documentation>
																				<xs:appinfo>
    														                      <FieldDocumentation product="PROTHEUS">
                                                                                    <Field>SR8.R8_DATAFIM(Afastamento) || SRH.RH_DATAFIM(Ferias e Ferias Coletiva) </Field>
                                                                                    <Required>nao</Required>
                                                                                    <Type>date</Type>
                                                                                    <Length>8</Length>
                                                                                    <Description/>
                                                                                    </FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Data do último dia da situação</Field>
																						<Required>sim</Required>
																						<Type>date</Type>
																						<Length>...</Length>
																						<Description>Data do último dia da situação</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="INSSPaymentCommencement" type="xs:date" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Data início pagamento pelo INSS</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Data início pagamento pelo INSS</Field>
																						<Required>sim</Required>
																						<Type>date</Type>
																						<Length>...</Length>
																						<Description>Data início pagamento pelo INSS</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="OriginSituation" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Origem da Situação</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Origem da Situação</Field>
																						<Required>sim</Required>
																						<Type>number</Type>
																						<Length>...</Length>
																						<Description>Origem da Situação</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:enumeration value="1">
																						<xs:annotation>
																							<xs:documentation>Informada</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="2">
																						<xs:annotation>
																							<xs:documentation>Cálculo</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="3">
																						<xs:annotation>
																							<xs:documentation>Ponto</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="4">
																						<xs:annotation>
																							<xs:documentation>Divergência</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="5">
																						<xs:annotation>
																							<xs:documentation>Agrícola</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="SituationDay" minOccurs="1" maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation>Número de dias em que o funcionário se encontra na situação</xs:documentation>
																				<xs:appinfo>
    														                      <FieldDocumentation product="PROTHEUS">
                                                                                    <Field>SR8.R8_DURACAO(Afastamento) || SRH.RH_DFERIAS(Ferias e Ferias Coletivas) </Field>
                                                                                    <Required>nao</Required>
                                                                                    <Type>number</Type>
                                                                                    <Length>5</Length>
                                                                                    <Description/>
                                                                                    </FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Número de dias em que o funcionário se encontra na situação</Field>
																						<Required>sim</Required>
																						<Type>number</Type>
																						<Length>...</Length>
																						<Description>Número de dias em que o funcionário se encontra na situação</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="SituationTime" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Quantidade de horas na situação</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Quantidade de horas na situação</Field>
																						<Required>sim</Required>
																						<Type>decimal</Type>
																						<Length>...</Length>
																						<Description>Quantidade de horas na situação</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="8"/>
																					<xs:fractionDigits value="5"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="SituationScheduleEnd" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Número Horario Termino Situacao Afastamento</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Número Horario Termino Situacao Afastamento</Field>
																						<Required>não</Required>
																						<Type>number</Type>
																						<Length>...</Length>
																						<Description>Número Horario Termino Situacao Afastamento</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CIDCode" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Código do acidente ou doença para as situações de afastamento por doença</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Código do acidente ou doença para as situações de afastamento por doença</Field>
																						<Required>não</Required>
																						<Type>varchar</Type>
																						<Length>...</Length>
																						<Description>Código do acidente ou doença para as situações de afastamento por doença</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="CommencementSchedule">
																			<xs:annotation>
																				<xs:documentation>Número Horario Inicio Situacao Afastamento</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PROXIMA">
																						<Field>Número Horario Inicio Situacao Afastamento</Field>
																						<Required>não</Required>
																						<Type>varchar</Type>
																						<Length>...</Length>
																						<Description>Número Horario Inicio Situacao Afastamento</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="6"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="SituationInformation" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Informações gerais da Situação, campos contidos na tabela sit_afast</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="SituationCode">
																						<xs:annotation>
																							<xs:documentation>Código da Situação</xs:documentation>
																							<xs:appinfo>
																								<FieldDocumentation product="PROTHEUS">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="RM">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="DATASUL">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="PROXIMA">
																									<Field>Código da Situação</Field>
																									<Required>sim</Required>
																									<Type>number</Type>
																									<Length>...</Length>
																									<Description>Código da Situação</Description>
																								</FieldDocumentation>
																							</xs:appinfo>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:totalDigits value="2"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="SituationMeaning">
																						<xs:annotation>
																							<xs:documentation>Significado da Situação</xs:documentation>
																							<xs:appinfo>
																								<FieldDocumentation product="PROTHEUS">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="RM">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="DATASUL">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="PROXIMA">
																									<Field>Significado da Situação</Field>
																									<Required>não</Required>
																									<Type>number</Type>
																									<Length>...</Length>
																									<Description>Significado da Situação</Description>
																								</FieldDocumentation>
																							</xs:appinfo>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:enumeration value="1">
																									<xs:annotation>
																										<xs:documentation>Trabalhando</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="2">
																									<xs:annotation>
																										<xs:documentation>Afastado</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="3">
																									<xs:annotation>
																										<xs:documentation>Entrada Transferência</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="4">
																									<xs:annotation>
																										<xs:documentation>Saída Transferência</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="5">
																									<xs:annotation>
																										<xs:documentation>Férias</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="6">
																									<xs:annotation>
																										<xs:documentation>Rescisão Contrato</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="7">
																									<xs:annotation>
																										<xs:documentation>Falta Injustificada</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="8">
																									<xs:annotation>
																										<xs:documentation>Jornada Incompleta</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="9">
																									<xs:annotation>
																										<xs:documentation>Ausência Justificada</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="10">
																									<xs:annotation>
																										<xs:documentation>Contrato Desativado</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="AbsenteeismType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Tipo do Afastamento</xs:documentation>
																							<xs:appinfo>
																								<FieldDocumentation product="PROTHEUS">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="RM">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="DATASUL">
																									<Field/>
																									<Required/>
																									<Type/>
																									<Length/>
																									<Description/>
																								</FieldDocumentation>
																								<FieldDocumentation product="PROXIMA">
																									<Field>Tipo do Afastamento</Field>
																									<Required>sim</Required>
																									<Type>number</Type>
																									<Length>...</Length>
																									<Description>Tipo do Afastamento</Description>
																								</FieldDocumentation>
																							</xs:appinfo>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:enumeration value="1">
																									<xs:annotation>
																										<xs:documentation>Ausência</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="2">
																									<xs:annotation>
																										<xs:documentation>Doença</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="3">
																									<xs:annotation>
																										<xs:documentation>Acidente</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="4">
																									<xs:annotation>
																										<xs:documentation>Maternidade</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="5">
																									<xs:annotation>
																										<xs:documentation>Paternidade</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="6">
																									<xs:annotation>
																										<xs:documentation>Serviço Militar</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="7">
																									<xs:annotation>
																										<xs:documentation>Licença Remunerada</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																								<xs:enumeration value="8">
																									<xs:annotation>
																										<xs:documentation>Licença não Remunerada</xs:documentation>
																									</xs:annotation>
																								</xs:enumeration>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>