messages-xml/xmlschema/general/events/Equipment_1_000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Equipment</Name>
				<Description>Mensagem para Integração de Equipamentos</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Cadastro de Equipamentos</Description>
					<Adapter>EquipamentoAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Empresa</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Filial</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código da Filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId da chave completa de empresa do produto</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>InternalId da chave completa de empresa do produto</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do Code</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId da código</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>InternalId do Código</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" maxOccurs="1" minOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Equipamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Equipamento</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Equipamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCenterCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Centro de Trabalho - Enviado pelo Protheus - Representa a Unidade Administrativa no PIMSmc</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Unidade Administrativa</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código da Unidade Administrativa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCenterInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do WorkCenterCode</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do código da Unidade Administrativa</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>InternalId do Código da Unidade Administrativa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelCode">
				<xs:annotation>
					<xs:documentation>Código do Modelo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Modelo</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Modelo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ModelInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do ModelCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do código do modelo</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>InternalId do código do modelo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfMeasureCode">
				<xs:annotation>
					<xs:documentation>Código da Unidade de Medidas
					Contemplada nas integrações OperativeGroup e OperationalCategory</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Unidade de Medidas</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>A tabela de equipamentos do PIMS não possui o campo Unidade de Medidas, é considerado a unidade de medida 
							do Grupo Operativo ou da Categoria Operacional</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do UnitOfMeasureCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do UnitOfMeasureCode</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyEquipmentType" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Equipamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Tipo de Equipamento</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>...</Length>
							<Description>Tipo de Equipamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Próprio</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Terceiro</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperationalCategoryCode" maxOccurs="1" minOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Categoria Operacional 
					Datasul - Grupos de Equipamentos ( EquipamentGroups )
					Protheus - Categoria Operacional ( OperationalCategory )</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Categoria Operacional</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationalCategoryInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do OperationalCategoryCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId da OperationalCategoryCode</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Centro de Custo</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Centro de Custo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do CostCenterCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do CostCenterCode</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternativeCostCenterCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo Responsável</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Centro de Custo Responsável</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Centro de Custo Responsável</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternativeCostCenterInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do AlternativeCostCenterCode</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do AlternativeCostCenterCode</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>InternalId do AlternativeCostCenterCode</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerVendorCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Fornecedor</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Fornecedor</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Fornecedor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerVendorInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do CustomerVendorCode</xs:documentation>
					<xs:appinfo>

						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>InternalId do CustomerVendorCode</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperativeGroupCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Grupo Operativo 
					DataSul - Estrutura Mecânica ( MechanicsStructure ) 
					Protheus - Grupo Operativo ( OperativeGroup )
					Contemplada na integração de Models</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Grupo Operativo</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>A tabela de equipamentos não possui campo de grupo operativo, considera o grupo operativo
							da tabela de Modelos ( Models )</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SituationStatus" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Status da Situação do Equipamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Situação do Equipamento</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>...</Length>
							<Description>Situação do Equipamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Ativo ou Disponível</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Inativo ou Indisponível</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DefaultSiteCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Unidade de Negócio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssetCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Patrimônio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Patrimônio</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Patrimônio</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Operador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Tipo de Operador</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>...</Length>
							<Description>Tipo de Operador</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Todos</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Próprios</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Terceiros</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentsInformations">
				<xs:annotation>
					<xs:documentation>Documentos dos Veículos</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ManufactureYear" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ano de Fabricação</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Ano de Fabricação</Field>
										<Required>sim</Required>
										<Type>number</Type>
										<Length>...</Length>
										<Description>Ano de Fabrição</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ModelsYear" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ano do Modelo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Ano do Modelo</Field>
										<Required>sim</Required>
										<Type>number</Type>
										<Length>...</Length>
										<Description>Ano do Modelo</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EquipmentPlate" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Placa do Veiculo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Placa do Veículo</Field>
										<Required>não</Required>
										<Type>varchar</Type>
										<Length>...</Length>
										<Description>Placa do Veículo</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EquipmentChassis" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número do chassi do Veículo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Número do Chassis</Field>
										<Required>não</Required>
										<Type>varchar</Type>
										<Length>...</Length>
										<Description>Número do Chassis</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="RenavamNumber" maxOccurs="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número do Renavam do Veículo</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Número do Renavam do Veículo</Field>
										<Required>não</Required>
										<Type>varchar</Type>
										<Length>...</Length>
										<Description>Número do Renavam do Veículo</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="12"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PurchaseDate" maxOccurs="1" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:documentation>Data de Aquisição</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Data de Aquisição do Veículo</Field>
										<Required>não</Required>
										<Type>date</Type>
										<Length>...</Length>
										<Description>Data de Aquisição do Veículo</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="PurchaseValue" maxOccurs="1" minOccurs="0" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>Valor da Compra</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-PIMS">
										<Field>Valo de Compra do Veículo</Field>
										<Required>não</Required>
										<Type>decimal</Type>
										<Length>...</Length>
										<Description>Valor de Compra do Veículo</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfCounterInformation" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Lista de Informações sobre Contadores</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CounterInformation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CounterNumber">
										<xs:annotation>
											<xs:documentation>Número do Contador 1 ou 2</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CurrentCounter">
										<xs:annotation>
											<xs:documentation>Contador Atual</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AccrudeCounter">
										<xs:annotation>
											<xs:documentation>Contador Acumulado</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CounterAverageVariation">
										<xs:annotation>
											<xs:documentation>Variação dia</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CounterUpperLimit">
										<xs:annotation>
											<xs:documentation>Limite do Contador</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CounterUnitOfMeasureCode">
										<xs:annotation>
											<xs:documentation>Código da Unidade de Medidas do Contador</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>...</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CounterUnitOfMeasureInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:documentation>InternalId do CounterUnitOfMeasureCode</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>...</Field>
													<Required>não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ListOfInternalId" type="ListOfInternalIdType"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>