messages-xml/xmlschema/general/events/ExternalAutonomousPayment_1_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd"
           elementFormDefault="qualified">

  <!-- ===================================== -->
  <!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
  <!-- ===================================== -->
  <xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
  <!-- ==================================== -->
  <!-- DOCUMENTAÇÃO DA MENSAGEM             -->
  <!-- ==================================== -->
  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>ExternalAutonomousPayment</Name>
        <Description>Pagamento de Autônomos Externos</Description>
        <Segment>Construção e Projetos</Segment>
        <ProductInformation product="RM">
          <Contact>Alaim Porto Alvarenga</Contact>
          <Description>GDP Inovação Const. e Proj.</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>não</Insert>
            <Update>não</Update>
            <Delete>não</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>não</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="PROTHEUS">
          <Contact></Contact>
          <Description></Description>
          <Adapter></Adapter>
          <Send>
            <Insert></Insert>
            <Update></Update>
            <Delete></Delete>
          </Send>
          <Receive>
            <Insert></Insert>
            <Update></Update>
            <Delete></Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
  <!-- ==================================== -->
  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="ListOfAutonomous" minOccurs="0"  maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Lista de lançamentos </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Autonomous" type="DataAutonomosType"  minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Lista de lançamentos</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataAutonomosType">
    <xs:sequence>
      <xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código da Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>DCOLIGADA</Type>
              <Length>2</Length>
              <Description>Código da Empresa</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BranchId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código da Filial fiscal (estabelecimento)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODFILIAL</Field>
              <Required>Não</Required>
              <Type>Short</Type>
              <Length>4</Length>
              <Description>Código da Filial fiscal (estabelecimento)</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:short">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CompanyInternalId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código da Empresa|Código da Filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODCOLIGADA|PPAGTOAUTONOMOEXT.CODFILIAL</Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description>Código da Empresa|Código da Filial</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="InternalId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código identificador do registro</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODCOLIGADA|PPAGTOAUTONOMOEXT.CODIGO</Field>
              <Required>sim</Required>
              <Type>Inteiro</Type>
              <Length>4</Length>
              <Description>Código identificador do registro</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TakerId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CNPJ do tomador de serviços onde o autônomo prestou o serviço</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CNPJTOMADOR</Field>
              <Required>Não</Required>
              <Type>Texto</Type>
              <Length>20</Length>
              <Description>CNPJ do tomador de serviços onde o autônomo prestou o serviço</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Não</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TakerSpecificId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CEI do Tomador de serviços, quando o tipo do tomador for Construção Civil</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CEITOMADOR</Field>
              <Required>Não</Required>
              <Type>Texto</Type>]
              <Length>20</Length>
              <Description>Requerido se TakerType  = 2 (Construção Civil) </Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Não</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TakerType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>O serviço foi executado para o segmento  1 = Cessão Mão de Obra ou 2 = Construção Civil</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.TPTOMADOR</Field>
              <Required>Não</Required>
              <Type>SmallInt</Type>
              <Length>2</Length>
              <Description>Requerido se TakerID diferente de Nulo</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AutonomousName" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Nome do fornecedor – Nome do Autônomo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.NOMEAUTONOMO</Field>
              <Required>Sim</Required>
              <Type>Texto</Type>
              <Length>100</Length>
              <Description>Nome do fornecedor – Nome do Autônomo</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DateOfBirth" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Data de Nascimento do trabalhador/autônomo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.DTNASCIMENTO</Field>
              <Required>Sim</Required>
              <Type>Data</Type>
              <Length>8</Length>
              <Description>Data de Nascimento do trabalhador/autônomo</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AutonomousId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CPF do trabalhador/autônomo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CPF</Field>
              <Required>Sim</Required>
              <Type>Texto</Type>
              <Length>11</Length>
              <Description>CPF do trabalhador/autônomo</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="11"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RegistrationNumber" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informação no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro)  - Número de Inscrição do Trabalhador (NIT)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.NROINSCRICAO</Field>
              <Required>Sim</Required>
              <Type>Texto</Type>
              <Length>11</Length>
              <Description>Informação no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro)  - Número de Inscrição do Trabalhador (NIT)</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="11"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AutonomousOcupationNationalCode" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código Brasileiro de Ocupação do Autônomo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CBOAUTONOMO</Field>
              <Required>Sim</Required>
              <Type>Texto</Type>
              <Length>10</Length>
              <Description>Informação no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro)</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AutonomousCategory" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informação é tabelada. Amarrada no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CATAUTONOMO</Field>
              <Required>Sim</Required>
              <Type>SmallInt</Type>
              <Length>2</Length>
              <Description>Informação é tabelada. Amarrada no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro)</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SefipEventCode" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código Ocorrência Sefip</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODOCORSEFIP</Field>
              <Required>Sim</Required>
              <Type>SmallInt</Type>
              <Length>2</Length>
              <Description>Informação tabelada. Amarrada no cadastro do autônomo  (entidade cliente/fornecedor do módulo financeiro) </Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>Sim</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="IssueDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Data da Emissão do Pagamento</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.DATAEMISSAO</Field>
                  <Required>Sim</Required>
                  <Type>Data</Type>
                  <Length>8</Length>
                  <Description>Data da Emissão do Pagamento</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Sim</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DueDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Data do Vencimento do Pagamento</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.DATAVENCIMENTO</Field>
                  <Required>Sim</Required>
                  <Type>Data</Type>
                  <Length>8</Length>
                  <Description>Data do Vencimento do Pagamento</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Sim</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InitiationDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Primeiro dia de prestação de serviço do autônomo</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.DATAINIATIVIDADE</Field>
                  <Required>Sim</Required>
                  <Type>Data</Type>
                  <Length>8</Length>
                  <Description>Primeiro dia de prestação de serviço do autônomo</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Sim</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ServiceNature" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Natureza do serviço (Atividade Rural ou Urbana)</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.NATUREZAATIV</Field>
                  <Required>Não</Required>
                  <Type>SmallInt</Type>
                  <Length>2</Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DependentsNumber" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Quantidade de Dependentes Salário família</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.QTDDEPSF</Field>
                  <Required>Não</Required>
                  <Type>Inteiro</Type>
                  <Length>4</Length>
                  <Description>Campo obrigatório para o eSocial</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="IRRFDependentsNumber" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Quantidade de Dependentes IRRF</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.QTDDEPIRRF</Field>
                  <Required>Não</Required>
                  <Type>Inteiro</Type>
                  <Length>4</Length>
                  <Description>Campo obrigatório para o eSocial</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Remuneração, valor bruto</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORBRUTO</Field>
                  <Required>Sim</Required>
                  <Type>Decimal</Type>
                  <Length>9</Length>
                  <Description>Remuneração, valor bruto</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Sim</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="INSSValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Valor do INSS descontado do segurado</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORINSS</Field>
                  <Required>Sim</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Valor do INSS descontado do segurado</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Sim</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
	  <xs:element name="PaymentDate" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Data do Pagamento</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.DATAPAGAMENTO</Field>
                  <Required>Não</Required>
                  <Type>Data</Type>
                  <Length>8</Length>
                  <Description>Data do Pagamento</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
	  <xs:element name="IRRFValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Valor do IRRF</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORIRRF</Field>
                  <Required>Não</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Valor do IRRF descontado do segurado</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MultipleEmploymentIndicator" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicador de desconto da contribuição em outro emprego</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.INDMV</Field>
              <Required>Não</Required>
              <Type>SmallInt</Type>
              <Length>2</Length>
              <Description>Indicador de desconto da contribuição em outro emprego</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OtherEmploymentId" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CNPJ em que o Autônomo Externo prestou Serviço</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CNPJREMUNOUTREMPR</Field>
              <Required>Não</Required>
              <Type>TaxType</Type>
              <Length>20</Length>
              <Description>CNPJ em que o Autônomo Externo prestou Serviço</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OtherEmploymentCategory" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Código da Categoria em que prestou Serviço</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPAGTOAUTONOMOEXT.CODCATEG</Field>
              <Required>Não</Required>
              <Type>SmallInt</Type>
              <Length>2</Length>
              <Description>Código da Categoria em que prestou Serviço</Description>
            </FieldDocumentation>
          </xs:appinfo>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OtherEmploymentINSSBasis" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Base de INSS</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORINSSOUTROEMPREGO</Field>
                  <Required>Não</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Base de INSS</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ISSValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Valor do ISS</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORISS</Field>
                  <Required>Não</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Valor do ISS</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SESTValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Valor do SEST</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORSEST</Field>
                  <Required>Não</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Valor do SEST</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SENATValue" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <xs:annotation>
              <xs:documentation>Valor do SENAT</xs:documentation>
              <xs:appinfo>
                <FieldDocumentation product="RM">
                  <Field>PPAGTOAUTONOMOEXT.VALORSENAT</Field>
                  <Required>Não</Required>
                  <Type>Decimal</Type>
                  <Length>8</Length>
                  <Description>Valor do SENAT</Description>
                </FieldDocumentation>
              </xs:appinfo>
              <xs:appinfo>
                <FieldDocumentation product="PROTHEUS">
                  <Field></Field>
                  <Required>Não</Required>
                  <Type></Type>
                  <Length></Length>
                  <Description></Description>
                </FieldDocumentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
  <!-- ==================================== -->
  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />  

</xs:schema>