messages-xml/xmlschema/general/events/Family_2_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Familia/Grupo de Produtos</Name>
				<Description>Família/Grupo de Produtos</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="DATASUL">
					<Contact>....</Contact>
				</ProductInformation>
				<ProductInformation product="lOGIX">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert></Insert>
						<Update></Update>
						<Delete></Delete>
					</Send>
					<Receive>
						<Insert></Insert>
						<Update></Update>
						<Delete></Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact></Contact>
					<Description></Description>
					<Adapter>MATA035.PRW</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" maxOccurs="1" minOccurs="0">
			    <xs:annotation>
			        <xs:documentation>Código da empresa</xs:documentation>
			        <xs:appinfo>
			            <FieldDocumentation product="LOGIX">
			                <Field>tabela.campo</Field>
			                <Required>sim/não</Required>
			                <Type>char</Type>
			                <Length>10</Length>
			                <Description>
			                    não é necessário descrever o obvio, mas alguma informação 
							importante ou particular do produto
			                </Description>
			            </FieldDocumentation>
			            <FieldDocumentation product="PROTHEUS">
			                <Field/>
			                <Required>Não</Required>
			                <Type>Char</Type>
			                <Length>2</Length>
			                <Description>pode ter tamanho variável até 4 com Gestão de Empresa ativado</Description>
			            </FieldDocumentation>
			        </xs:appinfo>
			    </xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>não é necessário descrever o obvio, mas alguma informação 
							importante ou particular do produto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>não é necessário descrever o obvio, mas alguma informação 
							importante ou particular do produto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Família</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_GRUPO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>4</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" minOccurs="0" maxOccurs="1">
			    <xs:annotation>
			        <xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_FILIAL+SBM.BM_GRUPO</Field>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição da Família</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_DESC</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>30</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Depósito Padrão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unidade de Medida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyClassificationCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Classificação da Familia de Materiais</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_TIPGRU</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Seu conteúdo é pré determinado por lista do SX5, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- TIPOS ABSTRATOS  =================== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />
</xs:schema>
