messages-xml/xmlschema/general/events/Family_2_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Familia/Grupo de Produtos</Name>
				<Description>Família/Grupo de Produtos</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="DATASUL">
					<Contact>....</Contact>
				</ProductInformation>
				<ProductInformation product="lOGIX">
					<Contact/>
					<Description/>
					<Adapter/>
					<Send>
						<Insert/>
						<Update/>
						<Delete/>
					</Send>
					<Receive>
						<Insert/>
						<Update/>
						<Delete/>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact/>
					<Description/>
					<Adapter>MATA035.PRW</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>
			                    não é necessário descrever o obvio, mas alguma informação
							importante ou particular do produto
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>não é necessário descrever o obvio, mas alguma informação
							importante ou particular do produto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>não é necessário descrever o obvio, mas alguma informação
							importante ou particular do produto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Família</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_GRUPO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>4</Length>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field/>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt+SBM.BM_FILIAL+SBM.BM_GRUPO</Field>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição da Família</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_DESC</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>30</Length>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Depósito Padrão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unidade de Medida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo da Familia do Grupo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_TIPGRU</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Seu conteúdo é pré determinado por lista do SX5, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilyClassificationCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Classificação da Familia de Materiais</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_CLASGRU</Field>
							<Required>Sim caso a integração seja para o modulo Turismo</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Seu conteúdo é pré determinado por lista do combobox, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TourismType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo da Familia de Turismo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_CODGRT</Field>
							<Required>Sim caso a integração seja para o modulo Turismo</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Seu conteúdo é pré determinado por lista do SX5, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Conciliation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Exige Conciliação? (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_CONC</Field>
							<Required>Sim caso a integração seja para o modulo Turismo</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Seu conteúdo é pré determinado por lista do combobox</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SegmentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Segmento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_TPSEGP</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Seu conteúdo é pré determinado por lista do SX5, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corporate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informa se é do segmento de Corporativo (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_CORP</Field>
							<Required>Não</Required>
							<Type>Logic</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Event" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informa se é do segmento de Evento (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_EVENTO</Field>
							<Required>Não</Required>
							<Type>Logic</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Recreation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informa se é do segmento de Lazer (1-Sim/2-Não)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_LAZER</Field>
							<Required>Não</Required>
							<Type>Logic</Type>
							<Length>1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Situation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação? ("1-Ativo / 2-Bloqueado")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBM.BM_MSBLQL</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Campo Opcional, se o campo existir deverá tratada a TAG</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfPaymentForm" maxOccurs="1" minOccurs="0" type="ListOfPaymentFormType">
				<xs:annotation>
					<xs:documentation>Séries de Internal ID's (Itens/Detalhe)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ============================================================ -->
	<!-- Listas de Forma de Pagamento (só utilizada no módulo turismo)-->
	<!-- ============================================================ -->
	<xs:complexType name="ListOfPaymentFormType">
		<xs:sequence>
			<xs:element name="PaymentForm" type="PaymentFormType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>Definicoes de Detalhe dos Itens</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentFormType">
		<xs:sequence>
			<xs:element name="PaymentFormCode" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código da Forma de Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3K.G3K_CODFOP</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>6</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Forma de Pagamento (Tura011 - G3N )</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentFormInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId da Forma de Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId da Forma de Pagamento (G3N - PaymentForm - Tura011)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Destino (1-Internacional/2-Nacional/3-Ambos)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3K.G3K_DEST</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Informa para qual destino a Forma de Pagamento poderá ser utilizada num registro de venda</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Person" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Tipo de Pessoa(1-Fisica/2-Juridica/3-Ambos)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G3K.G3K_PESSOA</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Informa para qual destino a Forma de Pagamento poderá ser utilizada num registro de venda</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- TIPOS ABSTRATOS  =================== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />
</xs:schema>
