messages-xml/xmlschema/general/events/Farm_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/Address_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/CommunicationInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ContactInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/GovernmentalInformation_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Fazenda</Name>
				<Description>Cadastro Fazenda</Description>
				<Segment>AgroIndústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>...</Contact>
					<Description>......</Description>
					<Adapter>Fazenda.java</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>ADPXXXXX</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>

			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da empresa.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>20</Length>
							<Description>pode ter tamanho variável até 20</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>20</Length>
							<Description>pode ter tamanho variável até 20</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>InternalId da chave completa de empresa da Fazenda</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>UPNIVEL1.CD_UPNIVEL1</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>6</Length>
							<Description>Código do Setor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>UPNIVEL1.ID_UPNIVEL1</Field>
							<Required>sim</Required>
							<Type>char</Type>
						</FieldDocumentation>

						<FieldDocumentation product="PROTHEUS">
							<Field>
							</Field>
							<Required>
							</Required>
							<Type>
							</Type>
							<Length>5 0</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>UPNIVEL1.DE_UPNIVEL1</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>
							</Length>
							<Description/>
						</FieldDocumentation>

						<FieldDocumentation product="PROTHEUS">
							<Field>
							</Field>
							<Required>
							</Required>
							<Type>
							</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ShortDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Abreviada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>UPNIVEL1.DA_UPNIVEL1</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>15</Length>
							<Description>Descrição Abreviada</Description>
						</FieldDocumentation>

						<FieldDocumentation product="PROTHEUS">
							<Field>
							</Field>
							<Required>
							</Required>
							<Type>
							</Type>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EntityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicador da natureza da Fazenda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>UPNIVEL1.FG_TP_PESSOA</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length>&gt;9</Length>
							<Description>Identifica se a Fazenda é Pessoa Física ou Jurídica</Description>
						</FieldDocumentation>

						<xs:appinfo>
							<FieldDocumentation product="PROTHEUS">
								<Field>
								</Field>
								<Required>
								</Required>
								<Type>
								</Type>
								<Length/>
								<Description/>
							</FieldDocumentation>
						</xs:appinfo>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Person">
							<xs:annotation>
								<xs:documentation>Pessoa Física</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Company">
							<xs:annotation>
								<xs:documentation>Pessoa Jurídica</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="AgriculturalOwnerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Proprietário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>PROPRIETARIO.CD_PROPRIET</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="AgriculturalOwnerInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa do Proprietário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>PROPRIETARIO.ID</Field>
						</FieldDocumentation>

						<FieldDocumentation product="PROTHEUS">
							<Field/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FarmRelationship">

				<xs:annotation>

					<xs:documentation>Relacionamento da Fazenda</xs:documentation>

					<xs:appinfo>

						<FieldDocumentation product="PIMS">

							<Field>PROPRIETARIO.FG_TP_PESSOA</Field>

							<Required>sim</Required>

							<Type>integer</Type>

							<Length>1</Length>

							<Description>Identifica se a Fazenda está relacionado com o Proprietário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>

					<xs:restriction base="xs:integer">

						<xs:enumeration value="1">

							<xs:annotation>

								<xs:documentation>Proprietario</xs:documentation>
							</xs:annotation>
						</xs:enumeration>

						<xs:enumeration value="2">

							<xs:annotation>

								<xs:documentation>Fazenda</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="GovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>

			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datasul: Address = pessoa_jurid.nom_endereco(40), Number = ???, Complement = pessoa_jurid.nom_endereco_compl(10), CityCode = ???, CityName = pessoa_jurid.nom_cidade(32), District = pessoa_jurid.nom_bairro(20), State = pessoa_jurid.cod_unid_federac(3), Country = ??,ZIPCode = pessoa_jurid.cod_cep(20),Region=???</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="ListOfCommunicationInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CommunicationInformation" type="CommunicationInformationType" maxOccurs="unbounded" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Datasul: PhoneNumber= emitente.telefone ou .pessoa_jurid.cod_telefone ou pessoa_fisic.cod_telefone (15) PhoneExtension = emitente.ramal ou pessoa_jurid.cod_ramal ou pessoa_fisic.cod_ramal (5), FaxNumber = cont-emit.telefax ou contato.cod_fax_contat (15), FaxNumberExtension = cont-emit.ramal-fax ou contato.cod_ramal_fax_contat char (5), HomePage = emitente.home-page ou pessoa_jurid.nom_home_page ou pessoa_fisic.nom_home_page char (40), Email = emitente.e-mail ou pessoa_jurid.cod_e_mail ou pessoa_fisic.cod_e_mail char (40).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>