messages-xml/xmlschema/general/events/FinancingTrading_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd">
  <!-- ===================================== -->
  <!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
  <!-- ===================================== -->
  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ApportionType_2_001.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
  <xs:include schemaLocation="../types/Tax_1_001.xsd"/>

  <!-- ==================================== -->
  <!-- DOCUMENTAÇÃO DA MENSAGEM             -->
  <!-- ==================================== -->
  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>FinancingTrading</Name>
        <Description>Negociação de Título a receber</Description>
        <Segment>Educacional - Financeiro</Segment>
        <ProductInformation product="RM">
          <Contact>Poliana Aparecida Pessoa</Contact>
          <Description>GDP de Inovação Controladoria</Description>
          <Adapter>FinancingTrading</Adapter>
          <Send>
            <Insert>sim</Insert>
            <Update>não</Update>
            <Delete>sim</Delete>
          </Send>
          <Receive>
            <Insert>não</Insert>
            <Update>não</Update>
            <Delete>não</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="PROTHEUS">
          <Contact>Rogerio Nagy</Contact>
          <Description>GDP de Inovação Controladoria</Description>
          <Adapter>FINI460</Adapter>
          <Send>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Send>
          <Receive>
            <Insert>não</Insert>
            <Update>não</Update>
            <Delete>não</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
  <!-- ==================================== -->
  <xs:complexType name="BusinessContentType">
    <xs:sequence>

      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.CODCOLIGADA</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Description>Coligada do Acordo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>Não possui campo físico na tabela</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InernalId da Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.CODCOLIGADA|FLAN.CODFILIAL</Field>
              <Required>sim</Required>
              <Type>integer|integer</Type>
              <Description>Coligada do Acordo | Filial do Lançamento Financeiro</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId da empresa é formado por EMPRESA|E1_FILIAL</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODFILIAL</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Description>Filial do Lançamento Financeiro</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_FILIAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>2</Length>
              <Description>Pode ter tamanho entre 02 e 12 dependendo da configuração do Protheus</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único da liquidação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.CODCOLIGADA | FACORDO.IDACORDO</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Description>Coligada e Identicador do Acordo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>InternalId da liquidação</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TradingDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data de Emissão</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.DATA</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Description>Data do Acordo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description>Data da negociação - dDataBase da Fatura ou Liquidação</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TradingId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número identificador da negociação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.IDACORDO</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Description>Identicador do Acordo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description>
                Esta informação pode ter origem em dois campos dentro do Protheus: E1_FATURA, quando a mensagem tiver origem de uma fatura.
                Ou E1_NUMLIQ, quando provida de uma Liquidação. Por convenção quando provido de uma Fatura o codigo começa com "F" e quando liquidação
                começa com "L".
              </Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="HistoryText" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Historico do Movimento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FACORDO.OBSERVACAO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Description>Observação do Acordo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description>Historico da negociação</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="ListOfDischarge" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Lista de Baixas</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Discharge" type="DischargeType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Titulos baixados na negociação</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ListOfNewDocuments" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Lista de novos títulos</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReceivableDocument" type="ReceivableDocumentType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Titulos incluidos na negociação</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReceivableDocumentType">
    <xs:sequence>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODCOLIGADA|FLAN.IDLAN</Field>
              <Required>sim</Required>
              <Type>integer|integer</Type>
              <Description>Coligada e Identificador do Lançamento Financeiro</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId do Título é formado por E1_FILIAL|E1_PREFIXO|E1_NUM|E1_PARCELA|E1_TIPO</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DocumentPrefix" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Prefixo do Título (Serie)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.SERIEDOCUMENTO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Lenght>8</Lenght>
              <Description>Série do Documento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_PREFIXO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="DocumentNumber" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número do Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.NUMERODOCUMENTO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Lenght>40</Lenght>
              <Description>Número do Documento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_NUM</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>9</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="DocumentParcel" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Parcela do Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.PARCELA</Field>
              <Required>não</Required>
              <Type>integer</Type>
              <Description>Parcela do Lançamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_PARCELA</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>1</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="DocumentTypeCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo do Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODTDO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description>Parcela do Lançamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_TIPO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="HolderCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Portador do título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FCXA.NUMBANCO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description>Código do Banco</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_PORTADO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="HolderType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo do portador do título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não tem equivalência no RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>não</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="AgencyNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número da Agência</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FCXA.NUMAGENCIA</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>6</Length>
              <Description>Código da Agência</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_AGEDEP</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>5</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AccountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número da Conta</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FCXA.NROCONTA</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>15</Length>
              <Description>Número da Conta Corrente</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_CONTA</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ContractNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número do Contrato (Convênio)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CONVENIO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
              <Description>Código do Convênio</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_CONTRAT</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>15</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="IssueDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data de Emissão</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.DATAEMISSAO</Field>
              <Required>sim</Required>
              <Type>datetime</Type>
              <Description>Data de Emissão</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_EMISSAO</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DiscountDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data de Vencimento do Desconto</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não tem equivalência no RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>não</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DiscountPercentage" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Percentual de Desconto</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não tem equivalência no RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_DESCFIN</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>5,2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InterestPercentage" type="xs:double" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Percentual de Juros</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.JUROSDIA</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Description>Juros por Dia de Atraso</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_PORCJUR</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>5,2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="AssessmentValue" type="xs:double" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Valor da Multa </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.MULTADIA</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Description>Multa por Dia de Atraso</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Description>O protheus sempre envia essa tag com o valor "0", pois não há cálculo de multa para os títulos gerados.</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DueDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data de Vencimento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.DATAVENCIMENTO</Field>
              <Required>sim</Required>
              <Type>datetime</Type>
              <Description>Data de Vencimento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_VENCTO</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>

      </xs:element>
      <xs:element name="ExtendedDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data Prorrogada</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não há equivalência no RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AccountingDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data Contábil</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ChargeInterest" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cobrar Juros?</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CustomerCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Cliente</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODCFO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Lenght>25</Lenght>
              <Description>Código do Cliente/Fornecedor</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CLIENTE</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>6</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CustomerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Internald do cliente</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODCOLCFO|FLAN.CODCFO</Field>
              <Required>sim</Required>
              <Type>integer|string</Type>
              <Lenght>|25</Lenght>
              <Description>Coligada e Código do Cliente/Fornecedor</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId do Cliente é formado por EMPRESA|E1_FILIAL|E1_CLIENTE|E1_LOJA</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="StoreId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Loja do Cliente</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="CustomerBankCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Banco do Cliente</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FCXA.NUMBANCO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description>Código do Banco</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_BCOCLI</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="GrossValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor Bruto</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.VALORORIGINAL</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Description>Valor Original do Lançamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_VALOR</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Contém a máscara numérica @E 9,999,999,999,999.99</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InvoiceAmount" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor da Fatura que originou o título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="CurrencyCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Moeda</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODMOEVALORORIGINAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description>Código da Moeda</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_MOEDA</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CurrencyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da Moeda</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODMOEVALORORIGINAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description>Código da Moeda</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Codigo interno da Moeda</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CurrencyRate" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Taxa da Moeda Utilizada na Geração do Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_TXMOEDA</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>11,4</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Taxes" type="TaxesType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Impostos</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ApportionmentDistribution" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation> Distribuição de rateio.</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="Apportionment" type="ApportionType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Observation" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Observação</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.HISTORICO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>255</Length>
              <Description>Histórico do Lançamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_HIST</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>200</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="Origin" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome do Módulo que Está Gerando o Título</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODAPLICACAO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>2</Length>
              <Description>Código do Sistema</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_ORIGEM</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>8</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="FinancialNatureInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation> InternalId da Natureza (Protheus)  </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANRATCCU.CODCOLNATFINANCEIRA | FLANRATCCU.CODNATFINANCEIRA</Field>
              <Required>sim</Required>
              <Type>integer|varchar</Type>
              <Length>|40</Length>
              <Description>Coligada da Natureza Financeira | Código da Natureza Financeira</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_NATUREZ</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="OurNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nosso Numero Bancário</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CNABNOSSONUMERO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
              <Description>Nosso Número</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_NUMBCO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>15</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Barcode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de Barras</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODIGOBARRA</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>44</Length>
              <Description>Código de Barra</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CODBAR</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>44</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Accounting" type="AccountingType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Dados da Contabilização</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Other" type="OtherType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Outras informações</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="ListOfComplementaryValues" type="ListOfComplementaryValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Lista de Valores Complementares</xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DischargeType">
    <xs:sequence>
      
      <xs:element name="AccountReceivableDocumentInternalId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador do título a receber</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODCOLIGADA | FLAN.IDLAN</Field>
              <Required>sim</Required>
              <Type>integer|integer</Type>
              <Length></Length>
              <Description>Coligada e Identificador do Lançamento Financeiro</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId do Título é formado por E1_FILIAL|E1_PREFIXO|E1_NUM|E1_PARCELA|E1_TIPO</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="PaymentValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor do Pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FXCX.DATA</Field>
              <Required>sim</Required>
              <Type>datetime</Type>
              <Length></Length>
              <Description>Data do Extrato do Item de Baixa</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE5.E5_VALOR</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>15,2</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CustomerCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Cliente</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLAN.CODCFO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>25</Length>
              <Description>Código do Cliente/Fornecedor</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId do Cliente é formado por EMPRESA|E1_FILIAL|E1_CLIENTE|E1_LOJA</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="StoreId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Loja</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não há equivalência no RM</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="FinancialCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Natureza (Protheus)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXARATCCU.CODCOLNATFINANCEIRA | FLANBAIXARATCCU.CODNATFINANCEIRA</Field>
              <Required>sim</Required>
              <Type>integer|varchar</Type>
              <Length>|40</Length>
              <Description>Coligada da Natureza Financeira | Código da Natureza Financeira</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_NATUREZ</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>10</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="FinancialIncrease" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de acréscimo do título (Protheus)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Informado sempre 0.00</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_ACRESC</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>15,2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="FinancialDecrease" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de decréscimo do título (Protheus)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Informado sempre 0.00</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1.E1_DECRESC</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>15,2</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="OtherValues" type="OtherValuesType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Outros Valores</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="ListOfComplementaryValues" type="ListOfComplementaryValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Lista de Valores Complementares</xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountingType">
    <xs:sequence>

      <xs:element name="DebitAccountInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único da conta contábil - Débito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>AccountantAccountInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único da conta contábil - Débito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="DebitAccountCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da conta contábil - Débito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_DEBITO</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="CreditAccountInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único da conta contábil - Crédito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>AccountantAccountInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único da conta contábil - Crédito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditAccountCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da conta contábil - Crédito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CREDIT</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitCostCenterInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único do Centro de Custo - Débito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>CostCenterInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único do Centro de Custo - Débito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitCostCenterCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Centro de Custo - Débito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CCD</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditCostCenterInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único do Centro de Custo - Crédito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>CostCenterInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único do Centro de Custo - Crédito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditCostCenterCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Centro de Custo - Crédito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CCC</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitAccountingItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único do Item Contábil - Débito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>AccountingItemInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único do Item Contábil - Débito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitAccountingItemCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Item contábil - Débito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_ITEMD</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditAccountingItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único do Item Contábil - Crédito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>AccountingItemInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único do Item Contábil - Crédito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditAccountingItemCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Item contábil - Crédito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_ITEMC</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitClassValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único da Classe de Valor - Débito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>ClassValueInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único da Classe de Valor - Débito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DebitClassValueCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Classe de Valor - Débito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CLVLDB</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditClassValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único da Classe de Valor - Crédito</xs:documentation>
          <xs:appinfo>
            <InternalIdName>ClassValueInternalId</InternalIdName>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Identificador único da Classe de Valor - Crédito</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="CreditClassValueCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Classe de Valor - Crédito</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CLVLCR</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OtherType">
    <xs:sequence>

      <xs:element name="AcademicRecord" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Registro Acadêmico do aluno - Educacional </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCONTRATO.RA</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
              <Description>Registro Acadêmico</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_NUMRA</Field>
              <Required>sim, quando integração com RM Classis</Required>
              <Type>varchar</Type>
              <Length>15</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="AcademicPeriod" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Período Letivo - Educacional </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCONTRATO.IDPERLET</Field>
              <Required>não</Required>
              <Type>integer</Type>
              <Description>Período Letivo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_PERLET</Field>
              <Required>sim, quando integração com RM Classis</Required>
              <Type>varchar</Type>
              <Length>4</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AppliedMatrix" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Matriz Aplicada - Educacional </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCONTRATO.IDHABILITACAOFILIAL</Field>
              <Required>não</Required>
              <Type>integer</Type>
              <Description>Matriz Aplicada</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_IDAPLIC</Field>
              <Required>sim, quando integração com RM Classis</Required>
              <Type>varchar</Type>
              <Length>9</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Produto na integração </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>TPRODUTODEF.CODCOLIGADA | TPRODUTODEF.IDPRD</Field>
              <Required>não</Required>
              <Type>integer|integer</Type>
              <Description>Coligada e Identificador do Produto</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_PRODUTO</Field>
              <Required>sim, quando integração com RM Classis</Required>
              <Type>varchar</Type>
              <Length>15</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Class" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Turma (Classe) - Educacional </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SMATRICPL.CODTURMA</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>20</Length>
              <Description>Código da Turma</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_TURMA</Field>
              <Required>sim, quando integração com RM Classis</Required>
              <Type>varchar</Type>
              <Length>20</Length>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ListOfComplementaryValueType">
    <xs:sequence>
      <xs:element name="ComplementaryValue" type="ComplementaryValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OtherValuesType">
    <xs:sequence>

      <xs:element name="InterestValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de Juros Pagos</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXA.VALORJUROS</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length></Length>
              <Description>Valor do Juros da Baixa</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FO1_VLJUR</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor de Juros Pagos</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DiscountValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de Desconto Concedido</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXA.VALORDESCONTO</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length></Length>
              <Description>Valor do Desconto da Baixa</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FO1_DESCON</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor de Desconto Concedido</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AbatementValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de Abatimento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FO1_VLABT</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor de Abatimento</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ExpensesValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor de Despesas Financeiras</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FO1_ACRESC</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor de Acréscimo Financeiro</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="FineValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor da Multa Paga</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXA.VALORMULTA</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length></Length>
              <Description>Valor da Multa da Baixa</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FO1_VLMUL</Field>
              <Required>não</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor da Multa Paga</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ComplementaryValueType">
    <xs:sequence>
      <xs:element name="ComplementaryValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">

        <xs:annotation>
          <xs:documentation>InternalId do valor acessório</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXA.CODCOLIGADA | "VALOROP1", "VALOROP2", ...</Field>
              <Required>sim</Required>
              <Type>integer|varchar</Type>
              <Length></Length>
              <Description>Código é formatado pela regra de negócio, são integrados os valores opcionais (1..8), os valores dos vínculos (devolução, nota de crédito, crédito de adiantamento), e o valor da perda financeira</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>XXF_INTVAL</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>InternalId do valor acessório</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InformedValue" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor informado do valor acessório</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>FLANBAIXA.VALOROP[n], FLANBAIXA.VALORDEVOLUCAO, FLANBAIXA.VALORNOTACREDITO, FLANBAIXA.VALORNOTACREDITOADIANTAMENTO, FLANBAIXA.VALORPERDAFINANCEIRA</Field>
              <Required></Required>
              <Type>decimal</Type>
              <Length></Length>
              <Description>Valor definido pela regra de negócio</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>FKD_VALOR</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>16,2</Length>
              <Description>Valor</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE RETORNO                  -->
  <!-- ==================================== -->
  <xs:complexType name="ReturnContentType">
    <xs:sequence>

      <xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>

      <xs:element name="ListOfOurNumber" type="ListOfOurNumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Lista de Nosso Numero por titulo incluido</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ListOfOurNumberType">
    <xs:sequence>
      <xs:element name="ReturnItem" type="ReturnItemType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation> Itens da Lista de Nosso Numero por titulo incluido  </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReturnItemType">
    <xs:sequence>
      
      <xs:element name="OriginInternalId" type="InternalIdType" minOccurs="0" maxOccurs="1"></xs:element>
      
      <xs:element name="DestinationInternalId" type="InternalIdType" minOccurs="0" maxOccurs="1"></xs:element>
      
      <xs:element name="OurNumber" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nosso Numero do banco.</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_NUMBCO</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>15</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <xs:element name="Barcode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de Barras</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description>Não informado pelo RM</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field>SE1XX0.E1_CODBAR</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>44</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- REFERÊNCIA AOS TIPOS                 -->
  <!-- ==================================== -->
  <xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
  <xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>
