messages-xml/xmlschema/general/events/GetAccountBalances_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM                    -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>GetAccountBalances</Name>
				<Description>Lista de Saldos Contábeis</Description>
				<Segment>Manufaura</Segment>
				<ProductInformation product="Datasul">
					<Contact>Fernando César Gonçalves</Contact>
					<Description>Consultor de Negócios - Inovação - Segmento Manufatura</Description>
					<Adapter>GetAccountBalances</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- PARÂMETROS DE GERAÇÃO                            -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_empresa</Field>
							<Required>Sim</Required>
							<Type>string</Type>
							<Length>3</Length>
							<Description>Código da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingYear" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exercício Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_exerc_ctbl</Field>
							<Required>Não</Required>
							<Type>string</Type>
							<Length>4</Length>
							<Description>Ano Exercício Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GLPeriod" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Período Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>num_period_ctbl</Field>
							<Required>Não</Required>
							<Type>integer</Type>
							<Length>2</Length>
							<Description>Número Período Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GLPeriodDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data Final do Período (dd/mm/aaaa)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>dat_fim_period_ctbl</Field>
							<Required>Sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data Fim Período Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Translation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Matriz de Tradução</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_matriz_trad_org_ext</Field>
							<Required>Sim</Required>
							<Type>string</Type>
							<Length>8</Length>
							<Description>Código Matriz Tradução Organização Externa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- SALDOS CONTÁBEIS                                        -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="CompanyCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_empresa</Field>
							<Required>Sim</Required>
							<Type>string</Type>
							<Length>3</Length>
							<Description>Código da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingYear" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exercício Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_exerc_ctbl</Field>
							<Required>Não</Required>
							<Type>string</Type>
							<Length>4</Length>
							<Description>Ano Exercício Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GLPeriod" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Período Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>num_period_ctbl</Field>
							<Required>Não</Required>
							<Type>integer</Type>
							<Length>2</Length>
							<Description>Número Período Contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Translation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Matriz de Tradução</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>cod_matriz_trad_org_ext</Field>
							<Required>Sim</Required>
							<Type>string</Type>
							<Length>8</Length>
							<Description>Código Matriz Tradução Organização Externa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfAccountBalances">
				<xs:annotation>
					<xs:documentation>Lista de Saldos Contábeis</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountBalance" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Saldo Contábil</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BranchCode" type="xs:string">
										<xs:annotation>
											<xs:documentation>Estabelecimento</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>cod_estab</Field>
													<Required>Sim</Required>
													<Type>string</Type>
													<Length>5</Length>
													<Description>Código Estabelecimento</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="BusinessUnitCode" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unidade de Negócio</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>cod_unid_negoc</Field>
													<Required>Não</Required>
													<Type>string</Type>
													<Length>3</Length>
													<Description>Código Unidade Negócio</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CurrencyCode" type="xs:string">
										<xs:annotation>
											<xs:documentation>Moeda</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>cod_indic_econ</Field>
													<Required>Sim</Required>
													<Type>string</Type>
													<Length>8</Length>
													<Description>Código Indicador Econômico</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CostCenterCode" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Centro de Custos</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>cod_ccusto</Field>
													<Required>Não</Required>
													<Type>string</Type>
													<Length>11</Length>
													<Description>Código Centro Custo</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="AccountCode" type="xs:string">
										<xs:annotation>
											<xs:documentation>Conta Contábil</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>cod_cta_ctbl</Field>
													<Required>Sim</Required>
													<Type>string</Type>
													<Length>20</Length>
													<Description>Código Conta Contábil</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="FinalBalance">
										<xs:annotation>
											<xs:documentation>Saldo Final</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>val_sdo_ctbl_fim</Field>
													<Required>Sim</Required>
													<Type>string</Type>
													<Length>13</Length>
													<Description>Valor Saldo Contábil Final</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="2"/>
												<xs:totalDigits value="13"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BalanceNature">
										<xs:annotation>
											<xs:documentation>Natureza do Saldo</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>ind_natur_lancto_ctbl</Field>
													<Required>Sim</Required>
													<Type>string</Type>
													<Length>2</Length>
													<Description>Indicador Natureza Lançamento Contábil</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="DB"/>
												<xs:enumeration value="CR"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReturnItem" type="ReturnContentType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
