messages-xml/xmlschema/general/events/InputDocument_2_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Bruno Cunha (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						InternalId da chave completa de empresa do
						produto
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>
								para o Protheus é esperado que com o
								cabeçalho da mensagem seja identificado
								empresa e filial já pelo Framework
								estando no ambiente (Empresa x Filial)
								correto
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InvoiceNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentSeries">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						InternalId de Integração
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation inputdocument="PROTHEUS">
							<Field>
								SF1.F1_FILIAL+SF1.F1_DOC+SF1.F1_SERIE+SF1.F1_FORNECE+SF1.F1_LOJA+SF1.F1_TIPO
							</Field>
							<Required>sim</Required>
							<Type>char</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CustomerCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="CustomerInternalId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						InternalId da chave completa do Cliente do
						pedido
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>
								SA2.A2_FILIAL+SF1.F1_FORNECE+SF1.F1_LOJA
							</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InvoiceDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data de Recebimento/Digitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceDiscounts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descontos da NF</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor da mercadoria
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceGrossValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor Bruto da NF
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InsuranceValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Seguro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SefazNFeKey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Chave da NF-e SEFAZ
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="44" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypeFreight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Tipo de Frete ( CIF; FOB; AccountThird;
						NoFreight)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreightValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Frete</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerTicket" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Tipo de nota fiscal do cliente "A" - Nota Fiscal
						Provisória "B" - Nota Fiscal Definitiva
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationBasisICMS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Base de ICMS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ICMSValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do ICMS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CalculationBasisIPI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Base de Calculo de IPI
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IPIValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do IPI</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="PaymentCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Código da condição de pagamento
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="PaymentCodeInternalId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						InternalId da chave completa da Condição de
						pagamento do pedido
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA4.A4_FILIAL+SF1.F1_COND</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

      <xs:element name="CurrencyRate" type="xs:double"
				minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Taxa da Moeda
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="CurrencyRateInternalId" type="xs:string"
				minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            InternalId da Taxa da Moeda
          </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>Empresa+SF1.F1_FILIAL+SF1.F1_MOEDA</Field>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="TypeOfDocument" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Tipo do documento - Logix é uma lista fixa -
						Datasul é uma lista fixa - Protheus é
						pré-cadastrado e permite mudar - RM é cadastro
						livre

						Para entender como este campo irá funciona,
						consulte o seguinte tópico da documento

						TFS:TOTVSMSGXML \DEV\documentação\Padrão para
						criação de mensagens únicas.docx

						2.13.2 Conflito entre valores fixos e valores
						cadastráveis

					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			
			<xs:element name="ListOfItems" minOccurs="0"
				maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" minOccurs="0"
							maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ItemInvoice"
										maxOccurs="1" minOccurs="0">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="4">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemCode"
										minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Item/Produto
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="15">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemInternalId"
										type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												InternalId da chave
												completa do produto do
												pedido
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation
													product="PROTHEUS">
													<Field>
														SB1.B1_FILIAL+SD1.D1_COD
													</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitOfMeasure"
										minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Unidade de Medida
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="2">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="UnitOfMeasureInternalId" type="xs:string" minOccurs="0"
										maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												InternalId da chave
												completa de Unidade
												Medida do pedido
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation
													product="PROTHEUS">
													<Field>
														SAH.AH_FILIAL+SD1.D1_UM
													</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="Quantity"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Quantidade
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="11" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor Unitário
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DiscountValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor do Desconto no
												Item
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="12" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IncreaseValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor Acrescimo do Item
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="16" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="GrandTotal"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor Total
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TypeOperation"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tipo de Entrada da Nota
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="2">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="OperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Fiscal da
												Operação
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="5">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WarehouseId"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código do Armazém
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="2">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="WarehouseInternalId" type="xs:string" minOccurs="0"
										maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												InternalId da chave
												completa do armazem do
												pedido
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation
													product="PROTHEUS">
													<Field>
														NNR.NNR_FILIAL+SD1.D1_LOCAL
													</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element
										name="LotNumberInSupplier" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Número do Lote do
												Fornecedor
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="18">
												</xs:maxLength>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LotNumber"
										maxOccurs="1" minOccurs="0">
										<xs:simpleType>
											<xs:annotation>
												<xs:documentation>
													Número do Lote
												</xs:documentation>
											</xs:annotation>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="40" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SubLotNumber"
										maxOccurs="1" minOccurs="0">
										<xs:simpleType>
											<xs:annotation>
												<xs:documentation>
													Número do SubLote
												</xs:documentation>
											</xs:annotation>
											<xs:restriction
												base="xs:string">
												<xs:maxLength value="6" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberPIMS" type="xs:string"
										minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												InternalId da chave completa da integração com PIMS
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa+SC1XX0.C1_NUM+SC1XX0.C1_ITEM+SC1XX0.C1_NRBPIMS</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="LotExpirationDate"
										maxOccurs="1" minOccurs="0" type="xs:date">
										<xs:annotation>
											<xs:documentation>
												Data de Validade do Lote
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FreightValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor do Frete
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="CalculationBasisIPI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor Base de Cálculo
												IPI
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPITaxRate"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Alíquota de IPI
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="6" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPIValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor IPI do Item
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="CalculationBasisICMS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor Base do ICMS
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSTaxRate"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Alíquota de ICMS
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="5" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSValue"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Valor ICMS do Item
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="14" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
	    <xs:complexType>
	        <xs:sequence>
	            <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
	        </xs:sequence>
	    </xs:complexType>
	</xs:element>
</xs:schema>
