messages-xml/xmlschema/general/events/InputDocument_2_004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Bruno Cunha (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
  <xs:include schemaLocation="../types/VehicleInformationType_1_000.xsd"/>
  <xs:include schemaLocation="../types/GovernmentalInformation_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>InputDocument</Name>
				<Description>Documento de Entrada</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codigo da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cod_empresa</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>2</Length>
							<Description>
                        Código da empresa
                        Formato do Campo: CHAR(02) 
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>estabelec.ep-codigo</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>Código da empresa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codigo da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-estabel</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Código do estabelecimento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                  InternalId da chave completa de empresa do produto
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>
                        para o Protheus é esperado que com o
                        cabeçalho da mensagem seja identificado
                        empresa e filial já pelo Framework
                        estando no ambiente (Empresa x Filial)
                        correto
                     </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Estabelecimento/Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">							
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-estabel</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Código do estabelecimento. Tabela do De-para padrão do EAI: estabelec </Description>
						</FieldDocumentation>
						<FieldDocumentation inputdocument="PROTHEUS">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.num_nf</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>7,0</Length>
							<Description>
                        Número da nota fiscal
                        Formato do Campo: DECIMAL(7,0)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.nro-docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>16</Length>
							<Description>Número da nota fiscal. Mínimo de 7 dígitos, exemplo: Nota 458 = 0000458</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentSeries">
				<xs:annotation>
					<xs:documentation>Série do documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.ser_nf</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>
                        Série da nota fiscal
                        Formato do Campo: CHAR(03)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.serie-docto</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>5</Length>
							<Description>Série da nota fiscal</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificador único do registro</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.num_nf + nf_sup.ser_nf + nf_sup.ies_especie_nf + nf_sup.cod_fornecedor</Field>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-emitente + "|" + docum-est.serie-docto + "|" + docum-est.nro-docto + "|" + docum-est.nat-operacao</Field>
							<Type>varchar</Type>
							<Description>EMITENTE|SERIE|DOCUMENTO|NATUREZAOPERACAO. Tabela do De-para padrão do EAI: docum-est </Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>EMPRESA|FILIAL|NF|SERIE|FORNECEDOR|LOJA</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do cliente/fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cod_fornecedor</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>15</Length>
							<Description>
                        Código do fornecedor
                        Formato do Campo: CHAR(15)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-emitente</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>9</Length>
							<Description>Código do fornecedor</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa do cliente/fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>
                        SA2.A2_FILIAL+SF1.F1_FORNECE+SF1.F1_LOJA
                     </Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF e Inscrição estadual do cliente/fornecedor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.dat_emis_nf</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>
                        Data de emissão
                        Formato do Campo: DATE
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.dt-emissao</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>Data de emissão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data de Recebimento/Digitação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.dat_entrada_nf</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>
                        Data de entrada
                        Formato do Campo: DATE
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.dt-trans</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length/>
							<Description>Data de transação/entrada do documento</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceDiscounts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descontos da NF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.val_tot_desc</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor total de descontos
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.tot-desconto</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Valor total de descontos</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GoodsValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor da mercadoria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>SUM(aviso_rec.qtd_declarad_nf * aviso_rec.pre_unit_nf)</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor total das mercadorias
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.valor-mercad</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>Valor total das mercadorias</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceGrossValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Bruto da NF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.val_tot_nf_d</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor total da nota fiscal
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.tot-valor</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>13,2</Length>
							<Description>Valor total da nota fiscal</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InsuranceValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Seguro</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>sup_par_ar.parametro_val (val_seguro)</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor do seguro
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.valor-seguro</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Valor do seguro</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SefazNFeKey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Chave da NF-e SEFAZ</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>sup_par_ar.parametro_texto (chav_aces_nf_eletr)</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>70</Length>
							<Description>
                        Chave da NF-e
                        Formato do Campo: CHAR(70)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.cod-chave-aces-nf-eletro</Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>60</Length>
							<Description>Chave da NF-e</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="44"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypeFreight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Frete (CIF;FOB;AccountThird;NoFreight)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>modo_embarque.ies_tip_frete</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>1</Length>
							<Description>
                        Tipo de frete
                        Formato do Campo: CHAR(01)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.mod-frete</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>1</Length>
							<Description>Tipo de frete.  (1-CIF; 2-FOB; 3-Outros)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreightValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Frete</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>SUM(aviso_rec.val_frete)</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor do frete
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.valor-frete</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Valor do frete</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerTicket" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                  Tipo de nota fiscal do cliente
                  "A" - Nota Fiscal Provisória
                  "B" - Nota Fiscal Definitiva
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.ies_nf_aguard_nfe</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>1</Length>
							<Description>
                        Tipo da nota fiscal
                        Formato do Campo: CHAR(01)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Description>Útil para usar como variável de entrada no Engine de regras a fim de sugerir a Natureza de Operação de entrada no datasul</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculationBasisICMS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Base de ICMS</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>SUM(aviso_rec.val_base_c_item_d) ou SUM(aviso_rec.val_base_c_item_c)</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Base de cálculo do ICMS (declarado ou calculado)
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.base-icm</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Base de cálculo do ICMS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ICMSValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do ICMS</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.val_tot_icms_nf_d ou nf_sup.val_tot_icms_nf_c</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor do ICMS (declarado ou calculado)
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.icm-deb-cre</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Valor do ICMS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CalculationBasisIPI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Base de Calculo de IPI</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>SUM(aviso_rec.val_base_d_ipi_it) ou SUM(aviso_rec.val_base_c_ipi_it)</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Base de cálculo do IPI (declarado ou calculado)
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.base-ipi</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Base de cálculo do IPI</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IPIValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do IPI</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.val_ipi_nf ou nf_sup.val_ipi_calc</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>17,2</Length>
							<Description>
                        Valor do IPI (declarado ou calculado)
                        Formato do Campo: DECIMAL(17,2)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>docum-est.ipi-deb-cre</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Valor do IPI</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da condição de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.cnd_pgto_nf</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>3,0</Length>
							<Description>
                        Condição de pagamento
                        Formato do Campo: DECIMAL(3,0)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Description>Não se aplica. No ERP essa informação fica na Ordem Compra.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCodeInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                  InternalId da chave completa da Condição de
                  pagamento do documento
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SA4.A4_FILIAL+SF1.F1_COND</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Taxa da Moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
                  </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
                  </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRateInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Taxa da Moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Empresa+SF1.F1_FILIAL+SF1.F1_MOEDA</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfDocument" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
                  Tipo do documento
                  Logix é uma lista fixa
                  Datasul é uma lista fixa
                  Protheus é pré-cadastrado e permite mudar
                  RM é cadastro livre
                  Para entender como este campo irá funciona,
                  consulte o seguinte tópico da documento
                  TFS:TOTVSMSGXML \DEV\documentação\Padrão para
                  criação de mensagens únicas.docx
                  2.13.2 Conflito entre valores fixos e valores
                  cadastráveis
               </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>nf_sup.ies_especie_nf</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>3</Length>
							<Description>
                        Espécie da nota fiscal
                        Formato do Campo: CHAR(03)
                     </Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Description>Não se aplica. No ERP a espécie é atributo do movimento de estoque.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                  </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfItems" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ItemInvoice" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do item (sequência)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.num_seq</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>3,0</Length>
													<Description>
                                          Número de sequência
                                          Formato do Campo: DECIMAL(3,0)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.sequencia</Field>
													<Required>sim</Required>
													<Type>int</Type>
													<Length>9</Length>
													<Description>Número de sequência</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemCode">
										<xs:annotation>
											<xs:documentation>Código do item/produto</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_item</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>15</Length>
													<Description>
                                          Código do item
                                          Formato do Campo: CHAR(15)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.it-codigo</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>16</Length>
													<Description>Código do item</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemCodeInternalId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>InternalId da chave completa do produto</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>Empresa|Item</Field>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>docum-est.cod-estabel + "|" + item-doc-est.it-codigo</Field>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa|Filial|Produto</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ItemInternalId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>InternalId da chave completa do produto do documento</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>
                                          nf_sup.num_nf + nf_sup.ser_nf + nf_sup.ies_especie_nf + nf_sup.cod_fornecedor + aviso_rec.num_seq
                                       </Field>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.cod-emitente + "|" + item-doc-est.serie-docto + "|" + item-doc-est.nro-docto + "|" + item-doc-est.nat-operacao + "|" + item-doc-est.sequencia</Field>
													<Type>varchar</Type>
													<Description>EMITENTE|SERIE|DOCUMENTO|NATUREZAOPERACAO|SEQITEM</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>NOTA|SERIE|FORNECEDOR|LOJA|TIPO|ITEM</Field>
													<Required/>
													<Type>varchar</Type>
													<Length/>
													<Description/>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitOfMeasure">
										<xs:annotation>
											<xs:documentation>Unidade de Medida</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_unid_med_nf</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>03</Length>
													<Description>
                                          Código da unidade de medida
                                          Formato do Campo: CHAR(03)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.un</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>2</Length>
													<Description>Código da unidade de medida</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitOfMeasureInternalId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                    InternalId da chave
                                    completa de Unidade
                                    Medida do pedido
                                 </xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>
                                          SAH.AH_FILIAL+SD1.D1_UM
                                       </Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="Quantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.qtd_declarad_nf</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>12,3</Length>
													<Description>
                                          Quantidade declarada na nota fiscal
                                          Formato do Campo: DECIMAL(12,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.quantidade</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>10,4</Length>
													<Description>Quantidade declarada na nota fiscal</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="11"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Unitário</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pre_unit_nf</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,6</Length>
													<Description>
                                          Preço unitário
                                          Formato do Campo: DECIMAL(17,6)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.preco-unit[1]</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>9,5</Length>
													<Description>Preço unitário</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DiscountValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor do Desconto no Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>(aviso_rec.qtd_declarad_nf * aviso_rec.val_desc_item)</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor de desconto
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.desconto[1]</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor de desconto</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="12"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IncreaseValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Acrescimo do Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_acrescimos</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor de acréscimo
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="16"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="GrandTotal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Total</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>(aviso_rec.qtd_declarad_nf * aviso_rec.pre_unit_nf)</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do item
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.preco-total[1]</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Total do item</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TypeOperation" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tipo de Entrada da Nota</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.cod_operacao</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>4</Length>
													<Description>
                                          Tipo de operação (CFOP)
                                          Formato do Campo: CHAR(04)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>Não há o conceito de TES no Datasul. Existe a Natureza de operação.</Field>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código Fiscal da Operação (Entrada)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_fiscal_item</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>7</Length>
													<Description>
                                          Código fiscal do item
                                          Formato do Campo: CHAR(07)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													 <Description>Útil para usar como variável de entrada no Engine de regras a fim de sugerir a Natureza de Operação de entrada no datasul</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OutputOperationFiscalCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código Fiscal da Operação (Saída)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>nf_sup.cod_operacao</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>7</Length>
													<Description>
                                          CFOP da nota fiscal (saída)
                                          Formato do Campo: CHAR(07)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													 <Description>Útil para usar como variável de entrada no Engine de regras a fim de sugerir a Natureza de Operação de entrada no datasul</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WarehouseId" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Código do Armazém</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.cod_local_estoq</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>10</Length>
													<Description>
                                          Código do local de estoque
                                          Formato do Campo: CHAR(10)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.cod-depos</Field>
													<Required>sim</Required>
													<Type>char</Type>
													<Length>3</Length>
													<Description>Código do Depósito</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WarehouseInternalId" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                    InternalId da chave
                                    completa do armazem do
                                    pedido
                                 </xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>
                                      NNR.NNR_FILIAL+SD1.D1_LOCAL
                                     </Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="LotNumberInSupplier" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do Lote do Fornecedor</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.num_lote</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>15</Length>
													<Description>
                                          Número do lote
                                          Formato do Campo: CHAR(15)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.cod-lote-fabrican</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>40</Length>
													<Description>Lote do Fabricante</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="18"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="LotNumber" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do Lote</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.lote</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>40</Length>
													<Description>Lote. Para itens controlados por Lote este campo é obrigatório.</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SubLotNumber" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número do SubLote</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="NumberPIMS" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                    InternalId da chave completa da integração com PIMS
                                 </xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
                                    </FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>Empresa+SC1XX0.C1_NUM+SC1XX0.C1_ITEM+SC1XX0.C1_NRBPIMS</Field>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="LotExpirationDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data de Validade do Lote</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
                                    </FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.dt-vali-lote</Field>
													<Required>não</Required>
													<Type>date</Type>
													<Description>Data de validade do Lote. Para itens controlados por Lote este campo é obrigatório.</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="FreightValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor do Frete</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_frete</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do frete
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.valor-frete</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor do frete</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CalculationBasisIPI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base de Cálculo IPI</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec_compl_sq.val_base_d_ipi_it</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Base de cálculo do IPI
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.base-ipi[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Base de cálculo do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPITaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de IPI</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pct_ipi_declarad ou aviso_rec.pct_ipi_tabela</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>6,3</Length>
													<Description>
                                          Percentual do IPI
                                          Formato do Campo: DECIMAL(6,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.aliquota-ipi</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>3,2</Length>
													<Description>Aliquota do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="6"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IPIValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor IPI do Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_ipi_decl_item ou aviso_rec.val_ipi_calc_item</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do IPI
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.valor-ipi[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor do IPI</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
                   <xs:element name="IPITaxType" minOccurs="0">
                      <xs:annotation>
                         <xs:documentation>Tipo de tributação do IPI</xs:documentation>
                         <xs:appinfo>
                            <FieldDocumentation product="LOGIX">
                               <Field>aviso_rec.ies_tip_incid_ipi</Field>
                               <Required>sim</Required>
                               <Type>char</Type>
                               <Length>1</Length>
                               <Description>
                                  Tipo de incidência do IPI
                               </Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="DATASUL">
                            </FieldDocumentation>
                            <FieldDocumentation product="PROTHEUS">
                            </FieldDocumentation>
                         </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                         <xs:restriction base="xs:string">
                            <xs:enumeration value="C">
                              <xs:annotation>
                                <xs:documentation>COM CREDITO/TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="I">
                              <xs:annotation>
                                <xs:documentation>ISENTO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="O">
                              <xs:annotation>
                                <xs:documentation>OUTROS</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                         </xs:restriction>
                      </xs:simpleType>
                   </xs:element>
									<xs:element name="CalculationBasisICMS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Base do ICMS</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_base_c_item_d ou aviso_rec.val_base_c_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Base de cálculo do ICMS
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.base-icm[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Base de cálculo do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSTaxRate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Alíquota de ICMS</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.pct_icms_item_d ou aviso_rec.pct_icms_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>6,3</Length>
													<Description>
                                          Percentual do ICMS
                                          Formato do Campo: DECIMAL(6,3)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.aliquota-icm</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>3,2</Length>
													<Description>Aliquota do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ICMSValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor ICMS do Item</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="LOGIX">
													<Field>aviso_rec.val_icms_item_d ou aviso_rec.val_icms_item_c</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>17,2</Length>
													<Description>
                                          Valor do ICMS
                                          Formato do Campo: DECIMAL(17,2)
                                       </Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>item-doc-est.valor-icm[1]</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>10,2</Length>
													<Description>Valor do ICMS</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
                                    </FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
                   <xs:element name="ICMSTaxType" minOccurs="0">
                      <xs:annotation>
                         <xs:documentation>Tipo de tributação do ICMS</xs:documentation>
                         <xs:appinfo>
                            <FieldDocumentation product="LOGIX">
                               <Field>aviso_rec.ies_incid_icms_ite</Field>
                               <Required>sim</Required>
                               <Type>char</Type>
                               <Length>1</Length>
                               <Description>
                                  Tipo de incidência do ICMS
                               </Description>
                            </FieldDocumentation>
                            <FieldDocumentation product="DATASUL">
                            </FieldDocumentation>
                            <FieldDocumentation product="PROTHEUS">
                            </FieldDocumentation>
                         </xs:appinfo>
                      </xs:annotation>
                      <xs:simpleType>
                         <xs:restriction base="xs:string">
                            <xs:enumeration value="C">
                              <xs:annotation>
                                <xs:documentation>COM CREDITO/TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="I">
                              <xs:annotation>
                                <xs:documentation>ISENTO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="O">
                              <xs:annotation>
                                <xs:documentation>OUTROS</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="E">
                              <xs:annotation>
                                <xs:documentation>ESPECIAL</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="N">
                              <xs:annotation>
                                <xs:documentation>SEM CRÉDITO/NÃO TRIBUTADO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="U">
                              <xs:annotation>
                                <xs:documentation>SUSPENSO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="D">
                              <xs:annotation>
                                <xs:documentation>DIFERIDO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="S">
                              <xs:annotation>
                                <xs:documentation>SEM APROVEITAMENTO DE CRÉDITO</xs:documentation>
                              </xs:annotation>
                            </xs:enumeration>
                         </xs:restriction>
                      </xs:simpleType>
                   </xs:element>
									<xs:element name="VehicleInformation" type="VehicleInformationType" maxOccurs="1" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informações do veículo</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
