messages-xml/xmlschema/general/events/Inventory_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Inventário</Name>
				<Description>Inventário de Produtos</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact></Contact>
					<Description></Description>
					<Adapter>MATA340.PRX</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 4 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
			    <xs:annotation>
			        <xs:documentation>InternalId da chave completa da empresa</xs:documentation>
			    </xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
			    <xs:annotation>
			        <xs:documentation>InternalId do Inventário.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_FILIAL+SB7.B7_DATA+SB7.B7_COD+SB7.B7_LOCAL</Field>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
						</FieldDocumentation>
					</xs:appinfo>
			    </xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_COD</Field>
							<Required>sim</Required>
							<Type>Char</Type>
							<Length>15</Length>
							<Description>o tamanho padrão é 15, mas ser aumentado até 30</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Armazem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_LOCAL</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>campo pode ter o tamanho alterado até 6</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="DocumentNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DOC</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>9</Length>
							<Description>pode ter o tamanho máximo de 13</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="09"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="Quantity" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>tamanho alterável pelo cliente. Formato: 9999.99</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity2UnitMeasure" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade 2ªUnid.Medida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_QTSEGUM</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>tamanho alterável pelo cliente. Formato: 9999.99</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateInventory" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DATA</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotNumber" minOccurs="0" maxOccurs="1">
			    <xs:annotation>
			        <xs:documentation>Número do Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_LOTECTL</Field>
							<Required>não, somente é obrigatório caso rastro de produto esteja ativado no sistema e no item</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>tamanho expansível até 40</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
			    </xs:annotation>
			    <xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:maxLength value="50"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:element>
			<xs:element name="SubLotNumber" minOccurs="0" maxOccurs="1">
			    <xs:annotation>
			        <xs:documentation>Número do Sub Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_NUMLOTE</Field>
							<Required>não, somente é obrigatório caso rastro de produto esteja ativado no sistema e no item</Required>
							<Type>char</Type>
							<Length>6</Length>
							<Description></Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
			    </xs:annotation>
			    <xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:maxLength value="6"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:element>
			<xs:element name="LotExpirationDate" minOccurs="0" maxOccurs="1" type="xs:date">
			    <xs:annotation>
			        <xs:documentation>Data de Validade do Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DTVALID</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
			    </xs:annotation>
			</xs:element>												
		</xs:sequence>
	</xs:complexType>		

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />

</xs:schema>