messages-xml/xmlschema/general/events/Inventory_3_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Inventário</Name>
				<Description>Inventário de Produtos</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact/>
					<Description/>
					<Adapter>MATA340.PRX</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 4 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Inventário.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_FILIAL+SB7.B7_DATA+SB7.B7_COD+SB7.B7_LOCAL</Field>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DOC</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>9</Length>
							<Description>pode ter o tamanho máximo de 13</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="09"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>				
			<xs:element name="DateInventory" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DATA</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinishInventory" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Finalizar Inventario</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>1</Length>
							<Description>Finaliza/acerta Inventario apos digitacao. Padrão = S </Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="ListOfItens">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de Itens</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Item" type="ListOfItensType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>				
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="ListOfItensType">
		<xs:annotation>
			<xs:documentation>Lista de Itens</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>.</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>InternalID do produto</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ItemCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_COD</Field>
							<Required>sim</Required>
							<Type>Char</Type>
							<Length>15</Length>
							<Description>o tamanho padrão é 15, mas ser aumentado até 30</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Local de estoque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>.</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>InternalID do Local de estoque</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="WarehouseCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Armazem</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_LOCAL</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>campo pode ter o tamanho alterado até 6</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="Quantity" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Quantidade a ser Inventariada</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity2UnitMeasure" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade 2ªUnid.Medida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_QTSEGUM</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>tamanho alterável pelo cliente. Formato: 9999.99</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_LOTECTL</Field>
							<Required>não, somente é obrigatório caso rastro de produto esteja ativado no sistema e no item</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>tamanho expansível até 40</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubLotNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Sub Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_NUMLOTE</Field>
							<Required>não, somente é obrigatório caso rastro de produto esteja ativado no sistema e no item</Required>
							<Type>char</Type>
							<Length>6</Length>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LotExpirationDate" minOccurs="0" maxOccurs="1" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data de Validade do Lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB7.B7_DTVALID</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalStock" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Físico</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>B2_QATU +- SD3.D3_QUANT</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Total em estoque do produto após o acerto do inventário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LotStock" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Saldo do lote caso exista o numero do lote</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Sum(B8_SALDO) +- D3_QUANT</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Total por Lote do produto após o acerto do inventário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BinStock" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Saldo do endereço caso exista o endereço</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Sum(BF_QUANT) +- D3_QUANT</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Total por Endereço do produto após o acerto do inventário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SeriesStock" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Saldo do Numero de Serie caso exista o Numero de Serie</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Sum(BF_QUANT) +- D3_QUANT</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>Total por Numero de Serie do produto após o acerto do inventário</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />

</xs:schema>