messages-xml/xmlschema/general/events/Invoice_1_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"	elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/Tax_1_000.xsd"></xs:include>
    <xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>Invoice</Name>
					<Description>Baixa de estoque</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
  <xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceNumber" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Número da Nota Fiscal (LOGIX: 10, DataSul: 16,
						Protheus: 20)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSerie" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Serie da Nota Fiscal
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSubSerie" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Sub-Serie da Nota Fiscal
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceModel" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Modelo da Nota Fiscal (Convênio ICMS 31/99)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSituation" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Situação da Nota Fiscal (1-Normal 2-Cancelada)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>
									1-Normal
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>
									2-Cancelada
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDate" type="xs:date" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissão</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InputDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Data de Recebimento/Digitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor da Nota Fiscal
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueofGoods" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor da Mercadoria
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do frete</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Seguro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor do Desconto
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Taxa da Moeda Utilizada para Calcular o Valor da
						Nota Fiscal
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfItens" type="ListOfItensType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Itens da Nota</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
  </xs:complexType>
	
  <xs:complexType name="ListOfItensType">
		<xs:sequence>
			<xs:element name="Item" type="ItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

  <xs:complexType name="ListOfTaxes">
    <xs:sequence>
      <xs:element name="Tax" type="TaxesType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
    
	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="InvoiceSequence" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequência da Nota Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Pedido que Originou o Item da Nota</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrdemItem" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequência do Item do Pedido que Gerou o Item da Nota</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade do Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitofMeasureCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Unidade de Medida</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnityPrice" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário do Item x Taxa da Moeda)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Bruto do Item. (Quantidade x Preço Unitário x Taxa da Moeda)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Frete Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Seguro Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Desconto Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Líquido (Valor Bruto + Frete + Seguro - Desconto)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreAndLineOfBusinessCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
					Código da área e linha.
					No Logix será uma string que poderá ter 4 (área/linha de negócio com 2 níveis)
					ou 8 caracteres (área/linha de negócio com 4 níveis).
					Os campos serão concatenados sem separador, respeitando a sequencia da chave da tabela linha_prod.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="ListOfTaxes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Taxes" type="TaxesType" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
         </xs:complexType>
      </xs:element>
      
    </xs:sequence>
    
	</xs:complexType>
	
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da Nota Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSerie" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Série da Nota Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSubSerie" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sub-Serie da Nota Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>