messages-xml/xmlschema/general/events/ItemCosting_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>ItemCosting</Name>
					<Description>Custo do Item</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="TransactionNumber" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número interno transação, utilizado como
						chave primaria do movimento de estoque.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="9999999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do item. (Uso interno: Campo = mgind.item.it-codigo)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição do item. (Uso interno: Campo = mgind.item.desc-item)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfSites">
				<xs:annotation>
					<xs:documentation>Coleção de estabelecimentos / Filial relacionados ao item. Cada estabelecimento contém seu próprio conjunto de preços e custos para o item.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SiteItemCosting" type="SiteItemCostingType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnitCostCollectionType">
		<xs:annotation>
			<xs:documentation>Definição da coleção utilizada para representar
				valores do custo médio batch, médio on-line e padrão</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UnitValues" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Custos unitários de material, mão-de-obra e
						gastos gerais de fabricação (GGF), expressos em até três moedas
						diferentes.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Sequence" default="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identificador sequencial</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="4"/>
									<xs:minInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="MaterialValue" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Valor unitário de material.</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="9999999999.9999"/>
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LaborValue" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Valor unitário de mão-de-obra.</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="9999999999.9999"/>
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OverHeadValue" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Valor unitário de gastos gerais de fabricação
									(GGF).</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="9999999999.9999"/>
									<xs:totalDigits value="14"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
	<xs:complexType name="SiteItemCostingType">
		<xs:sequence>
			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código depósito. (Uso interno:
												Campo
												= movind.movto-estoq.cod-depos)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WarehouseInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Warehouse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição do depósito. (Uso
												interno:
												Campo = mgind.deposito.nome)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasePrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço base do item para o estabelecimento</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data da última atualização do preço base. (Uso interno: Campo = mgind.item-uni-estab.data-base)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="Price" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preço base do item. (Uso interno: Campo = mgind.item-uni-estab.preco-base)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="99999999999.9999"/>
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FiscalPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço fiscal do item para o estabelecimento, utilizado para operações envolvendo sobras e co-produtos do item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data da última atualização do preço fiscal. (Uso interno: Campo = mgind.item-uni-estab.dt-pr-fisc)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="Price" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preço fiscal do item. (Uso interno: Campo = mgind.item-uni-estab.preco-fiscal)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="99999999999.9999"/>
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LastRepositionPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço da última reposição de estoque, calculado a partir da última cotação de compra do item firmada para o estabelecimento.</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-?">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data em que o preço da última reposição foi atualizado. (Uso interno: Campo = mgind.item-uni-estab.data-ult-rep)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="Price" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preço última reposição. (Uso interno: Campo = mgind.item-uni-estab.preco-repos)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="99999999999.9999"/>
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LastReceivingPrice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço da última entrada efetuada para o item no estoque do estabelecimento</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data em que o preço da última entrada foi atualizado. (Uso interno: Campo = mgind.item-uni-estab.data-ult-ent)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="Price" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Preço da última entrada. (Uso interno: Campo = mgind.item-uni-estab.preco-ul-ent)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:maxInclusive value="99999999999.9999"/>
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BatchAverageCosting" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valores e informações referentes ao custo médio batch.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BatchCostingMethod" default="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Método de custeio médio batch utilizado pelo estabelecimento. Valores: 1 - Diário, 2 - Mensal. (Uso interno: Campo release 204 = mgind.param-estoq.tipo-pr-med - Campo a partir da release 204B = mgind.estab-mat.tipo-pr-med - Include = ininc/i02in287.i )</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastUpdate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data da última atualização do custo médio batch. (Uso Interno: Campo = movind.item-estab.mensal-ate)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListOfBatchAverageCosts" type="UnitCostCollectionType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Coleção de valores do item, referentes ao custo Médio Batch</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OnLineCosting" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valores e informações referentes ao custeio on-line.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OnLineCostingMethod" default="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Método de custeio on-line utilizado pelo item no estabelecimento. (Uso interno: Campo a partir da release 204B = mgind.item-uni-estab.metodo-custeio - Include = ininc/i01in686.i )</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:enumeration value="1">
										<xs:annotation>
											<xs:documentation>Não Definido</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="2">
										<xs:annotation>
											<xs:documentation>LIFO</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="3">
										<xs:annotation>
											<xs:documentation>FIFO</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="4">
										<xs:annotation>
											<xs:documentation>Médio</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="5">
										<xs:annotation>
											<xs:documentation>Custo Padrão</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="6">
										<xs:annotation>
											<xs:documentation>Custo Específico</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LastUpdate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data da última atualização do custo on-line. (Uso Interno: Campo = movind.item-estab.on-line-ate)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListOfOnLineAverageCosts" type="UnitCostCollectionType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Coleção de valores do item, referentes ao custo Médio On-Line</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandardCosting" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LastUpdate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data da última atualização do custo padrão. (Uso Interno: Campo = movind.item-estab.padrao-ate)</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="DATASUL">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA-?">
										<Field>tabela.campo</Field>
										<Required>sim/não</Required>
										<Type>...</Type>
										<Length>...</Length>
										<Description>...</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListOfStandardCosts" type="UnitCostCollectionType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Coleção de valores do item, referentes ao custo Padrão</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>