messages-xml/xmlschema/general/events/ItemScript_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>	
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ItemScript</Name>
				<Description>Mensagem para Integração do Roteiro de Operações</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Robson Roberto Klug</Contact>
					<Description>Cadastro de Roteiros de Operações</Description>
					<Adapter>MATI632.prw</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>Robson Roberto Klug</Contact>
					<Description>Cadastro de Roteiros de Operações</Description>
					<Adapter>ItemScriptAdapter.cls</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="LOGIX">
					<Contact>Robson Roberto Klug</Contact>
					<Description>Cadastro de Roteiros de Operações</Description>
					<Adapter>eaiadapteritemscript.4gl</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
  
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>operacao.it-codigo</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								Código do item
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SG2.G2_PRODUTO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>30</Length>
							<Description>
								Código do produto
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalID do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>operacao.it-codigo|operacao.cod-roteiro|operacao.op-codigo</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								InternalID do item
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt|cFilAnt|SB1.B1_COD</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>25</Length>
							<Description>
								InternalId do produto
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>item.desc-item</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>60</Length>
							<Description>
								Descrição do item
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SB1.B1_DESC</Field>
							<Required>nao</Required>
							<Type>string</Type>
							<Length>40</Length>
							<Description>
								Descrição do produto
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Roteiro</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rot-item.cod-roteiro</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								Código do roteiro
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SG2.G2_CODIGO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>20</Length>
							<Description>
								Código do roteiro
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descrição Roteiro
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rot-fabric.descricao</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>30</Length>
							<Description>
								Descrição do roteiro
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptAlternative" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Roteiro Alternativo
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>		
			<xs:element name="ListOfActivity" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Activity" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ActivityInternalID" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:documentation>
												ID Operação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.it-codigo|operacao.cod-roteiro|operacao.op-codigo</Field>
													<Required>sim</Required>
													<Type>string</Type>
													<Length>37</Length>
													<Description>
														InternalId da Operação/Roteiro
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>cEmpAnt|SG2.G2_FILIAL|SG2.G2_PRODUTO|SG2.G2_CODIGO|SG2.G2_OPERAC</Field>
													<Required>sim</Required>
													<Type>string</Type>
													<Length>21</Length>
													<Description>
														InternalID da Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ActivityCode" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:documentation>
												Código Operação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.op-codigo</Field>
													<Required>não</Required>
													<Type>integer</Type>
													<Length>5</Length>
													<Description>
														Código da Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_OPERAC</Field>
													<Required>sim</Required>
													<Type>string</Type>
													<Length>10</Length>
													<Description>
														Código da Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ActivityDescription" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:documentation>
												Descrição Operação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.descricao</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>34</Length>
													<Description>
														Descrição da Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_DESCRI</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>40</Length>
													<Description>
														Descrição da Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="MachineCode" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Código Máquina
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_RECURSO</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>6</Length>
													<Description>
														Código da máquina
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ToolCode" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												Código Ferramenta
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_FERRAM</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>6</Length>
													<Description>
														Código da ferramenta
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ActivityType" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tipo operação. Define se a operação é apontada ou não. Aonde 1=Aponta e 2=Não Aponta.
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>2</Length>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="InitialDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Data Início Real
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.data-inicio</Field>
													<Required>não</Required>
													<Type>date</Type>
													<Length>10</Length>
													<Description>
														Data inicial da operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_DTINI</Field>
													<Required>não</Required>
													<Type>date</Type>
													<Length>10</Length>
													<Description>
														Data de início da operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="FinalDate" type="xs:date"	minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Data Fim Real
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.data-termino</Field>
													<Required>não</Required>
													<Type>date</Type>
													<Length>10</Length>
													<Description>
														Data final da operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_DTFIM</Field>
													<Required>não</Required>
													<Type>date</Type>
													<Length>10</Length>
													<Description>
														Data fim da operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="PercentageScrapValue"	minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												% Refugo
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.val-perc-refugo</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>5,2</Length>
													<Description>
														Percentual de refugo
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5" />
												<xs:fractionDigits value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PercentageValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Proporção
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.proporcao</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>5,2</Length>
													<Description>
														Proporção
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="5" />
												<xs:fractionDigits value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="WorkCenterCode" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Centro Trabalho
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.gm-codigo</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>9</Length>
													<Description>
														Grupo de máquina
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_CTRAB</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>10</Length>
													<Description>
														Código do centro de trabalho
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkCenterInternalID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												InternalID do Centro Trabalho
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.gm-codigo</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>9</Length>
													<Description>
														Grupo de máquina
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>cEmpAnt|cFilAnt|SHB.HB_COD</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>16</Length>
													<Description>
														InternalID do centro de trabalho
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="WorkCenterDescription" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Descrição Centro Trabalho
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>grup-maquina.descricao</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>32</Length>
													<Description>
														Descrição do Grupo de máquina
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SHB.HB_NOME</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>30</Length>
													<Description>
														Descrição do centro de trabalho
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitItemNumber" minOccurs="0"	type="xs:integer">
										<xs:annotation>
											<xs:documentation>
												Unidades
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.nr-unidades</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>5</Length>
													<Description>
														Unidades
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_LOTEPAD</Field>
													<Required>não</Required>
													<Type>integer</Type>
													<Length>6</Length>
													<Description>
														Lote padrão (quantidade de itens feita no tempo padrão)
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="TimeResource" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tempo Recurso
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.tempo-homem</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>8,3</Length>
													<Description>
														Tempo homem
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_TEMPAD</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>5,2</Length>
													<Description>
														Tempo recurso
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15" />
												<xs:fractionDigits value="4" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TimeMachine" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tempo Máquina
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.tempo-maquin</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>8,3</Length>
													<Description>
														Tempo Máquina
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15" />
												<xs:fractionDigits value="4" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TimeSetup" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tempo Preparação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.tempo-prepar</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>8,3</Length>
													<Description>
														Tempo Preparação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>SG2.G2_SETUP</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>5,2</Length>
													<Description>
														Tempo de preparação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15" />
												<xs:fractionDigits value="4" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tipo Unidade Tempo
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.un-med-tempo</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>2</Length>
													<Description>
														Unidade de medida de tempo
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>
															Horas
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>
															Minutos
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>
															Segundos
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>
															Dias
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ResourceQuantity"	minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Quantidade Recurso
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.numero-homem</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>3</Length>
													<Description>
														Número de homens
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="3" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitActivityCode"	minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Unidade Operação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.cod-un-operac</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>2</Length>
													<Description>
														UM - Operação
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
			
			                        <xs:element name="ActivityItemValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Relação Operação/Item
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>operacao.val-operac-item</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>8,4</Length>
													<Description>
														Relação Operac/Item
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="9" />
												<xs:fractionDigits value="5" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
			                        <xs:element name="ScriptAlternative"
			                        	maxOccurs="1" minOccurs="0">
			                            <xs:annotation>
			                            	<xs:documentation>Código do roteiro alternativo</xs:documentation>
			                            	<xs:appinfo>
												<FieldDocumentation product="DATASUL">
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
													<Field>G2_ROTALT</Field>
													<Required>não</Required>
													<Type>string</Type>
													<Length>2</Length>
													<Description>
														Código do roteiro alternativo
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
			                            </xs:annotation>
			                            <xs:simpleType>
			                        		<xs:restriction base="xs:string">
			                        			<xs:maxLength value="2"></xs:maxLength>
			                        		</xs:restriction>
			                        	</xs:simpleType>
			                        </xs:element>
									
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
            <xs:element name="ListOfPertOrders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PertOrder" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NextActivityID" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												ID Operação Sucessora
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.num-id-operacao-sucess</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>9</Length>
													<Description>
														ID Sucessora
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="10" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ActivityCode"	minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Operação
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.op-codigo</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>5</Length>
													<Description>
														Operação Sucessora	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="10" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="PreviousActivityID" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												ID Operação Predecessora
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.num-id-operacao-predec</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>9</Length>
													<Description>
														ID Predecessora	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="10" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="PreviousScriptCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Roteiro Predecessor
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rot-item.cod-roteiro</Field>
													<Required>sim</Required>
													<Type>string</Type>
													<Length>16</Length>
													<Description>
														Roteiro	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="20" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="PreviousActivityCode" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Código Operação	Predecessora
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.op-predeces</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>5</Length>
													<Description>
														Operação Predecessora	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:maxLength
													value="10" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TimeTransport" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Tempo Transporte
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.transporte</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>7,2</Length>
													<Description>
														Tempo Transporte	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:integer">
												<xs:totalDigits
													value="10" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element
										name="PercentageOverlapValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												% Overlap
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.overlap</Field>
													<Required>não</Required>
													<Type>decimal</Type>
													<Length>7,2</Length>
													<Description>
														Overlap	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="6" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="OverlapQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												Quantidade Overlap
											</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="DATASUL">
													<Field>rede-pert.qtd-overlap</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>9,2</Length>
													<Description>
														Qtd Overlap	
													</Description>
												</FieldDocumentation>
												<FieldDocumentation product="LOGIX">
												</FieldDocumentation>
												<FieldDocumentation product="PROTHEUS">
												</FieldDocumentation>
												<FieldDocumentation product="RM">
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:totalDigits
													value="9" />
												<xs:fractionDigits
													value="2" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
