messages-xml/xmlschema/general/events/Item_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Produto</Name>
				<Description>cadastro de Produtos</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Filial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation>Código Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome Curto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item Ativo?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StockGroupCode">
				<xs:annotation>
					<xs:documentation>Código Grupo Estoque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StockGroupDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Grupo Estoque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfMeasureCode">
				<xs:annotation>
					<xs:documentation>Código Unidade Medida</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ObtainingType">
				<xs:annotation>
					<xs:documentation>Forma de Obtenção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Comprado</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Fabricado</xs:documentation></xs:annotation></xs:enumeration></xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ComercialFamilyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Família Comercial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ComercialFamilyDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Família Comercial</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeployDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Implantação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReleaseDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Liberação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardWarehouseCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Depósito Padrão</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StandardWarehouseDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Depósito Padrão</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MultipleLot" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lote Múltiplo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EconomicLot" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lote Econômico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinimumLot" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lote Mínimo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QualityControl" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Controla Qualidade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ControlType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo Controle</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Físico</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Total</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>Consignado</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="4"><xs:annotation><xs:documentation>Débito Direto</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="5"><xs:annotation><xs:documentation>Não Definido</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StockControlType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo Controle Estoque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Serial</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Número Série</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>Lote</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="4"><xs:annotation><xs:documentation>Referência</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FractionalQuantity" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade Fracionada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Líquido</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GrossWeight" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Bruto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Família</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Família</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FormulaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo Fórmula</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Não Utiliza</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Concentração</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>PPM</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="4"><xs:annotation><xs:documentation>Veículo</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PerMillion" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Per PPM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsScrapStockControl" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Controla Estoque Refugo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsScrapFiscalPrice" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Refugo ao Preco Fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScrapItemCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Item Refugo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScrapItemQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade Item Refugo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10" />
						<xs:fractionDigits value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FiscalInformation" type="FiscalInformationType" minOccurs="0" />
			<xs:element name="CostCenterCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FiscalInformationType">
    	<xs:annotation>
      		<xs:documentation>Informações fiscais do Item</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
     		<xs:element name="FiscalClassification" type="FiscalClassificationType"/>
    	</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="FiscalClassificationType">
		<xs:annotation>
			<xs:documentation>Informacoes fiscais Item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Codigo Classificacao Fiscal</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descricao Classificacao Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>

  <xs:complexType name="ReturnContentType">
    <xs:sequence>
      <xs:element name="ExternalCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código gerado no produto que recebeu a mensagem, caso tenha sido gerado um código específico para o cadastro</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItemCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código original da mensagem gerada. Este campo é enviado também no retorno para facilitar o relacionamento entre estes dois códigos quando apenas o retorno da mensagem for recebido de forma assíncrona</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
