messages-xml/xmlschema/general/events/ItemStructure_1_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Estrutura</Name>
				<Description>Cadastro de Estruturas do Item</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="DATASUL">
					<Contact>...</Contact>
					<Description>......</Description>
					<Adapter>...</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId da empresa
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.cod_empresa</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>
								Internal Id do código da empresa.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyCode" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Código da Empresa
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.cod_empresa</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>
								Código da empresa.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>cEmpAnt</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>
								Código da empresa.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do Item
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>
								estrutura.cod_empresa|estrutura.cod_item_pai
							</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>18</Length>
							<Description>
								Internal Id do item pai da estrutura.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>cEmpAnt|cFilAnt|SG1.G1_COD</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>25</Length>
							<Description>
								Internal Id do item pai da estrutura.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Código do Item Pai
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.it-codigo</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								Código do item pai na estrutura do item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.cod_item_pai</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Código do item pai na estrutura do item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_COD</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Código do item pai na estrutura do produto.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemAmount" type="xs:double" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Quantidade do Item Pai
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.qtd-item</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11</Length>
							<Description>
								Quantidade do Item Pai - formato
								->>>>,>>9.9999
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SB1.B1_QB</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length>7</Length>
							<Description>
								Quantidade base
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfItensStructure"
				type="ListOfItensStructureType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Itens componentes
					</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfItensStructureType">
		<xs:sequence>
			<xs:element name="ItemComponent" type="ItemComponentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="ItemComponentType">
		<xs:sequence>
			<xs:element name="ItemSequence" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Sequência de montagem do componente
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.sequencia</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length>5</Length>
							<Description>
								Sequência de montagem do componente -
								formato >>>>9
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_TRT</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>3</Length>
							<Description>
								Sequência do componente
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemComponentCode">
				<xs:annotation>
					<xs:documentation>
						Código do Item Componente
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.es-codigo</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								Código do item componente na estrutura
								do item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.cod_item_compon</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Código do item componente na estrutura
								do item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_COMP</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Código do item componente na estrutura
								do produto.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemComponentInternalId">
				<xs:annotation>
					<xs:documentation>
						Internal Id do Item Componente
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>
								estrutura.cod_empresa|estrutura.cod_item_compon
							</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>18</Length>
							<Description>
								Internal Id do item componente na
								estrutura do item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>cEmpAnt|cFilAnt|SG1.G1_COMP</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>25</Length>
							<Description>
								Internal Id do produto componente na estrutura.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InitialDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data em que o componente passa a ser válido na
						estrutura
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.data-inicio</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente passa a ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.dat_validade_ini</Field>
							<Required>nao</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente passa a ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_INI</Field>
							<Required>nao</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente passa a ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data em que o componente deixa de ser válido na
						estrutura
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.data-termino</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente deixa de ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.dat_validade_fim</Field>
							<Required>nao</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente deixa de ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_FIM</Field>
							<Required>nao</Required>
							<Type>date</Type>
							<Length>99/99/9999</Length>
							<Description>
								Data em que o componente deixa de ser
								válido na estrutura
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsGhostMaterial" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indica se a relacao item x componente é fantasma
						ou não
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.fantasma</Field>
							<Required>sim</Required>
							<Type>logical</Type>
							<Length>sim/não</Length>
							<Description>
								Indica se a relacao Item x Componente é
								Fantasma ou não, ou seja, se a relação
								deve ou não ser considerada na estrutura
								para geração das ordens
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SB1.B1_FANTASM</Field>
							<Required>não</Required>
							<Type>logical</Type>
							<Length>sim/não</Length>
							<Description>
								Indica se o componente é do tipo fantasma.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemComponentAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Quantidade do Item Componente
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.qtd-compon</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11</Length>
							<Description>
								Quantidade componente para quantidade
								referência item - formato ->>,>>9.999999
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.qtd_necessaria</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>14</Length>
							<Description>
								Quantidade componente para quantidade
								referência item.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,6</Length>
							<Description>
								Quantidade necessária do componente para a quantidade base do produto pai.
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemComponentProportion" type="xs:double"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indica a proporção de uso de um componente
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.proporcao</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>5</Length>
							<Description>
								Indica a proporção de uso de um
								componente - formato >>9.99
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LossFactor" type="xs:double" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Fator de perda do componente em relação a
						quantidade usada
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.fator-perda</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>4</Length>
							<Description>
								Fator de perda do componente em relação
								a quantidade usada
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>estrutura.pct_refug</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>6</Length>
							<Description>
								Percentual de refugo do componente em
								relação a quantidade usada
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
                     <Field>SG1.G1_PERDA</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>
								Percentual de refugo do componente em
								relação a quantidade usada
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfScript" type="ListOfScriptType"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Lista de roteiros
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfReferenceCombination" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                	<xs:documentation>Lista de referencias entre Item Pai e Item Filho (componente da estrutura) caso algum desses seja controlado por referencia.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
					<xs:sequence>
						<xs:element name="ReferenceCombination"
							maxOccurs="unbounded" minOccurs="1">
                            <xs:annotation>
                            	<xs:documentation>Combinação entre referencia item pai x filho na estrutura</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                            	<xs:sequence>
                            		<xs:element name="ItemReference"
                            			type="xs:string" maxOccurs="1" minOccurs="0">
                                        <xs:annotation>
                                        	<xs:documentation>Código da referencia do item pai, caso esteja branco indica que item pai não possui controle por referencia</xs:documentation>
                                        </xs:annotation>
                            		</xs:element>
                            		<xs:element name="ComponentReference"
                            			type="xs:string" maxOccurs="1" minOccurs="0">
                                        <xs:annotation>
                                        	<xs:documentation>Código da referencia do item filho, caso esteja branco indica que item filho não possui controle por referencia</xs:documentation>
                                        </xs:annotation>
                            		</xs:element>
                            	</xs:sequence>
                            </xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType></xs:element>
		</xs:sequence>
    </xs:complexType>

	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ListOfScriptType">
		<xs:sequence>
			<xs:element name="Script" type="ScriptType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ScriptType">
		<xs:sequence>
			<xs:element name="ScriptCode" type="xs:string" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                	<xs:documentation>Código do Roteiro</xs:documentation>
                	<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.cod-roteiro</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>Roteiro</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SGF.GF_ROTEIRO</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>
								Código do Roteiro
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>
			</xs:element>
			<xs:element name="ScriptAlternative" type="xs:string" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                	<xs:documentation>Alternativo do Roteiro</xs:documentation>
                	<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>
			</xs:element>
			<xs:element name="ActivityInternalID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.op-codigo|estrutura.cod-roteiro|estrutura.it-codigo|estrutura.sequencia</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>42</Length>
							<Description>InternalId da Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt|cFilAnt|SGF.GF_PRODUTO|SGF.GF_ROTEIRO|SGF.GF_OPERAC|SGF.GF_COMP</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>34</Length>
							<Description>InternalId da Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivityCode" type="xs:string" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                	<xs:documentation>Código da Operação</xs:documentation>
                	<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>estrutura.op-codigo</Field>
							<Required>sim</Required>
							<Type>integer</Type>
							<Length>5</Length>
							<Description>Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SGF.GF_OPERAC</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>10</Length>
							<Description>
								Código da operação
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
                </xs:annotation>
			</xs:element>
			<xs:element name="ActivityComponentSequence" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Sequencia do componente na operação
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SGF.GF_TRT</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>3</Length>
							<Description>
								Sequencia do componente na operação
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
