messages-xml/xmlschema/general/events/LaborUnion_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>


	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Sindicato</Name>
				<Description>Sindicato de Recursos Humanos</Description>
				<Segment>Recursos Humanos</Segment>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Sindicatos</Description>
					<Adapter>SindicatoAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHUES">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="CompanyId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Empresa</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="BranchId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Filial</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="CompanyInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>CompanyInternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Company Internal Id</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="InternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>InternalId</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Sindicato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Código do Sindicato</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Sindicato</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnionName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome da Pessoa Juridica (Sindicato)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Nome da Pessoa Juridica - Sindicato</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Nome da Pessoa Juridica (Sindicato)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RuralInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ItineraryInformation">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RuralItineraryType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Cálculo Percurso Tarefista</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Cálculo Percurso Tarefista</Field>
													<Required>sim</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Cálculo Percurso Tarefista</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Não Calcula</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Percentual Base Cálculo</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>Distância em Horas</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>Distância em Valor</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>Tempo em Horas</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>Tempo em Valor</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RuralItineraryPercentage" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Percentual Percurso Remuneracao</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Valor Percentual Percurso Remuneracao</Field>
													<Required>sim</Required>
													<Type>decimal</Type>
													<Length>...</Length>
													<Description>Valor Percentual Percurso Remuneracao</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="8"/>
												<xs:fractionDigits value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RuralItineraryServiceCode" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código - Numérico Serviço Percurso Tarefista</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código - Numérico Serviço Percurso Tarefista</Field>
													<Required>sim</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Código - Numérico Serviço Percurso Tarefista</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ListOfRanges" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Range" minOccurs="0" maxOccurs="5">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="InitialDisplacementTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Número Tempo Deslocamento Inicial</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Código - Numérico Serviço Percurso Tarefista</Field>
																			<Required>sim</Required>
																			<Type>number</Type>
																			<Length>...</Length>
																			<Description>Código - Numérico Serviço Percurso Tarefista</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="FinalDisplacementTime" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Número Tempo Deslocamento Final</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Número Tempo Deslocamento Final</Field>
																			<Required>sim</Required>
																			<Type>number</Type>
																			<Length>...</Length>
																			<Description>Número Tempo Deslocamento Final</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="InitialDisplacementDistance" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Quantidade Distância Deslocamento Inicial</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Quantidade Distância Deslocamento Inicial</Field>
																			<Required>sim</Required>
																			<Type>decimal</Type>
																			<Length>...</Length>
																			<Description>Quantidade Distância Deslocamento Inicial</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="6"/>
																		<xs:fractionDigits value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="FinalDisplacementDistance" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Quantidade Distância Deslocamento Final</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Quantidade Distância Deslocamento Final</Field>
																			<Required>sim</Required>
																			<Type>decimal</Type>
																			<Length>...</Length>
																			<Description>Quantidade Distância Deslocamento Final</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="6"/>
																		<xs:fractionDigits value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RuralItineraryValue" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Valor Percurso Tarefista</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Valor Percurso Tarefista</Field>
																			<Required>sim</Required>
																			<Type>decimal</Type>
																			<Length>...</Length>
																			<Description>Valor Percurso Tarefista</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="8"/>
																		<xs:fractionDigits value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RuralItineraryHours" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Número Horas Percurso Tarefista</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Número Horas Percurso Tarefista</Field>
																			<Required>sim</Required>
																			<Type>number</Type>
																			<Length>...</Length>
																			<Description>Número Horas Percurso Tarefista</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NightScheduleInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BeginNightSchedule" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número Inicio Horario Noturno</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>Número Inicio Horario Noturno</Field>
										<Required>sim</Required>
										<Type>number</Type>
										<Length>...</Length>
										<Description>Número Inicio Horario Noturno</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="EndNightSchedule" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número Termino Horario Noturno</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PROXIMA">
										<Field>Número Termino Horario Noturno</Field>
										<Required>sim</Required>
										<Type>number</Type>
										<Length>...</Length>
										<Description>Número Termino Horario Noturno</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ListOfInternalId" type="ListOfInternalIdType"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>