messages-xml/xmlschema/general/events/LeasingContract_2_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>LeasingContract</Name>
				<Description>Contrato Leasing</Description>
				<Segment>Controladoria</Segment>
				<ProductInformation product="Datasul">
					<Contact>Danieli Deschamps Kruger</Contact>
					<Description>Contrato de Leasing IFRS16</Description>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
					</Receive>
				</ProductInformation>				
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="LessorId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CPF/CNPJ do Arrendador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>20</Length>
							<Description>O código do arrendador será buscado a partir do cpf/cnpj informado</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="ContractId" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>cod_contrat_leas</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>12</Length>
							<Description>Código do contrato de leasing</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContractStartDate" type="xs:date" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Inicial do Contrato de Leasing</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>dat_inic_valid</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>08</Length>
							<Description>Data Inicial do Contrato. Será usada essa data para início do cálculo das parcelas.</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractEndDate" type="xs:date" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Final do Contrato de Leasing</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>dat_term_contrat_leas</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>08</Length>
							<Description>Data de término do Controta de Leasing.</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="LesseeId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CPF/CNPJ do Arrendatário</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>20</Length>
							<Description>O código do arrendatário será buscado a partir do cpf/cnpj informado</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CurrencyCode" type="xs:string" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Moeda do contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>contrat_leas.cod_indic_econ</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>03</Length>
							<Description>Código da Moeda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContractValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Description>Valor do Contrato. Se for parcelas diferentes, este campo não é obrigatório</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRate" type="xs:double" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxa de juros do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Description>Taxa de juros do Contrato. </Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>				
			</xs:element>			
			<xs:element name="NumberOfInstallments" type="xs:integer" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade de parcelas do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>contrat_leas.qtd_parc_leas</Field>
							<Required>não</Required>
							<Type>integer</Type>
							<Length></Length>
							<Description>Quantidade de parcelas do contrato. Se for parcelas diferentes, este campo não é obrigatório </Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcTypeId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do tipo de cálculo do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>contrat_leas.cod_tip_calc</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>7</Length>
							<Description>Tipo de cálculo. Quando não informado, o datasul irá buscar o primeiro tipo de cálculo do tipo 'Aprop Leasing' </Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidualValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Residual do Contrato</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field>contrat_leas.val_resid</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Description>Valor Residual do Contrato. </Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginContrat" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identificar da onde vem o contrato (Pims/Protheus/Logix...).</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>15</Length>
							<Description>Origem do Contrato</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="DifferentInstallments" type="xs:boolean" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parcelas com valores diferentes?</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>não</Required>
							<Type>logical</Type>
							<Description>True/False. Caso as parcelas tenham valores diferentes, deverá vir a qtd e o valor das mesmas.</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>	
			</xs:element>
			
			<xs:element name="ListOfDiffInstallments" type="ListOfDiffInstallmentsType" maxOccurs="1" minOccurs="0">
			</xs:element>
		</xs:sequence>			
	</xs:complexType>
	<xs:complexType name="ListOfDiffInstallmentsType">
		<xs:annotation>
			<xs:documentation>Parcelas diferentes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DiffInstallments" type="InstallmentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="InstallmentType">
		<xs:sequence>	
			<xs:element name="NumberOfInstallments" type="xs:integer">
				<xs:documentation>Quantidade de parcelas que terão o mesmo valor.</xs:documentation>
				<xs:appinfo>
					<FieldDocumentation product="Datasul">
						<Field></Field>
						<Required>não</Required>
						<Type>integer</Type>
						<Length></Length>
						<Description> Só utilizado quando for selecionada a opção Parcelas Diferentes = Sim </Description>
					</FieldDocumentation>						
				</xs:appinfo>
			</xs:element>
			<xs:element name="InstallmentsValue" type="xs:double">
				<xs:annotation>
					<xs:documentation>Valor deste conjunto de parcelas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="Datasul">
							<Field></Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>...</Length>
							<Description>Só utilizado quando for selecionada a opção Parcelas Diferentes = Sim</Description>
						</FieldDocumentation>												
					</xs:appinfo>
				</xs:annotation>
			</xs:element>									
		</xs:sequence>
	</xs:complexType>					
									
			
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />
</xs:schema>
