messages-xml/xmlschema/general/events/ListOfManagerialAccountingEntity_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ListOfManagerialAccountingEntity</Name>
				<Description>Conta Gerencial - Contábil</Description>
				<Segment>ERP base</Segment>
				<ProductInformation product="DATASUL">
					<Contact>...</Contact>
				</ProductInformation>
				<ProductInformation product="lOGIX">
					<Contact>...</Contact>
					<Adapter>...</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>Lucas Sepe</Contact>
					<Adapter>...</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Adapter>CTBI800A.prw</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Empresa da Conta Gerencial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.CODCOLIGADA</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>02</Length>
							<Description>Código da Coligada</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>será enviado o valor da variável cEmpAnt( empresa) </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Filial da Conta Contábil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field/>
							<Required>não</Required>
							<Type/>
							<Length/>
							<Description>O cadastro de Conta Gerencial não possui Filial, sendo enviado o dado do contexto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>char</Type>
							<Length>02</Length>
							<Description>Será enviado o valor da variável cFilAnt </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.CODCOLIGADA | CONTEXT.CODFILIAL</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>10</Length>
							<Description>Concatenação da coligada do registro e filial do contexto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim</Required>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ListOfManagerialAccountingEntity" type="ListOfManagerialAccountingEntityType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Contas Gerenciais</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required>sim</Required>
							<Type></Type>
							<Length></Length>
							<Description>Lista de Contas Gerenciais (Tabela CGERENCIA)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>Lista de entidades gerenciais. O Protheus irá utilizar a entidade contábil gerencial configurada no parâmetro MV_CTBCGER </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfManagerialAccountingEntityType">
		<xs:sequence>
			<xs:element name="ManagerialAccountingEntity" type="ManagerialAccountingEntityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contas Gerencial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required>sim</Required>
							<Type></Type>
							<Length></Length>
							<Description>Contas Gerencial (Tabela CGERENCIA)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ManagerialAccountingEntityType">
		<xs:sequence>
			<xs:element name="Code" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código com máscara (exemplos: '1', '1.1', '1.1.001')</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.CODCONTA</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>40</Length>
							<Description>Código da Conta Gerencial</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_CODIGO</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>15</Length>
							<Description>Código da Entidade Contábil Gerencial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Code</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.CODCOLIGADA | CGERENCIA.CODCONTA</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>50</Length>
							<Description>Código que indentificar a conta gerencial no RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_PLANO+CV0_CODIGO</Field>
							<Required>sim/não</Required>
							<Type>char</Type>
							<Length>17</Length>
							<Description>Código que irá identificar a entidade contábil no sistema externo </Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortCode" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código Reduzido</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.REDUZIDO</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>20</Length>
							<Description>Número reduzido da conta gerencial</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>Nao</Required>
							<Type></Type>
							<Length></Length>
							<Description>Campo nao utilizado no Protheus</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.DESCRICAO</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>40</Length>
							<Description>Descrição da conta gerencial</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_DESC</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>30</Length>
							<Description>Descrição da Entidade contábil</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostingNature" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Natureza</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.NATUREZA</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>02</Length>
							<Description>No RM este campo assume 0 = Credora e 1 = Devedora</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_NORMAL</Field>
							<Required>sim</Required>
							<Type>char</Type>
							<Length>1</Length>
							<Description>1 - Devedora 2 - Credora</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Devedora</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Credora</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AnalyticalOrSynthetic" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Se Analítico ou Sintético</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.ANALITICA</Field>
							<Required>sim</Required>
							<Type>int</Type>
							<Length>02</Length>
							<Description>No RM este campo assume 0 = Sintética e 1 = Analítica</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_CLASSE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>1</Length>
							<Description>Define se o item contábil é Sintético ou Analitico</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sintético</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Analítico</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActiveOrInactive" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Se 1(Ativa) ou 2(Inativa)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CGERENCIA.INATIVA</Field>
							<Required>sim</Required>
							<Type>smallint</Type>
							<Length>2</Length>
							<Description>Informação de Conta Gerencial ativa/inativa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>CV0_BLOQUE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>1</Length>
							<Description>Define se o item esta Ativa ou Inativa (Bloqueada)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Ativa</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Inativo, Bloqueado ou Excluido</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />

</xs:schema>