messages-xml/xmlschema/general/events/ListOfAccountReceivableSettlements_1_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
		
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ListOfAccountReceivableSettlements</Name>
				<Description>Lista de Baixas a Receber</Description>
				<Segment>Educacional</Segment>
				
				<ProductInformation product="RM">
					<Contact>Poliana Aparecida Pessoa</Contact>
					<Description>GDP de Inovação Controladoria</Description>
					<Adapter>SettingComplementaryValues</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				
				<ProductInformation product="PROTHEUS">
					<Contact>Rogério Nagy</Contact>
					<Description>GDP - Inovacao Controladoria</Description>
					<Adapter>FINI070LST</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InernalId da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLIGADA | FLAN.CODFILIAL</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
              <Description>Coligada e Filial do Lançamento Financeiro</Description>
            </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId da empresa é formado por EMPRESA|FILIAL</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLIGADA</Field>
							<Required>sim</Required>
							<Type>integer</Type>
              <Description>Coligada do Lançamento Financeiro</Description>
            </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Código da Empresa (cEmpAnt)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODFILIAL</Field>
							<Required>sim</Required>
							<Type>integer</Type>
              <Description>Código da Filial do Lançamento Financeiro</Description>
            </FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1XX0.FK1_FILIAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Pode ter tamanho entre 02 e 12 dependendo da configuração do Protheus</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="ListOfAccountReceivableSettlement" type="ListOfAccountReceivableSettlementType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Baixas a Receber</xs:documentation>
				</xs:annotation>				
			</xs:element>
										
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ListOfAccountReceivableSettlementType">
		<xs:sequence>
			<xs:element name="AccountReceivableSettlement" type="AccountReceivableSettlementType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AccountReceivableSettlementType">
		<xs:sequence>
			
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único da baixa a receber</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.CODCOLIGADA | FLANBAIXA.IDLAN | FLANBAIXA.IDBAIXA</Field>
							<Required>sim</Required>
							<Type>integer|integer|integer</Type>
							<Length></Length>
							<Description>Código da Coligada, Identificador do Lançamento Financeiro e Identificador do Item de Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>Identificador único da baixa no Protheus.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="AccountReceivableDocumentInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do título a receber a ser baixado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLAN.CODCOLIGADA | FLAN.IDLAN</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
							<Length></Length>
							<Description>Coligada e Identificador do Lançamento Financeiro</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>Identificador único do título a receber a ser baixado no Protheus.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="PaymentDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data em que o cliente efetuou o pagamento do título</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FXCX.DATA</Field>
							<Required>sim</Required>
							<Type>datetime</Type>
							<Length></Length>
							<Description>Data do Extrato do Item de Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1_DATA</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data da Baixa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="CreditDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data na qual o valor foi creditado na conta da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FXCX.DATACOMPENSACAO</Field>
							<Required>não</Required>
							<Type>datetime</Type>
							<Length></Length>
							<Description>Data de Compensação do Extrato do Item de Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK5_DTDISP</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de Disponibilizacão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="PaymentValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.VALORBAIXA</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Valor do Item de Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1_VALOR</Field>
							<Required>sim</Required>
							<Type>double</Type>
							<Length>16,2</Length>
							<Description>Valor da Baixa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

      <xs:element name="ParcialPayment" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Quando Verdadeiro, Indica uma baixa parcial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field></Field>
              <Required>sim</Required>
              <Type>boolean</Type>
              <Length></Length>
              <Description>Campo tem seu valor calculado no momento da baixa para preenchimento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>sim</Required>
              <Type>boolean</Type>
              <Length></Length>
              <Description>Definição para o tipo de baixa parcial/total</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
		
			<xs:element name="OtherValues" type="OtherValuesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outros Valores</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="ListOfComplementaryValues" type="ListOfComplementaryValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Valores Complementares</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CurrencyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único da moeda da baixa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.CODMOEDABAIXA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>10</Length>
							<Description>Código da Moeda da Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>Identificador único da moeda da baixa no Protheus.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="CurrencyRate" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxa da moeda da baixa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>COTACAOBAIXA</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Cotação da Moeda da Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1_TXMOED</Field>
							<Required>não</Required>
							<Type>double</Type>
							<Length>11,4</Length>
							<Description>Taxa informada para outras moedas</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="PaymentMethod"  type="PaymentMethodType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Forma de Baixa 001-AD - ADIANTAMENTO, 002-AB - ABATIMENTO, 003-DV - DEVOLUÇÃO, 004-NC - NOTA DE CRÉDITO/TÍTULOS DE CRÉDITO, 005-NP - NOTA PROMISSÓRIA, 006-BX - BAIXA, 007-NOR - NORMAL, 008-DAC - DACAO, 009-DEB - DEBITO CC, 010-VEN - VENDOR, 011-LIQ - LIQUIDA, 012-FAT - FATURAS, 013-CRD - CREDITO, 014-CEC - COMP CARTE, 015-BOL - BOLETO, 016-SUB - SUBSTITUICAO</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>Calculado: se o Valor da Baixa for zero (015), nos demais casos (007)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1_MOTBX</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description>Motivo da baixa do título</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PaymentMeans"  type="PaymentMeansType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Forma de Pagamento 000-OUT - OUTROS, 001-R$ - DINHEIRO, 002-CH - CHEQUE, 003-CC - CARTAO CREDITO, 004-CD - CARTAO DEBITO, 005-FI - PARCELADO, 006-VA - VALE, 007-DC - DEBITO EM CONTA CORRENTE, 008-BOL - BOLETO, 009-DF - DEBITO EM FOLHA</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK9_FORMPG</Field>
							<Required>nao</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description>Forma de pagamento do título</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BankInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do banco (portador)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>Identificador único do banco no Protheus</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="HistoryText" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Historico do movimento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FXCX.HISTORICO</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>255</Length>
							<Description>Histórico do Extrato do Item de Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FK1_HISTOR</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>40</Length>
							<Description>Histórico do movimento</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>			
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="ReverseRemittanceBank" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação da parcela</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E1_SITUACA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length/>
							<Description>Situação do Lançamento com relação ao banco.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OtherValuesType">
		<xs:sequence>
		
			<xs:element name="InterestValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Juros Pagos</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.VALORJUROS</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Valor do Juros da Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="DiscountValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Desconto Concedido</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.VALORDESCONTO</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Valor do Desconto da Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="AbatementValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Abatimento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="ExpensesValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Despesas Financeiras</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description>Não informado pelo RM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		
			<xs:element name="FineValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da Multa Paga</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.VALORMULTA</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Valor da Multa da Baixa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfComplementaryValueType">
		<xs:sequence>
			<xs:element name="ComplementaryValue" type="ComplementaryValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComplementaryValueType">
		<xs:sequence>
      
			<xs:element name="ComplementaryValueInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do valor acessório</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.CODCOLIGADA | "VALOROP1", "VALOROP2", ...</Field>
							<Required>sim</Required>
							<Type>integer|varchar</Type>
							<Length></Length>
              <Description>Código é formatado pela regra de negócio, são integrados os valores opcionais (1..8), os valores dos vínculos (devolução, nota de crédito, crédito de adiantamento), e o valor da perda financeira</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>InternalId do valor acessório</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="InformedValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor informado do valor acessório</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>FLANBAIXA.VALOROP[n], FLANBAIXA.VALORDEVOLUCAO, FLANBAIXA.VALORNOTACREDITO, FLANBAIXA.VALORNOTACREDITOADIANTAMENTO, FLANBAIXA.VALORPERDAFINANCEIRA</Field>
							<Required></Required>
							<Type>decimal</Type>
							<Length></Length>
							<Description>Valor definido pela regra de negócio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>FKD_VALOR</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Valor</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PaymentMethodType">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="001">
				<xs:annotation>
					<xs:documentation>AD - ADIANTAMENTO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="002">
				<xs:annotation>
					<xs:documentation>AB - ABATIMENTO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="003">
				<xs:annotation>
					<xs:documentation>DV - DEVOLUÇÃO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="004">
				<xs:annotation>
					<xs:documentation>NC - NOTA DE CRÉDITO/TÍTULOS DE CRÉDITO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="005">
				<xs:annotation>
					<xs:documentation>NP - NOTA PROMISSÓRIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="006">
				<xs:annotation>
					<xs:documentation>BX - BAIXA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="007">
				<xs:annotation>
					<xs:documentation>NOR - NORMAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="008">
				<xs:annotation>
					<xs:documentation>DAC - DACAO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="009">
				<xs:annotation>
					<xs:documentation>DEB - DEBITO CC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="010">
				<xs:annotation>
					<xs:documentation>VEN - VENDOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="011">
				<xs:annotation>
					<xs:documentation>LIQ - LIQUIDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="012">
				<xs:annotation>
					<xs:documentation>FAT - FATURAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="013">
				<xs:annotation>
					<xs:documentation>CRD - CREDITO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="014">
				<xs:annotation>
					<xs:documentation>CEC - COMP CARTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="015">
				<xs:annotation>
					<xs:documentation>BOL - BOLETO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="016">
				<xs:annotation>
					<xs:documentation>SUB - SUBSTITUICAO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PaymentMeansType">
		<xs:restriction base="xs:string">
		
			<xs:enumeration value="000">
				<xs:annotation>
					<xs:documentation>OUT - OUTROS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="001">
				<xs:annotation>
					<xs:documentation>R$ - DINHEIRO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="002">
				<xs:annotation>
					<xs:documentation>CH - CHEQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="003">
				<xs:annotation>
					<xs:documentation>CC - CARTAO CREDITO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="004">
				<xs:annotation>
					<xs:documentation>CD - CARTAO DEBITO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="005">
				<xs:annotation>
					<xs:documentation>FI - PARCELADO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="006">
				<xs:annotation>
					<xs:documentation>VA - VALE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="007">
				<xs:annotation>
					<xs:documentation>DC - DEBITO EM CONTA CORRENTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="008">
				<xs:annotation>
					<xs:documentation>BOL - BOLETO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="009">
				<xs:annotation>
					<xs:documentation>DF - DEBITO EM FOLHA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>