messages-xml/xmlschema/general/events/Machine_1_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation>Código Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WorkCenterCode">
				<xs:annotation>
					<xs:documentation>Código Centro Trabalho</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WorkCenterDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Centro Trabalho</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProcessorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo Processamento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Monoprocesso</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Por Batelada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Multiplos Processos</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Manual</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LaborType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo MOD</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Não Reporta</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Operador</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Equipe</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VolumeMachineQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade Volume Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EfficiencyMachineValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eficiência Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorMachineQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade Operador Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SimultaneousActivityQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade Operações Simultaneas</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsSetup" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Possui Preparação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsControlPert" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Considera Evento Anterior</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsReportEvent" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reporta Contador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOverlapReport" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sobrepõe Apontamento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Centro Custo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductionAreaCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Área Produção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InitialValidateDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data início validade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalValidateDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data fim validade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeMachine" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Recurso</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Arranjo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfResources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Resource" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ResourceType">
										<xs:annotation>
											<xs:documentation>Tipo Recurso</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Operador</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Ferramenta</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>Equipe</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>Equipamento</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ResourceCode">
										<xs:annotation>
											<xs:documentation>Código Recurso</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ResourceName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Nome Recurso</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="UnitTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tipo Medida Tempo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Horas</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Minutos</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>Segundos</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="StartExpirationDate" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Início Validade</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndExpirationDate" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Fim Validade</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IsTimeActivity" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Determina Operação</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CycleQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número Ciclos</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="11"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfProductionShifts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductionShift" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ProductionShiftCode">
										<xs:annotation>
											<xs:documentation>Código Modelo Turno</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ProductionShiftDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descrição Modelo Turno</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BeginDate" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Início Validade</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndDate" type="xs:date">
										<xs:annotation>
											<xs:documentation>Data Fim Validade</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfControlItems" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ControlItem" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ControlItemCode">
										<xs:annotation>
											<xs:documentation>Código Item Controle</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ControlItemDescription" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descrição Item Controle</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MinDate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Diferença Data Mínima</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaxDate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Diferença Data Máxima</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IsMandatory" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Item Controle Obrigatório</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxChoices" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Número Máximo Escolhas</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MinValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Mínimo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaxValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valor Máximo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="14"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
</xs:schema>
