messages-xml/xmlschema/general/events/MaintenanceOrder_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ApportionType_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>MaintenanceOrder</Name>
					<Description>Ordem de Manutenção</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Situação da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="000">
							<xs:annotation>
								<xs:documentation>Não Iniciada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="001">
							<xs:annotation>
								<xs:documentation>Em andamento</xs:documentation>
							</xs:annotation>
						</xs:enumeration>						
						<xs:enumeration value="002">
							<xs:annotation>
								<xs:documentation>Finalizada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="003">
							<xs:annotation>
								<xs:documentation>A Faturar</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="004">
							<xs:annotation>
								<xs:documentation>Faturada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="999">
							<xs:annotation>
								<xs:documentation>Cancelada (Enviar a mensagem com este status não efetua o cancelamento da Ordem)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AssetInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Patrimônio a ser feito a manutenção</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="UserRequesterCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Usuário Requisitante					
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="AccountableUserInternalID" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Usuário Responsável pela Manutenção (FK a partir da tabela de Usuários)
									  Campo necessário para armazenar o usuário responsável (Planejador) para o Datasul.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>					
			<xs:element name="RegisterDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Emissão da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaintenanceServiceCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do serviço desempenhado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstCounter" maxOccurs="1" minOccurs="0" type="xs:int">
				<xs:annotation>
					<xs:documentation>Primeiro contador de utilização do Patrimônio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondCounter" maxOccurs="1" minOccurs="0" type="xs:int">
				<xs:annotation>
					<xs:documentation>Segundo contador de utilização do Patrimônio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração do Projeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaskInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração da Tarefa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfMaintenanceOrderItem" maxOccurs="1" minOccurs="0" >
			<xs:complexType>
				<xs:annotation>
					<xs:documentation>Lista de Itens da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
        		<xs:sequence>
					<xs:element name="MaintenanceOrderItem" type="MaintenanceOrderItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element name="ListOfApportionMaintenanceOrder" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio da Ordem de Manutenção</xs:documentation>
					</xs:annotation>
	        		<xs:sequence>
						<xs:element name="ApportionMaintenanceOrder" type="ApportionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="MaintenanceOrderItemType">
		<xs:sequence>
			<xs:element name="Event" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Operação a ser executada no registro.</xs:documentation>
				</xs:annotation>				
				<xs:simpleType>
					<xs:restriction base="xs:string">						
						<xs:enumeration value="Upsert">
							<xs:annotation>
								<xs:documentation>Alterar/Incluir</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Delete">
							<xs:annotation>
								<xs:documentation>Excluir</xs:documentation>
							</xs:annotation>
						</xs:enumeration>		
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code" maxOccurs="1" minOccurs="0" type="xs:int">
				<xs:annotation>
					<xs:documentation>Código do item da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do item da Ordem de Manutenção</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração do Produto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemReferenceCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Referência do Produto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
						<xs:whiteSpace value="preserve"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total do Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração da Unidade de Medida</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração do Local de Estoque(Armazem)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Inicio do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Término do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração do Projeto</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="TaskInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Id de integração da Tarefa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfApportionMaintenanceOrderItem" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio dos Itens da Ordem de Manutenção</xs:documentation>
					</xs:annotation>
	        		<xs:sequence>
						<xs:element name="ApportionMaintenanceOrderItem" type="ApportionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
