messages-xml/xmlschema/general/events/Models_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Models</Name>
				<Description>Mensagem para Integração de Modelos</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Cadastro de Modelos</Description>
					<Adapter>ModeloAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Modelo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Modelo</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Modelo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Code</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>ID Código Interno do Modelo</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>ID Código Interno do Modelo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="Description" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição do Modelo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Descrição do Modelo</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Descrição do Modelo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="MarkCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Marca</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Marca</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código da Marca</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="MarkInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do MarkCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>ID do Código Interno da Marca</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>ID do Código Interno da Marca</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PowerClassCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Classe de Potência</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código da Classe de Potência</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código da Classe de Potência</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="PowerClassInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do PowerClassCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>ID do Código Interno da Classe de Potência</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>ID do Código Interno da Classe de Potência</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="OperativeGroupCode">
				<xs:annotation>
					<xs:documentation>Código do Grupo Operativo 
				Datasul - Nome Técnico: MechanicsStructure Nome Lógico: Estrutura Mecânica</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>Código do Grupo Operativo</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Grupo Operativo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="OperativeGroupInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do OperativeGroupCode</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>ID do Código Interno do Grupo Operativo</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>ID do Código Interno do Grupo Operativo</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>