messages-xml/xmlschema/general/events/MonthlyPayroll_1_000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>Lançamentos Mensais</Name>
        <Description>Lançamentos de Recursos Humanos</Description>
        <Segment>Recursos Humanos</Segment>
        <ProductInformation product="PROTHEUS">
          <Contact>Natiê Sugahara</Contact>
          <Description>Lançamentos Mensais</Description>
          <Adapter>GPEI090.prw</Adapter>
          <Send>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="RM">
          <Contact>Tiago Figueiredo de Carvalho</Contact>
          <Description>..</Description>
          <Adapter>..</Adapter>
          <Send>
            <Insert>nao</Insert>
            <Update>nao</Update>
            <Delete>nao</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact>Patricia Theilacker</Contact>
        </ProductInformation>
        <ProductInformation product="LOGIX">
          <Contact>Rafael Luis Silva</Contact>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CompanyId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Código da Empresa</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BranchId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Código da Filial</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CompanyInternalId" type="xs:string">
        <xs:annotation>
          <xs:documentation>InternalId da chave completa de empresa</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="EmployeeCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Código da matricula do funcionário</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_MAT</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>6</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="EmployeeInternalId" type="xs:string">
        <xs:annotation>
          <xs:documentation>InternalId da matricula</xs:documentation>
          <xs:appinfo>
            <InternalIdName>EmployeeCodeInternalId</InternalIdName>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ListOfPayrollItem" type="ListOfPayrollItemType">
        <xs:annotation>
          <xs:documentation>Itens do Lançamento</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ListOfPayrollItemType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PayrollItem" type="PayrollItemType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PayrollItemType">
    <xs:sequence>      
      <xs:element maxOccurs="1" minOccurs="0" name="FundCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Código da verba</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_PD</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>3</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="FundCodeInternalId" type="xs:string">
        <xs:annotation>
          <xs:documentation>InternalId da verba</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InformationType">
        <xs:annotation>
          <xs:documentation>Tipo de conteúdo da verba</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_TIPO1</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>1</Length>
              <Description>Tipo do conteudo da verba (H-Horas, D-Dias, V-Valor)</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Horas</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Dias</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Valor</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>Referencia</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="NumberOfHoursPosted">
        <xs:annotation>
          <xs:documentation>Quantidade do Tipo de Verba</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_HORAS</Field>
              <Required>nao</Required>
              <Type>decimal</Type>
              <Length>6,2</Length>
              <Description>
                Informe o número de horas ou de dias a serem lançadas para o funcionário. Caso o conteudo do campo RGB_TIPO1
                for igual a "D"-Dias enviar a quantidade de dias.
                Caso seja RGB_TIPO1 igual a "H"-horas, enviar a quantidade de horas no formato 999.99.
                Caso o campo RGB_TIPO1 for igual a "V"-Valor, este campo deverá estar com zero.
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="10"/>
            <xs:fractionDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="EntryValue">
        <xs:annotation>
          <xs:documentation>Valor da verba</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_VALOR</Field>
              <Required>nao</Required>
              <Type>decimal</Type>
              <Length>12,2</Length>
              <Description>
                Para os tipos de verbas (RGB_TIPO1) igual a dias ou horas o valor poderá estar com zero.
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="15"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PaymentDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data do pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RCH.RCH_DTPAGO</Field>
              <Required>nao</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description>Deverá ser enviado a data de pagamento do lançamento para auxiliar nos controles de RH. Não é obrigaório</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ReferenceDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Data do lançamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_DTREF</Field>
              <Required>nao</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description>
                É uma data para controle da informação auxiliando nos controles de RH.
                Por exemplo caso tenha feito o calculo da folha dia 25 do mês e incluido uma verba dia 26,
                deverá ser feito novamente o calculo da folha.
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="MonthCompetence">
        <xs:annotation>
          <xs:documentation>Mês de Competencia</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="YearCompetence">
        <xs:annotation>
          <xs:documentation>Ano de Competencia</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="FundOrigin">
        <xs:annotation>
          <xs:documentation>Tipo do Registro</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_TIPO2</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>É uma classificação do tipo do lançamentos para auxiliar nos controles dos calculos</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Adiantamento</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Calculado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Lançamento do Ponto Eletrônico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>Fechamento</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
              <xs:annotation>
                <xs:documentation>Gerado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
              <xs:annotation>
                <xs:documentation>Informado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="7">
              <xs:annotation>
                <xs:documentation>Férias</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="8">
              <xs:annotation>
                <xs:documentation>1a.Parcela</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
              <xs:annotation>
                <xs:documentation>2a.Parcela</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
              <xs:annotation>
                <xs:documentation>Recisão</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CostCenter" type="xs:string">
        <xs:annotation>
          <xs:documentation>Centro de Custo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_CC</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>9</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>
                A informação do Centro de Custo será necessária quando se configura para contabilizar
                pelos lançamentos ou inves do centro de custo do cadastro de funcionários.
              </Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CostCenterInternalId" type="xs:string">
        <xs:annotation>
          <xs:documentation>InternalId do Centro de Custo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WeekNumber">
        <xs:annotation>
          <xs:documentation>Número da semana de pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>RGB.RGB_SEMANA</Field>
              <Required>nao</Required>
              <Type>char</Type>
              <Length>2</Length>
              <Description>
                Identifica o numero de pagamento de um periodo de calculo.
                Esta informa é enviada com o numero de semana do pagamento que vai de 01 a 52 semana anuais
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="ListOfInternalId" type="ListOfInternalIdType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
