messages-xml/xmlschema/general/events/OperationSplit_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>OperationSplit</Name>
					<Description>Operação de Divisão</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="ProductionOrderNumber">
				<xs:annotation>
					<xs:documentation>Número Ordem Produção</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ActivityID">
				<xs:annotation>
					<xs:documentation>ID Operação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SplitOperationCode">
				<xs:annotation>
					<xs:documentation>Código Split</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfOperationDates" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OperationDate" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StartOperationDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Início Operação</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndOperationDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Fim Operação</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfQuantities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quantity" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ApprovedQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Aprovada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ScrapQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Refugada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ToolQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Ferramenta</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TeamItemQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Produto Pallet</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SetupTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tempo Preparação</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReworkQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Retrabalhada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="17"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ReportQuantity" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Quantidade Reportada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="18"/>
												<xs:fractionDigits value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MachineCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Máquina</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperationStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Não Iniciado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Programado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Liberado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Iniciado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Finalizado</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation>Suspenso</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ToolCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Ferramenta</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UsedCapacity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Capacidade Utilizada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReportedSplit" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Split Reportado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DischargedSplit" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Split Descarregado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CriticalSplit" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Split Crítico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsProductionControlReport" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reporta Controle de Produção</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfSetupDates" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SetupDate" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StartSetupDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Início Preparação</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndSetupDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Fim Preparação</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AvailableDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Disponível</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotTimeValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tempo Batelada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="17"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartEarlierDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Início Mais Cedo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndEarlierDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Fim Mais Cedo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartLaterDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Início Mais Tarde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndLaterDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Fim Mais Tarde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartEarlierSetupDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Início Mais Cedo Preparação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartLaterSetupDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Início Mais Tarde Preparação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPlanSetupDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data/Hora Início Planejamento Preparação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfPlanDates" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PlanDate" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StartPlanDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Início Programação</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndPlanDateTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Data/Hora Fim Programação</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
</xs:schema>
