messages-xml/xmlschema/general/events/Order_3_007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	elementFormDefault="qualified"
	xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd">

	<!-- ===================================== -->
	<!--  INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ===================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd" />
	<xs:include schemaLocation="../types/Address_1_000.xsd" />
	<xs:include	schemaLocation="../types/GovernmentalInformation_1_000.xsd" />
	<xs:include schemaLocation="../types/ApportionType_2_001.xsd" />
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd" />
	<xs:include schemaLocation="../types/AssignmentTypeEnum_1_000.xsd" />
	<xs:include schemaLocation="../totvsmsgdoc.xsd" />
	
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Order</Name>
				<Description>Pedido de compra</Description>
				<Segment>Construção e Projetos</Segment>
				<ProductInformation product="RM">
					<Contact>Alaim Porto Alvarenga</Contact>
					<Description>
						GDP Inovação Const. e Proj.
					</Description>
					<Adapter>MovMovimentoData</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Eduardo de Souza</Contact>
					<Description>GDP de Materiais</Description>
					<Adapter>MATA120</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
			<MessageDocumentation>
				<Name>Order</Name>
				<Description>Pedido de venda</Description>
				<Segment>Construção e Projetos</Segment>
				<ProductInformation product="RM">
					<Contact>Alaim Porto Alvarenga</Contact>
					<Description>
						GDP Inovação Const. e Proj.
					</Description>
					<Adapter>MovMovimentoData</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Hanna Caroline Inglez</Contact>
					<Description>GDP de Serviços</Description>
					<Adapter>MATA410</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM      -->
	<!-- ==================================== -->
	<xs:complexType name="TcHeader">
		<xs:sequence>
			<xs:element name="CompanyInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						InternalId da Empresa
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>
								TMOV.CODCOLIGADA|TMOV.CODFILIAL
							</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>
								o InternalID da empresa é formado por
								EMPRESA|F1_FILIAL. Tamanho entre 05 e 15
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCOLIGADA</Field>
							<Required>sim</Required>
							<Type>integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>
								Não possui campo físico na tabela
							</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODFILIAL</Field>
							<Required>sim</Required>
							<Type>integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_FILIAL</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>
								Pode ter tamanho entre 02 e 12
								dependendo da configuração do Protheus
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="funcmsgorder" type="tsfuncmsgorder"
				minOccurs="0" />

			<xs:element name="OrderPurpose" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Objetivo do pedido
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>
									Compra
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>
									Venda
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="ordertypecode" type="tsordertypecode"
				minOccurs="0" />

			<xs:element name="CustomerOrderId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Número do Pedido do Cliente (no LOGIX esta
						informação fica na capa do pedido)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="InternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do Pedido
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCOLIGADA|TMOV.IDMOV</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>
								O InternalId é formado por FILIAL|C7_NUM
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="RegisterDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissao</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.DATAEMISSAO</Field>
							<Required>sim</Required>
							<Type>DateTime</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_EMISSAO</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="OrderId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						No.do Pedido (Deve ser enviado somente para
						alteracao e exclusao)
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_NUM</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>6</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Versão do Pedido de Compra
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="RegisterHour" type="xs:time"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hora de Emissao</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="dhinidelivery" type="tsDataTempo"
				minOccurs="0" />

			<xs:element name="dhfindelivery" type="tsDataTempo"
				minOccurs="0" />

			<xs:element name="RequestDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data da solicitação do pedido
						Cliente/Representante
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="FreightType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Frete</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>CIF</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>FOB</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>SFT</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="FreightValue" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Frete</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_VALFRE</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description>
								Contém a máscara numérica @E
								999,999,999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="RedeliveryCarrierCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Redespacho</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="InvoiceMessages" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Mensagem da Nota Fiscal
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="NetWeight" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Líquido</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="GrossWeight" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Bruto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_PESO_B</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>
								Contém a máscara numérica @E
								999,999,999.999
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="TareWeight" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Tara</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="CubicVolume" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volume Cúbico</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="NumberOfVolumes" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Número de volumes
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="Finality" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Finalidade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>
									Contribuinte ICMS
									(Indústria/Comércio)
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>
									Não-contribuinte ICMS
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="InsuranceValue" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor do Seguro (Conta e Ordem)
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_SEGURO</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description>
								Contém a máscara numérica @E
								999,999,999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CurrencyCode" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						LOGIX: Moeda do Pedido
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="CurrencyId" type="tscurrency"
				minOccurs="0" />

			<xs:element name="currencydesc" type="tscurrencydesc"
				minOccurs="0" />

			<xs:element name="Status" type="tsstatustype" minOccurs="0" />

			<xs:element name="contractnumber" type="tscontractnumber"
				minOccurs="0" />

			<xs:element name="pricetablenumber" type="tspricetablenumber"
				minOccurs="0" />

			<xs:element name="VendorGovInfo" type="GovernmentalInformationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Inscrição Estadual do fornecedor que será
						utilizada para gerar o pedido
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="CustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Código do cliente/fornecedor
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCFO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>25</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_FORNECE</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>6</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="CustomerInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do cliente/fornecedor
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCOLCFO|TMOV.CODCFO</Field>
							<Required>sim</Required>
							<Type>integer|string</Type>
							<Length>|25</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>
								O InternalId do fornecedor é formado por
								EMPRESA|A2_FILIAL|A2_COD|A2_LOJA
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CustomerGovInfo" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documentos do cliente/comprador </xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="DeliveryCustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Cliente de Entrega</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="DeliveryCustomerGovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documentos do cliente/comprador para o qual será feita a entrega</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="DeliveryAddress" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Endereço de Entrega</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="BillingLocationGovInfo" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documentos do cliente/comprador para o qual será feita a entrega</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CarrierGovInfo" type="GovernmentalInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documentos do transportador</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CarrierCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Transportadora</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="carriername" type="tscarriername" minOccurs="0"/>
			
			<xs:element name="comment" type="tscomment" minOccurs="0"/>
			
			<xs:element name="natureoperation" type="tsnatureoperation" minOccurs="0"/>
			
			<xs:element name="UserInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Usuario</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="LOGIX">
							<Field>Comprador.Login</Field>
							<Required>sim</Required>
							<Type>string</Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="conditionpay" type="tsconditionpay" minOccurs="0"/>
			
			<xs:element name="PaymentTermCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Condição de Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TMOV.CODCPG</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>5</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_COND</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>3</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="PaymentConditionInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da condição de pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>CODCOLIGADA|TMOV.CODCPG</Field>
							<Required>sim</Required>
							<Type>integer|string</Type>
							<Length>|5</Length>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId da Condição de Pagamento é formado por EMPRESA|E4_FILIAL|E4_CODIGO</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="descconditionpay" type="tsdesccondition" minOccurs="0"/>
			
			<xs:element name="Discounts" type="DiscountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descontos</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="FinancialDiscount" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Desconto Financeiro</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="TotalDiscount" type="xs:double" minOccurs="0"/>
			
			<xs:element name="orderpricetype" type="tsorderpricetype" minOccurs="0"/>
			
			<xs:element name="OrderNumberRepres" type="tsnumpedidorepres" minOccurs="0"/>
			
			<xs:element name="PAYMENTPLAN" type="tcPayment" minOccurs="0"/>
			
			<xs:element name="SellerCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do vendedor</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="Observation" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Observações do Pedido</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
			
			<xs:element name="OTHER" type="tcother" minOccurs="0"/>
			
			<xs:element name="LISTOFTAXESDOCUMENT" type="tcListoftaxes" minOccurs="0"/>
			
			<xs:element name="SUMMARY" type="tcSummary" minOccurs="0"/>
			
			<xs:element name="ListOfCreditDocument" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de créditos referentes a título a pagar</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="CreditDocument" type="CreditDocumentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="SalesOrderItens" type="SalesOrderItensType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Itens do Pedido</xs:documentation>
				</xs:annotation>
			</xs:element>

	        <xs:element name="TaskCostAssignmentDocument" type="AssignmentTypeEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
							Tipo de documento onde o custo Pedido de Compras deve ser apropriado. Ex.: Nota Fiscal
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required>não</Required>
							<Type></Type>
							<Length />
							<Description>
								Este campo será identificado com base na origem do Pedido de Compra e parâmetros de projeto e do contrato.
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>									
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ItemDiscountType">
		<xs:sequence>
			<xs:element name="ItemDiscount" type="xs:double" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Desconto Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SalesOrderItensType">
		<xs:sequence>
			<xs:element name="Item" type="tcOrderItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcOrderItem">
		<xs:all minOccurs="0">
			<xs:element name="CompanyId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>
								Não possui campo físico na tabela
							</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="BranchId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_FILIAL</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>
								Pode ter tamanho entre 02 e 12
								dependendo da configuração do Protheus
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="OrderId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="OrderItem" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.NSEQITMMOV</Field>
							<Required>sim</Required>
							<Type>number</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_ITEM</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>4</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="InternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do item do Pedido
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>
								TITMMOV.CODCOLIGADA|TITMMOV.IDMOV|TITMMOV.NSEQITMMOV
							</Field>
							<Required>sim</Required>
							<Type>integer|integer|integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>varchar</Required>
							<Type>sim</Type>
							<Length>50</Length>
							<Description>
								O InternalId do item do Pedido é formado
								por EMPRESA|FILIAL|C7_ITEM
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="numitemrequest" type="tsnumitemrequest"
				minOccurs="0" />
				
			<xs:element name="typecodprod" type="tstypecodprod"
				minOccurs="0" />
				
			<xs:element name="ItemCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.IDPRD</Field>
							<Required>sim</Required>
							<Type>integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_PRODUTO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>15</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="ItemInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do Produto
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.IDPRD</Field>
							<Required>sim</Required>
							<Type>integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field />
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>
								O InternalId do produto é formado por
								EMPRESA|B1_FILIAL|B1_COD
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="prodcoderpbuy" type="tsprodcoderpbuy"
				minOccurs="0" />
		
			<xs:element name="ItemDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descrição do Produto
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_DESCRI</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>30</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="itemreferencecode"
				type="tsitemreferencecode" minOccurs="0" />
				
			<xs:element name="itemunitofmeasure" type="tsunitofmeasure"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Unidade de Medida do Item
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_UM</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<!-- alterado para minOccurs=0 -->
			</xs:element>
			
			<xs:element name="descunitmensure" type="tsdescunitmeasure"
				minOccurs="0" />
			
			<xs:element name="numunitconsembped"
				type="tsnumunitconsembped" minOccurs="0" />
			
			<xs:element name="Quantity" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.QUANTIDADE</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>
								Contém a máscara numérica @E
								999999999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="QuantityReached" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Quantidade Atendida
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_QUJE</Field>
							<Required></Required>
							<Type></Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="RequestItemInternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da Solicitação de compra</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required></Required>
							<Type></Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CEMPANT|SC1XX0.C1_FILIAL|SC7XX0.C7_NUMSC|SC7XX0.C7_ITEMSC</Field>
							<Required></Required>
							<Type></Type>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="amountsubsid" type="tstam16dec2"
				minOccurs="0" />
				
			<xs:element name="quantexchange" type="tstam16dec2"
				minOccurs="0" />
			
			<xs:element name="typepacking" type="tstypepacking"
				minOccurs="0" />
				
			<xs:element name="numpacking" type="tsnumpacking"
				minOccurs="0" />
				
			<xs:element name="UnityPrice" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitario</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.PRECOUNITARIO</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_PRECO</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="netunitaryprice" type="tstam17dec6"
				minOccurs="0" />
			
			<xs:element name="baseunitprice" type="tsbaseunitprice"
				minOccurs="0" />
			
			<xs:element name="unitmeasubonusprice"
				type="tsunitmeasubonusprice" minOccurs="0" />
			
			<xs:element name="TotalPrice" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Total</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.VALORLIQUIDO</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_TOTAL</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description>
								Contém a máscara @E 999,999,999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="TypeOperation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Tipo da Operacao ??em discussao??
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="CustomerOrderNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Numero Pedido do Cliente
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="DiscountPercentage" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Percentual de desconto do item
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="valnetlineitem" type="tstam17dec6"
				minOccurs="0" />
				
			<xs:element name="unitvaltradedisc" type="tstam16dec2"
				minOccurs="0" />
			
			<xs:element name="perccommdiscount" type="tstam06dec2"
				minOccurs="0" />
			
			<xs:element name="bonusdiscountvalue" type="tstam17dec6"
				minOccurs="0" />
				
			<xs:element name="bonuspercentage" type="tstam06dec2"
				minOccurs="0" />
				
			<xs:element name="valipi" type="tstam17dec6" minOccurs="0" />
			
			<xs:element name="industrializedproducttaxpercentage"
				type="tstam06dec3" minOccurs="0" />
				
			<xs:element
				name="servicesandproductscirculationtaxpercentage"
				type="tstam16dec3" minOccurs="0" />
			
			<xs:element name="precenticmssubst" type="tstam06dec3"
				minOccurs="0" />
			
			<xs:element name="unitvalacesscost" type="tstam16dec2"
				minOccurs="0" />
				
			<xs:element name="unitvalnotacesscost" type="tstam16dec2"
				minOccurs="0" />
				
			<xs:element name="ItemDiscounts" type="ItemDiscountType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor de desconto do item
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_VLDESC</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="FreightValue" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor do frete unitário
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_VALFRE</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description>
								Contém a máscara numérica @E
								999,999,999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="InsuranceValue" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Valor do Seguro Unitário
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_SEGURO</Field>
							<Required>não</Required>
							<Type>decimal</Type>
							<Length>14,2</Length>
							<Description>
								Contém a máscara numérica @E
								999,999,999.99
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="UnitWeight" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Peso Unitário (necessário no TradeEasy)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="ItemMessages" type="ItemMessageType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Texto do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="contractnumber" type="tscontractnumber"
				minOccurs="0" />
				
			<xs:element name="itemcodeprovider"
				type="tsitemcodeprovider" minOccurs="0" />
				
			<xs:element name="convumprovider" type="tstam15dec7"
				minOccurs="0" />
			
			<xs:element name="umprovider" type="tsumprovider"
				minOccurs="0" />
				
			<xs:element name="pricetablenumber"
				type="tspricetablenumber" minOccurs="0" />
				
			<xs:element name="ListOfReturnedInputDocuments"
				type="ListOfReturnedInputDocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Notas fiscais de entrada retornadas
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="OTHER" type="tcother" minOccurs="0" />
			
			<xs:element name="CROSSDOCKING" type="tcCrossdocking"
				minOccurs="0" />
				
			<xs:element name="LISTOFTAXESITEM" type="tcListoftaxesitem"
				minOccurs="0" />
				
			<xs:element name="PriceOfPriceTable" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Preço unitário da tabela de preço
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CostCenterCode" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Código do Centro de Custo
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC7XX0.C7_CC</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>9</Length>
							<Description />
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CostCenterInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do CostCenterCode
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="UnitOfMeasureInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId da Unidade de Medida
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="WarehouseInternalId" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						InternalId do Local de Estoque
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Event" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Operação a ser executada no registro.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="delete">
							<xs:annotation>
								<xs:documentation>
									Quando este registro for exclusão
								</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

      <xs:element name="Observation" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Observações Item do Pedido</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>      
			
			<xs:element name="ListOfApportionOrderItem" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>
							Rateio dos Itens do Pedido
						</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ApportionOrderItem"
							type="ApportionType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="RetentionValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor das Retenção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.VALORRETENCAO</Field>
							<Required>não</Required>
							<Type>Decimal</Type>
							<Length/>
							<Description>Este campo é utilizado para destacar o valor RETIDO do pedido.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="DeductionValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor das Deduções</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TITMMOV.VALORDEDUCAO</Field>
							<Required>não</Required>
							<Type>Decimal</Type>
							<Length/>
							<Description>Este campo é utilizado para destacar o valor DEDUZIDO do pedido.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

   			<xs:element name="DirectDeductionValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor das Deduções de fatuamento direto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field></Field>
							<Required>não</Required>
							<Type>Decimal</Type>
							<Length/>
							<Description>Este campo é utilizado para destacar o valor DEDUZIDO de faturamento direto no pedido.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	

			<xs:element name="DeliveryDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Entrega ou Previsão de entrega do item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>MITEMPEDIDOMATERIAL.DATAENTREGA</Field>
							<Required>não</Required>
							<Type>dateTime</Type>
							<Length/>
							<Description>Este campo é utilizado para destacar a data de entrega do item.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			

		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="tcListoftaxesitem">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="VALUESANDTAXES" type="tcValuesandtaxes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcCrossdocking">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="CROSSDOCKING_ITEM" type="tcCrossDocking_Item" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcCrossDocking_Item">
		<xs:all minOccurs="0">
			<xs:element name="deliveryean" type="tsdeliveryean" minOccurs="0"/>
			<xs:element name="deliverycnpj" type="tsdeliverycnpj" minOccurs="0"/>
			<xs:element name="dhinidelivery" type="tsDataTempo" minOccurs="0"/>
			<xs:element name="dhfindelivery" type="tsDataTempo" minOccurs="0"/>
			<xs:element name="quantdelivery" type="tstam16dec6" minOccurs="0"/>
			<xs:element name="mensuunit" type="tsmensuunit" minOccurs="0"/>
			<xs:element name="orderline" type="tsorderline" minOccurs="0"/>
			<xs:element name="customernumber" type="tscustomernumber" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="ListOfReturnedInputDocumentType">
		<xs:sequence>
			<xs:element name="ReturnedInputDocument" type="ReturnedInputDocumentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReturnedInputDocumentType">
		<xs:sequence>
			<xs:element name="InputDocumentNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDocumentSerie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Serie da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDocumentSequence" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequencia da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDocumentQuantity" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade da Nota Fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ItemMessageType">
		<xs:sequence>
			<xs:element name="ItemMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CreditDocumentType">
		<xs:sequence>
			<xs:element name="CreditDocumentInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do título de origem do crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field/>
							<Required>não</Required>
							<Type/>
							<Description>Concatenação da chave da tabela TMOV do movimento gerado no adiantamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field/>
							<Required>não</Required>
							<Type/>
							<Description>Valor total das deduções sobre o adiantamento</Description>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcSummary">
		<xs:all minOccurs="0">
			<xs:element name="ordertotalnetamount" type="tstam17dec2" minOccurs="0"/>
			<xs:element name="valtotipimerchan" type="tstam17dec6" minOccurs="0"/>
			<xs:element name="discountamount" type="tstam17dec6" minOccurs="0"/>
			<xs:element name="valtottaxes" type="tstam17dec6" minOccurs="0"/>
			<xs:element name="valtotdesccomm" type="tstam16dec2" minOccurs="0"/>
			<xs:element name="valtotaacesscost" type="tstam16dec2" minOccurs="0"/>
			<xs:element name="valtotacessnottaxes" type="tstam16dec2" minOccurs="0"/>
			<xs:element name="ordertotalamount" type="tstam17dec2" minOccurs="0"/>
			<xs:element name="valtotbonus" type="tstam17dec2" minOccurs="0"/>
			<xs:element name="numtotpacking" type="tsnumtotpacking" minOccurs="0"/>
			<xs:element name="OTHER" type="tcother" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="tcListoftaxes">
		<xs:sequence minOccurs="0">
			<xs:element name="VALUESANDTAXES" type="tcValuesandtaxes" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcValuesandtaxes">
		<xs:all minOccurs="0">
			<xs:element name="tpvalue" type="tstpvalue" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="tpreasondescandtax" type="tstpreasondescandtax" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="percdescandtaxes" type="tstam06dec2" minOccurs="0"/>
			<xs:element name="valuedescandtaxes" type="tstam17dec6" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="DiscountType">
		<xs:sequence>
			<xs:element name="Discount" type="xs:double" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Desconto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcPayment">
		<xs:sequence>
			<xs:element name="TERM" type="tcTerm" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tcTerm">
		<xs:all minOccurs="0">
			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Parcela</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="RM">
							<Field>TPAGTO.CODCOLIGADA|TPAGTO.IDSEQPAGTO</Field>
							<Required>sim</Required>
							<Type>integer|integer</Type>
						</FieldDocumentation>
					</xs:appinfo>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required></Required>
							<Type></Type>
							<Length></Length>
							<Description></Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionpay" type="tsconditionpay" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="datereference" type="tsdatereference" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="timereference" type="tstimereference" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="typeperiod" type="tstypeperiod" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="periodnum" type="tsperiodnum" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="termduedate" type="tsData" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="termamount" type="tstam17dec3" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
			<xs:element name="termpaymentpercentage" type="tstam06dec3" minOccurs="0"/>
			<!-- alterado para minOccurs=0 -->
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="tcother">
		<xs:sequence>
			<xs:element name="ADDFIELDS" type="tcaddfields" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcaddfields">
		<xs:sequence minOccurs="0" maxOccurs="20">
			<xs:element name="ADDFIELD" type="tcAddField" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tcAddField">
		<xs:sequence>
			<xs:element name="field" type="tsfield" minOccurs="0"/>
			<xs:element name="value" type="tsvalue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="tsData">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
	<xs:simpleType name="tsDataTempo">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="tsfuncmsgorder">
		<xs:annotation>
			<xs:documentation>Tipo de integração do pedido</xs:documentation>
			<xs:appinfo>
				<FieldDocumentation product="LOGIX">
					<Field>N/A</Field>
					<Required>sim</Required>
					<Type>char</Type>
					<Length>3</Length>
					<Description>
				Opções: "9"- Original (Utilizada no Totvs Colaboração)
						"10"-Alteração (Utilizada no Paradigma)
						"16"-Proposta 
						"31"-Cópia 
						"42"-Confirmação (Utilizada no Paradigma)
						"43"-Recusa (Utilizada no Paradigma)
						"46"-Provisória
				</Description>
				</FieldDocumentation>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="46"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsordertypecode">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="000"/>
			<xs:enumeration value="001"/>
			<xs:enumeration value="002"/>
			<xs:enumeration value="003"/>
			<xs:enumeration value="004"/>
			<xs:enumeration value="005"/>
			<xs:enumeration value="006"/>
			<xs:enumeration value="007"/>
			<xs:enumeration value="008"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsponumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscustomernumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscontractnumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tspricetablenumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tssupplierean">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsbuyerean">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsinvoicrecean">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdeliveryean">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsvendortaxid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsbuyercnpj">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsbillinglocationtaxid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdeliverylocationtaxid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodtypetransp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="251"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscarrierid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscarriername">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsconditiondelivery">
		<xs:restriction base="xs:string">
			<xs:pattern value="CIF|FOB"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscomment">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscurrency">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnatureoperation">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscondpay">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="B01"/>
			<xs:enumeration value="JRM"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscondition">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdesccondition">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdatereference">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="81"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstimereference">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="10E"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstypeperiod">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="3M"/>
			<xs:enumeration value="6M"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="WD"/>
			<xs:enumeration value="Y"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsperiodnum">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam17dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam06dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam06dec2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam17dec6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam16dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam16dec2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam15dec7">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="7"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam15dec3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam17dec2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam09dec6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstam16dec6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsorderline">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumitemrequest">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstypecodprod">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="UP"/>
			<xs:enumeration value="BP"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsitemcode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsprodcoderpbuy">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsitemdescription">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsitemreferencecode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsunitofmeasure">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdescunitmeasure">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumunitconsembped">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstypepacking">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="BJ"/>
			<xs:enumeration value="PU"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="RL"/>
			<xs:enumeration value="BX"/>
			<xs:enumeration value="STE"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="APE"/>
			<xs:enumeration value="MPE"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="CS"/>
			<xs:enumeration value="BN"/>
			<xs:enumeration value="BL"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="PC"/>
			<xs:enumeration value="JR"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="DR"/>
			<xs:enumeration value="BU"/>
			<xs:enumeration value="TAE"/>
			<xs:enumeration value="TU"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumpacking">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsbaseunitprice">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsunitmeasubonusprice">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsitemcodeprovider">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsumprovider">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstypecodprodgrid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="EN"/>
			<xs:enumeration value="UP"/>
			<xs:enumeration value="BP"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsproductcodegrid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsmensuunitgrid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tssizeitemgrid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscoloritemgrid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumpackgrid">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsaddress">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumbervolume">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdateproduction">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tspartnumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsserialnumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsdeliverycnpj">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsmensuunit">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumtotpacking">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsfield">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsvalue">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscurrencydesc">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstpvalue">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstpreasondescandtax">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodconsignee">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodnatoper">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsyesno">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsfinality">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsprice">
		<xs:restriction base="xs:string">
			<xs:pattern value="F|R"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumlistprice">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsconditionpay">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="B01"/>
			<xs:enumeration value="JRM"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumordercli">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsnumpedidorepres">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsfreight">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodrepresaddt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodcarrier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tspackdefault">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tstpdelivery">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tssitorder">
		<xs:restriction base="xs:string">
			<xs:pattern value="N|F|C|A|S|B"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tscodtpsale">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsconditvendor">
		<xs:restriction base="xs:string">
			<xs:pattern value="B|L|N|T"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tslabelgrade">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsvaluegrade">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="preserve"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsorderpricetype">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsstatustype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Normal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Bloqueado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Liberado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Liberado Financeiro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Liberado Financeiro e Comercial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Suspenso</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Cancelado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="OrderId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
				  <xs:documentation>Número do Pedido de Compra</xs:documentation>				  
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Versão do Pedido de Compra</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="tsstatustype" minOccurs="0"/>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" type="TcHeader"></xs:element>
	<xs:element name="ReturnContent" type="ReturnContentType"></xs:element>

</xs:schema>