messages-xml/xmlschema/general/events/OtherDocumentsF100_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>OtherDocumentsF100</Name>
				<Description>Mensagem para Integração do Registro de Outros Documentos F100 EFD Contribuições </Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Fábio Vessoni Santana</Contact>
					<Description>Outros Documentos - F100</Description>
					<Adapter>FISI048</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_FILIAL</Field>
							<Required>sim</Required>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>2</Length>
              <Description>Pode ter tamanho entre 02 e 12 dependendo da configuração do Protheus</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>o InternalID da empresa é formado por EMPRESA|CF8_FILIAL Tamanho entre 05 e 15</Description>
            </FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field></Field>
							<Required>não</Required>
							<Type></Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required>sim</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do documento é formado por EMPRESA|CF8_FILIAL|CF8_CODIGO</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="Code" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_CODIGO</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>06</Length>
							<Description>Codigo da Movimentação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="OperIndicator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_INDOPE</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Indicador de operação - Valores válidos: 0=Operação de Aquisição;1=Operação de Receita Tributada;2=Operação de Receita não Tributada</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Operação de Aquisição</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Operação de Receita Tributada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Operação de Receita não Tributada</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Regime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Regime</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_TPREG</Field>
							<Required>Sim</Required>
							<Type>String</Type>
							<Length>1</Length>
							<Description>Tipo do Regime - Valores Validos: 1=Cumulativo;2=Não Cumulativo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Cumulativo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Não Cumulativo</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="OperDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data da Operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_DTOPER</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>08</Length>
							<Description>Data da Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PisTax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação Tributaria do Pis</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_CSTPIS</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>02</Length>
							<Description>Situação Tributaria do Pis</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CofinsTax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação Tributaria do Cofins</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF8.CF8_CSTCOF</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>02</Length>
							<Description>Situação Tributaria do Cofins</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>				
			<xs:element name="CustomerVendorInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Cliente  / Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CLIFOR|CF8.CF8_LOJA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do Cliente / Fornecedor é formado por EMPRESA|CF8_FILIAL|CF8_CLIFOR|CF8_LOJA</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerVendorCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Cliente/Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CLIFOR|CF8.CF8_LOJA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O código do Cliente/Fornecedor é formado por CF8_CLIFOR|CF8_LOJA</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_ITEM</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do Item é formado por EMPRESA|CF8_FILIAL|CF8_ITEM</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_ITEM</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>15</Length>
						  <Description>Código do Item</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da Operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_VLOPER</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Valor da Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="Balance" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_SALDO</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Saldo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PisBase" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base de calculo PIS</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_BASPIS</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Base de calculo PIS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PisAliquot" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aliquota de PIS</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_ALQPIS</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>8,4</Length>
						  <Description>Aliquota de PIS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PisValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de contribuição do PIS</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_VALPIS</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Valor de contribuição do PIS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CofinsBase" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base de calculo Cofins</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_BASCOF</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Base de calculo Cofins</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CofinsAliquot" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aliquota de Cofins</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_ALQCOF</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>8,4</Length>
						  <Description>Aliquota de Cofins</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CofinsValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de contribuição do Cofins</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_VALCOF</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Valor de contribuição do Cofins</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BCCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo de base de calculo de credito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CODBCC</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>02</Length>
						  <Description>Codigo de base de calculo de credito</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CredOrigin" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador Origem Crédito </xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_INDORI</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>01</Length>
						  <Description>Indicador Origem Crédito</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="LedgerAccountInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da conta contabil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CODCTA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID da conta contabil é formado por EMPRESA|CF8_FILIAL|CF8_CODCTA</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LedgerAccount" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da conta contabil</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CODCTA</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>20</Length>
						  <Description>Codigo da conta contabil</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="CostCenterInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Centro de custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CODCCS</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do Centro de custo é formado por EMPRESA|CF8_FILIAL|CF8.CF8_CODCCS</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>						
			<xs:element name="CostCenterCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Centro de Custo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_CODCCS</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>09</Length>
						  <Description>Codigo do Centro de Custo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição da Operação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_DESCPR</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>100</Length>
						  <Description>Descrição da Operação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClTable" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tabela de Natureza de Receitas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8_TNATRE|CF8_CNATRE|CF8_GRPNC|CF8_DTFIMN</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>O código da Tabela de Natureza de Receitas é formado por CF8_TNATRE|CF8_CNATRE|CF8_GRPNC|CF8_DTFIMN</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Calculate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apura Pis/Cofins Orgão Publico</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_SCORGP</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>01</Length>
						  <Description>Apura Pis/Cofins Orgão Publico</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="EfdProject" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_PROJ</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>10</Length>
						  <Description>Codigo do Projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="GrossIncome" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Considera Receita Bruta</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_RECBRU</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>01</Length>
						  <Description>Considera Receita Bruta</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="Participator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Participante</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>CF8.CF8_PART</Field>
						  <Required>Não</Required>
						  <Type>varchar</Type>
						  <Length>01</Length>
						  <Description>Participante</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Sim</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Não</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfMovement">
		<xs:sequence>
		<xs:element name="Movement" type="ListOfItens" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfItens">
		<xs:sequence>
			<xs:element name="Writeoffdate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data da Movimentação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF0.CF0_DATA</Field>
							<Required>Não</Required>
							<Type>Date</Type>
							<Length>8</Length>
							<Description>Data da Movimentação</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="ReceiptValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Recebido</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF0.CF0_RECVLR</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>14,2</Length>
							<Description>Valor Recebido</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBReceiptValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor Recebido Base de Calculo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>CF0.CF0_RECBAS</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>14,2</Length>
							<Description>Valor Recebido Base de Calculo</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>