messages-xml/xmlschema/general/events/PaymentMethod_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

  <xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <!-- ==================================== -->
  <!-- DOCUMENTAÇÃO DA MENSAGEM -->
  <!-- ==================================== -->
  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>PaymentMethod</Name>
        <Description>Mensagem para Forma de Pagamento</Description>
        <Segment></Segment>
        <ProductInformation product="PROTHEUS">
          <Contact>Diego Pereira Fernandes</Contact>
          <Description>Integração de Forma de pagamento/Administradora Financeira</Description>
          <Adapter>PaymentMethod</Adapter>
          <Send>
            <Insert>Não</Insert>
            <Update>Não</Update>
            <Delete>Não</Delete>
          </Send>
          <Receive>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="RM">
          <Contact>Lucas Peixoto Sepe</Contact>
          <Description>Integração de Forma de pagamento</Description>
          <Adapter>PaymentMethod 1.000</Adapter>
          <Send>
            <Insert>Sim</Insert>
            <Update>Sim</Update>
            <Delete>Sim</Delete>
          </Send>
          <Receive>
            <Insert>Não</Insert>
            <Update>Não</Update>
            <Delete>Não</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact></Contact>
          <Description></Description>
          <Adapter/>
          <Send>
            <Insert>...</Insert>
            <Update>...</Update>
            <Delete>...</Delete>
          </Send>
          <Receive>
            <Insert>...</Insert>
            <Update>...</Update>
            <Delete>...</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="PROXIMA-PIMS">
          <Contact></Contact>
          <Description></Description>
          <Adapter></Adapter>
          <Send>
            <Insert>...</Insert>
            <Update>...</Update>
            <Delete>...</Delete>
          </Send>
          <Receive>
            <Insert>...</Insert>
            <Update>...</Update>
            <Delete>...</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
  <!-- ==================================== -->
  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>Não possui campo físico na tabela</Field>
              <Required>Não</Required>
              <Type>Char</Type>
              <Length>2</Length>
              <Description>Será enviado o valor da variável cEmpAnt(Empresa)</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TFORMAPAGTO.CODCOLIGADA</Field>
              <Required>sim</Required>
              <Type>int</Type>
              <Length></Length>
              <Description>Código da coligada</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>X5_FILIAL</Field>
              <Required>Não</Required>
              <Type>char</Type>
              <Length>2</Length>
              <Description>Será enviado o valor da variável cFilAnt</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TFORMAPAGTO.CODFILIAL</Field>
              <Required>sim/não</Required>
              <Type>int</Type>
              <Length></Length>
              <Description>Visto que no RM a Filial é opcional no cadastro de Forma de Pagamento e para o protocolo de Mensagem Única é obrigatório, caso o mesmo esteja nulo será enviada a filial do contexto de integração.</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave completa de empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>
                para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial já pelo Framework
                estando no ambiente (Empresa x Filial) correto
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>CompanyId + '|' + BranchId</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length></Length>
              <Description>Chave de integração da empresa</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field></Field>
              <Required>não</Required>
              <Type></Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Forma de Pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>X5_CHAVE</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description>
				Código da Forma de Pagamento utilizado internamente pelo Protheus. Tabela 24 da SX5: |BOL|CC|CD|CH|CO|CR|DC|FI|FID|R$|VA|VP|CI|CQ|FA|RA|
				Estes códigos tem tratamentos especificos dentro do Protheus, qualquer código enviado em uma inclusão que seja diferente destes, será incluído na tabela 24 da SX5, porém não terá tratamentos especificos.
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TFORMAPAGTO.CODFORMAPAGTO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>10</Length>
              <Description>Código da Forma de Pagamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da Forma de Pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>.</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalID da Forma de Pagamento é formado por EMPRESA|X5_FILIAL|X5_TABELA|X5_CHAVE</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>TFORMAPAGTO.CODCOLIGADA + '|' + TFORMAPAGTO.IDFORMAPAGTO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length></Length>
              <Description>Chave de integração usada para armazenamento do De-Para de Forma de Pagamento.</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field></Field>
              <Required>não</Required>
              <Type></Type>
              <Length>...</Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descrição da Forma de Pagamento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>SX5.X5_DESCRI</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>55</Length>
              <Description>Descrição da Forma de Pagamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TFORMAPAGTO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>40</Length>
              <Description>Descrição da Forma de Pagamento</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Active" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Forma de Pagamento Ativa?</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>Não possui campo físico na tabela</Field>
              <Required>não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>tabela.campo</Field>
              <Required>sim/não</Required>
              <Type>...</Type>
              <Length>...</Length>
              <Description>...</Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TFORMAPAGTO.INATIVO</Field>
              <Required>não</Required>
              <Type>bool</Type>
              <Length></Length>
              <Description>No RM o campo informa a partir de lógica reversa, sendo 0 = ativo e 1 = inativo</Description>
            </FieldDocumentation>
            <FieldDocumentation product="PROXIMA-PIMS">
              <Field></Field>
              <Required>não</Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE RETORNO ================ -->
  <!-- ==================================== -->
  <xs:complexType name="ReturnContentType">
    <xs:sequence>
      <xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
      <!-- outras campos necessários no retorno -->
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
  <!-- ==================================== -->
  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>