messages-xml/xmlschema/general/events/PeriodGlBalance_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>PeriodGlBalance</Name>
				<Description>Mensagem para Integração de Saldos Contábeis - Despesas Gerais</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Description>Mensagem para Integração de Saldos Contábeis PIMS</Description>
					<Adapter>CTBI012A</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Movimento de Saldos Contábeis - Despesas Gerais</Description>
					<Adapter>DespesaGeralAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->


	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="PeriodGlBalance" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SelectionInformation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Informações de Seleção</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ListOfRuleInformation" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Lista de Regras (EMS5)</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RuleInformation" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Informações da Regra</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="RuleType" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Tipo da Regra</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>...</Field>
																			<Required>...</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>Não utilizada na integração Protheus</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="InitialValue" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Valor Inicial</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>...</Field>
																			<Required>...</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>Não utilizada na integração Protheus</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="FinalValue" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Valor Final</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>...</Field>
																			<Required>...</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>Não utilizada na integração Protheus</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ParametersInformation">
							<xs:annotation>
								<xs:documentation>Informações de Parametrização da Consulta</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PeriodInformation">
										<xs:annotation>
											<xs:documentation>Informações do Período</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="GLPeriodDate" type="xs:date" minOccurs="1">
													<xs:annotation>
														<xs:documentation>Data</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>CTG_DTFIM</Field>
																<Required>sim</Required>
																<Type>date</Type>
																<Length>8</Length>
																<Description>Data da exportacao do saldo</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="FirstPart" type="xs:boolean" minOccurs="1">
										<xs:annotation>
											<xs:documentation>Indica se é a primeira quebra da mensagem</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>...</Field>
													<Required>...</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>Não utilizada na integração Protheus</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ListOfPeriodGLBalanceInformation">
							<xs:annotation>
								<xs:documentation>Lista de Saldos Contabeis do Periodo</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PeriodGLBalanceInformation" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Informações de Saldo Contabil do Período</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Codigo da Empresa</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cEmpAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>02</Length>
																<Description>será enviado o valor da variável cEmpAnt( empresa) </Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Codigo da Filial</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cFilAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>12</Length>
																<Description>Será enviado o valor da variável cFilAnt</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>InternalId da chave completa de empresa
															do produto</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>cEmpAnt|cFilAnt</Field>
																<Required>sim</Required>
																<Type>char</Type>
																<Length>15</Length>
																<Description>InternalId da chave completa de empresa do produto</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CostCenterInformation" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Informações do centros de custos. Esta
															estrutura será utilizada quando o código do centro de
															custos for chave estrangeira.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CostCenterCode" type="xs:string" minOccurs="1" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Código do Centro de Custo (Uso
																		interno: campo=emsuni.ccusto.cod_ccusto ou
																		mgadm.sub-conta.sc-codigo)</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>CTT_CUSTO</Field>
																			<Required>sim</Required>
																			<Type>char</Type>
																			<Length>20</Length>
																			<Description>Centro de Custo</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="AccountInformation" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Informações da Conta Contábil</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AccountCode" type="xs:string" minOccurs="1" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Código da conta contábil (Uso
																		interno: campo = cod_cta_ctbl ou ct-codigo)</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field>CT1_CONTA</Field>
																			<Required>sim</Required>
																			<Type>char</Type>
																			<Length>40</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA-PIMS">
																			<Field>tabela.campo</Field>
																			<Required>sim/não</Required>
																			<Type>...</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="InitialBalance" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Saldo Inicial do Período ( campo =
															mgadm.saldo-conta.saldo ou (
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_fim -
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_db +
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_cr) )</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>SALDOANT</Field>
																<Required>sim</Required>
																<Type>float</Type>
																<Length>18</Length>
																<Description>Saldo anterior ao periodo requisitado do calendario</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="CreditValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Valor de Crédito do Período ( campo =
															mgadm.saldo-conta.credito ou
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_cr)</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>SALDOCRD</Field>
																<Required>sim</Required>
																<Type>float</Type>
																<Length>18</Length>
																<Description>Saldo Credito ao periodo requisitado do calendario</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="DebitValue" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Valor de Débito do Período ( campo =
															mgadm.saldo-conta.debito ou
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_db)</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>SALDODEB</Field>
																<Required>sim</Required>
																<Type>float</Type>
																<Length>18</Length>
																<Description>Saldo Debito ao periodo requisitado do calendario</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="FinalBalance" type="xs:decimal" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Saldo Final do Período ( campo =
															(mgadm.saldo-conta.saldo + mgadm.saldo-conta.debito -
															mgadm.saldo-conta.credito) ou
															emsfin.sdo_cta_ctbl.val_sdo_ctbl_fim )</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field>SALDOATU</Field>
																<Required>sim</Required>
																<Type>float</Type>
																<Length>18</Length>
																<Description>Saldo atual ao periodo requisitado do calendario</Description>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA-PIMS">
																<Field>tabela.campo</Field>
																<Required>sim/não</Required>
																<Type>...</Type>
																<Length>...</Length>
																<Description>...</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>