messages-xml/xmlschema/general/events/ProductionSitesSituation_2_001.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Situação do Local de Produção</Name>
				<Description>Integração da Situação do Local de Produção</Description>
				<Segment>AgroIndústria</Segment>
				<ProductInformation product="PIMS">
					<Contact>...</Contact>
					<Description>......</Description>
					<Adapter>SituacaoLocalProducao.java</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>ADPXXXXX</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>

			<xs:element name="InternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId de Integração</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_SIT_LOCAL</Field>
							<Required>sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId da Integração</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>xxxxx</Field>
							<Required>xxx</Required>
							<Type>xxx</Type>
							<Length>x</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_Empresa</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>ID da Empresa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>NJJXX0.NJJ_FILIAL</Field>
							<Required>....</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial já pelo Framework 
							estando no ambiente (Empresa x Filial) correto</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyId" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_EMPRESA</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Empresa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>Varchar</Type>
							<Length>2</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_FILIAL</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId da Filial</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="BranchId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_FILIAL</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Filial</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>cFilAnt</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Pode ter tamanho alterado dependendo da configuração do Protheus</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AgriculturalYearInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Ano Agrícola</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_SAFRA</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId do Ano Agrícola</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>cFilAnt</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Pode ter tamanho alterado dependendo da configuração do Protheus</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="AgriculturalYearCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Ano Agrícola</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_SAFRA</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código do Ano Agrícola</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AgriculturalYearDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição do Ano Agrícola</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DE_SAFRA</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>30</Length>
							<Description>Descrição do Ano Agrícola</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionPeriodInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId do Período de Produção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_PERIODOSAFRA</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId do Período de Produção</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionPeriodCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Período de Produção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_PER_SAFRA</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código do Período de Produção</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionPeriodDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição do Período de Produção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DE_PER_SAFRA</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>30</Length>
							<Description>Descrição do Período de Produção</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data do fechamento da Situação da Lavoura</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_FECHAMENTO</Field>
							<Required>Sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data do fechamento da Situação da Lavoura</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Classe de Valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_PLC_CLASVALOR</Field>
							<Required>Não</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId da Classe de Valor</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClassValueCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Classe de Valor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_PLC_CLASVALOR</Field>
							<Required>Não</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Classe de Valor</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FarmInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Fazenda / Unidade Administrativa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_UNIDADEADM</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId da Fazenda / Unidade Administrativa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="FarmCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Fazenda / Unidade Administrativa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_UNI_ADM</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Fazenda / Unidade Administrativa</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CultureInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da Cultura</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>ID_OCUPACAO</Field>
							<Required>Sim</Required>
							<Type>numeric</Type>
							<Length>38</Length>
							<Description>InternalId da Cultura</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CultureCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Cultura</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>CD_OCUPACAO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>20</Length>
							<Description>Código da Cultura</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CultureDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição da Cultura</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DE_OCUPACAO</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>30</Length>
							<Description>Descrição da Cultura</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PlantationStartForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para o início do plantio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_INI_PLANTIO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para o início do plantio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingPlantationForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para o final do plantio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_FIM_PLANTIO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para o final do plantio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PlantationStart" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de início do plantio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_INI_PLANTIO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de início do plantio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingPlantation" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data do fim de plantio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_FIM_PLANTIO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data do fim de plantio</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StartHarvestForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para o início da colheita</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_INI_COLHEITA</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para o início da colheita</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingHarvestForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para o final da colheita</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_FIM_COLHEITA</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para o final da colheita</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StartHarvest" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de início da colheita</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_INI_COLHEITA</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de início da colheita</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingHarvest" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data do final da colheita</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_FIM_COLHEITA</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data do final da colheita</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StartCottonGinForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para início do beneficiamento do algodão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_INI_BENEF_ALGO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para início do beneficiamento do algodão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingCottonGinForecast" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data prevista para o final do beneficiamento do algodão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_PREV_FIM_BENEF_ALGO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data prevista para o final do beneficiamento do algodão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="StartCottonGin" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de início do beneficiamento do algodão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_INI_BENEF_ALGO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de início do beneficiamento do algodão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ClosingCottonGin" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data final do beneficiamento do algodão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>DT_FIM_BENEF_ALGO</Field>
							<Required>Não</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data final do beneficiamento do algodão</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PlantationPlannedTotalArea" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Área total planejada para o plantio (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_AREA_PLAN_PLANTIO</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Área total planejada para o plantio (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PlantedAreaHa" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Área total plantada (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_AREA_PLANTADA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Área total plantada (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="PlantedAreaPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de área plantada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PC_AREA_PLANTADA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Percentual de área plantada</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="HarvestedAreaHa" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total de área colhida (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_AREA_COLH</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Total de área colhida (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="HarvestedAreaPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de área colhida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PERC_AREA_COLH</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Percentual de área colhida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectedProductivity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Projetada (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_PROJET</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>10,3</Length>
							<Description>Produtividade Projetada (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectedProductivityKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Projetada (kg/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_PROJET_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produtividade Projetada (kg/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EstimatedProductivity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Estimada (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_ESTIMA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>10,3</Length>
							<Description>Produtividade Estimada (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EstimatedProductivityKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Estimada (kg/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_ESTIMA_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produtividade Estimada (kg/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedProductivity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Obtida (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>10,3</Length>
							<Description>Produtividade Obtida (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedProductivityKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produtividade Obtida (kg/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUT_OBTIDA_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produtividade Obtida (kg/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectedProduction" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Projetada (sc ou @)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_PROJET</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>10,3</Length>
							<Description>Produção Projetada (sc ou @)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectedProductionKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Projetada (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_PROJET_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Projetada (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectedProductionTon" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Projetada (t)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_PROJET_TN</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Projetada (t)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EstimatedProduction" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Estimada (sc ou @)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_ESTIMA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Estimada (sc ou @)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EstimatedProductionKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Estimada (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_ESTIMA_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Estimada (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="EstimatedProductionTon" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Estimada (t)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_ESTIMA_TN</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Estimada (t)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedProduction" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Obtida (sc ou @)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Obtida (sc ou @)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedProductionKg" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Obtida (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_OBTIDA_KG</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Obtida (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedProductionTon" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produção Obtida (t)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRODUC_OBTIDA_TN</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Produção Obtida (t)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectPlumeYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de pluma projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_PLU_PROJ</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de pluma projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedPlumeYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento pluma obtida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_PLU_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento pluma obtida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectSeedYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de caroço projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_CAR_PROJ</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de caroço projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedSeedYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de caroço obtida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_CAR_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de caroço obtida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectFiberYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de fibrilha projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_FIB_PROJ</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de fibrilha projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedFiberYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de fibrilha obtida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_FIB_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de fibrilha obtida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectRindYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de casquinha projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_CAS_PROJ</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de casquinha projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedRindYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice Percentual de rendimento de casquinha obtida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_CAS_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice Percentual de rendimento de casquinha obtida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProjectImpuritiesYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de impurezas projeto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_IMP_PROJ</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de impurezas projeto</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ObtainedImpuritiesYieldIndex" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Índice percentual de rendimento de impurezas obtida</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_INDICE_IMP_OBTIDA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>5,2</Length>
							<Description>Índice percentual de rendimento de impurezas obtida</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="WeekAccumulatedPrecipitation" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Precipitação acumulada semanal (mm)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRECIP_ACU_SEMANA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>8,2</Length>
							<Description>Precipitação acumulada semanal (mm)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MonthAccumulatedPrecipitation" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Precipítação acumulada mensal (mm)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRECIP_ACU_MES</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>8,2</Length>
							<Description>Precipítação acumulada mensal (mm)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="HarvestAccumulatedPrecipitation" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Precipitação acumulada da safra (mm)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRECIP_ACU_SAFRA</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>8,2</Length>
							<Description>Precipitação acumulada da safra (mm)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CultureAccumulatedPrecipitation" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Precipitação acumulada da cultura (mm)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PRECIP_ACU_CULTU</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>8,2</Length>
							<Description>Precipitação acumulada da cultura (mm)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AreaForecastHarvestedNextWeek" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de área a ser colhida na próxima semana (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_AREA_COLHID_SEM</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Previsão de área a ser colhida na próxima semana (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AreaForecastHarvestedNextFortnight" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de área a ser colhida na próxima quinzena (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_AREA_COLHID_QUI</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Previsão de área a ser colhida na próxima quinzena (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="AreaForecastHarvestedNextMonth" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de área a ser colhida no próximo mês (ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_AREA_COLHID_MES</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>12,2</Length>
							<Description>Previsão de área a ser colhida no próximo mês (ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductivityForecastNextWeek" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produtividade para a próxima semana (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PRODUT_PROX_SEM</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produtividade para a próxima semana (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductivityForecastNextFortnight" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produtividade para a próxima quinzena (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PRODUT_PROX_QUI</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produtividade para a próxima quinzena (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductivityForecastNextMonth" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produtividade para o próximo mês (sc ou @/ha)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PRODUT_PROX_MES</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produtividade para o próximo mês (sc ou @/ha)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionForecastNextWeek" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produção para a próxima semana (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PROD_PROX_SEM</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produção para a próxima semana (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionForecastNextFortnight" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produção para a próxima quinzena (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PROD_PROX_QUI</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produção para a próxima quinzena (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ProductionForecastNextMonth" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Previsão de produção para o próximo mês (kg)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PIMS">
							<Field>QT_PREV_PROD_PROX_MES</Field>
							<Required>Não</Required>
							<Type>decimal</Type>
							<Length>13,3</Length>
							<Description>Previsão de produção para o próximo mês (kg)</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>...</Field>
							<Required>...</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="MainOrderCode" type="xs:string"
                minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Código da ordem (OP ou OS) que originou a
                        Movimentação
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="MainOrderInternalId" type="xs:string"
                minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        InternalId da ordem (OP ou OS) que originou a
                        Solicitação
                    </xs:documentation>
                </xs:annotation>
            </xs:element> 

			
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>