messages-xml/xmlschema/general/events/ProductionAppointment_1_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>ProductionAppointment</Name>
				<Description>Apontamento de produção (incluindo MOB/GGF)</Description>
				<Segment/>
				<ProductInformation product="DATASUL">
					<Contact>André Luís Oliveira Pereira</Contact>
					<Description/>
					<Adapter/>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

    <xs:complexType name="BusinessContentType">
        <xs:sequence>
            <xs:element name="MachineCode">
                <xs:annotation>
                    <xs:documentation>Código Máquina</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MachineDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descrição Máquina</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ProductionOrderNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Número Ordem Produção</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ActivityID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ID Operação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Split" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Split</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ExternalSplit" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Número externo do Split.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ActivityCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Operação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ItemCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Item</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ItemDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descrição Item</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReportQuantity" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Quantidade Reportada</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ApprovedQuantity" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Quantidade Aprovada</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ScrapQuantity" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Quantidade Refugada</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReworkQuantity" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Quantidade Retrabalhada</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StartSetupDateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data/Hora Início Preparação</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartCentSetupTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hora Centesimal Início Preparação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="7"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="EndSetupDateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data/Hora Fim Preparação</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndCentSetupTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hora Centesimal Fim Preparação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="7"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StartReportDateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data/Hora Início Reporte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartCentReportTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hora Centesimal Início Reporte</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="7"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="EndReportDateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data/Hora Fim Reporte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndCentReportTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hora Centesimal Fim Reporte</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="7"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OpTimeDec" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tempo Operação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="12"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OpTimeInt" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tempo Operação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ExtraTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tempo Extra</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StopTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tempo Parada</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MODTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tempo Mão de Obra Direta</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IsProductionControlReport" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Reporta Controle da Produção</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CQLiberated" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Liberado Controle Qualidade</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReversedReport" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Reporte Estornado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReversalDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data Estorno</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdateReport" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Atualiza Reporte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductionShiftCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Modelo Turno</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ProductionShiftDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descrição Modelo Turno</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ProductionShiftNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Número Turno</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReportDateTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data/Hora Reporte</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReportCentlTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Hora Centesimal Reporte</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="7"/>
                        <xs:fractionDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DocumentCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Documento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DocumentSeries" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Série Documento</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="WarehouseCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Depósito</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LotCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Lote/Série</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LotDueDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Data Validade Lote</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReferenceCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Referência</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LocationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Localização</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SingleOutflowLocation" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Local Saída Início</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutflowLocationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Localização Saída</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OutflowWarehouseCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Depósito Saída</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="WasteWarehouseCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Depósito Refugo</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="WasteLocationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Localização Refugo</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReportSequence" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Sequência Reporte</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IntegrationReport" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Reporte Integração</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ToolCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Ferramenta</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ToolDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descrição Ferramenta</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SetupCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Código Preparação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SetupDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descrição Preparação</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CounterStart" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Início Contador</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FinalAccountant" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Contador Fim</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                    <xs:totalDigits value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CloseOperation" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Encerra Operação</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ListOfWasteAppointments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="WasteAppointment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReportSequence">
                                        <xs:annotation>
                                            <xs:documentation>Sequência Reporte</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="WasteCode">
                                        <xs:annotation>
                                            <xs:documentation>Código Refugo</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="8"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="WasteDescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Descrição Refugo</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ScrapQuantity" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantidade Refugada</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="18"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ReworkQuantity" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantidade Retrabalhada</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="17"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfResourceAppointments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
					 <xs:element name="ResourceAppointment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReportSequence">
                                        <xs:annotation>
                                            <xs:documentation>Sequência Reporte</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OperatorID">
                                        <xs:annotation>
                                            <xs:documentation>ID Operador</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OperatorCode">
                                        <xs:annotation>
                                            <xs:documentation>Código Operador</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OperatorName" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Nome Operador</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ProductionTeamCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Equipe Produção</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="StartDateTime" type="xs:dateTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Data/Hora Início</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="StartCentTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Hora Centesimal Início</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="7"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="EndDateTime" type="xs:dateTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Data/Hora Fim</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="EndCentTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Hora Centesimal Fim</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="7"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="MOBTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Mão de Obra Direta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ExtraTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Extra</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="UtilTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Útil</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ProductionShiftCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Modelo Turno</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="8"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ProductionShiftNumber" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Número Turno</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfSupplyOrders" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SupplyOrder" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReportSequence">
                                        <xs:annotation>
                                            <xs:documentation>Sequência Reporte</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ProductionOrderNumber">
                                        <xs:annotation>
                                            <xs:documentation>Número Ordem Produção</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="MaterialCode">
                                        <xs:annotation>
                                            <xs:documentation>Código Item Reserva</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="MaterialDescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Descrição Item Reserva</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ReferenceCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Referência</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="UsedQuantity" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantidade Utilizada</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="14"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ApprovedQuantity" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantidade Aprovada</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="18"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="UnitOfMeasureCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Unidade Medida</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="6"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="FatherItemCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Item Pai</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="FatherItemDescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Descrição Item Pai</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                     <xs:element name="WarehouseCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Depósito</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LocationCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Localização</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LotCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Lote/Série</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ActivityCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Operação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ScriptCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Roteiro</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="SiteCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Estabelecimento</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="MaterialDate" type="xs:date" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Data Reserva</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="MaterialQuantity" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantidade Reserva</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="14"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="StatusType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Estado</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="1">
                                                    <xs:annotation>
                                                        <xs:documentation>Ativo</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="2">
                                                    <xs:annotation>
                                                        <xs:documentation>Inativo</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OrderProcess" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Processo Ordem</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ReferenceOrderNumber" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Número Ordem Referência</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="MaterialID" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>ID Reserva</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfReportToolActivities" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReportToolActivity" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReportSequence">
                                        <xs:annotation>
                                            <xs:documentation>Sequência Reporte</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ToolCode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Código Ferramenta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ToolDescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Descrição Ferramenta</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OperationUnitTime" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Unidade Operação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfReportOverheads" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReportOverhead" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReportSequence">
                                        <xs:annotation>
                                            <xs:documentation>Sequência Reporte</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="WorkCenterCode">
                                        <xs:annotation>
                                            <xs:documentation>Código Centro Trabalho</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="WorkCenterDescription" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Descrição Centro Trabalho</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="40"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="GGFTimeInt" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Gastos Gerais de Fabricação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:totalDigits value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="GGFTimeDec" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Tempo Gastos Gerais de Fabricação</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="10"/>
                                                <xs:fractionDigits value="4"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
    <xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
