messages-xml/xmlschema/general/events/Professor_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

  <!-- ==================================== -->
  <!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
  <!-- ==================================== -->

  <xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
  <xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <!-- ==================================== -->
  <!-- DOCUMENTAÇÃO DA MENSAGEM             -->
  <!-- ==================================== -->
  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>Professor</Name>
        <Description>Mensagem para Integração de professores</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Luiz Antonio Torres</Contact>
          <Description>GDP Educacional</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact>Diego Lopes</Contact>
          <Description>Mensagem para Integração de professores</Description>
          <Adapter/>
          <Send>
            <Insert>não</Insert>
            <Update>não</Update>
            <Delete>não</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM      -->
  <!-- ==================================== -->
  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROFESSOR.CODCOLIGADA</Field>
              <Required>Sim</Required>
              <Type>smallint</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProfessorCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código do Professor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROFESSOR.CODPROF</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>10</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Código do Professor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROFESSOR.CODCOLIGADA|SPROFESSOR.CODPROF</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="PersonInternalId" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da Pessoa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.CODIGO</Field>
              <Required>sim</Required>
              <Type>int</Type>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_PARTY.ID_EXTERNAL</Field>
              <Required>não</Required>
              <Type>String</Type>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="UserInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Usuario</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.CODUSUARIO</Field>
              <Required>não</Required>
              <Type>string</Type>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_USER.USERNAME</Field>
              <Required>não</Required>
              <Type>string</Type>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="EmployeeCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Matrícula do funcionário</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROFESSOR.CHAPA</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>16</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="EmployeeInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Funcionário</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPROFESSOR.CODCOLIGADA|SPROFESSOR.CHAPA</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome do Professor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.NOME</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>120</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_PARTY.NAME</Field>
              <Required>sim</Required>
              <Type>String</Type>
              <Length>100</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_USER.MIDDLENAME</Field>
              <Required>não</Required>
              <Type>String</Type>
              <Length>100</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_USER.LASTNAME</Field>
              <Required>sim</Required>
              <Type>String</Type>
              <Length>100</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Gender" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sexo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.SEXO</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="BirthDate" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data de Nascimento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.DTNASCIMENTO</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_USER.BIRTHDAY_DATE</Field>
              <Required>não</Required>
              <Type>Timestamp</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="HomeState" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Estado Natal(de origem)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.ESTADONATAL</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>2</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="NaturalCity" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Naturalidade</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.NATURALIDADE</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>32</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Telephone1" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Telefone 1</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.TELEFONE1</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>15</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Telephone2" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Telefone 2</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>PPESSOA.TELEFONE2</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>15</Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="GovernmentalInformation" type="GovernmentalInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações como CPF, RG...</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="AddressProfessor" type="AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="CommunicationInformation" type="CommunicationInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Email</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- REFERêNCIA AOS TIPOS PADRõES         -->
  <!-- ==================================== -->
  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>