messages-xml/xmlschema/general/events/ProgramPlan_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

  <!-- ==================================== -->
  <!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
  <!-- ==================================== -->

  <xs:include schemaLocation="../totvsmsg.xsd"/>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

  <!-- ==================================== -->
  <!-- DOCUMENTAÇÃO DA MENSAGEM             -->
  <!-- ==================================== -->

  <xs:annotation>
    <xs:appinfo>
      <MessageDocumentation>
        <Name>ProgramPlan</Name>
        <Description>Complemento da Disciplina</Description>
        <Segment>Educacional</Segment>
        <ProductInformation product="RM">
          <Contact>Luiz Antônio Torres</Contact>
          <Description>GDP Educacional</Description>
          <Adapter></Adapter>
          <Send>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
        <ProductInformation product="DATASUL">
          <Contact>Diego Lopes</Contact>
          <Description>Complemento da Disciplina</Description>
          <Adapter/>
          <Send>
            <Insert>não</Insert>
            <Update>não</Update>
            <Delete>não</Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update>sim</Update>
            <Delete>sim</Delete>
          </Receive>
        </ProductInformation>
      </MessageDocumentation>
    </xs:appinfo>
  </xs:annotation>

  <!-- ==================================== -->
  <!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM      -->
  <!-- ==================================== -->

  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.CODCOLIGADA</Field>
              <Required>sim</Required>
              <Type>smallint</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_PARTY.ID</Field>
              <Required>Sim</Required>
              <Type>Long</Type>
              <Length>20</Length>
              <Description>As coligadas se tornarão Grupos no LMS</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código da disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.CODDISC</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>20</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DisciplineInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.CODCOLIGADA|SCOMPLDISC.CODDISC</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE_ITEM.ID_EXTERNAL</Field>
              <Required>Sim</Required>
              <Type>string</Type>
              <Length>255</Length>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProgramPlanCode" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ID do Complemento da Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.IDCOMPLDISC</Field>
              <Required>sim</Required>
              <Type>int</Type>
              <Length/>
              <Description>Id auto incremental</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Complemento da Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.CODCOLIGADA|SCOMPLDISC.CODDISC|SCOMPLDISC.IDCOMPLDISC</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length/>
              <Description>Internal Id formado pelos campos SCOMPLDISC.CODCOLIGADA|SCOMPLDISC.CODDISC|SCOMPLDISC.IDCOMPLDISC</Description>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Date" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data do Complemento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.DATA</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProgramPlanTypeCodeOriginal" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo do Complemento da Disciplina Anterior</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.TIPO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProgramPlanTypeInternalIdOriginal" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Tipo de Complemento Anterior</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOCOMPLEMENTODISC.CODCOLIGADA|STIPOCOMPLEMENTODISC.CODCOMPLEMENTO</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProgramPlanTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo do Complemento da Disciplina</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.TIPO</Field>
              <Required>sim</Required>
              <Type>string</Type>
              <Length>2</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProgramPlanTypeInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Tipo de Complemento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>STIPOCOMPLEMENTODISC.CODCOLIGADA|STIPOCOMPLEMENTODISC.CODCOMPLEMENTO</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descricao do Complemento</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.DESCRICAO</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field>ELE_DISCIPLINE</Field>
              <Required>Não</Required>
              <Type>String</Type>
              <Length>255</Length>
              <Description>A descrição do Complemento poderá ser salvo em cinco campos diferentes no LMS de acordo com a parametrização</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TermCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id. do período letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TermInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId do Período Letivo</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SPLETIVO.CODCOLIGADA|SPLETIVO.IDPERLET</Field>
              <Required>Sim</Required>
              <Type>String</Type>
              <Length/>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="AllowStudent" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Disponível para os Alunos</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="RM">
              <Field>SCOMPLDISC.DISPONIVELALUNOS</Field>
              <Required>não</Required>
              <Type>string</Type>
              <Length>1</Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="DATASUL">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description/>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Sim</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Não</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================================== -->
  <!-- REFERêNCIA AOS TIPOS PADRõES Já      -->
  <!-- ==================================== -->

  <xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>