messages-xml/xmlschema/general/events/Quotation_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<!-- ==================================== -->
	<!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ==================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ApportionType_2_001.xsd"></xs:include>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
 
	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Quotation</Name>
				<Description>Cotacao de Compra</Description>
				<Segment></Segment>
				<ProductInformation product="LOGIX">
					<Contact>Roberta Patricio Postai Vieira</Contact>
					<Description>Inovacao Logix</Description>          
					<Adapter></Adapter>
					<Send>
						<Insert></Insert>
						<Update></Update>
						<Delete></Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update></Update>
						<Delete></Delete>
					</Receive>
				</ProductInformation>
        <ProductInformation product="PROTHEUS">
          <Contact>Rodrigo de Toledo Silva</Contact>
          <Description>Inovacao Protheus</Description>
          <Adapter></Adapter>
          <Send>
            <Insert></Insert>
            <Update></Update>
            <Delete></Delete>
          </Send>
          <Receive>
            <Insert>sim</Insert>
            <Update></Update>
            <Delete></Delete>
          </Receive>
        </ProductInformation>
				<ProductInformation product="RM">
					<Contact>Não se aplica</Contact>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>Jucinei Serafim</Contact>
				</ProductInformation>
				<ProductInformation product="LOGIX">
					<Contact>Roberta P. Postai Vieira</Contact>
				</ProductInformation>				
				<ProductInformation product="PROTHEUS">
					<Contact>Rodrigo de Toledo</Contact>
				</ProductInformation>				
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identificacao unica da cotacao</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC8->C8_ACCNUM</Field>
              <Required>sim</Required>
							<Type/>
							<Length/>
              <Description>Codigo unico da mensagem de cotacao, este codigo será gerado atraves do Portal de Compras Paradigma.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field></Field>
							<Required>sim</Required>
							<Type></Type>
							<Length></Length>
							<Description>Codigo unico da cotacao, como e recebimento o codigo unico da cotacao e o numero da cotacao do sistema interno, no caso Portal de Compras Paradigma.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		  <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
		    <xs:annotation>
		      <xs:documentation>Codigo da Empresa</xs:documentation>
				  <xs:appinfo>
						<FieldDocumentation product="PROTHEUS">							
			        <Field>Não possui campo físico na tabela</Field>
			        <Required>sim</Required>
			        <Type>varchar</Type>
			        <Length>2</Length>
			        <Description>Codigo da empresa da cotacao.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>cotacao_preco.cod_empresa</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>Codigo da empresa da cotacao.</Description>
						</FieldDocumentation>
					</xs:appinfo>
		    </xs:annotation>
      </xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Filial da cotacao</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>12</Length>
							<Description>Codigo da filial da cotacao.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>CompanyInternalId da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>14</Length>
							<Description>Campo não utilizado nesta mensagem</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Cotacao no sistema externo</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_ACCNUM</Field>
              <Required>nao</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Codigo da cotacao na Paradigma, no caso desta integracao. Gravaremos para fins de rastreabilidade.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>sup_par_cot_preco.parametro_texto onde parametro = 'cot_portal_compras'</Field>
							<Required>nao</Required>
							<Type>string</Type>
							<Length>70</Length>
							<Description>Codigo da cotacao na Paradigma, no caso desta integracao. Gravaremos para fins de rastreabilidade.</Description>
						</FieldDocumentation>
					</xs:appinfo> 	
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Cotacao no ERP. No caso de recebimento no ERP vira sem informacao.</xs:documentation>
					<xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">						
						  <Field>SC8XX0.C8_NUM</Field>
						  <Required>nao</Required>
						  <Type>varchar</Type>
						  <Length>6</Length>
						  <Description>Codigo da cotacao no ERP Protheus. No caso desta integracao como é recebimento nao tera na mensagem, so depois que incluir a cotação.</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
					    <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.num_cotacao</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>6</Length>
						  <Description>Codigo da cotacao no ERP Logix. No caso desta integracao como é recebimento nao tera na mensagem, so depois que incluir.</Description>
					  </FieldDocumentation>
					</xs:appinfo>	
				</xs:annotation>				
			</xs:element>			
			<xs:element name="Text" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Textos da Cotacao</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_OBS</Field>
              <Required>nao</Required>
              <Type>varchar</Type>
              <Length>30</Length>
              <Description>Observações da cotação.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>sup_txt_cot_preco.texto</Field>
						  <Required>nao</Required>
						  <Type>string</Type>
						  <Length>60</Length>
						  <Description>Textos da cotacao.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>
			<xs:element name="ValidityStartDate" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Inicio da validade da cotacao</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
            </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.dat_inic_validade</Field>
						  <Required>sim</Required>
						  <Type>date</Type>
						  <Length></Length>
						  <Description>Data de início da cotação</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>				
			</xs:element>
			<xs:element name="ValidityEndDate" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data final da validade da cotacao</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_VALIDA</Field>
              <Required>sim</Required>
              <Type>date</Type>
              <Length>8</Length>
              <Description>Data de validade da cotação</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.dat_fim_validade</Field>
						  <Required>sim</Required>
						  <Type>date</Type>
						  <Length></Length>
						  <Description>Data final da cotacao</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>		
		  <xs:element name="CurrencyCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Codigo interno da Moeda</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
			        <Field>SC8XX0.C8_MOEDA</Field>
			        <Required>sim</Required>
			        <Type>numerico</Type>
			        <Length>2</Length>
			        <Description>Código da moeda em que foi cotado</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>Cotação_preco.cod_moeda</Field>
						  <Required>sim</Required>
						  <Type>decimal</Type>
						  <Length>2</Length>
						  <Description>Código da moeda em que foi cotado</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
        </xs:annotation>				
      </xs:element>
		  <xs:element name="UserInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
		    <xs:annotation>
		      <xs:documentation>InternalId do Usuario que fez a Cotação</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.cod_empresa|cotacao_preco.login</Field>
						  <Required>sim</Required>
						  <Type>decimal</Type>
						  <Length>2</Length>
						  <Description>Código da moeda em que foi cotado</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
		  </xs:element>
		  <xs:element name="PriceType" minOccurs="0">
		    <xs:annotation>
		      <xs:documentation>Tipo de Preco/Cotacao</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>	
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.ies_tip_cotacao</Field>
						  <Required>sim</Required>
						  <Type>string</Type>
						  <Length>1</Length>
						  <Description>Tipo de cotacao</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
			  </xs:annotation>
		    <xs:simpleType>
		      <xs:restriction base="xs:string">
		        <xs:enumeration value="1">
		          <xs:annotation>
		            <xs:documentation>Fechado</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>
		        <xs:enumeration value="2">
		          <xs:annotation>
		            <xs:documentation>Cotacao</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>
		        <xs:enumeration value="3">
		          <xs:annotation>
		            <xs:documentation>Consignacao</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>
		        <xs:enumeration value="4">
		          <xs:annotation>
		            <xs:documentation>Aberto</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>		            
		      </xs:restriction>
		    </xs:simpleType>
		  </xs:element>
	    <xs:element name="ListOfQuotationItem" minOccurs="1">
	      <xs:complexType>
	        <xs:annotation>
	          <xs:documentation>Itens da Cotacao</xs:documentation>
	        </xs:annotation>
	        <xs:sequence>
	          <xs:element name="QuotationItem" type="QuotationItemType" minOccurs="1" maxOccurs="unbounded"></xs:element>
	        </xs:sequence>								        
			  </xs:complexType>
	    </xs:element>
    </xs:sequence>
	</xs:complexType>	
	<xs:complexType name="QuotationItemType">
    <xs:sequence>
			<xs:element name="ExternalItemCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Numeracao do item dentro da Cotacao no sistema externo</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_ACCITEM</Field>
              <Required>nao</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>Numero do item da cotacao da Paradigma, no caso desta integracao. Gravaremos para fins de rastreabilidade.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>sup_par_cot_preco.parametro_val(Onde parametro = 'cot_portal_compras')</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length></Length>
						  <Description>Numero do item da cotacao na Paradigma, no caso desta integracao. Gravaremos para fins de rastreabilidade.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="ItemCode" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestInternalId" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da solicitação relacionada a esta cotação/item, no caso de cotação
					No caso de contrato fechado esta informação nao vem preenchida.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfQuotationProposal" maxOccurs="unbounded" minOccurs="1">
			  <xs:complexType>
			    <xs:annotation>
			      <xs:documentation>Propostas da Cotacao</xs:documentation>
			    </xs:annotation>
			    <xs:sequence>
			      <xs:element name="QuotationProposal" type="QuotationProposalType" maxOccurs="unbounded" minOccurs="0"></xs:element>
			    </xs:sequence>
			  </xs:complexType>
			</xs:element>
    </xs:sequence>
  </xs:complexType>
	<xs:complexType name="QuotationProposalType">
		<xs:sequence>
			<xs:element name="RegistrationDate" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de cadastro da proposta</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
		          <Field>SC8XX0.C8_EMISSAO</Field>
		          <Required>sim</Required>
		          <Type>date</Type>
		          <Length>8</Length>
		          <Description>Data de emissão da cotacao</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.data_cadastro</Field>
						  <Required>sim</Required>
						  <Type>date</Type>
						  <Length></Length>
						  <Description>Data de cadastro da cotacao</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>
			</xs:element>
		  <xs:element name="CustomerVendorCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
          <xs:documentation>Código do fornecedor no caso da cotação de compra</xs:documentation>
          <xs:appinfo>  		                                
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_FORNECE</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>6</Length>
              <Description>Codigo do fornecedor que fez a proposta da cotacao</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.cod_fornecedor</Field>
						  <Required>sim</Required>
						  <Type>string</Type>
						  <Length>15</Length>
						  <Description>Codigo do fornecedor que fez a proposta da cotacao</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
			  </xs:annotation>
		    <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
		  </xs:element>
		  <xs:element name="Winner" minOccurs="0">
		    <xs:annotation>
		      <xs:documentation>Indica se fornecedor foi vencedor da proposta para fornecedor da requisição relacionada</xs:documentation>				
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
              <Required>sim</Required>
						  <Type/>
						  <Length/>
              <Description>Indica se o fornecedor foi o vencedor da cotacao, neste caso sera o gerado o pedido de compra.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field></Field>
						  <Required>sim</Required>
						  <Type></Type>
						  <Length></Length>
						  <Description>Indica se o fornecedor foi o vencedor da cotacao, neste caso sera o designado na ordem de compra.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
			  </xs:annotation>
		    <xs:simpleType>
		      <xs:restriction base="xs:string">
		        <xs:enumeration value="0">
		          <xs:annotation>
		            <xs:documentation>Nao</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>
		        <xs:enumeration value="1">
		          <xs:annotation>
		            <xs:documentation>Sim</xs:documentation>
		          </xs:annotation>
		        </xs:enumeration>
		      </xs:restriction>
		    </xs:simpleType>
		  </xs:element>
		  <xs:element name="PaymentTermCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_COND</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>3</Length>
              <Description>Codigo da condicao de pagamento da proposta na cotacao feita pelo fornecedor</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.cnd_pgto</Field>
						  <Required>sim</Required>
						  <Type>decimal</Type>
						  <Length>3</Length>
						  <Description>Codigo da condicao de Pagamento proposta na cotacao pelo fornecedpr</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
		    <xs:simpleType>
		      <xs:restriction base="xs:string">
		        <xs:maxLength value="3"></xs:maxLength>
		      </xs:restriction>
		    </xs:simpleType>
		  </xs:element>
		  <xs:element name="FreightType" minOccurs="0">
		    <xs:annotation>
					<xs:documentation>Tipo de Frete</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SC8XX0.C8_TPFRETE</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>1</Length>
							<Description>Codigo do tipo de frete da cotacao na qual sera definido no portal da paradigma</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>modo_embarque.ies_tip_frete</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>1</Length>
							<Description>Atraves do codigo do modo de embarque da cotacao e buscado o tipo do frete</Description>
						</FieldDocumentation>
					</xs:appinfo>			 
				</xs:annotation>       
				<xs:simpleType>
				  <xs:restriction base="xs:string">
				    <xs:enumeration value="1">
					    <xs:annotation>
					      <xs:documentation>CIF</xs:documentation>
					    </xs:annotation>
				    </xs:enumeration>
				    <xs:enumeration value="2">
					    <xs:annotation>
					      <xs:documentation>FOB</xs:documentation>
					    </xs:annotation>
				    </xs:enumeration>
				    <xs:enumeration value="3">
					    <xs:annotation>
					      <xs:documentation>POR CONTA TERCEIROS</xs:documentation>
					    </xs:annotation>
				    </xs:enumeration>
				    <xs:enumeration value="4">
					    <xs:annotation>
					      <xs:documentation>SFT-Sem Frete</xs:documentation>
					    </xs:annotation>
				    </xs:enumeration>
				  </xs:restriction>
			  </xs:simpleType>
		  </xs:element>
			<xs:element name="UserCode" type="xs:int">
				<xs:annotation>
					<xs:documentation>Código do Usuário que fez a proposta</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>						
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.login</Field>
						  <Required>sim</Required>
						  <Type>string</Type>
						  <Length>8</Length>
						  <Description>Usuario que fez a cotacao no portal.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>		
			<xs:element name="Observation" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Observações da Proposta</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_OBS</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>30</Length>
              <Description>Observacoes da cotacao.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>sup_txt_cot_preco.texto</Field>
						  <Required>sim</Required>
						  <Type>string</Type>
						  <Length>60</Length>
						  <Description>Observacoes da cotacao.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>
			<xs:element name="UnitPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_PRECO</Field>
              <Required>sim</Required>
              <Type>decimal</Type>
              <Length>14.2</Length>
              <Description>Preco unitario do item da cotacao.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>cotacao_preco.pre_unit_liquido</Field>
						  <Required>sim</Required>
						  <Type>decimal</Type>
						  <Length>17.6</Length>
						  <Description>Preco unitario do item da cotacao.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>				
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="17"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryPlace" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
				  <xs:documentation>Local de entrega do material sugerido pelo fornecedor</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>texto_sup.tex_observ</Field>
						  <Required>nao</Required>
						  <Type>string</Type>
						  <Length>60</Length>
						  <Description>Sera guardado para depois gerar o pedido com este local.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>						
			<xs:element name="ChargingPlace" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Local de cobranca do material sugerido pelo fornecedor.</xs:documentation>				
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>texto_sup.tex_observ</Field>
						  <Required>nao</Required>
						  <Type>string</Type>
						  <Length>60</Length>
						  <Description>Sera guardado para depois gerar o pedido com este local.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>			
			<xs:element name="BillingPlace" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Local de faturamento do material sugerido pelo fornecedor.</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field></Field>
						  <Required></Required>
						  <Type></Type>
						  <Length></Length>
						  <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>	
		  <xs:element name="FreightValue" type="xs:double" minOccurs="0">
		    <xs:annotation>
		      <xs:documentation>Valor do Frete</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_VALFRE</Field>
              <Required>nao</Required>
              <Type>decimal</Type>
              <Length>14.2</Length>
              <Description>valor do frete cobrado para o material que foi cotado</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>desc_acrescimos.val_desc_acres</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>17.6</Length>
						  <Description>Valor do frete no Logix e gravado como encargo de frete(motivo taxa=5)ja que nao temos campo especifico</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>		        
		  </xs:element>		
		  <xs:element name="CarrierCode" minOccurs="0">
		    <xs:annotation>
		      <xs:documentation>Código da Transportadora</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>desc_acrescimos.val_desc_acres</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>17.6</Length>
						  <Description>Valor do frete no Logix e gravado como encargo de frete(motivo taxa=5)ja que nao temos campo especifico</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>		        
		    <xs:simpleType>
		      <xs:restriction base="xs:string">
		        <xs:maxLength value="24"></xs:maxLength>
		      </xs:restriction>
		    </xs:simpleType>
		  </xs:element>
	    <xs:element name="ListOfDeliveries" minOccurs="1" maxOccurs="unbounded">
	      <xs:complexType>
	        <xs:annotation>
	          <xs:documentation>Entregas propostas para Cotacao/item</xs:documentation>
	        </xs:annotation>
	        <xs:sequence>
	          <xs:element name="Deliveries" type="DeliveriesType" maxOccurs="unbounded" minOccurs="0"></xs:element>
	        </xs:sequence>
	      </xs:complexType>
	    </xs:element>	
      <xs:element name="LISTOFTAXESDOCUMENT" type="tcListoftaxes" minOccurs="0"/>		      			
		</xs:sequence>    
	</xs:complexType>	
	<xs:complexType name="DeliveriesType">
    <xs:all minOccurs="0">
			<xs:element name="DeliveryRequestItem" maxOccurs="1" minOccurs="0" type="xs:int">
				<xs:annotation>
					<xs:documentation>Numeração da entrega dentro da Requisição no ERP</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_PRAZO</Field>
              <Required>nao</Required>
              <Type>numerico</Type>
              <Length>5</Length>
              <Description>Prazo de entrega do fornecedor.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>prog_ordem_sup.num_prog_entrega</Field>
						  <Required>nao</Required>
						  <Type>number</Type>
						  <Length>3</Length>
						  <Description>Numero da programacao de entrega da ordem de compra. Porem no caso da integracao
						  Paradigma nao utilizaremos esta secao visto que sera ligado parametro na Paradigma para nao permitir
						  alterar a data e quantidade na cotacao. Com isso nao vira na cotacao, valera a da requisicao.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>			
			<xs:element name="Quantity" minOccurs="0" maxOccurs="1" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Quantidade para entrega na data em questão proposta pelo Fornecedor</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field>SC8XX0.C8_QUANT</Field>
              <Required>nao</Required>
              <Type>decimal</Type>
              <Length>12.2</Length>
              <Description>Quantidade que foi cotada</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>prog_ordem_sup.qtd_solic</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>12.3</Length>
						  <Description>Quantidade da programcao de entrega.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>				
			</xs:element>
			<xs:element name="DeliveryDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de entrega proposta pelo Fornecedor.</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>Nao utilizado, informacao nao controlada.</Description>
            </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>prog_ordem_sup.dat_entrega_prev</Field>
						  <Required>nao</Required>
						  <Type>date</Type>
						  <Length></Length>
						  <Description>Data de entrega prevista para a programcao de entrega.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>	
				</xs:annotation>				
			</xs:element>
    </xs:all>
  </xs:complexType>
	<xs:complexType name="tcListoftaxes">
	  <xs:sequence minOccurs="0" maxOccurs="1">
		  <xs:element name="VALUESANDTAXES" type="tcValuesandtaxes" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
  <xs:complexType name="tcValuesandtaxes">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="tpvalue" type="tstpvalue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo da taxa</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>						
              <Description>Nao utilizado, informacao nao controlada.</Description>
            </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>desc_acrescimos.ies_desc_acres_2</Field>
						  <Required>nao</Required>
						  <Type>string</Type>
						  <Length>1</Length>
						  <Description>Indica se e desconto ou acrescimo.1-Encargo/Acrescimo 2-Desconto</Description>
					  </FieldDocumentation>
				  </xs:appinfo>
				</xs:annotation>
			</xs:element>
		  <xs:element name="tpreasondescandtax" type="tstpreasondescandtax" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Motivo da taxa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>Nao utilizado, informacao nao controlada.</Description>            
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>desc_acrescimos.ies_desc_acres_5</Field>
							<Required>nao</Required>
							<Type>string</Type>
							<Length>1</Length>
							<Description>Indica o motivo da taxa.</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>	
			</xs:element>
      <xs:element name="percdescandtaxes" type="tstam06dec2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual da taxa</xs:documentation>   
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
							<Field>desc_acrescimos.val_desc_acres</Field>
							<Required>nao</Required>
							<Type>decimal</Type>
							<Length>17.6</Length>
							<Description>Indica o percentual da taxa</Description>
						</FieldDocumentation>
					</xs:appinfo>				   		
				</xs:annotation> 
			</xs:element>
      <xs:element name="valuedescandtaxes" type="tstam17dec6" minOccurs="0" maxOccurs="1">
			  <xs:annotation>
				  <xs:documentation>Valor absoluto da taxa</xs:documentation>
				  <xs:appinfo>
					  <FieldDocumentation product="PROTHEUS">
						  <Field>SC8XX0.C8_TAXAFIN</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>9.4</Length>
						  <Description>Indica o valor absoluto da taxa.</Description>
					  </FieldDocumentation>
					  <FieldDocumentation product="RM">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="DATASUL">
						  <Field/>
						  <Required/>
						  <Type/>
						  <Length/>
						  <Description/>
					  </FieldDocumentation>
					  <FieldDocumentation product="LOGIX">
						  <Field>desc_acrescimos.val_desc_acres</Field>
						  <Required>nao</Required>
						  <Type>decimal</Type>
						  <Length>17.6</Length>
						  <Description>Indica o valor absoluto da taxa.</Description>
					  </FieldDocumentation>
				  </xs:appinfo>		
			  </xs:annotation>	
			</xs:element>
    </xs:all>
  </xs:complexType>
	<xs:simpleType name="tstpvalue">
		<xs:annotation>
			<xs:documentation>Tipo da Taxa: 1-Encargo 2-Desconto</xs:documentation>
		</xs:annotation>
	  <xs:restriction base="xs:string">
	    <xs:pattern value="1|2"/>
	  </xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="tstpreasondescandtax">
		<xs:annotation>
			<xs:documentation>Motivo do Encargo/Desconto:
			01-Desconto Financeiro
			02-Desconto Comercial
			03-Desconto Promocional
			04-Encargo Financeiro
			05-Encargo Frete
			06-Encargo Seguro
			07-Desconto Negociado
			08-Encargo Embalagens
			09-Encargo ICMS
			10-Encargo ISS
			11-Desconto ISS
			12-Encargo Outros
			13-Desconto Outros
			14-Encargo IPI
			</xs:documentation>
		</xs:annotation>  	
    <xs:restriction base="xs:string">
		    <xs:enumeration value="01"/>
		    <xs:enumeration value="02"/>
		    <xs:enumeration value="03"/>
		    <xs:enumeration value="04"/>
		    <xs:enumeration value="05"/>
		    <xs:enumeration value="06"/>
		    <xs:enumeration value="07"/>
		    <xs:enumeration value="08"/>
		    <xs:enumeration value="09"/>
		    <xs:enumeration value="10"/>
		    <xs:enumeration value="11"/>
		    <xs:enumeration value="12"/>
		    <xs:enumeration value="13"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tstam06dec2">
	  <xs:restriction base="xs:decimal">
	    <xs:totalDigits value="6"/>
	    <xs:fractionDigits value="2"/>
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tstam17dec6">
	  <xs:restriction base="xs:decimal">
	    <xs:totalDigits value="17"/>
	    <xs:fractionDigits value="6"/>
	    <xs:minInclusive value="0"/>
	  </xs:restriction>
  </xs:simpleType>
      
	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS                 -->
	<!-- ==================================== -->
  <xs:complexType name="ReturnContentType">
    <xs:sequence>
      <xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
  <xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"></xs:element>
</xs:schema>