messages-xml/xmlschema/general/events/Refueling_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Refueling</Name>
				<Description>Mensagem para Integração de Apontamentos de Abastecimento e Lubrificação</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact></Contact>
					<Description></Description>
					<Adapter></Adapter>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact></Contact>
					<Description></Description>
					<Adapter/>
					<Send>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Send>
					<Receive>
						<Insert>...</Insert>
						<Update>...</Update>
						<Delete>...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Movimento de Apontamento de Abastecimento e Lubrificação de Equipamentos</Description>
					<Adapter>AptoAbastecimentoLubrificacaoAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do
						produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Code</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número da ficha de abastecimento/lubrificação</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="999999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EquipmentCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Equipamento (Uso interno:
						campo=mvfro.mab-abastec-lubrific.cod-eqpto)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MovimentDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data do movimento. (Uso interno: campo = mvfro.
						mab-abastec-lubrific.dat-movto)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialHour" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora inicial do movimento. (Uso interno: campo =
						mvfro. mab-abastec-lubrific. hra-inicial)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalHour" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora final do movimento. (Uso interno: campo =
						mvfro. mab-abastec-lubrific. hra-final)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DriverCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do motorista (Uso interno: campo:
						mvfro.mab-abastec-lubrific.cod-matr)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VehicleAccountant" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contador - o valor do contador do equipamento no
						momento do cadastro do abastecimento/lubrificação. O contador é o
						hodômetro (ou horímetro) do equipamento. (Uso interno: campo =
						mvfro.mab-abastec-lubrific.val-hodom-horim)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA-PIMS">
							<Field>tabela.campo</Field>
							<Required>sim/não</Required>
							<Type>...</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfRefueling" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista que contém os itens de Abastecimentos</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Refueling" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Abastecimento</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FuelBombCode" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código da bomba (Uso interno: campo=
												mvfro.mab-item-abastec.cod-bomba)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ItemCode" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código do item (Uso interno: campo= mvfro.
												mab-item-abastec.it-codigo)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FuelQuantity" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Quantidade de combustível (Uso interno:
												campo= mvfro. mab-item-abastec.val-quant)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="999999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaterialValue" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Valor do material (Uso interno: campo=
												mvfro. mab-item-abastec. val-mater-1)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="999999999.999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IsPrimaryFuel" type="xs:boolean" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Indica se é combustível primário (Uso
												interno: campo= mvfro. mab-item-abastec.log-abastec-prim)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfLubrification" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista que contém os itens de Lubrificação</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Lubrification" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Lubrificação</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ItemCode" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código do item (Uso interno: campo= mvfro.
												mab-item-lubrific.it-codigo)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CompartmentCode">
										<xs:annotation>
											<xs:documentation>Código do compartimento do veículo (Uso interno: campo= mvfro. mab-item-lubrific.cod-comptmento)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FuelQuantity" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Quantidade de lubrificante (Uso interno:
												campo= mvfro. mab-item-lubrific.val-quant)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="999999.99"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaterialValue" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Valor do material (Uso interno: campo=
												mvfro. mab-item-lubrific. val-mater-1)</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA-PIMS">
													<Field>tabela.campo</Field>
													<Required>sim/não</Required>
													<Type>...</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="999999999.999"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES ======= -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>