messages-xml/xmlschema/general/events/Refusal_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>	
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Refusal</Name>
				<Description>Mensagem para Integração de Perdas de Produção</Description>
				<Segment>Manufatura</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Robson Roberto Klug</Contact>
					<Description>Apontar Perda</Description>
					<Adapter>MATI685.prw</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>Robson Roberto Klug</Contact>
					<Description>Apontar Perda</Description>
					<Adapter>RefusalAdapter.cls</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
  
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="ProductionOrderNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da ordem de produção</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>ord-rep.nr-ord-produ</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>9</Length>
							<Description>
								Ordem de produção
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_OP</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>13</Length>
							<Description>
								Número da ordem de produção
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdReport" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID Apontamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>ord-rep.nr-reporte</Field>
							<Required>não</Required>
							<Type>number</Type>
							<Length>9</Length>
							<Description>
								Nr. Reporte
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Item recusado</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_PRODUTO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Código do produto
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do depósito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_LOCORIG</Field>
							<Required>nao</Required>
							<Type>string</Type>
							<Length>02</Length>
							<Description>
								Armazem Origem
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Endereço</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_LOCALIZ</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Endereço
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberSeries" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Número de série
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_NUMSERI</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>20</Length>
							<Description>
								Número de série
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Tipo de perda
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_TIPO</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>01</Length>
							<Description>
								Tipo de perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1">
                            <xs:annotation>
                                <xs:documentation>Refugo</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="2">
                            <xs:annotation>
                                <xs:documentation>Scrap</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
			</xs:element>
			<xs:element name="WasteCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Motivo de perda
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rep-refugo-oper.cod-motiv-refugo</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>08</Length>
							<Description>
								Motivo de perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_MOTIVO</Field>
							<Required>sim</Required>
							<Type>string</Type>
							<Length>02</Length>
							<Description>
								Motivo de perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Descrição da perda
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_DESCRI</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>35</Length>
							<Description>
								Descrição da perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LossQuantity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Quantidade de perda
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rep-prod.qt-refugo</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>13,4</Length>
							<Description>
								Quantidade de perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_QUANT</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>
								Quantidade de perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Centro de custo
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_CC</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>09</Length>
							<Description>
								Centro de custo
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCodeTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Produto gerado
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_CODDEST</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Produto destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseCodeTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do depósito destino</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_LOCAL</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>02</Length>
							<Description>
								Armazem destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressCodeTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Endereço</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_LOCDEST</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>15</Length>
							<Description>
								Endereço destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberSeriesTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Número de série destino
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_NSEDEST</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>20</Length>
							<Description>
								Número de série destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityTo" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Quantidade destino
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_QTDDEST</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>11,2</Length>
							<Description>
								Quantidade destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivityCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Operação
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rep-oper-ctrab.num-operac-sfc</Field>
							<Required>não</Required>
							<Type>number</Type>
							<Length>4</Length>
							<Description>
								Número de série destino
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_OPERAC</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>2</Length>
							<Description>
								Código da operação
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Máquina/Recurso
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
							<Field>rep-oper-ctrab.cod-ctrab</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>16</Length>
							<Description>
								Máquina/Recurso
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_RECURSO</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>6</Length>
							<Description>
								Código da máquina/recurso
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LossDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data da perda
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_DATA</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>10</Length>
							<Description>
								Data da perda
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Lote
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_LOTECTL</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>10</Length>
							<Description>
								Código do lote
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubLotCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						SubLote
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_NUMLOTE</Field>
							<Required>não</Required>
							<Type>string</Type>
							<Length>06</Length>
							<Description>
								Código do SubLote
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotDueDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Data de validade do lote
					</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="DATASUL">
						</FieldDocumentation>
						<FieldDocumentation product="LOGIX">
						</FieldDocumentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>SBC.BC_DTVALID</Field>
							<Required>não</Required>
							<Type>date</Type>
							<Length>10</Length>
							<Description>
								Data de validade do lote
							</Description>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
