messages-xml/xmlschema/general/events/Request_1_001.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd">

	<!-- ==================================== -->
	<!-- INCLUDES NECESSARIOS PARA A MENSAGEM -->
	<!-- ==================================== -->
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ApportionType_2_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM             -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Request</Name>
				<Description>Solicitação ao Armazém / 
				             Solicitação de Compras</Description>
				<Segment>Construção e Projetos</Segment>
				<ProductInformation product="RM">
					<Contact>Alaim Porto Alvarenga</Contact>
					<Description>GDP Inovação Const. e Proj.</Description>
					<Adapter>MovMovimentoData</Adapter>
					<Send>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>Eduardo de Souza</Contact>
					<Description>o GDP de Materiais</Description>
					<Adapter>MATI105 (S.A.) /
					         MATI110 (S.C.)</Adapter>
						<Send>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>não</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="Code" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Solicitação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero da Solicitação, que é propagado para o pedido e nota fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Type" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo da Solicitação

            Particularidades do Logix:
            Solicitação de Compra – Ordem de compra com situação “P”-planejada
            Solicitação de Estoque – Requisição de Estoque(Reserva)
            Solicitação de Cotação – Ordem de compra com situação “D”-Tomada de preço</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="000">
							<xs:annotation>
								<xs:documentation>Solicitação de Compra</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="001">
							<xs:annotation>
								<xs:documentation>Solicitação de Estoque</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="002">
							<xs:annotation>
								<xs:documentation>Solicitação de Cotação</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserRequesterCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Usuário Requisitante
					Proposta de nome: UserRequesterCode + outra tag UserInternalID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UserRequesterInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do usuário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Series" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Série da Solicitação, utilizada como agrupador e é propagada no pedido e nota fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegisterDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Emissão da solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Entrega ou Previsão de entrega</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbatementDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Dedução no contrato (muito utilizado em integração com TOP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentConditionCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Condição de Pagamento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentConditionInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da PaymentConditionCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do projeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do ProjectCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfRequestItem" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Lista de Itens da Requisição</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="RequestItem" type="RequestItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ListOfApportionRequest" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio da Requisição</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ApportionRequest" type="ApportionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestItemType">
		<xs:sequence>
			<xs:element name="Code" maxOccurs="1" minOccurs="0" type="xs:int">
				<xs:annotation>
					<xs:documentation>Código do item da solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do item da solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do ItemCOde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemReferenceCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Referência do Produto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
						<xs:whiteSpace value="preserve"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Total do Item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitOfMeasureCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Unidade de Medida</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfMeasureInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da UnitOfMeasureCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Local de Estoque(Armazem)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarehouseInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do WarehouseCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryDateTime" maxOccurs="1" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Data de Entrega ou Previsão de entrega do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do Centro de Custo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenterInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do CostCenterCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAcountCode" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da Conta contábil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountantAcountInternalId" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do AccountantAcountCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainOrderInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da ordem (OP ou OS) que originou a Solicitação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Código do projeto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do ProjectCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaskCode" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Tarefa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaskInternalId" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId da TaskCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Observation" maxOccurs="1" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>Observação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfApportionRequestItem" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Rateio dos Itens da Requisição</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ApportionRequestItem" type="ApportionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS                 -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>