messages-xml/xmlschema/general/events/RetailSales_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	<xs:include schemaLocation="../types/Tax_1_002.xsd"/>

	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>RetailSales</Name>
				<Description>Mensagem para Integração do Registro de Vendas</Description>
				<Segment></Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Diego Pereira Fernandes</Contact>
					<Description>Coordenador de Inovação Varejo</Description>
					<Adapter>LOJI701</Adapter>
					<Send>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>								
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>2</Length>
							<Description>...</Description>
						</FieldDocumentation>													
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_FILIAL</Field>
							<Required>Sim</Required>             
							<Type>Varchar</Type>
							<Length>2</Length>
							<Description>Pode ter tamanho entre 02 e 12 dependendo da configuração do Protheus</Description>
						</FieldDocumentation>														
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
            <xs:element name="CompanyInternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa da venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial já pelo Framework 
							estando no ambiente (Empresa x Filial) correto</Description>
						</FieldDocumentation>            
                    </xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="InternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>Não possui campo físico na tabela</Field>
						  <Required>Sim</Required>
						  <Type>Varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID da venda é formado por EMPRESA|L1_FILIAL|L1_DOC|L1_SERIE|L1_PDV</Description>
						</FieldDocumentation>																		
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="SellerInternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Vendedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>50</Length>
							<Description>InternalId do Vendedor</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComissionPercent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_COMIS</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>5,2</Length>
							<Description>Percentual da Comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="CustomerVendorInternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Código do Cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo fisico na tabela</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>50</Length>
							<Description>O InternalID do Cliente é formado por EMPRESA|L1_FILIAL|L1_CLIENTE|L1_LOJA</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>				
			</xs:element>												
			<xs:element name="TotalPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Total da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_VLRTOT</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Valor Total da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="DiscountValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Total de Desconto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_DESCONT</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>12,2</Length>
							<Description>Valor Total de Desconto</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="12"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NetPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Liquido da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_VLRLIQ</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Valor Liquido da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CashValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago em Dinheiro</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_DINHEIR</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>15,2</Length>
							<Description>Valor Pago em dinheiro</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>				
			<xs:element name="ChecksValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago em Cheques</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_CHEQUES</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago em Cheques</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CardsValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago em Cartõs de Crédito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_CARTAO</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago em Cartõs de Crédito</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DebitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago em Cartões de Débito</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_VLRDEBI</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago em Cartões de Débito</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CovenantValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago com Convênio</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_CONVENI</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago com Convênio</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VouchersValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago com Vales</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_VALES</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago com Vales</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="FinancedValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago com Financiamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_FINANC</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago com Financiamento</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OthersValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Pago com Outras Formas</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_OUTROS</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor Pago com Outras Formas</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Entrada</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_ENTRADA</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor de Entrada</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDateDocument" type="xs:dateTime" minOccurs="0">			
				<xs:annotation>
					<xs:documentation>Data de Emissão da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_EMISSAO</Field>
						  <Required>Sim</Required>
						  <Type>DateTime</Type>
						  <Length>8</Length>
						  <Description>Data de Emissão da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="DocumentCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_DOC</Field>
						  <Required>Sim</Required>
						  <Type>Varchar</Type>
						  <Length>9</Length>
						  <Description>Numero do Documento</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SerieCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serie do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_SERIE</Field>
						  <Required>Sim</Required>
						  <Type>Varchar</Type>
						  <Length>3</Length>
						  <Description>Serie do Documento</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="GrossPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Bruto da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_VALBRUT</Field>
						  <Required>Sim</Required>
						  <Type>Decimal</Type>
						  <Length>16,2</Length>
						  <Description>Valor Bruto da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="CommodityPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Total da Mercadoria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_VALMERC</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>16,2</Length>
						  <Description>Valor Total da Mercadoria</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>															
			<xs:element name="DiscountPercent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual de Desconto da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_DESCNF</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>5,2</Length>
						  <Description>Percentual de Desconto da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>            								
			<xs:element name="OperatorCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo do Operador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL1.L1_OPERADO</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Codigo do Operador</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>						                      
            <xs:element name="CurrencyRate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxa da Moeda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_TXMOEDA</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>11,4</Length>
						  <Description>Taxa da Moeda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="Change" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor do Troco na Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_TROCO1</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>15,2</Length>
						  <Description>Valor do Troco na Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>            			
			<xs:element name="StationCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Estacao</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo fisico na tabela</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Codigo da Estacao que efetuou a Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="DiscountPaymentTerm" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Desconto Financeiro na Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_DESCFIN</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>14,2</Length>
						  <Description>Valor do desconto associado a uma condição de pagamento, se houver (ex: 5% na venda se o cliente pagar na condição a vista)</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>            
            <xs:element name="CreditValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Crédito da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_CREDITO</Field>
						  <Required>Não</Required>
						  <Type>Decimal</Type>
						  <Length>18,2</Length>
						  <Description>Valor de Crédito da Venda</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KindOfDocument" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Documento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_ESPECIE</Field>
						  <Required>Não</Required>
						  <Type>Varchar</Type>
						  <Length>15</Length>
						  <Description>Tipo do Documento</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>            			
			<xs:element name="Md5" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código Md5 NewHotel</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>Não possui campo físico na tabela</Field>
						  <Required>Não</Required>
						  <Type>Varchar</Type>
						  <Length>60</Length>
						  <Description>Código Md5 NewHotel</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>						
			<xs:element name="ElectronicInvoiceComplement" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informações Complementares NFCe</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>Não possui campo físico na tabela</Field>
						  <Required>Não</Required>
						  <Type>Varchar</Type>
						  <Length>60</Length>
						  <Description>Informações Complementares NFCe</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PersonalIdentification" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CPF/CGC do Cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1.L1_CGCCLI</Field>
						  <Required>Não</Required>
						  <Type>Varchar</Type>
						  <Length>16</Length>
						  <Description>CPF/CGC do Cliente</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfSaleItem" type="ListOfSaleItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Itens da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL2</Field>
						  <Required>Sim</Required>
						  <Type></Type>
						  <Length>Lista de Itens da Venda</Length>
						  <Description></Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfSaleCondition" type="ListOfSaleConditionType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Condições de Pagamento da Venda</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL4</Field>
						  <Required>Sim</Required>
						  <Type></Type>
						  <Length>Condições de Pagamento da Venda</Length>
						  <Description></Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfTaxes" type="ListOfTaxesType" minOccurs="0" maxOccurs="1">							
				<xs:annotation>
					<xs:documentation>Lista de Impostos da Venda</xs:documentation>				
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL1</Field>
						  <Required>Sim</Required>
						  <Type></Type>
						  <Length>Impostos da Venda</Length>
						  <Description></Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ListOfSaleItemType">
		<xs:sequence>
			<xs:element name="SaleItem" type="SaleItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>		
	
	<xs:complexType name="SaleItemType">
		<xs:sequence>															
			<xs:element name="ItemInternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>Não possui campo físico na tabela</Field>
						  <Required>Sim</Required>
						  <Type>Varchar</Type>
						  <Length>50</Length>
						  <Description>O InternalID do Produto é formado por EMPRESA|L2_FILIAL|L2_PRODUTO</Description>
						</FieldDocumentation>																		
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			<xs:element name="ItemCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_PRODUTO</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>Código do Produto</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="ItemOrder" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ordem do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_IEM</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>2</Length>
							<Description>Ordem do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_QUANT</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>7,2</Length>
							<Description>Quantidade do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>				
			</xs:element>
			<xs:element name="UnitPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preço Unitário do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_VRUNIT</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Preço Unitário do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemPrice" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_VLRITEM</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Valor do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DiscountPercentage" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de Desconto do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_DESC</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>7,4</Length>
							<Description>Percentual de Desconto do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DiscountAmount" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Desconto do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_VALDESC</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Valor do Desconto do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperationCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código Fiscal de Operações e Prestações</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_CF</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>5</Length>
							<Description>Código Fiscal de Operações e Prestações - CFOP</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>						
			</xs:element>
			<xs:element name="ListOfTaxes" type="ListOfTaxesType" minOccurs="0" maxOccurs="1">							
				<xs:annotation>
					<xs:documentation>Lista de Impostos do Item</xs:documentation>				
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL2</Field>
						  <Required>Sim</Required>
						  <Type></Type>
						  <Length>Impostos do Item</Length>
						  <Description></Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>									
			<xs:element name="Increase" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor de Acréscimo do Item</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL2.L2_VALACRS</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>14,2</Length>
							<Description>Valor de Acréscimo do Item</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="14"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>															
			<xs:element name="Lodging" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Produto é Diaria</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Flag se Produto é Diária</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
					
	<xs:complexType name="ListOfTaxesType">
		<xs:sequence>
			<xs:element name="Tax" type="TaxesType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>						
					
	<xs:complexType name="ListOfSaleConditionType">
		<xs:sequence>
			<xs:element name="SaleCondition" type="SaleConditionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SaleConditionType">
		<xs:sequence>
			<xs:element name="AccountReceivableDocumentInternalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do RA do cliente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>SL4.L4_CONTAHT</Field>
						  <Required>Nao</Required>
						  <Type>Varchar</Type>
						  <Length>50</Length>
						  <Description>InternalId do RA do cliente</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOfPayment" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Vencimento da Parcela</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_DATA</Field>
							<Required>Sim</Required>
							<Type>Date</Type>
							<Length>8</Length>
							<Description>Data de Vencimento da Parcela</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>						
			</xs:element>
			<xs:element name="PaymentValue" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_VALOR</Field>
							<Required>Sim</Required>
							<Type>Decimal</Type>
							<Length>16,2</Length>
							<Description>Valor do Pagamento</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>															
			<xs:element name="PaymentMethodCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Forma de Pagamento</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_FORMA</Field>
							<Required>Sim</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>Forma de Pagamento</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
            <xs:element name="FinancialManagerCode" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Administradora Financeira</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_ADMINIS</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>Código da Administradora Financeira, obrigatório se Forma de Pagamento CC</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
		<xs:element name="CardNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numeração do Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_NUMCART</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>30</Length>
							<Description>Numeração do Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="SerieCheck" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Série do Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_SERCHQ</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>6</Length>
							<Description>Série do Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="AgencyCheck" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Agência Bancária do Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_AGENCIA</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>8</Length>
							<Description>Agência Bancária do Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="AccountCheck" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número da Conta do Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_CONTA</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>Número da Conta do Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="DocumentOfIdentification" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documento de Identidade do Cliente - Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_RG</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>20</Length>
							<Description>Documento de Identidade do Cliente - Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="PhoneNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telefone do Cliente - Cheque</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_TELEFON</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>15</Length>
							<Description>Telefone do Cliente - Cheque</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EftDate" type="xs:dateTime" minOccurs="0">			            
				<xs:annotation>
					<xs:documentation>Data do Pagamento - TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_DATATEF</Field>
							<Required>Não</Required>
							<Type>DateTime</Type>
							<Length>8</Length>
							<Description>Data do Pagamento - TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>						
			</xs:element>            
            <xs:element name="EftDocument" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documento de Identificação TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_DOCTEF</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Description>Documento de Identificação TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="EftAutorization" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código de Autorização TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_AUTORIZ</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>6</Length>
							<Description>Código de Autorização TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EftCancellationDate" type="xs:dateTime" minOccurs="0">            
				<xs:annotation>
					<xs:documentation>Data de Cancelamento TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_DATCANC</Field>
							<Required>Não</Required>
							<Type>DateTime</Type>
							<Length>8</Length>
							<Description>Data de Cancelamento TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>						
			</xs:element>            
            <xs:element name="EftCancellationDocument" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Cancelamento TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_DOCCANC</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>9</Length>
							<Description>Número do Cancelamento TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="EftInstitute" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Instituto TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_INSTITU</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>16</Length>
							<Description>Código do Instituto TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="UniqueSerialNumber" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código NSU - TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_NSUTEF</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>12</Length>
							<Description>Código NSU - TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="EftParcel" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parcelamento TEF</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>SL4.L4_PARCTEF</Field>
							<Required>Não</Required>
							<Type>Varchar</Type>
							<Length>3</Length>
							<Description>Parcelamento TEF</Description>
						</FieldDocumentation>							
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>														
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>			
			
			<xs:element name="ElectronicConsumerInvoice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XML de retorno NFCe</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>Não possui campo físico na tabela</Field>
							<Required>Sim, para retorno de nfc-e</Required>
							<Type>Varchar</Type>
							<Length>100</Length>
							<Description>XML de retorno NFCe</Description>
						</FieldDocumentation>													
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>