messages-xml/xmlschema/general/events/RoadLineStrech_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified">

	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>RoadLineStretch</Name>
				<Description>Cadastro de Linhas e Trechos</Description>
				<Segment>Serviços</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact/>
					<Description/>
					<Adapter>TURI052.PRW</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>2</Length>
							<Description>pode ter tamanho variável até 8 com Gestão de Empresa ativado</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description>para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Linha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_CODIGO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>6</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da Linha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt+G8M.G8M_FILIAL+G8M.G8M_CODIGO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Initials" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sigla da Linha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_SIGLA</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>4</Length>
							<Description>
								Sigla adotada pela Agência de Viagem ou
								informada pelo Fornecedor para a Linha
								que será cadastrada.
							</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição da Linha</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_DESCR</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>40</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorCode" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código do Fornecedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_CODFOR+G8M.G8M_LJFOR</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>9</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Fornecedores (Mata020 - SA2 )</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="VendorInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId do Fornecedor</xs:documentation>
					<xs:appinfo>
						<InternalIdName>CustomerVendorInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId de Fornecedores (SA2 - CustomerVendor - Mata020)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureCity" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código da Cidade de Saida (turismo)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_CIDINI</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>6</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Cidades Turismo (Tura030 - G5S)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureCityInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId da Cidade de Saida (turismo)</xs:documentation>
					<xs:appinfo>
						<InternalIdName>TravelCityInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId de Cidades Turismo (G5S - TravelCity - Tura030)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalCity" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código da Cidade de Chegada (turismo)</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_CIDFIM</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>6</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Cidades Turismo (Tura030 - G5S)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalCityInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId da Cidade de Chegada (turismo)</xs:documentation>
					<xs:appinfo>
						<InternalIdName>TravelCityInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId de Cidades Turismo (G5S - TravelCity - Tura030)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>distância do percurso</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_DIST</Field>
							<Required>Não</Required>
							<Type>Decimal</Type>
							<Length>8,1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Minutes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tempo em minutos do percurso</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_TEMPO</Field>
							<Required>Não</Required>
							<Type>Numeric</Type>
							<Length>6</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Situation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Situação? ("1-Ativo / 2-Bloqueado")</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8M.G8M_MSBLQL</Field>
							<Required>Não</Required>
							<Type>Char</Type>
							<Length>1</Length>
							<Description>Seu conteúdo é pré determinado por lista do combobox, mas pode ser incrementado com informações pelo cliente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListOfStretches" type="ListOfStretchesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Séries de Internal ID's (Itens/Detalhe)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListOfStretchesType">
		<xs:sequence>
			<xs:element name="Stretch" type="StretchType" minOccurs="0" maxOccurs="unbounded" >
				<xs:annotation>
					<xs:documentation>Definicoes de Detalhe dos Itens</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StretchType">
		<xs:sequence>
			<xs:element name="ItemCode" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código do Trecho</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8N.G8N_CODIGO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>3</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId do Trecho</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8N.G8N_FILIAL+G8N.G8N_CODIGO</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StretchCity" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Código da Cidade</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8N.G8N_CIDTRC</Field>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>6</Length>
							<Description>Seu conteúdo é pré determinado pelo cadastro de Cidades Turismo (Tura030 - G5S)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StretchCityInternalId" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>InternalId da Cidade</xs:documentation>
					<xs:appinfo>
						<InternalIdName>TravelCityInternalId</InternalIdName>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required>Sim</Required>
							<Type>Char</Type>
							<Length>136</Length>
							<Description>O InternalId dessa Tag é referente ao internalId de Cidades Turismo (G5S - TravelCity - Tura030)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StretchDistance" type="xs:string" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:appinfo>
					<xs:documentation>distância do trecho</xs:documentation>
						<FieldDocumentation product="PROTHEUS">
							<Field>G8N.G8N_DIST</Field>
							<Required>Não</Required>
							<Type>Numeric</Type>
							<Length>8,1</Length>
							<Description/>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1" />
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- TIPOS ABSTRATOS  =================== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType" />
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType" />
</xs:schema>
