messages-xml/xmlschema/general/events/RuralMovement_1_000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="undefined">
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Movimento Produção Agrícola</Name>
				<Description>Movimento Produção Agrícola</Description>
				<Segment>Recursos humanos -Folha Agrícola</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Pontos dos Ruralistas</Description>
					<Adapter>PontosRuralistasAdapter.java</Adapter>
					<Send>
						<Insert>Sim</Insert>
						<Update>Não</Update>
						<Delete>Sim</Delete>
					</Send>
					<Receive>
						<Insert>Não</Insert>
						<Update>Não</Update>
						<Delete>Não</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="RuralMovement" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Movimentação Agrícola</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyId" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Código da Empresa</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PIMS">
										<Field>Códido da Empresa</Field>
										<Required>sim</Required>
										<Type>varchar</Type>
										<Description>Código da Empresa</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Codigo da Filial</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PIMS">
										<Field>Códido da Empresa</Field>
										<Required>sim</Required>
										<Type>varchar</Type>
										<Description>Código da Filial</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="MovementDate" type="xs:date" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Data do Movimento Agrícola</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PIMS">
										<Field>Data do Movimento Agrícola</Field>
										<Required>sim</Required>
										<Type>date</Type>
										<Description>Data do Movimento Agrícola</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmployeeCode" minOccurs="1" maxOccurs="1" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PIMS">
										<Field>Código do Funcionário</Field>
										<Required>sim</Required>
										<Type>varchar</Type>
										<Description>Código do Funcionário</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>InternalId da chave completa</xs:documentation>
								<xs:appinfo>
									<FieldDocumentation product="PROTHEUS">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="RM">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="DATASUL">
										<Field/>
										<Required/>
										<Type/>
										<Length/>
										<Description/>
									</FieldDocumentation>
									<FieldDocumentation product="PIMS">
										<Field>InternalId da chave completa</Field>
										<Required>sim</Required>
										<Type>varchar</Type>
										<Description>InternalId da chave completa. Composta por Empresa | Filial | Código  Funcionario</Description>
									</FieldDocumentation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="ListOfRuralMovement" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Lista contendo toda a movimentação agrícola</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RuralMovement" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ReleaseNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Número Lancamento Movimento Agricola</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PIMS">
																<Field>Número Lancamento Movimento Agricola</Field>
																<Required>sim</Required>
																<Type>number</Type>
																<Description>Número Lancamento Movimento Agricola</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="BatchNumber" minOccurs="0" maxOccurs="1" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Número do Lote Agrícola</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PIMS">
																<Field>Número do Lote Agrícola</Field>
																<Required>sim</Required>
																<Type>munber</Type>
																<Description>Número do Lote Agrícola</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="Sequence" type="xs:integer" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Sequência do Movimento Agrícola</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PIMS">
																<Field>Sequência do Movimento Agrícola</Field>
																<Required>não</Required>
																<Type>number</Type>
																<Description>Sequência do Movimento Agrícola</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="ServiceInformation" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Informações do Serviço Agrícola</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ServiceCode" type="xs:integer" minOccurs="1" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Código do Serviço Agrícola</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Serviço Agrícola</Field>
																			<Required>não</Required>
																			<Type>number</Type>
																			<Description>Código do Serviço Agrícola</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="ServiceInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Service InternalId do Code</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ValueInformation">
																<xs:annotation>
																	<xs:documentation>Informações para fins de valorização das tarefas</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="AmountOfService" type="xs:decimal" minOccurs="0" maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation>Quantidade do Serviço Agricola</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PIMS">
																						<Field>Quantidade do Serviço Agricola</Field>
																						<Required>não</Required>
																						<Type>decimal</Type>
																						<Description>Quantidade do Serviço Agricola</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ServiceValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation>Valor do Serviço Agrícola</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PIMS">
																						<Field>Valor do Serviço Agrícola</Field>
																						<Required>não</Required>
																						<Type>decimal</Type>
																						<Description>Valor do Serviço Agrícola</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="UnitaryValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation>Valor Unitário do Serviço</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PIMS">
																						<Field>Valor Unitário do Serviço</Field>
																						<Required>não</Required>
																						<Type>decimal</Type>
																						<Description>Valor Unitário do Serviço</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ConversionFactor" type="xs:decimal" minOccurs="0" maxOccurs="1">
																			<xs:annotation>
																				<xs:documentation>Fator de Conversão do Serviço</xs:documentation>
																				<xs:appinfo>
																					<FieldDocumentation product="PROTHEUS">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="RM">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="DATASUL">
																						<Field/>
																						<Required/>
																						<Type/>
																						<Length/>
																						<Description/>
																					</FieldDocumentation>
																					<FieldDocumentation product="PIMS">
																						<Field>Fator de Conversão do Serviço</Field>
																						<Required>não</Required>
																						<Type>decimal</Type>
																						<Description>Fator de Conversão do Serviço</Description>
																					</FieldDocumentation>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TimeInformation">
													<xs:annotation>
														<xs:documentation>Informações sobre o tempo de duração do movimento</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AmountOfHour" type="xs:decimal" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Quantidade de Horas do Movimento</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Quantidade de Horas do Movimento</Field>
																			<Required>não</Required>
																			<Type>decimal</Type>
																			<Description>Quantidade de Horas do Movimento</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="EndSchedule" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Término do Movimento</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Término do Movimento</Field>
																			<Required>não</Required>
																			<Type>number</Type>
																			<Description>Horário de Término do Movimento</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="CommencementSchedule" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Inicio do Movimento</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Inicio do Movimento</Field>
																			<Required>não</Required>
																			<Type>number</Type>
																			<Description>Horário de Inicio do Movimento</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TaskInformation" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ProductCode" minOccurs="1" maxOccurs="1" type="xs:integer">
																<xs:annotation>
																	<xs:documentation>Código do Produto Agrícola</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Produto Agricula</Field>
																			<Required>não</Required>
																			<Type>number</Type>
																			<Description>Código do Produto Agrícola</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="ProductInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>InternalId do Code</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PropertyCode" minOccurs="1" maxOccurs="1" type="xs:integer">
																<xs:annotation>
																	<xs:documentation>Código da Propriedade Agrícola</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código da Propriedade Agrícola</Field>
																			<Required>não</Required>
																			<Type>number</Type>
																			<Description>Código da Propriedade Agrícola</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="PropertyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>PropertyInternalId</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CropCode" type="xs:integer" minOccurs="1" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Código da Safra</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código da Safra</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Código da Safra</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="CropInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>CropInternalId</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Level1" minOccurs="0" maxOccurs="1" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Código do Nível 1 da Estrutura Agrária</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Nível 1 da Estrutura Agrária</Field>
																			<Required>sim</Required>
																			<Type>varchar</Type>
																			<Description>Código do Nível 1 da Estrutura Agrária</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="Level2" minOccurs="0" maxOccurs="1" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Código do Nível 2 da Estrutura Agrária</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Nível 2 da Estrutura Agrária</Field>
																			<Required>não</Required>
																			<Type>varchar</Type>
																			<Description>Código do Nível 2 da Estrutura Agrária</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="Level3" minOccurs="0" maxOccurs="1" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Código do Nível 3 da Estrutura Agrária</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Nível 3 da Estrutura Agrária</Field>
																			<Required>não</Required>
																			<Type>varchar</Type>
																			<Description>Código do Nível 3 da Estrutura Agráriaa</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="Level4" minOccurs="0" maxOccurs="1" type="xs:string">
																<xs:annotation>
																	<xs:documentation>Código do Nível 4 da Estrutura Agrária</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Código do Nível 4 da Estrutura Agrária</Field>
																			<Required>não</Required>
																			<Type>varchar</Type>
																			<Description>Código do Nível 4 da Estrutura Agráriaa</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HourAnnotation" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Apontamento de Horas</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HourEntrance" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horario de entrada</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horario de entrada</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horario de entrada</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourLunchBegin" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Inicio do Almoço</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Inicio do Almoço</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horario de entrada</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourLunchEnd" type="xs:integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Horário de Termino do almoço</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Termino do almoço</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horario de entrada</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourSnackBegin" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Inicio do Lanche</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Inicio do Lanche</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horário de Inicio do Lanche</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourSnackEnd" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de fim do lanche</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de fim do lanche</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horário de fim do lanche</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourSecondSnackBegin" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Inicio do Segundo Lanche</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Inicio do Segundo Lanche</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horário de Inicio do Segundo Lanche</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourSecondSnackEnd" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de fim do Segundo lanche</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de fim do Segundo lanche</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horário de fim do Segundo lanche</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="HourExit" type="xs:integer" minOccurs="0" maxOccurs="1">
																<xs:annotation>
																	<xs:documentation>Horário de Saída</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PIMS">
																			<Field>Horário de Saída</Field>
																			<Required>não</Required>
																			<Type>numeric</Type>
																			<Description>Horário de Saída</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>