messages-xml/xmlschema/general/events/RuralService_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by a (TOTVS S.A.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Serviços Agrícola / Verbas</Name>
				<Description>Serviços Agrícola / Verbas</Description>
				<Segment>Recursos humanos -Folha Agrícola</Segment>
				<ProductInformation product="PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Verbas</Description>
					<Adapter>VerbasAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>Não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>Sim</Insert>
						<Update>Sim</Update>
						<Delete>Sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHEUS">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
	<xs:include schemaLocation="../totvsmsg.xsd"/>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="ListOfRuralService" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RuralService" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Serviços Agrícola para HCM - Verbas para o PIMS</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Codigo da Empresa</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Codigo da Empresa</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>Codigo da Empresa</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Codigo da Filial</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Codigo da Filial</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>Codigo da Filial</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CompanyInternalId da chave completa de empresa do produto</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>CompanyInternalId da chave completa de empresa do produto</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>CompanyInternalId da chave completa de empresa do produto</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ServiceCode" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código do Serviço</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código do Serviço</Field>
													<Required>sim</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>Código do Serviço</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>InternalId do Code</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>InternalId do Code</Field>
													<Required>não</Required>
													<Type>char</Type>
													<Length>...</Length>
													<Description>InternalId do Code</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ServiceName" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Nome do Serviço Agrícola</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Nome do Serviço Agrícola</Field>
													<Required>não</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>Nome do Serviço</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TypeOfService" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Tipo de Serviço Agrícola</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Tipo de  Serviço Agrícola</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>Tipo de  Serviço Agrícola</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Tarefa</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Percurso</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>DSR</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>DSR Perdido</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>Feriado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>Feriado Perdido</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation>Adc Noturno</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="8">
													<xs:annotation>
														<xs:documentation>Supl Noturna</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="9">
													<xs:annotation>
														<xs:documentation>Previsão</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="10">
													<xs:annotation>
														<xs:documentation>Hora Extra</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="11">
													<xs:annotation>
														<xs:documentation>Falta Diurna</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="12">
													<xs:annotation>
														<xs:documentation>Falta Noturna</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="13">
													<xs:annotation>
														<xs:documentation>Parada Crítica</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="14">
													<xs:annotation>
														<xs:documentation>Afastamento</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="15">
													<xs:annotation>
														<xs:documentation>Complemento Remun</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="16">
													<xs:annotation>
														<xs:documentation>Premio</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="17">
													<xs:annotation>
														<xs:documentation>Adc Notur HExtra</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="18">
													<xs:annotation>
														<xs:documentation>Adc Fer13o</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="19">
													<xs:annotation>
														<xs:documentation>Adc Repouso</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="20">
													<xs:annotation>
														<xs:documentation>Compensado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="21">
													<xs:annotation>
														<xs:documentation>Dif Provento</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="22">
													<xs:annotation>
														<xs:documentation>Dif Desconto</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="23">
													<xs:annotation>
														<xs:documentation>Provento</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="24">
													<xs:annotation>
														<xs:documentation>Desconto</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ServiceUnit" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Unidade do Serviço Agrícola</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Unidade do serviço Agrícola</Field>
													<Required>não</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>Unidade do serviço Agrícola</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>Horas</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>Diárias</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>Valor</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>Previsão</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>Viagem</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>Metros</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation>Kilômetro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="8">
													<xs:annotation>
														<xs:documentation>Hectares</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="9">
													<xs:annotation>
														<xs:documentation>Kilograma</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="10">
													<xs:annotation>
														<xs:documentation>Tonelada</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="11">
													<xs:annotation>
														<xs:documentation>Sacas</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="12">
													<xs:annotation>
														<xs:documentation>Feixe</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="13">
													<xs:annotation>
														<xs:documentation>Rua</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>