messages-xml/xmlschema/general/events/RuralShiftWork_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsd="undefined">
	<xs:include schemaLocation="../totvsmsg.xsd"/>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>

	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Turno de Trabalho</Name>
				<Description>Turno de Trabalho de Recursos humanos</Description>
				<Segment>Recursos humanos</Segment>
				<ProductInformation product="PROTHEUS">
					<Contact>Natiê Sugahara</Contact>
					<Description>Turno de Trabalho</Description>
					<Adapter>GPEI080.prw</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>Tiago Figueiredo de Carvalho</Contact>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>Patricia Theilacker</Contact>
				</ProductInformation>
				<ProductInformation product="LOGIX">
					<Contact>Rafael Luis Silva</Contact>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="CompanyId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Empresa</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="1" minOccurs="0" name="BranchId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Codigo da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Filial</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Company Internal Id</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="1" minOccurs="0" name="InternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>InternalId do turno</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Internal Id</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ShiftCode" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Código do Turno</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Código do Turno</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ShiftDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrição do Turno</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Descrição do Turno</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ScaleDaysQty" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantidade de dias escala</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Quantidade de dias escala</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="ListOfTimetable" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Jornadas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timetable" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Jornada</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TimetableCode" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Código da Jornada</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código da Jornada</Field>
													<Required>sim</Required>
													<Type>number</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="DayType">
										<xs:annotation>
											<xs:documentation>Tipo do dia</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Tipo do dia</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>1 - Trabalhando</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>2 - Licenca</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>3 - Repouso</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>4 - Feriado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>5 - Compensado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>6 - Compl p/ fevereiro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation>7 - Agrupador</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CommencementSchedule" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Horário de início</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Horário de início</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndSchedule" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Horário de Término</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Horário de Término</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ListOfMealInterval" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Lista de Intervalos de refeição da jornada</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="MealInterval" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Intervalo de refeição</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="MealIntervalCode" type="xs:integer">
																<xs:annotation>
																	<xs:documentation>Código do Intervalo</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Código do Intervalo</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="TimeCommencement" type="xs:integer">
																<xs:annotation>
																	<xs:documentation>Horário de início do intervalo</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Horário de início do intervalo</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="TimeEnd" type="xs:integer">
																<xs:annotation>
																	<xs:documentation>Horário de término do intervalo</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Horário de término do intervalo</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="FirstBreakCommencement" type="xs:integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Inicio lanche primeiro período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Inicio lanche primeiro período</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="FirstBreakEnd" type="xs:integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Fim lanche primeiro período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Fim lanche primeiro período</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="SecondBreakCommencement" type="xs:integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Inicio lanche segundo período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Inicio lanche segundo período</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															<xs:element name="SecondBreakEnd" type="xs:integer" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Término lanche 2o período</xs:documentation>
																	<xs:appinfo>
																		<FieldDocumentation product="PROTHEUS">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="RM">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="DATASUL">
																			<Field/>
																			<Required/>
																			<Type/>
																			<Length/>
																			<Description/>
																		</FieldDocumentation>
																		<FieldDocumentation product="PROXIMA">
																			<Field>Término lanche 2o período</Field>
																			<Required>sim</Required>
																			<Type>integer</Type>
																			<Length>...</Length>
																			<Description>...</Description>
																		</FieldDocumentation>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ListOfPeriodScale" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de Escalas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PeriodScale" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Escala</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ScaleCommencentDay" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Dia de início da escala</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Dia de início da escala</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ScaleEndDay" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Dia final da escala</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Dia final da escala</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="TimetableCode" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Código da Jornada utilizada</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código da Jornada utilizada</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="DayType">
										<xs:annotation>
											<xs:documentation>Tipo do dia</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Tipo do dia</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:enumeration value="1">
													<xs:annotation>
														<xs:documentation>1 - Trabalhando</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="2">
													<xs:annotation>
														<xs:documentation>2 - Licenca</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="3">
													<xs:annotation>
														<xs:documentation>3 - Repouso</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="4">
													<xs:annotation>
														<xs:documentation>4 - Feriado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="5">
													<xs:annotation>
														<xs:documentation>5 - Compensado</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="6">
													<xs:annotation>
														<xs:documentation>6 - Compl p/ fevereiro</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="7">
													<xs:annotation>
														<xs:documentation>7 - Agrupador</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ListOfWorkGroup" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista de turmas de trabalho</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkGroup" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Turma de Trabalho turma_trab</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WorkGroupCode" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Código da Turma de Trabalho</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código da Turma de Trabalho</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CommencementMonth" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Mês de Início do Calendário</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Mês de Início do Calendário</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="CommencementYear" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Ano de Início do Calendário</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Ano de Início do Calendário</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ScaleCommencementDay" type="xs:integer">
										<xs:annotation>
											<xs:documentation>Dia de início da escala</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Dia de início da escala</Field>
													<Required>sim</Required>
													<Type>integer</Type>
													<Length>...</Length>
													<Description>...</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="ListOfInternalId" type="ListOfInternalIdType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>