messages-xml/xmlschema/general/events/RuralCarrier_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../totvsmsgdoc.xsd" elementFormDefault="qualified" xmlns:xsd="undefined">

	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>

	<!-- ==================================== -->
	<!-- DOCUMENTAÇÃO DA MENSAGEM -->
	<!-- ==================================== -->
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>Prestadores de Serviços e Turmas</Name>
				<Description>Prestadores de Serviços e Turmas</Description>
				<Segment>Recursos Humanos</Segment>
				<ProductInformation product="PROXIMA-PIMS">
					<Contact>José Alberto da Silva</Contact>
					<Description>Prestadores de Serviços e Turmas Rurais</Description>
					<Adapter>PrestadorServicoTurmaAdapter.java</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="DATASUL">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="PROTHUES">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
				<ProductInformation product="RM">
					<Contact>...consulte guia de documentacao...</Contact>
					<Description>...consulte guia de documentacao...</Description>
					<Adapter>...consulte guia de documentacao...</Adapter>
					<Send>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Send>
					<Receive>
						<Insert>...consulte guia de documentacao...</Insert>
						<Update>...consulte guia de documentacao...</Update>
						<Delete>...consulte guia de documentacao...</Delete>
					</Receive>
				</ProductInformation>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE NEGÓCIO DA MENSAGEM ==== -->
	<!-- ==================================== -->
	<xs:complexType name="BusinessContentType">
		<xs:all>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Empresa</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Codigo da Filial</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Codigo da Empresa</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Company Internal Id</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>...</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<InternalIdName>CarrierInternalId</InternalIdName>
					</xs:appinfo>
					<xs:documentation>Chave completa do transportador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do transportador Rural</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Código do transportador Rural</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do transportador Rural</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome do Transportador Rural</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Nome do Transportador Rural</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Nome do Transportador Rural</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nome Reduzido do Transportador Rural</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Nome Reduzido do Transportador Rural</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Nome Reduzido do Transportador Rural</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Transportador</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Tipo do Transportador</Field>
							<Required>sim</Required>
							<Type>number</Type>
							<Length>...</Length>
							<Description>Nome do Transportador Rural</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Prestador Fisico</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Prestador Jurídico</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Funcionário</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmitterCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Emitente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Código do Emitente</Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Código do Emitente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmitterDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição do Emitente</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="RM">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="DATASUL">
							<Field/>
							<Required/>
							<Type/>
							<Length/>
							<Description/>
						</FieldDocumentation>
						<FieldDocumentation product="PROXIMA">
							<Field>Descrição do Emitente</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>...</Length>
							<Description>Descrição do Emitente</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfRuralGroup" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lista das turmas do transportador</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RuralGroup" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Turma Rural</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RuralGroupCode" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Código da Turma Rural</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Código da Turma Rural</Field>
													<Required>sim</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>Código da Turma Rural</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="RuralGroupDescription" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Descrição da Turma</xs:documentation>
											<xs:appinfo>
												<FieldDocumentation product="PROTHEUS">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="RM">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="DATASUL">
													<Field/>
													<Required/>
													<Type/>
													<Length/>
													<Description/>
												</FieldDocumentation>
												<FieldDocumentation product="PROXIMA">
													<Field>Descrição da Turma</Field>
													<Required>sim</Required>
													<Type>varchar</Type>
													<Length>...</Length>
													<Description>Descrição da Turma</Description>
												</FieldDocumentation>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="AllocationInformation" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AllocationPlanCode" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Código do Plano de Lotação da Turma</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código do Plano de Lotação da Turma</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código do Plano de Lotação da Turma</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="AllocationUnitCode" type="xs:string" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Código da Unidade de Lotação</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código da Unidade de Lotação</Field>
																<Required>sim</Required>
																<Type>varchar</Type>
																<Length>...</Length>
																<Description>Código da Unidade de Lotação</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="ItineraryCode" type="xs:integer" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Código da Linha de Transporte da Turma</xs:documentation>
														<xs:appinfo>
															<FieldDocumentation product="PROTHEUS">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="RM">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="DATASUL">
																<Field/>
																<Required/>
																<Type/>
																<Length/>
																<Description/>
															</FieldDocumentation>
															<FieldDocumentation product="PROXIMA">
																<Field>Código da Linha de Transporte da Turma</Field>
																<Required>sim</Required>
																<Type>number</Type>
																<Length>...</Length>
																<Description>Código da Linha de Transporte da Turma</Description>
															</FieldDocumentation>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- CONTEÚDO DE RETORNO ================ -->
	<!-- ==================================== -->
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="ListOfInternalId" type="ListOfInternalIdType" minOccurs="0" maxOccurs="1"/>
			<!-- outras campos necessários no retorno -->
		</xs:sequence>
	</xs:complexType>

	<!-- ==================================== -->
	<!-- REFERÊNCIA AOS TIPOS PADRÕES JÁ ==== -->
	<!-- ==================================== -->
	<xs:element name="BusinessContent" substitutionGroup="AbstractBusinessContent" type="BusinessContentType"/>
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent" type="ReturnContentType"/>
</xs:schema>