messages-xml/xmlschema/general/events/SalesOrder_1_001.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>SalesOrder</Name>
					<Description>Ordem de Venda</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Logix: EMPRESA|TRANSAÇÃO DOCUMENTO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>No.do Pedido (Deve ser enviado somente para alteracao e exclusao)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do cliente</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryCustomerCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do Cliente de Entrega</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryCustomerGovernmentalInformation" type="GovernmentalInformationType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inscrição Estadual do cliente que será utilizada para gerar o pedido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryAddress" type="AddressType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Endereço de Entrega</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerOrderId" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número do Pedido do Cliente (no LOGIX esta informação fica na capa do pedido)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Transportadora</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentTermCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Condição de Pagamento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Discounts" type="DiscountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descontos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialDiscount" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Desconto Financeiro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalDiscount" type="xs:double" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="RegisterDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data de Emissao</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestDate" type="xs:date" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data da solicitação do pedido Cliente/Representante</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de Frete</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>CIF</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>FOB</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreightValue" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Frete</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RedeliveryCarrierCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Redespacho</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceMessages" minOccurs="0" type="InvoiceMessageType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mensagem da Nota Fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Líquido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeight" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Bruto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TareWeight" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Tara</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CubicVolume" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volume Cúbico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfVolumes" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número de volumes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Finality" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Finalidade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Contribuinte ICMS (Indústria/Comércio)</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Não-contribuinte ICMS</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InsuranceValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Seguro (Conta e Ordem)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>LOGIX: Moeda do Pedido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Status do Pedido</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Normal</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Bloqueado</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>Liberado</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="4"><xs:annotation><xs:documentation>Liberado Financeiro</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="5"><xs:annotation><xs:documentation>Liberado Financeiro e Comercial</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="6"><xs:annotation><xs:documentation>Suspenso</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="7"><xs:annotation><xs:documentation>Cancelado</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountOrderId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>No.do Pedido de Conta e Ordem gerado anteriormente, relacionado ao Pedido de Retorno Simbólico em questão</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SalesOrderItens" type="SalesOrderItensType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Itens do Pedido</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SalesOrderItensType">
		<xs:sequence>
			<xs:element name="Item" type="ItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="CompanyId" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BranchId" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderId" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderItem" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número sequencia do Item em questão</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Produto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrição do Produto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnityPrice" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Preço Unitario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPrice" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOperation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo da Operacao ??em discussao??</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerOrderNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero Pedido do Cliente</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DiscountPercentage" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentual de desconto do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDiscounts" type="ItemDiscountType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de desconto do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do frete unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceValue" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valor do Seguro Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitWeight" type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peso Unitário (necessário no TradeEasy)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemMessages" type="ItemMessageType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Texto do item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListOfReturnedInputDocuments" type="ListOfReturnedInputDocumentType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Notas fiscais de entrada retornadas</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ListOfReturnedInputDocumentType">
		<xs:sequence>
			<xs:element name="ReturnedInputDocument" type="ReturnedInputDocumentType" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="ReturnedInputDocumentType">
		<xs:sequence>
			<xs:element name="InputDocumentNumber"  maxOccurs="1" minOccurs="0">
				<xs:annotation>
						<xs:documentation>Número da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDocumentSerie" maxOccurs="1" minOccurs="0">
				<xs:annotation>
						<xs:documentation>Serie da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InputDocumentSequence" maxOccurs="1" minOccurs="0">
				<xs:annotation>
						<xs:documentation>Sequencia da Nota Fiscal de Entrada</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
			<xs:element name="InputDocumentQuantity"  type="xs:double" maxOccurs="1" minOccurs="0">
				<xs:annotation>
						<xs:documentation>Quantidade da Nota Fiscal</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InvoiceMessageType">
		<xs:sequence>
			<xs:element name="InvoiceMessage" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ItemMessageType">
		<xs:sequence>
			<xs:element name="ItemMessage" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountType">
		<xs:sequence>
			<xs:element name="Discount" type="xs:double" maxOccurs="4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Desconto</xs:documentation>
				</xs:annotation>
			</xs:element>
		 </xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemDiscountType">
		<xs:sequence>
			<xs:element name="ItemDiscount" type="xs:double" maxOccurs="4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Desconto Unitário</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="OrderId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent" />
</xs:schema>