messages-xml/xmlschema/general/events/SalesCharge_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"/>
	
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
				<Name>SalesCharge</Name>
				<Description>Comissões de Vendas</Description>
				<Segment>Controladoria</Segment>
				
				<ProductInformation product="PROTHEUS">
					<Contact>Rogerio Nagy</Contact>
					<Description>GDP de Inovação Controladoria</Description>
					<Adapter>MATI490</Adapter>
					<Send>
						<Insert>não</Insert>
						<Update>não</Update>
						<Delete>não</Delete>
					</Send>
					<Receive>
						<Insert>sim</Insert>
						<Update>sim</Update>
						<Delete>sim</Delete>
					</Receive>
				</ProductInformation>
			
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			
			<xs:element name="CompanyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Será enviado o valor da variável cEmpAnt (Empresa)</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>não</Required>
							<Type>varchar</Type>
							<Length>12</Length>
							<Description>Será enviado o valor da variável cFilAnt</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId das informações da empresa</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>cEmpAnt|FWxFilial("XXX")</Field>
			              	<Required>sim</Required>
			              	<Type>varchar</Type>
			              	<Length>50</Length>
			              	<Description>o InternalID da empresa é formado empresa|E1_FILIAL.</Description>
			            </FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="InternalID" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador Único da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
		                	<Description>O InternalId da comissão é formado por EMPRESA|FWxFilial("SE3")|E3_FILIAL|E3_PREFIXO|E3_NUM|E3_PARCELA|E3_SEQ|E3_VEND</Description>
						</FieldDocumentation>
		            </xs:appinfo>
		        </xs:annotation>
			</xs:element>
			
			<xs:element name="SellerInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Vendedor</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>Sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>InternalId do Vendedor</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="AccountReceivableDocumentInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId do Título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>XXF_INTVAL</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>50</Length>
						  <Description>InternalId do Título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="AccountReceivableDocumentPrefix" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prefixo do Título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_PREFIXO</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>3</Length>
						  <Description>Prefixo do Título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="AccountReceivableDocumentNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número do Título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_NUM</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>9</Length>
						  <Description>Número do Título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="AccountReceivableDocumentParcel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Parcela do Título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_PARCELA</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>1</Length>
						  <Description>Parcela do Título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="AccountReceivableDocumentTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_TIPO</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>3</Length>
						  <Description>Tipo do Título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CustomerVendorInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único do Cliente do título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>O InternalId do Cliente é formado por EMPRESA|A1_FILIAL|A1_COD|A1_LOJA</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CustomerVendorCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do Cliente do título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_CODCLI</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>6</Length>
						  <Description>Código do Cliente do título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="CustomerVendorStore" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loja do Cliente do título a Receber que originou a comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
						  <Field>E3_LOJA</Field>
						  <Required>não</Required>
						  <Type>varchar</Type>
						  <Length>2</Length>
						  <Description>Loja do Cliente do título a Receber que originou a comissão</Description>
						</FieldDocumentation>						
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="IssueDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de Emissão da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_EMISSAO</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de Emissão da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			
			<xs:element name="BaseValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Base da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_BASE</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Valor Base da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="SalesChargePercentage" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentual de comissão sobre valor base</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_PORC</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>6,2</Length>
							<Description>Percentual de comissão sobre valor base</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Value" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_COMIS</Field>
							<Required>sim</Required>
							<Type>decimal</Type>
							<Length>16,2</Length>
							<Description>Valor da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="DueDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de Vencimento da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_VENCTO</Field>
							<Required>sim</Required>
							<Type>date</Type>
							<Length>8</Length>
							<Description>Data de Vencimento da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="CurrencyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>InternalId da Moeda da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>XXF_INTVAL</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
							<Description>InternalId da Moeda da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Currency" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Moeda da Comissão</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field>E3_MOEDA</Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>2</Length>
							<Description>Moeda da Comissão</Description>
						</FieldDocumentation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="HotelInvoiceInternalID" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador único da fatura de hotel</xs:documentation>
					<xs:appinfo>
						<FieldDocumentation product="PROTHEUS">
							<Field></Field>
							<Required>sim</Required>
							<Type>varchar</Type>
							<Length>50</Length>
		                	<Description>O InternalId da fatura de hotel.Caso a fatura tenha mais de um título gerado (fatura parcelada), 
		                	associar a comissão ao primeiro título dessa fatura (título com a menor data de vencimento).
		                	</Description>
						</FieldDocumentation>
		            </xs:appinfo>
		        </xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
	
	<xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>