messages-xml/xmlschema/general/events/Seller_2_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"	elementFormDefault="qualified">
  <xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
  <xs:include schemaLocation="../types/ListOfInternalId_1_000.xsd"></xs:include>
  <xs:include schemaLocation="../commons_1_000.xsd"></xs:include>
  	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>Seller</Name>
					<Description>Vendedor</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
  <xs:complexType name="BusinessContentType">
    <xs:sequence>
      <xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Empresa</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.CODCOLIGADA</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Length>2</Length>
              <Description>Codigo da Coligada</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Filial</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.CODFILIAL</Field>
              <Required>sim</Required>
              <Type>integer</Type>
              <Length>2</Length>
              <Description>Codigo da Filial</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyInternalId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InternalId da chave completa de empresa do produto</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required/>
              <Type/>
              <Length/>
              <Description>
                para o Protheus é esperado que com o cabeçalho da mensagem seja identificado empresa e filial já pelo Framework
                estando no ambiente (Empresa x Filial) correto
              </Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.CODCOLIGADA|TVEN.CODFILIAL</Field>
              <Required>sim</Required>
              <Type>char</Type>
              <Length>10</Length>
              <Description>Concatenação da coligada do registro e filial do contexto</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code">
        <xs:annotation>
          <xs:documentation>Código do Vendedor </xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.CODVEN</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>16</Length>
              <Description>Codigo do Vendedor</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="InternalId" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>InternalId da entidade</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required></Required>
              <Type></Type>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>.</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>18</Length>
              <Description>O InternalID do Vendedor é formado por TVEN.CODCOLIGADA|TVEN.CODVEN</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation>Nome do Vendedor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.NOME</Field>
              <Required>sim</Required>
              <Type>varchar</Type>
              <Length>80</Length>
              <Description>Nome do Vendedor</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ShortName" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Login do Vendedor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field/>
              <Required></Required>
              <Type></Type>
              <Length></Length>
              <Description></Description>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.NOME</Field>
              <Required>não</Required>
              <Type>varchar</Type>
              <Length>80</Length>
              <Description>O RM considera os primeiros 25 caracteres do campo Nome do Vendedor.</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SellerPassword" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Senha do Vendedor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SellerPhoneDDD" minOccurs="0">
        <xs:annotation>
          <xs:documentation>DDD do Vendedor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SellerPhone" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Telefone do Vendedor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SellerEmail" minOccurs="0">
        <xs:annotation>
          <xs:documentation>E-mail do Vendedor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Address" type="AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dados da localização física do vendedor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SalesChargeInformation" type="SalesChargeInformationType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Informações de comissões</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Active" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Registro do Vendedor Ativo?</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field></Field>
              <Required>não</Required>
              <Type></Type>
              <Length></Length>
              <Description/>
            </FieldDocumentation>
            <FieldDocumentation product="RM">
              <Field>TVEN.INATIVO</Field>
              <Required>não</Required>
              <Type>boolean</Type>
              <Length></Length>
              <Description>Status do Vendedor: 0-Ativo 1-Inativo</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SalesChargeInformationType">
    <xs:sequence>
      <xs:element name="CustomerVendorInternalId" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>InternalId do Fornecedor</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>A3_FORNECE</Field>
              <Required>sim, quando integração com Newhotel</Required>
              <Type>varchar</Type>
              <Length>50</Length>
              <Description>O InternalId do Fornecedor é formado por EMPRESA|A2_FILIAL|A2_COD|A2_LOJA</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SalesChargeInterface" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Interface a ser utilizada no fechamento da comissão (Contas a Pagar, Folha ou Sem Interface)</xs:documentation>
          <xs:appinfo>
            <FieldDocumentation product="PROTHEUS">
              <Field>A3_GERASE2</Field>
              <Required>sim, quando integração com Newhotel</Required>
              <Type>varchar</Type>
              <Length>1</Length>
              <Description>"S" = Contas a Pagar; "F" = Folha de Pagamento; "N" = Sem Interface</Description>
            </FieldDocumentation>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Contas a Pagar</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
              <xs:annotation>
                <xs:documentation>Folha de Pagamento</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="N">
              <xs:annotation>
                <xs:documentation>Sem Interface</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"></xs:element>
  <xs:element name="ReturnContent" substitutionGroup="AbstractReturnContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ListOfInternalId" type="ListOfInternalIdType" maxOccurs="1" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>