messages-xml/xmlschema/general/events/SintegraRegister-85-86_1_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"	elementFormDefault="qualified">
	<xs:include schemaLocation="../totvsmsg.xsd"></xs:include>
	<xs:annotation>
		<xs:appinfo>
			<MessageDocumentation>
					<Name>SintegraRegister</Name>
					<Description>Registro de Síntegra</Description>
			</MessageDocumentation>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="BusinessContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportDeclaration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nº da Declaração de Exportação/ Nº Declaração Simplificada de  Exportação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportDeclarationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data da Declaração de Exportação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportRegistration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nº do Registro de Exportação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportRegistrationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data do Registro de Exportação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingKnowledge" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nº do Conhecimento de Embarque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShippingKnowledgeDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data do Conhecimento de Embarque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportNature" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Natureza da Exportação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"><xs:annotation><xs:documentation>Exportação Direta</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>Exportação Indireta</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>Exportação direta (Regime Simplificado)</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="4"><xs:annotation><xs:documentation>Exportação Indireta (Regime Simplificado)</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KnowledgeTransportType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do Conhecimento 01-AWB, 02-MAWB, 03-HAWB, 04-COMAT, 06-R. EXPRESSAS, 07-ETIQ. REXPRESSAS, 08-HR. EXPRESSAS, 09-AV7, 10-BL, 11-MBL, 12-HBL, 13-CRT, 14-DSIC, 16-COMAT BL, 17-RWB, 18-HRWB, 19-TIF/DTA, 20-CP2, 91-NÂO IATA, 92-MNAO IATA, 93-HNAO IATA, 99-OUTROS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"><xs:annotation><xs:documentation>AWB</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="02"><xs:annotation><xs:documentation>MAWB</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="03"><xs:annotation><xs:documentation>HAWB</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="04"><xs:annotation><xs:documentation>COMAT</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="06"><xs:annotation><xs:documentation>R. EXPRESSAS</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="07"><xs:annotation><xs:documentation>ETIQ. REXPRESSAS</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="08"><xs:annotation><xs:documentation>HR. EXPRESSAS</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="09"><xs:annotation><xs:documentation>AV7</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="10"><xs:annotation><xs:documentation>BL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="11"><xs:annotation><xs:documentation>MBL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="12"><xs:annotation><xs:documentation>HBL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="13"><xs:annotation><xs:documentation>CRT</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="14"><xs:annotation><xs:documentation>DSIC</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="16"><xs:annotation><xs:documentation>COMAT BL</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="17"><xs:annotation><xs:documentation>RWB</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="18"><xs:annotation><xs:documentation>HRWB</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="19"><xs:annotation><xs:documentation>TIF/DTA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="20"><xs:annotation><xs:documentation>CP2</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="91"><xs:annotation><xs:documentation>NÂO IATA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="92"><xs:annotation><xs:documentation>MNAO IATA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="93"><xs:annotation><xs:documentation>HNAO IATA</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="99"><xs:annotation><xs:documentation>OUTROS</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País (código SISCOMEX)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AnnotationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data da Averbação da Declaração de Exportação</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportInvoice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nota Fiscal de Exportação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportInvoiceModel" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Modelo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportInvoiceSerie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Série</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdditionalInformation" type="AdditionalInformationType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Registro 86</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AdditionalInformationType">
		<xs:sequence>
			<xs:element name="Information" type="InformationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Registro 86</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InformationType">
		<xs:sequence>
			<xs:element name="ProducerCNPJ" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CNPJ do contribuinte Produtor/Industrial/Fabricante que promoveu a remessa com fim específico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProducerStateRegistration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inscrição Estadual do contribuinte Produtor/Industrial/Fabricante que promoveu a remessa com fim específico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="State" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unidade da Federação do Produtor/Industrial/Fabricante que promoveu remessa com fim específico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryInvoiceNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nº da Nota Fiscal de remessa com fim específico de exportação recebida</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data de emissão da Nota Fiscal da remessa com fim específico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Model" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do modelo do documento fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Serie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Série da Nota Fiscal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ItemCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código do produto adotado no registro tipo 75 quando do registro de entrada da Nota Fiscal de remessa com fim específico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade, efetivamente exportada, do produto declarado na Nota Fiscal de remessa com fim específico recebida (com três decimais)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitValue" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor unitário do produto (com duas decimais)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor total do produto (valor unitário multiplicado pela quantidade) - com 2 decimais</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Relationship" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Conforme tabela de códigos de relacionamento entre Registro de Exportação e Nota Fiscal de remessa com fim específico.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"><xs:annotation><xs:documentation>0-Código destinado a especificar a existência de relacionamento de um Registro de Exportação com uma NF de remessa com fim específico (1:1).</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="1"><xs:annotation><xs:documentation>1-Código destinado a especificar a existência de relacionamento de um Registro de Exportação com mais de uma NF de remessa com fim específico (1:N).</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="2"><xs:annotation><xs:documentation>2-Código destinado a especificar a existência de relacionamento de mais de um Registro de Exportação com somente uma NF de remessa com fim específico (N:1).</xs:documentation></xs:annotation></xs:enumeration>
						<xs:enumeration value="3"><xs:annotation><xs:documentation>3-Código destinado a especificar exportação através da DSE - Declaração Simplificada de Exportação.</xs:documentation></xs:annotation></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código da Filial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportDeclaration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nº da Declaração de Exportação/ Nº Declaração Simplificada de  Exportação</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportDeclarationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data da Declaração de Exportação</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BusinessContent" type="BusinessContentType" substitutionGroup="AbstractBusinessContent"/>
	<xs:element name="ReturnContent" type="ReturnContentType" substitutionGroup="AbstractReturnContent"/>
</xs:schema>